# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
**/node_modules/**
_node_modules
.pnp.cjs

# Coverage directory used by tools like istanbul
coverage

.tmp
_docpress
.DS_Store

lib
dist
tsconfig.tsbuildinfo
test.lib/

# Visual Studio Code configs
.vscode/

# JetBrains IDEs
.idea/

# pnpm uses npm for publishing a new version with
# dependencies bundled but the npm lockfile is not needed
# because pnpm use pnpm for installation
package-lock.json

__package_previews__
.store

privatePackages/store

## Verdaccio storage
storage

yarn.lock

RELEASE.md

.jest-cache
.verdaccio-cache
.turbo

## custom modules-dir fixture
__fixtures__/custom-modules-dir/**/fake_modules/
__fixtures__/custom-modules-dir/cache/
__fixtures__/custom-modules-dir/patches/
