---
import BaseLayout from "../../layouts/BaseLayout.astro";

---
<BaseLayout
  pageTitle="開始實修" description=""
>
  
<p>
           至此你已經了解禪修應建立信心和正確的態度，現在是你建構修行框架的時候了。這是什麼意思呢？簡言之，這是指選擇‘時間、地點、內容、方法’，以幫助你培養一個有規律的、一致且良好的禪修習慣。一旦你的身心靈適應了禪修的思維和習慣，其餘的就會自然發生。
          </p>
<p>
           一個人想鍛鍊身體跑20哩，他就必須擬 定一個訓練計劃以達成這個目標。他還必須有想跑的欲望、時間、地點及如何跑的知識，必須設計一個策略將這些變數放在一起以達到最終的目標。慢慢地，一天又 一天，一點一點地、一哩一哩地增加，這個運動員推動自己的身心不斷進步。開始訓練身體跑一哩，然後跑兩哩等等，直到最後身心能跑及承受更多的哩數。有些時 日心裡不想跑但身體喜歡跑，相反地，有些時日心里想跑但身體不願意跑。訣竅是學會如何在一個較長時間內應對這些情況，以便最終達成所需的訓練效果。
          </p>
<p>
           實修面臨同樣的挑戰，你近期的目標是培養一個持續不變的訓練方式，以形成有規律的禪修習慣，而不是偶爾為之。一旦身心靈適應了禪修習慣，你的修行便會自發地進行。隨著持續不斷地用功，確實有些時候你會自動自發地去打坐。
          </p>
<p>
           為了強調這些要點，這節訓練提供的第一份學習輔助資料是《佛教禪修直解》的第八章:
           <a href="/assets/Mindfulness_in_Plain_English_Han.pdf#page=44">
            規劃你的修行
           </a>
           。
          </p>
<p>
           禪修進展到這裡，我們建議你現在要認真 研讀和思考到目前為止我們所提供的資訊。請記住這不是在賽跑，而是提升生命的努力，需要時間、耐心和勇氣。從容不迫、慢慢消化這裡分享的訊息，在實修中運 用。最重要的是，不要失望，即使最初用功似乎什麼都沒有發生。請銘記你在坐墊或椅子上每花一刻時間，就在你的旅途上前進了一步。 你的修行不只與平靜及和諧有關，也是關涉面對自己的真實情況，及面對和你緊密相連的世界/宇宙的真相，你是其中錯綜複雜的一部分。
          </p>
<p>
           當你很清楚你的心是多麼混亂和不馴服，就像跳躍、衝撞的公馬在畜欄里轉著圈，企圖擺脫束縛四處狂奔，你就會知道你的修行已在正確的道路上了。你甚至可能想你有點瘋狂，恭喜你，這是你上路的第一步。知道比你先行的老參也曾經歷你現在正面臨的挑戰，你會舒服些。
          </p>
<p>
           我們提供的下一個推薦閱讀是一本巧妙濃縮、但仍涵蓋全面的出版物，由極受人尊敬的慈濟瓦禪師所著。他著了很多書及詩集，在歐洲、亞洲指導很多密集禪修，還有幾次在美國。我希望你喜歡《
           <a href="/assets/volcanos-Han.pdf">
            讓火山止息
           </a>
           》這本書，欣賞禪師的洞察力和指導。這是一本給初學者的內觀禪修指導書。
          </p>
<p>
           最後，為入門訓練的最後一階，我們提供禪修大師馬哈希尊者與新生的問答及其對新生開示的智慧語錄，請花時間閱讀
           <a href="https://web.archive.org/web/20231130004548/http://www.houstonmeditationc.com/?q=node/12">
            馬哈希尊者訪談錄（雙語）
           </a>
           。
          </p>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
