---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
   <BaseLayout pageTitle="採訪馬哈希尊者">
    <div>
     <h3 class="rtecenter">
      <strong>
       Excerpt From &lsquo;An Interview with Mahasi Sayadaw'
      </strong>
     </h3>
     <p class="rtecenter">
      <strong>
       metta 中譯
      </strong>
     </p>
     <p class="rtecenter">
      <strong>
       2014年1月
      </strong>
     </p>
     <p>
      <strong>
       Questions and Answers
       <br/>
       The following questions and answers are from the booklet &ldquo;An Interview with Mahasi Sayadaw,&rdquo; prepared (in Burmese) by Thamanaykyaw and translated by U Hla Myint.
       <br/>
       <strong>
        問答
       </strong>
       <br/>
       下面的問答出自小冊子《採訪馬哈希尊者》，由達瑪奈覺整理（緬文版），烏&bull;拉明英譯。
      </strong>
     </p>
     <p>
      <strong>
       Q1: Venerable Mahasi Sayadaw, did you have full faith in Satipatthana Vipassana practice when you started it?
       <br/>
問 1 ：尊敬的馬哈希尊者，當您開始四念處內觀禪修的時候，您具有充分的信心嗎？
      </strong>
     </p>
     <p>
       &ldquo;No, frankly I didn't. I did not initially have full faith in it. So, I don't blame anybody for not having faith in practice before they start it. It is only because they have little or no experience of it. In 1931, when I was in only eighth Vassa (monastic year in terms of seniority), much to my curiosity and confusion, a meditation master called Mingon Zetawin Sayadawji was teaching: Note going when going; note standing when standing; note sitting when sitting; note lying when lying; note bending when bending; note stretching when stretching; note eating when eating. I got confused by the fact that there was no object to observe in ultimate sense, such as mind and body, and their impermanence, suffering and egolessness. But I gave it some consideration and thought: &ldquo;How strange the way Sayadawji teaches, I'm sure &ldquo;he is highly learned, and is teaching from his own experience. It may be too early for me to decide whether it is good or bad before I myself practice it.&rdquo; Thus, I started to practice with him.
       <br/>
       坦率地說，沒有。開始我並沒有充分的信心。我不會因任何人開始禪修前沒信心而責怪他們，因為他們沒有或者只有極少的禪修經驗。 在1931年我只有八年戒臘（按出家年數排的資歷），對禪修大師明貢 &bull;則達雯尊者的教導很好奇又很迷茫：走時觀照走，站時觀照站，彎屈時觀照彎曲，伸展時觀照伸展，躺時觀照躺，吃時觀照吃。 我迷茫是因為並沒有究竟意義上的所緣可進行觀照，諸如名色及其無常、苦、無我。但我也覺得可以考慮並想：&ldquo;尊者教導的方法好奇特，我確信他非常有學問並且 是根據自身經驗在教導，在我親自修持以前就說它或好或壞都為時過早。&rdquo;於是我開始跟他禪修。
      </strong>
     </p>
     <p>
      <strong>
       Q2: Venerable Sir, could you explain the meaning of Satipatthana?
       <br/>
  問 2 ：尊者，您能否解釋一下念處的含義？
      </strong>
     </p>
     <p>
       Satipatthana means mindfulness or remembering constantly. What one is supposed to remember without fail are all physical, sensational, mental or general phenomena the moment they occur to him or her.
       <br/>
       念處即是正念或者說是持續地憶持不忘失，一個人應該憶持不失的是當下發生于他/她的所有生理的、感覺的、心理的或一般的現象。
      </strong>
     </p>
     <p>
      <strong>
       Q3: Venerable Sir, I believe you made very fast progress in your practice arousing one insight knowledge after another. Didn't you?
       <br/>
問 3 ：尊者，我相信您修行中進步神速，觀智一個接一個地生起，是嗎？
      </strong>
     </p>
     <p>
       No, I didn't. I could not appreciate the practice three or four weeks after I had started because I did not yet exercise enough effort. Some of the yogis here, however, even though the practice is new to them, manage to develop enough concentration and mindfulness after a week or so, to see impermanence, suffering, and insubstantiality to some extent. For me, I could not make any remarkable progress in the practice even after a month or so, let alone four or five days. I was then still at zero progress in my practice. This is because my faith in the practice was not strong enough, and I did not make enough effort. At this point, skeptical doubt called Vicikiccha, usually hinders the insight knowledge and Magga- Phala from taking place. So it is very important to do away with such doubt. But, I was wasting my time by mistaking the skeptical doubt for productive analysis.
       <br/>
       不是。開始三、四周我並不很認同這種修法，因為我沒有足夠用功。然而這裡的有些禪修者雖然剛學這種禪修方法，就在一週左右的時間里致力培育出了足夠的定力 和正念，在一定程度上見到了無常、苦、無我。而我在一個月左右時間里禪修都沒有明顯的進步，更別說四、五天了。我那時禪修的進展仍然是零，這是因為我的信 心不夠，所以沒有付出足夠的精進。這種情況通常是疑蓋阻礙了觀智和道果的生起。所以祛除這種疑蓋是很重要的。我確實在浪費時間，誤以為這種懷疑是有效的分 析。
       <br/>
       I thought it was only a conventional or conceptual way of practice and not in the ultimate sense that one observes objects such as going, bending, stretching, etc. The Venerable Sayadawji taught me in that way as a basic training. Perhaps, later he would teach me how to distinguish between mind and body, etc. Later on, while continuing with this practice I spontaneously realized: &ldquo;Wow! This is not just a basic training, but noting physical and mental behaviors, like going, bending, stretching, etc., are also intermediate advanced instructions, too. These are all I need to observe. Nothing else.&rdquo;
       <br/>
       我想，觀察走、彎曲、伸展等只是世俗諦的或者概念性的修法，而不是究竟意義上的修法，尊敬的尊者這樣教我只是一種基礎訓練，也許後面他會教我如何分辨名色 等等。後來，當繼續這樣用功的時候我一下自發地認識到：&ldquo;啊！這不只是基礎訓練，觀照身心的行為如行走、彎曲、伸展等等也是高階的指導。這些是我所需要觀 照的全部，而不是別的。&rdquo;
      </strong>
     </p>
     <p>
      <strong>
       Q4: Venerable Sir, what do we have to note when we start our practice? When going, for example, are we supposed to note the mind and body involved?
       <br/>
問 4 ：尊者，當我們開始禪修的時候必須觀照什麽？例如，當我們走的時候，應當觀照所涉及到的身心嗎？


      </strong>
     </p>
     <p>
       &ldquo;Yatha-pakatam Vipassana-bhiniveso&rdquo; =&ldquo;Vipassana stays with any obvious object&rdquo; it is said in the subcommentary on the Visuddhimagga. So, one is instructed to start his or her Vipassana by noting any obvious object; i.e., an object easy to note. You should not start with subtle or difficult objects thinking that you will accomplish the practice sooner rather than later. For example, when a student begins schooling, he should begin with easy lessons. He could not be given difficult ones. In the same way, you should start the practice with the easiest observations. The Buddha teaches the easy way: &ldquo;when going,&rdquo; for example, note &ldquo;going&rdquo;. That's it.
      </strong>
     </p>
     <p>
       &ldquo;Yatha-pakatam Vipassana-bhiniveso&rdquo;=&ldquo;內觀保持觀照任何明顯的所緣&rdquo;，這是《清淨道論》復注所說。所以我們教導禪修者從觀照任何明顯的所緣開始內 觀，即是從容易觀照的目標開始。你不能以為從微細或難於觀察的目標開始會更快地完成禪修而不是滯後。就如學生開始上學要從容易的課程開始，不能是艱難的課 程。同理，你應當從最容易的觀照開始禪修。佛陀教你易行的方法，例如，&ldquo;走之時&rdquo;觀照&ldquo;走&rdquo;，就這麼簡單。
      </strong>
     </p>
     <p>
      <strong>
       Q5: Venerable Sir, is it possible to experience phenomena in an ultimate sense by merely observing&ldquo;going,&rdquo; for example, as going in a conceptual way?
       <br/>
問 5 ：尊者，例如，僅僅通過觀照“走”為走這樣世俗的方法，能夠體驗究竟法嗎 ?


      </strong>
     </p>
     <p>
       There are three kinds of &ldquo;I&rdquo;. The first is the &ldquo;I&rdquo; mistaken for a person or ego in terms of wrong view (ditthi). The &ldquo;I&rdquo; taken as someone Important in a sense of pride (m&amacr;na) is the second one. And the last one is the &ldquo;I&rdquo; we use in every day language in a conversational sense. When you note &ldquo;going&rdquo; as going, the &ldquo;I&rdquo; involved is the third kind, which was used even by the Buddha and Arahats, as it has nothing to do with ditthi and m&amacr;na. So I instruct yogis to note in every day language every step they take as &ldquo;going.&rdquo;
       <br/>
       有三種意義上的&ldquo;我&rdquo;，第一種&ldquo;我&rdquo;是由於邪見而誤認為有個人或自我，第二種是因為我慢而認為&ldquo;我&rdquo;是比較重要的某個人，最後一種是日常用語的世俗意義上的&ldquo;我&rdquo;。
       <br/>
       Although conventional language is used, a yogi is bound to experience phenomena in an ultimate sense beyond the concepts when his concentration gets strong enough. When going, for example, at some point, he or she is bound to experience the intention to take a step, the stiffness, tension or motion involved, and their constant changes. He or she will not find solid form or shape, but the phenomena arising and passing away on their own accord. In due course of time, he or she will see not only objects to observe, but also the concurrent noting mind itself arising and passing away immediately.
       <br/>
       儘管所用的是世俗語言，但是當禪修者的定力變得足夠強的時候他一定會超越概念體證究竟法。例如，經行中的某個時刻他/她一定會體會到其中想抬腳的意願、 繃、緊、移動以及它們的不斷變化。他/她會發現沒有堅固形體或形狀，只是自然而然生起和消失的現象。到時他/她不僅會看到觀照的目標，也會看到同時出現的 觀照之心本身生起又即刻滅去。
       <br/>
       If you don't believe it, try it. I ensure you that if you follow my instruction, you will, indeed experience it for yourself .
       <br/>
       如果你不信，就試試看。如果你按我的教導去做，我保證你確實會自己經歷到。
      </strong>
     </p>
     <p>
      <strong>
       Q6: Venerable Sir, did you initiate the observation of &ldquo;rising falling&rdquo; of the abdomen when breathing?
       <br/>
問 6 ：尊者，是你開創了觀照腹部隨呼吸“起 - 伏”嗎？

 
      </strong>
     </p>
     <p>
       No, I'm not the one who initiated the observation of &ldquo;rising-falling.&rdquo; Actually it was the Buddha who did it, because he taught to observe Vayo-dhatu the air-element included it the five aggregates. The rising and falling is constituted of the air element. Initially, some people questioned the observation of the rising and falling of the abdomen. However, encouraged by friends, they tried later on, they appreciated it so much that they even criticized the former nitpickers. I'm sure every one who tries it will appreciate it from his or her own experience, just like the taste of sugar which one can appreciate directly from one's own experience.
       <br/>
       不，我不是首創觀照&ldquo;起-伏&rdquo;的人，實際上正是由佛陀首創，因為他教導觀照包含于五蘊中的風元素。起伏是風元素形成的。開始有些人質疑觀照腹部起伏，然而，後來在朋友的鼓勵下嘗試之後，他們非常讚賞這种方法以至於批評以前吹毛求疵的人。我確信，每個來嘗試的人都會因自己的親身經歷而讚賞這個方法，就如嘗過糖的人能夠由自己的親身經歷做出評價。
      </strong>
     </p>
     <p>
      <strong>
       Q7: Venerable Sir, in Vipassana practice is it necessary to label or name an object such as &ldquo;rising, falling&rdquo; etc.?
       <br/>
問 7 ：內觀修行需要對所緣進行標記或稱名嗎，如“起、伏”等等？

 
      </strong>
     </p>
     <p>
       Names, whether they are in technical terms or in ordinary language, are all conceptual or conventional and not that important. What matters most is to be aware of the phenomena involved in an object like &ldquo;rising and falling of the abdomen when breathing.&rdquo; In reality, just being aware of an object without labeling at all, will serve the purpose. Without labeling, however, it may be difficult to be fully aware of an object precisely and accurately. Also, it will not be easy for the yogi to report his or her experience to the teacher, or for a teacher to give advice to the yogi. That is the reason why the yogi is instructed to label an object when he or she notes it. Even then, it would be difficult to use technical terms for all objects a yogi encounters. That is why I instruct yogis to use ordinary language like &ldquo;rising, falling&rdquo; when he or she practices.
       <br/>
       不管是專業術語還是日程用語中，名字都是屬於概念或世俗的，因此並不重要。重要的是覺知所緣涉及的現象如&ldquo;呼吸時腹部的起伏&rdquo;，實際上，只需覺知目標根本 不需標記就能達到目的。然而不用標記可能難於精準而充分地覺知目標，學生也不方便向老師彙報自己的體驗，老師也不方便給學生指導。這是爲什麽我們教學生在 觀照目標時進行標記。即使這樣，也難於用佛教名相標記所有禪修者遇到的所緣，因此我教學生在禪修中使用日常用語如&ldquo;起、伏&rdquo;。
      </strong>
     </p>
     <p>
      <strong>
       Q8: Venerable Sir, do you always encourage us to label an object?
       <br/>
問 8 ：尊者，您總是鼓勵我們標記所緣嗎？

 
      </strong>
     </p>
     <p>
       No, not always. There are times you find objects occurring to you so fast that you have no time to label them each. Then you have to keep up with them by being merely aware of them moment to moment, without labeling. It is also possible to be aware of four, five or ten objects spontaneously, although you are able to label only one of them. Don't worry about that. It also serves your purpose. If you try to label all the objects occurring, you are likely to get soon exhausted. The point is to be scrupulously aware of objects; i.e., in terms of their characteristics. In this case, you can also note objects occurring through the six senses moment to moment instead of noting routinely,
       <br/>
       不，並不總是。在你發現所緣生起太快的時候你沒有時間一一標記，此時你需要做的僅僅是剎那剎那地覺知它們以跟上所緣，無須標記。也可能你自動地覺知到四 個、五個或十個目標，但你可能只能標記其中一個，如果你試圖標記生起的全部目標，可能很快就會疲惫。要點是細心覺知目標，也就是說注意其特徵。在這種情況 下，你也可以觀照剎那剎那生起在六根門的目標，而不像前面那樣按部就班地。
      </strong>
     </p>
     <p>
      <strong>
       Q9: Venerable Sir, is there any disadvantage by not labeling a meditation object, like rising, falling, sitting, standing, doing, lying and so on?
       <br/>
問 9 ：尊者，不標記禪修目標，如起、伏、站、坐、做、躺，有什麽不利因素嗎？

 
      </strong>
     </p>
     <p>
       Yes, of course, there are some disadvantages in not labeling a meditation object: inaccurate concurrence of mind and meditative object, superficial awareness, energy reduction, and so on.
       <br/>
       當然是這樣，不標記禪修目標有一些不利因素如：觀照的心和觀照目標不能精確地同時生起，只是表淺的覺知，精進力減退，等等。
      </strong>
     </p>
     <p>
      <strong>
       Q10: Venerable Sir, if noting &ldquo;sitting, sitting&rdquo; when one is sitting serves one's purpose, why is one instructed to note &ldquo;rising, falling&rdquo; when one is sitting?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        10
       </strong>
       <strong>
        ：尊者，如果坐時觀照&ldquo;坐、坐&rdquo;是目的，為什麽還要教我們坐時觀&ldquo;起、伏&rdquo;呢？
       </strong>
      </strong>
     </p>
     <p>
     </p>
     <p>
       <em>
        Q11: Venerable Sir, how does a yogi keep thebalance between concentration and energy bynoting
       </em>
       <em>
        &ldquo;
       </em>
       <em>
        rising and falling?
       </em>
       <em>
        &rdquo;
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        11
       </strong>
       <strong>
        ：尊者，禪修者如何通過觀照&ldquo;起、伏&rdquo;保持定與精進的平衡？
       </strong>
      </strong>
     </p>
     <p>
       Noting
       <em>
        &ldquo;
       </em>
       <em>
        rising and falling
       </em>
       <em>
        &rdquo;
       </em>
       <em>
       </em>
       demands neither too much concentration as it is not a monotonous kind of object, nor excessive enthusiasm as it's only two types of object to note. Thus, the balance can be kept between concentration and energy.
       <br/>
       觀照&ldquo;起、伏&rdquo;既不需要過度的定力因為它不是單調類型的所緣，也不需要過度的熱忱因為只有兩種所緣需要觀照，因此能夠保持定和精進的平衡。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q12: Venerable Sir, what is the purpose for therotation of one-hour sitting and one-hour walkingin practice?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        12
       </strong>
       <strong>
        ：尊者，
       </strong>
       <strong>
       </strong>
       <strong>
        禪修中一小時坐禪一小時行禪相互交替的目的是什麽？
       </strong>
      </strong>
     </p>
     <p>
       Too much walking tends to arouse more energy but less concentration. So one is scheduled to sit and walk alternately an hour each. Thus, the balance can be kept between concentration and energy.
       <br/>
       太多經行易於激起較多精進力但定力卻比較少，所以安排打坐、經行各一小時交替進行，這樣能夠保持定和精進的平衡。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q13: Venerable Sir, if one notes
       </em>
       <em>
        &ldquo;
       </em>
       <em>
        rising andfalling,
       </em>
       <em>
        &rdquo;
       </em>
       <em>
        will one be expected to be solely aware ofthe abdomen itself rising and falling?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        13
       </strong>
       <strong>
        ：尊者，觀照&ldquo;起與伏&rdquo;就是要僅僅覺知腹部自身的起與伏嗎？
       </strong>
      </strong>
     </p>
     <p>
       Yes, indeed, in the beginning of practice, one is plainly aware of the abdomen itself. There is no problem in that. Enlightenment of
       <em>
        magga phala
       </em>
       is not expected in the beginning, of course. Even
       <em>
        Nama-rupa-pariccheda-&ntilde;ana
       </em>
       (the first and foremost insight distinguishing between mind and body) cannot be gained. In the beginning of practice, one has to work to keep the hindrances (wandering thoughts) away by noting them closely. Only when the hindrances are kept away for quite a long time
       <em>
        (Vikkhambhana)
       </em>
       and the mind is free of them, will a yogi start to experience true phenomena involved in the &ldquo;rising and falling,&rdquo; such as stiffness, tension, vibration and so on, beyond the plain abdomen.
       <br/>
       是的，確實是這樣，開始禪修的時候，你簡單地覺知腹部本身，這沒什麼問題。當然，並不指望你在一始就證悟道果，甚至不指望獲得名色分辨智（分辨心和身是第 一個也是最初的觀智）。在禪修開始阶段你必須用功密切標記觀照（妄念）以遠離蓋障，只有當遠離五蓋相當長時間（鎮服），內心已凈除五蓋，禪修者才會體驗到 &ldquo;起與伏&rdquo;所涉及的真實法如繃、緊、振動等等，而不只是平板一塊的腹部。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q14: Venerable Sir, what is a yogi expected to beaware of when standing?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        14
       </strong>
       <strong>
        ：尊者，站的時候禪修者應當覺知什麽？
       </strong>
      </strong>
     </p>
     <p>
       When standing, just note continuously &ldquo;
       <em>
        standing,standing
       </em>
       .&rdquo; If it becomes monotonous because it is a single object, then a prominent touching point should be added to it, noting &ldquo;
       <em>
        standing, touching; standing,touching
       </em>
       .&rdquo; Or you note &ldquo;
       <em>
        rising and falling
       </em>
       &rdquo; of the abdomen, instead.
       <br/>
       站的時候只是連續觀照&ldquo;站、站&rdquo;，如果因為它是單一的所緣覺得單調了，此時可加入一個凸顯的觸點，觀照&ldquo;站、觸、站、觸&rdquo;，或者代之以觀照腹部&ldquo;起、伏&rdquo;。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q15: Venerable Sir, is it the temperature element,or unpleasant sensation (dukkha), when a yogi isaware of cold or heat?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        15
       </strong>
       <strong>
        ：尊者，當禪修者覺察到冷或熱，它就是火大或苦嗎？
       </strong>
      </strong>
     </p>
     <p>
       When a yogi is simply aware of heat, that is the experience of the temperature element. If he or she finds the heat uneasy or uncomfortable, that's experience of
       <em>
        Dukkha.
       </em>
       Similarly with cold wind or water, it can be temperature, or unpleasant sensation accordingly.
       <br/>
       當禪修者簡單地覺察到熱，這是經驗到火元素，如果發現熱不自在或不舒服，就是經驗苦。冷風和冷水也類似，相應地可以是火元素，也可以是苦受。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q16: Venerable Sir, how does a yogi experienceapo-dh
       </em>
       <em>
        &amacr;
       </em>
       <em>
        tu, the water element?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        16
       </strong>
       <strong>
        ：
       </strong>
       <strong>
       </strong>
       <strong>
        尊者，禪修者如何才能體驗到水元素？
       </strong>
      </strong>
     </p>
     <p>
       (Actually, the water element is untouchable, but) a yogi can experience it as &ldquo;liquidity or wetness&rdquo; being connected with other elements. So when one feels tears, phlegm, saliva and sweat flowing down, the
       <em>
        apo-dh
       </em>
       <em>
        &amacr;
       </em>
       <em>
        tu,
       </em>
       water element can be experienced as &ldquo;liquidity or wetness&rdquo;in any part of the body.
       <br/>
       （實際水元素是不能通過身觸感知的，但是）禪修者能以關聯其它元素的&ldquo;液體或濕性&rdquo;體驗到它，當你覺知淚、痰、唾液和汗水流下，你能在身體任何部位以&ldquo;液體或濕性&rdquo;體驗到水元素。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q17: Venerable Sir, what does a yogi need to doto see phenomena clearly?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        17
       </strong>
       <strong>
        ：尊者，
       </strong>
       <strong>
       </strong>
       <strong>
        禪修者需要做什麽才能清晰地观照现象？
       </strong>
      </strong>
     </p>
     <p>
       At night, for example, one cannot see things clearly. But if one uses torchlight, things can be clearly seen in the spot light. In the same way,concentration can be compared to the light, through which one can see phenomena clearly: the manner of rising and falling, and the tension, tightness and movement etc.
       <br/>
       例如，在夜晚你不能清楚地看見東西，但如果用一個手電筒，東西在光照下就能看清楚。同樣，定力可比作光，依靠它可以清晰地观照现象：起伏的方式，張力，緊繃，移動，等等。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q18: Venerable Sir, why do you instruct yogisto start their practice with noting
       </em>
       <em>
        &ldquo;
       </em>
       <em>
        rising andfalling
       </em>
       <em>
        &rdquo;
       </em>
       <em>
        ?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        18
       </strong>
       <strong>
        ：尊者，爲什麽你教禪修者從觀照&ldquo;起與伏&rdquo;開始禪修？
       </strong>
      </strong>
     </p>
     <p>
       It will take time to develop concentration if you note an obiect too varied, or too subtle, while it can bearoused faster if you observe an obvious and limited object. That is why we instruct yogis to start theirpractice with watching the abdomen characterized by stiffness, pressure, vibration, which are identical with
       <em>
        vayo-dh
       </em>
       <em>
        &amacr;
       </em>
       <em>
        tu,
       </em>
       the air-element.
       <br/>
       如果觀照過於變化多端或太微細的所緣，需要花很長時間才能培養出定力，而當你觀照明顯和有限的所緣，能較快地生起定力。這就是爲什麽我們教導禪修者從觀照腹部開始禪修，其緊繃、擠壓、振動的特徵正是風元素。
      </strong>
     </p>
     <p>
      <strong>
       <em>
        Q19: Venerable Sir, are there only two objectstonote,
       </em>
       <em>
        &ldquo;
       </em>
       <em>
        rising and falling
       </em>
       <em>
        &rdquo;
       </em>
       <em>
        ?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        19
       </strong>
       <strong>
        ：尊者，只有兩個觀照的所緣嗎，&ldquo;起與伏&rdquo;？
       </strong>
      </strong>
     </p>
     <p>
       Yes, one is instructed to note initially only two objects, &ldquo;rising and falling.&rdquo; He is, however, instructed to note thoughts also if they occur to him, and then to go back to the main object. Similarly with pain. He should go back to the main object when the pain fades away, or after a moderate amount of time even if the pain persists. The same is true with bending or stretching his limbs, or changing his posture. He should note each and every activity or behavior involved in it, and then go back to the main object. If one sees or hears something predominant, one must note it as it is; i.e., &ldquo;seeing,&rdquo; &ldquo;hearing&rdquo; and so on. After noting them three or four times, one must go back to the main object with full energy.
       <br/>
       是的，我們教導開始只觀照兩個所緣，&ldquo;起與伏&rdquo;。然而我們也教導禪修者在妄念生起的時候觀照妄念，随後回到主要所緣。疼痛也是一樣，當疼痛消失或者過了一 段適中的時間疼痛仍然持續，他應當回到主要所緣。這同樣適用於屈伸肢體或變換姿勢，他應該觀照這些過程中的每一個動作，然後回到主要所緣。如果看見或聽見 的所緣佔了支配地位，他必須如實觀照，&ldquo;看見&rdquo;、&ldquo;聽見&rdquo;，等等。在觀照它們三、四次后，他必須以全部精進力回到主要所緣。
      </strong>
     </p>
     <p>
      <strong>
       Q20:
       <em>
        Venerable Sir, is it possible to bring aboutinsight knowledge by observing the objects likegoing or right step, left step, which are known in
       </em>
       <br/>
       <em>
        common sense to every body?
       </em>
       <br/>
       <strong>
        問
       </strong>
       <strong>
        20
       </strong>
       <strong>
        ：尊者，觀察所緣如走或者左步、右步，這些在通俗的意義上盡人皆知，由此能引生觀智嗎？
       </strong>
      </strong>
     </p>
     <p>
       You know the
       <em>
        Ana-pana
       </em>
       pratice, the observation of in-and-out breath. The object, &ldquo;inhalation andexhalation&rdquo; seems not to be observed, as it's known by common sense to everyone. But no one dares to criticize like that. In the same way, it makes no sense if you criticize that mindfulness, concentration and insight knowledge cannot be developed by noting &ldquo;
       <em>
        right, left
       </em>
       &rdquo; which is compared with military training. The military training is taken for the purpose of sport or health, while the noting is used to develop mindfulness, concentration and insight knowledge. If you reject this part of the practice, that will mean you are rejecting the teaching of the Buddha.
       <br/>
       你知道修安般念即觀照出入息，對其所緣&ldquo;入息與出息&rdquo;的觀照，似乎並非如通俗意義上盡人皆知的那樣，但沒人敢像這樣批評。同理，如果你批評觀照&ldquo;左步、右 步&rdquo;象軍事訓練所以不能培育正念、定力和觀智，這樣就毫無意義。軍事訓練的目的是爲了鍛鍊或健康，而標記觀照是爲了培育正念、定力和觀智。
      </strong>
     </p>
     <p>
      <strong>
       Q21: Venerable Sir, what does it mean by the word, &ldquo;noting&rdquo;?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        21
       </strong>
       <strong>
        ：尊者，&ldquo;觀照（
       </strong>
       <strong>
        noting
       </strong>
       <strong>
        ）&rdquo;一詞是什麼意思？
       </strong>
      </strong>
     </p>
     <p>
       The word, &ldquo;noting&rdquo; means to pay attention to a meditative object with the purpose to be aware of phenomena that are really happening from moment to moment.
       <br/>
       &ldquo;觀照（noting）&rdquo;一詞的意思是：為了覺知刹那刹那正在真實發生的現象將注意力用在禪修目標上。
      </strong>
     </p>
     <p>
      <strong>
       Q22: Venerable Sir, for what purpose do you instruct us to act very slowly?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        22
       </strong>
       <strong>
        ：您教導我們動作要非常緩慢是為什麼？
       </strong>
      </strong>
     </p>
     <p>
       It is only when you act slowly that your concentration, mindfulness and insight knowledge can keep up with the objects. That's the reason why you have to start the practice by doing everything slowly and mindfully. Indeed, in the beginning, if you do things fast, your mindfulness or awareness cannot follow.
       <br/>
       只有當你動作非常緩慢的時候你的定力、正念和觀智才能跟上所緣。這是為什麼你必須從做每一件事都緩慢而有正念這樣開始禪修。開始的時候如果你做事很快，確實你的正念或者覺知無法跟隨。
      </strong>
     </p>
     <p>
      <strong>
       Q23: Venerable Sir, is there any kind of pain or discomfort which belongs to the practice itself? If so, how do we have to deal with it?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        23
       </strong>
       <strong>
        ：尊者，是否有某種屬於禪修本身的疼痛或不適？如果有，我們如何應對？
       </strong>
      </strong>
     </p>
     <p>
       Yes, you may experience several kinds of unpleasant sensations like itchiness, heat, pain, ache, heaviness, stiffness and so on when your concentration gets very strong. They tend to disappear once you stop practice. But, they may reappear if you resume your practice. Then, that is surely not a disease or illness, but just unpleasant sensation which belongs to the practice. Don't worry. If you keep on noting, eventually it will fade away.
       <br/>
       是，當定力變得很強時，你可能經歷好幾種不愉快的覺受如癢、熱、疼、痛、重、繃等等，一旦你停止禪修它們就趨於消失，但當你重新開始禪修它們可能再現。此時確實不是生病，而只是屬於禪修的不愉快覺受，不要擔心。如果你不斷觀照，它們最終會消失。
      </strong>
     </p>
     <p>
      <strong>
       Q24: Venerable Sir, what are we supposed to note when the rising and falling fade away?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        24
       </strong>
       <strong>
        ：尊者，當腹部起伏消失了我們應當觀照什麼？
       </strong>
      </strong>
     </p>
     <p>
       When the rising and falling fade away, you are supposed to note: &ldquo;sitting, touching&rdquo; or &ldquo;lying, touching.&rdquo; You can change touching points. For example, you note &ldquo;sitting, touching&rdquo; paying attention to a touch point on the right foot, and then note &ldquo;sitting, touching&rdquo;focusing a touching point on the left foot. Thus, you can shift your attention from one touch point to another. Or, you can shift your attention to four, five or six touch points alternately.
       <br/>
       當腹部起伏消失了你應當觀照&ldquo;坐、觸&rdquo;或&ldquo;躺、觸&rdquo;。你可以變換觸點，例如，你觀照&ldquo;坐、觸&rdquo;注意右腳的觸點，然後觀照&ldquo;坐、觸&rdquo;專注左腳的觸點。這樣你可變換你的注意力從一個觸點到另一個觸點。或者你可以在四、五或六個觸點上輪換觀照。
      </strong>
     </p>
     <p>
      <strong>
       Q25: Venerable Sir, which touching point should we note among others?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        25
       </strong>
       <strong>
        ：在別的一些觸點中我們應該觀照哪一個？
       </strong>
      </strong>
     </p>
     <p>
       Any touching point is possible to note. If you note, for instance, a touching on one's buttock as &ldquo;touching, touching,&rdquo; that is correct; note it on one's knee as &ldquo;touching, touching,&rdquo; that is correct; note it on one's hands as &ldquo;touching, touching,&rdquo; that is correct; note it on one's head as &ldquo;touching, touching,&rdquo; that is correct; note in-and-out breath as &ldquo;touching, touching,&rdquo; that is correct; note it in one's intestines or liver as &ldquo;touching, touching,&rdquo; that is correct; note it on one's abdomen as &ldquo;touching, touching&rdquo;, that is correct.
       <br/>
       任何一個觸點都可以觀照。例如，如果你觀照臀部的接觸為&ldquo;觸、觸&rdquo;，這是對的；觀照膝蓋的接觸為&ldquo;觸、觸&rdquo;，這是對的；觀照手的接觸為&ldquo;觸、觸&rdquo;，這是對 的；觀照頭的接觸為&ldquo;觸、觸&rdquo;，這是對的；觀照出入息的接觸為&ldquo;觸、觸&rdquo;，這是對的；觀照腸或肝的接觸為&ldquo;觸、觸&rdquo;，這是對的；觀照腹部的接觸為&ldquo;觸、 觸&rdquo;，這是對的。
      </strong>
     </p>
     <p>
      <strong>
       Q26: Venerable Sir, should we rather observe stiffness, motion or movement when walking if we are supposed to be aware of the characteristics?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        26
       </strong>
       <strong>
        ：尊者，如果說我們應該覺知特性，那麼經行時我們更應該觀察繃、動或移動，對嗎？
       </strong>
      </strong>
     </p>
     <p>
       The Buddha said: &ldquo;Be aware of going, when going&rdquo;. When we walk, the air-element prevails, which is experienced as pressure, or stiffness in terms of its characteristics, or motion, pushing or movement in terms of its function. The Buddha, however, did not instruct us to note it as &ldquo;pressure,&rdquo; &ldquo;stifthess,&rdquo; &ldquo;movement.&rdquo; &ldquo;motion&rdquo; or &ldquo;pushing.&rdquo; The Buddha's actual instruction is: &ldquo;Be aware of going, when going&rdquo;. That's all. The reason is he wanted to give the easy and understandable way. Noting in conventional language is quite familiar and easy to every body, of course.
       <br/>
       佛陀說：&ldquo;走時知道走&rdquo;。當我們行走的時候，風元素很顯著，我們體驗到擠壓、緊繃，這是風元素的特性；或者運動、推動、移動，這是風元素的作用。但佛陀並 沒有教我們觀照它為&ldquo;擠壓&rdquo;、&ldquo;緊繃&rdquo;、&ldquo;移動&rdquo;、&ldquo;運動&rdquo;或&ldquo;推動&rdquo;，佛陀實際的教導是：&ldquo;走時知道走&rdquo;，就是這樣而已。其原因是佛陀想教我們易行能懂 的方法。顯然，用世俗語言標記觀照則人人都熟悉易行。
      </strong>
     </p>
     <p>
      <strong>
       Q27: Would it not be harmful to one's health if one practiced too intensively?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        27
       </strong>
       <strong>
        ：如果一個人太強化地禪修會有害於健康嗎？
       </strong>
      </strong>
     </p>
     <p>
       It is said in the pali texts: &ldquo;kaye ca jivite ca anapekkhatam upatthapeti = with no regards to one's life and limbs.&rdquo; This encourages one to practice with heroic effort, even to sacrifice one's life and limbs. Some may think: &ldquo;how horrible the practice is!&rdquo; In fact, no one has died from intensive practice, and it is not even harmful to one's health. Actually, there are many testimonies that some people have been cured of chronic diseases by practicing this meditation.
       <br/>
       巴利經典說，&ldquo;kaye ca jivite ca anapekkhatam upatthapeti = 不顧自己的生命和肢體&rdquo;，就是鼓勵一個人以英雄般的精進進行禪修，甚至不顧犧牲自己的生命和肢體。有人可能想&ldquo;修行太可怕了！&rdquo; 事實上，沒人因為強化地禪修而死去，甚至也對健康無害。實際上 ，有很多例證顯示有人修這個法治好了慢性疾病。
      </strong>
     </p>
     <p>
      <strong>
       Q28: Venerable Sir, can you mention suitable postures of sitting?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        28
       </strong>
       <strong>
        ：尊者，您能說一下合適的坐姿嗎？
       </strong>
      </strong>
     </p>
     <p>
       There are three postures of cross-legged sitting: the first is the sitting with both soles facing up like a Buddha statue does; the second is with one's calves kept parallel, or on each other; and the third is the way Myanmar women do with their knees folded underneath, which is called addha-pallanka (half cross-legged sitting). Any one is suitable. For women, they can sit the way they like, unless in public. The point is to be able to sit for a long time, so that concentration will get chance to take place, develop eventually resulting in insight knowledge.
       <br/>
       有三種盤坐姿勢：第一種兩腳心向上象佛像那樣坐；第二種是兩小腿平行（放於地上）或者重疊，第三種是象緬甸女性那樣，屈膝之後（兩小腿）放在下麵，這叫作 addha-pallanka（半盤坐）。任何一種都可以。對女性，她們可以按他們喜歡的方式坐，在公共場合例外。要點是要能坐得長久，這樣定力有機會生 起和增長，最終導致觀智。
      </strong>
     </p>
     <p>
      <strong>
       Q29: Venerable Sir, do you advise yogis not to speak at all during practice?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        29
       </strong>
       <strong>
        ：尊者，您告誡禪修者修行中間完全不說話嗎？
       </strong>
      </strong>
     </p>
     <p>
       No, I don't. It is not advisable to do so. It would be wise, however, not to speak of anything frivolous or unnecessary. One should only speak of things necessary, beneficial or doctrinal, and in moderation. Thus, both worldly and spiritual progress can be made.
       <br/>
       不，我沒有，這是不明智的。而明智的做法是不說任何無聊的或不必要的。只說必須的、有益的或佛法的，並且有節制。這樣能獲得世俗和心靈兩方面的進步。
      </strong>
     </p>
     <p>
      <strong>
       Q30: ls it possible to note an object a moment after it takes place?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        30
       </strong>
       <strong>
        ：可能在一個所緣生起過後的瞬間觀照嗎？
       </strong>
      </strong>
     </p>
     <p>
       No, of course not. Even though you can buy something on credit and pay for it later, no credit is given in the case of Vipassana. So, you must note an object the moment it takes place lest you become attached to it.
       <br/>
       不，當然不行。你可以賒賬買東西，隨後再付錢，但觀禪裏卻不能賒賬，所以你必須在一個所緣生起的刹那觀照，不然你會執著於它。
      </strong>
     </p>
     <p>
      <strong>
      </strong>
     </p>
     <p>
      <strong>
       Q31: Venerable Sir, what is a yogi expected to be aware of when sitting or lying?
       <br/>
       <strong>
        問：
       </strong>
       <strong>
        31
       </strong>
       <strong>
        尊者，禪修者在坐或臥的時候要覺知什麼？
       </strong>
      </strong>
     </p>
     <p>
       When sitting, just note &ldquo;sitting, sitting&rdquo; continuously. If it is boring and monotonous, since it is a single object, then a prominent touching point should be added to it, noting &ldquo;sitting, touching; sitting, touching.&rdquo; Or you can note &ldquo;rising and falling&rdquo; of the abdomen instead, focusing on the sensation of the air-element characterized by stiffness, movement. Similarly with lying down.
       <br/>
       坐的時候只是連續觀照&ldquo;坐、坐&rdquo;，如果因為是單一所緣而覺得無聊和單調，可以加進來一個顯著的觸點，觀照&ldquo;坐、觸，坐、觸&rdquo;。或者你可以代之以觀照腹部的&ldquo;起與伏&rdquo;，專注在風元素的感覺上，緊繃、移動是其特徵。臥時觀照與此類似。
      </strong>
     </p>
     <p>
      <strong>
       Q32: Venerable Sir, what should a yogi do, if or when he or she finds the observation of &ldquo;rising, falling&rdquo; too easy or a gap noticeable between them?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        32
       </strong>
       <strong>
        ：尊者，如果禪修者發現觀照&ldquo;起、伏&rdquo;太容易或者起、伏之間有空檔，他該怎麼辦？
       </strong>
      </strong>
     </p>
     <p>
       A yogi, adding the sitting posture to the &ldquo;rising, falling,&rdquo; should note three objects: &ldquo;rising, falling, sitting; rising, falling, sitting.&rdquo; He or she must be aware of &ldquo;sitting&rdquo; in the same manner as &ldquo;rising, falling.&rdquo; Even then if a gap is found in between, note four objects by adding a prominent touching point to it: &ldquo;rising, falling, sitting, touching.&rdquo; When lying down, note in similarly way: &ldquo;rising, falling, lying, touching&rdquo;, or &ldquo;rising, lying, falling, lying.&rdquo;
       <br/>
       禪修者應當在&ldquo;起、伏&rdquo;中加入坐姿，進而觀照三個所緣&ldquo;起、伏、坐；起、伏、坐&rdquo;。他/她應該以覺知&ldquo;起、伏&rdquo;的方式覺知&ldquo;坐&rdquo;。如果這樣還發現有空檔， 加入一個顯著的觸點觀照四個所緣，&ldquo;起、伏、坐、觸&rdquo;。 躺臥時，以類似的方式觀照&ldquo;起、伏、躺、觸&rdquo;，或&ldquo;起、躺、伏、躺&rdquo;。
      </strong>
     </p>
     <p>
      <strong>
       Q33: Venerable Sir, does age make a difference in one's practice?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        33
       </strong>
       <strong>
        ：尊者，年紀大小會造成修行上的差別嗎？
       </strong>
      </strong>
     </p>
     <p>
       Yes, there is some differences between the old and the young. In order to reach to a certain level of insight knowledge, one man, for example, at the age of twenty or thirty, may take about a month, and another in his sixties or seventies has to take two or three months. It is because the young are physically healthier, mentally active, and less worried than the old. Of course, the older they get, the sicklier they become. The old have weaker memory and understanding, and stronger commitments and worries. As for a monk, it would be great if he would practice soon after his ordination. Because as a newly ordained monk, he is still young and has strong faith in the practice, and his moral conduct is also still flawless. So, in my opinion, however important his study is, a monk should practice soon after his ordination, for three months at least. There were some monks who unfortunately passed away before they could practice. What a pity!&mdash;
       <br/>
       是，老年人和年輕人有些差別。例如，為了達到某一階觀智，一個二、三十歲的人可能需一個月，而另一個六、七十歲的人可能需要兩、三個月。因為年輕人和老人 比，身體更健康、內心更有活力、更少擔憂。顯然，人越老病越多。老人記憶力和理解力都較差些，有更多的擔當和擔憂。對一個出家人來說，出家後立即禪修最 好。新受戒的出家人，仍然年輕且對修行有強力的信心，他的戒行也完好無缺。所以，我的意見是，學習不管多麼重要，一個出家人受戒後應該儘快禪修，至少修三 個月。有些出家人沒能禪修就不幸去世，多麼可悲！&mdash;-
      </strong>
     </p>
     <p>
      <strong>
       Q34: Venerable Sir, does our concentration or awareness make a difference in our experience of pain?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        34
       </strong>
       <strong>
        ：尊者，在我們經受疼痛的時候，定力和覺知會造成差別嗎？
       </strong>
      </strong>
     </p>
     <p>
       When your concentration and awareness are not yet strong, you will find the pain increasing while noting pain, stiffness or heat. But you should keep on noting it with patience and persistence. They often fade away when concentration and awareness are strong enough. Sometimes, while you are noting it, you may find it disappears on the spot. Such type of pain may no longer come back.
       <br/>
       當你的定力和覺知還不夠強的時候，你會發現觀照痛、熱、緊繃的時候疼痛會增強，但你應該以耐心和毅力持續觀照，當定力和覺知足夠強時，它們通常會消失。有時當你正在觀照它，發現它就在那個地方消失，這類疼痛可能不會再回來。
      </strong>
     </p>
     <p>
      <strong>
       Q35: Venerable Sir, does one's sex make a difference in making faster progress in practice?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        35
       </strong>
       <strong>
        ：尊者，一個人的性別會在修行進步速度方面造成差別嗎？
       </strong>
      </strong>
     </p>
     <p>
       I often find that women work harder along with strong faith in their teacher and his guidance. As a result, they develop concentration sooner rather than later. This in return arouses insight knowledge faster. Thus, I often find women make faster progress in practice than men do. I also found, however, some women who wasted their time with their wandering thoughts, and made no progress. There are several reasons why they make little or no progress in their practice such as laziness, old age, poor health and so on. Of course, there are also men and monks who make fast progress in their practice when following the instructions strictly.
       <br/>
       我經常注意到女性更用功，對她們的老師和他的教導有強力的信心，結果他們更快培養出定力而不是相反，依次又更快生起觀智。因此，我常常發現女性修行比男性 進步更快。但我也注意到，有的女性打妄想浪費了她們的時間，沒有任何進步。她們沒有進步或只有一丁點進步有幾種原因，諸如懶惰、年紀大、健康不佳等等。當 然，也有男性和出家男眾嚴格按照禪修指導用功，修行進步很快。
      </strong>
     </p>
     <p>
      <strong>
       Q36: Venerable Sir, is it true that for learned persons, their knowledge forms an obstacle to the progress in their practice?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        36
       </strong>
       <strong>
        ：尊者，真是這樣嗎，有學問的人他們的知識會形成禪修進步的障礙？
       </strong>
      </strong>
     </p>
     <p>
       No, it's not suitable to say so. It is impossible that one's knowledge is an obstacle to the practice. As you may know, a highly learned monk called Potthila became an Arahat sooner rather than later by practicing under the guidance of a young novice. In view of this, it is clear that one's education or knowledge cannot be an obstruction to the progress in the practice. As a matter of fact, the real obstacles are pride in one's education or knowledge, little or no faith in the practice, skeptical doubt, failure to follow strictly the guidance of the teacher, lack of heroic effort, and so on. Such are real obstacles to the development of concentration and insight knowledge.
       <br/>
       不，這樣說不合適，一個人的知識不可能是禪修的障礙。你知道，一個叫帕提拉（Patthila）的極有學問的比庫，在一個年輕沙彌的指導下修行，他更快地 成了阿羅漢而不是相反。就此而言非常清楚，一個人所受的教育或其學識不可能是修行進步的障礙。實際上，真正的障礙是以學歷或學識為驕傲，缺少對修行的信心 或沒有信心，疑，沒有嚴格遵循老師的教導，缺乏英勇的努力，等等。這些是培養定力和觀智的真正障礙。
      </strong>
     </p>
     <p>
      <strong>
       Q37: Venerable Sir, is there any difference between meditators and non-meditators when they face with a painful illness?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        37
       </strong>
       <strong>
        ：尊者，當面對痛苦的疾病時，禪修者和非禪修者會不一樣嗎？
       </strong>
      </strong>
     </p>
     <p>
       Yes, of course. Non-meditator can only remember to take precepts, to listen to the Paritta chanting, to donate robes or food and so on. What a pity, they can only perform charity and morality! As for meditators, they remember to perform high-level practice until they become enlightened by noting closely their discomfort itself moment to moment.
       <br/>
       是的，當然是這樣。非禪修者只能記得受戒，聽誦護衛經，供養袈裟和食物等等。多麼遺憾，他們只能行善和守戒！而作為禪修者，他們記得刹那刹那地密切觀照他們的苦受本身，這樣進行高階修行直到證果。
      </strong>
     </p>
     <p>
      <strong>
       Q38: Venerable Sir, should we insist on practice without spiritual aptitude (p&amacr;rami) strong enough for Magga, Phala enlightenment?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        38
       </strong>
       <strong>
        ：尊者，如果沒有足以證悟道果的心智天賦（菠蘿蜜）我們應該堅持禪修嗎？
       </strong>
      </strong>
     </p>
     <p>
       If you do not practice, your spiritual aptitude (p&amacr;rami) can, by no means, be formed. In other words, even if your p&amacr;rami is fully accumulated, you cannot be enlightened without practice. On the other hand, if you practice, your p&amacr;rami will be formed, which will help you experience Nibb&amacr;na sooner. If your p&amacr;rami is fully developed, you will be enlightened in this very life. Or it will serve, at least, as a seed for enlightenment in the future.
       <br/>
       如果你不修，你的心智天賦（菠蘿蜜）就無法形成。換句話說，即使你積累了充足的菠蘿蜜，你不修怎能證悟。另一方面，如果你修行，你的菠蘿蜜就會形成，這會有助於你更快體證涅槃。如果你已經培養了充足的菠蘿蜜，你會在這一生證悟。不然，修行也至少會成為未來證悟的種子。
      </strong>
     </p>
     <p>
      <strong>
       Q39: Venerable Sir, is it realization of impermanence when we see, for example, a pot break down or of suffering when we have a pain caused by a thorn in our flesh?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        39
       </strong>
       <strong>
        ：尊者，例如當我們看見罐子被打碎是證知了無常嗎？或者感受到刺紮入皮肉的疼痛是證知了苦嗎？
       </strong>
      </strong>
     </p>
     <p>
       Sometimes, you discern impermanence when you find a pot break down, or suffering when you have a pain caused by a thorn in your flesh. That is, actually conventional knowledge of impermanence, which cannot help you to realize egolessness in an ultimate sense. On the other hand, the real realization of impermanence takes place when you see present phenomena arising and passing away, and that of suffering when you see them tortured by the flux. Only then, can you realize the egolessness in an ultimate sense.
       <br/>
       有時，當發現罐子被打碎你從中看到了無常，感受到刺紮入皮肉的疼痛你從中看到了苦，實際上，這是世俗的無常的智慧，這無助於你在究竟意義上證知無我。另一 方面，真正證知無常是發生在你看到當下的現象的生滅的時候，證知苦則發生在你看到當下現象為生滅流轉的逼惱。只有此時，你才在究竟意義上證知無我。
      </strong>
     </p>
     <p>
      <strong>
       Q40: Venerable Sir, can you describe how we are supposed to realize egolessness in an ultimate sense? .
       <br/>
       <strong>
        問
       </strong>
       <strong>
        40
       </strong>
       <strong>
        ：尊者，您能描述一下我們應該怎樣在究竟意義上證知無我嗎？
       </strong>
      </strong>
     </p>
     <p>
       Some believe that realization of egolessness takes place if or when you lose your sense of body shape or form by visualizing physical body as particles. Actually, it is not the realization of egolessness that you merely lose the sense of solidity or form of the body by practicing whatever way. It is because you are clearly experiencing the knowing mind and identifying it with &ldquo;I&rdquo; or ego. This is similar to the celestial beings called arupa brahama, who have no physical body but still mistake their mind for &ldquo;I&rdquo; or ego. So the mere loss of sense of solid form cannot mean realization of egolessness. Only when you observe mind and body the moment they take place and see them arising and passing away on their own accord without subject to anyone's authority, do you realize the egolessness in an ultimate sense.
       <br/>
       有的人認為，當你觀身體為微粒而失去了身體的形體感的時候，證悟無我就發生了。實際上，不管你修什麼方法，僅僅是失去身體的固態感或形體感不是證知無我。 這是因為你清晰地經歷能知之心並認它為&ldquo;我&rdquo;或&ldquo;自我&rdquo;。這類似於無色界的梵天眾，他們沒有形體，但仍然誤以為他們的心是&ldquo;我&rdquo;或&ldquo;自我&rdquo;。所以僅僅是失 去固體形態感並不意味著證知無我。只有當你觀照身心發生的刹那，見到它們依其自身因緣生起滅去而沒有任何主宰，這才是在究竟意義上證悟無我。
      </strong>
     </p>
     <p>
      <strong>
      </strong>
     </p>
     <p>
      <strong>
       Q51: Venerable Sir, what do we have to do to realize impermanence of mind and body?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        51
       </strong>
       <strong>
        ：尊者，必須修什麽才能證知身心的無常？
       </strong>
      </strong>
     </p>
     <p>
       If you watch mind and body moment to moment, you are bound to experience true characteristics ofphenomena and to see them arise and then vanish immediately.
       <br/>
       如果你剎那剎那地觀照身心，你一定會體驗各種現象的真實特性，并見它們即生即滅。
      </strong>
     </p>
     <p>
      <strong>
       Q52: Venerable Sir, what is the maximum amount of &ldquo;Pu&ntilde;&ntilde;a&rdquo; or merit that can be accumulated bypracticing Vipassana meditation?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        52
       </strong>
       <strong>
        ：尊者，修內觀禪最大程度能積累多少功德（
       </strong>
       <strong>
        Pu&ntilde;&ntilde;a
       </strong>
       <strong>
        ）？
       </strong>
      </strong>
     </p>
     <p>
       One moment of noting is available in each second. Thus, 60 moments in a minute, 3600 in an hour and 72,000 a day except for the four hours for sleeping. This is a huge pile of merit!
       <br/>
       每一秒可有一片刻觀照，一分鐘就有60次，一小時3600次，一天除去睡眠4小時共72000次。這是非常大量的功德積聚。
      </strong>
     </p>
     <p>
      <strong>
       Q53: Venerable Sir, how long does it take a yogi to accomplish his or her progress of Vipassana insights?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        53
       </strong>
       <strong>
        ：禪修者需要多長時間才能成就各階內觀智？
       </strong>
      </strong>
     </p>
     <p>
       It depends. Only a few people can describe their accomplishment of insight knowledge within a week or so, while most people usually mention their complete set of insight knowledge after one and a half months, or two. There are, however, some people who have to take three or four months to accomplish it. If, however, one practices seriously as instructed, he or she is likely to describe his or her achievement within a month or so. That's why a yogi is typically encouraged here to practice for at least a month.
       <br/>
       這要看情況。只有少數幾個人能在一週左右講述他們成就觀智，而大多人通常在一個半月或兩個月講述所有階次的觀智，然而有些人要三、四個月才能完成。不過，只要你能嚴格按照老師的教導用功，可能會在一個月左右描述你得到成就。這是爲什麽我們通常鼓勵禪修者在此至少修一個月。
      </strong>
     </p>
     <p>
      <strong>
       Q54: Venerable Sir, can you describe what one's experience of magga-phala enlightenment is like?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        54
       </strong>
       <strong>
        ：尊者，你能描述一個人證得道果的經驗是什麽樣嗎？
       </strong>
      </strong>
     </p>
     <p>
       One's mental state changes remarkably and abruptly when he or she realizes Magga, Phala enlightenment. He or she may feel as if he or she were newly reborn. His or her faith and confidence distinctly flourish resulting in strong rapture, ecstasy and great happiness. Sometimes, these mental states prevail so much that he or she cannot penetrate into objects like before even though he or she focuses attention on them. Hours or days later, however, such mental states tend to be mild and he or she can do well again in the practice. For some people, they may feel relaxed or apparently unwilling to practice or seemingly satisfied with what they have just achieved probably because they might not intend to achieve higher.
       <br/>
       當一個人證得道果的時候，他/她的心理狀態發生顯著或截然不一樣的變化。他/她可能感到如獲新生。他/她的信心因強烈的喜、樂、輕安而明顯地處於鼎盛。有 時這些狀態如此強烈以至於即使他/她集中注意力也不能象以前那樣透視所緣。然而，數小時或數天後這些狀態變得和緩他/她又能夠很好禪修了。有些人可能感到 放鬆或者明顯的不願意用功或者似乎滿足於剛獲得的成就，可能是因為他們沒有意願成就更高階的果位。
      </strong>
     </p>
     <p>
      <strong>
       Q55: Venerable Sir, can you describe someone who, you believe, experienced Nibb&amacr;na?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        55
       </strong>
       <strong>
        ：尊者，您可以描述您認為體證了涅槃的人嗎？
       </strong>
      </strong>
     </p>
     <p>
       Yes, I can. Among those who first practiced under my guidance, my cousin called U Phochon was impressive. When he reached the stage of bhanga-&ntilde;&amacr;na (the fifth level of Vipassana insight), he started to find trees or people fluxing. He thought something was wrong with his view because he had learned from a teacher that things like a tree, log, post, stone, human body, etc., last for a due period, while physical phenomena caused by one's kamma or mind passed away immediately after they arose. On the contrary, he saw, at that time, things flux. So he came and asked me what was wrong with his view. I encouraged him saying that nothingwas wrong with his view but it was bhanga-&ntilde;&amacr;na (the fifth level of Vipassana insight), which helped him to see things passing away immediately. After a few days, he clearly described his experience of Nibb&amacr;na, the cessation of mind and body.
       <br/>
       是的，在這些人中，我的堂兄烏&bull;珀充是第一個在我指導下修行的人，給我的印象深刻。當他達到壞滅隨觀智（第五觀智）時，他開始發現樹木或人都在流變，他想 他的所見可能出了問題，因為他曾經從一個老師那裡了解到，如樹木、圓木、電杆、石頭、人體等東西都會持續存在一定時期，而由業或心引生的現象生起即滅。相 反，他那時看到一切東西都在流變。於是他來問我他的所見出了什麽問題。我鼓勵他說他的所見沒有任何問題，這是壞滅隨觀智（第五觀智），此智讓他看到事物立 即滅去。幾天之後，他清楚地描述體證涅槃&mdash;名色止息的經歷。
      </strong>
     </p>
     <p>
      <strong>
       Q56: Venerable Sir, what are the descriptions of Nibb&amacr;na made by those who, you believe, have attained it?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        56
       </strong>
       <strong>
        ：尊者，那些您相信證得涅槃的人如何描述涅槃的？
       </strong>
      </strong>
     </p>
     <p>
       Some descriptions of Nibb&amacr;na made by those who, I believed, realized it are as follows:
       <br/>
       &bull; I found objects and noting mind to cease abruptly.
       <br/>
       &bull; I discovered that objects and noting mind were cut off like a creeper chopped down.
       <br/>
       &bull; I saw objects and noting mind fall down immediately like a heavy burden unloaded.
       <br/>
       &bull; I perceived objects and noting mind drop down as if I lost my hold on them.
       <br/>
       &bull; I felt as if I escaped from objects and noting mind.
       <br/>
       &bull; I found out that objects and noting mind ceased abruptly like a candle light blown out.
       <br/>
       &bull; I felt as if I got out of the objects and noting mind, like coming into the light out of the darkness.
       <br/>
       &bull; I felt that I escaped the objects and noting mind, as if I got into clarity from obscurity.
       <br/>
       &bull; I found both objects and noting mind submerged as if they were to sink into the water.
       <br/>
       &bull; I discovered that both objects and noting mind stopped suddenly like a sprinter who was pushed back from the front.
       <br/>
       &bull; I found both objects and noting mind disappeared suddenly.
       <br/>
       那些我相信證得涅槃的人對涅槃的一些描述如下：
       <br/>
       &bull; 我發現觀照的目標和觀照的心突然止息。
       <br/>
       &bull; 我發現觀照的目標和觀照的心就像爬藤被斬斷一樣一下截斷。
       <br/>
       &bull; 我見觀照的目標和觀照的心立即落下，就像放下重擔。
       <br/>
       &bull; 我覺知觀照的目標和觀照的心脫落，就像我沒抓牢它們。
       <br/>
       &bull; 我感到就像我從觀照的目標和觀照的心逃逸。
       <br/>
       &bull; 我發現觀照的目標和觀照的心突然止息就像燭火被吹滅。
       <br/>
       &bull; 我感到就像從觀照的目標和觀照的心脫離，就如從黑暗進入光明。
       <br/>
       &bull; 我感到從觀照的目標和觀照的心逃離，就像從晦暗進入明亮。
       <br/>
       &bull; 我發現觀照的目標和觀照的心二者沉沒，就像它們沉入水中。
       <br/>
       &bull; 我發現觀照的目標和觀照的心二者突然停止，就像衝刺的運動員被從正面推回。
       <br/>
       &bull; 我發現觀照的目標和觀照的心二者突然消失。
      </strong>
     </p>
     <p>
      <strong>
       Q57: Venerable Sir, by allowing a yogi to listen to the talk on the progress of insights, are you confirming that he or she is a Sotapanna ( who has reached the first stage of enlightenment)?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        57
       </strong>
       <strong>
        ：允許禪修者去聽觀智次第的開示，是您印證他
       </strong>
       <strong>
        /
       </strong>
       <strong>
        她是初果了嗎？
       </strong>
      </strong>
     </p>
     <p>
       No, not at all. We never make judgments of one's spiritual status. When we are sure, however, that a yogi is good enough at practice, we allow him or her to listen to the talk given by one of our meditation teachers, expounding on how the insight knowledge advances up to the enlightenment of magga and phala. The purpose is to help a yogi to be able to decide his or her spiritual level by checking his or her own experience with the talk given. Moreover, this will offer him or her a chance to enjoy his or her achievement and give encouragement to work harder for further development. It is not for us to decide what level of enlightenment he or she has attained. So, it is simply a misunderstanding that we confirm that a yogi is Sotapanna by allowing him or her to listen to that talk.
       <br/>
       不，根本不是。我們從不判斷一個人的心的狀態。然而，當我們確信禪修者修得足夠好，我們會讓他/她去聽我們禪師講解觀智如何進階到證悟道果的開示，其目的 是使禪修者能夠通過對比自己的經驗和開示判斷自己的水平。再者，這會給他/她機會對其成就生起喜悅并激發他/她更加努力以獲得更多進展。不是我們去決定禪 修者證了幾果。所以，以為讓禪修者去聽那樣的開示就是我們印證他/她證了初果，這純粹是誤解。
      </strong>
     </p>
     <p>
      <strong>
       Q58: Venerable Sir, it is, some say, unreasonable that a meditation teacher is unable to confirm that so and so yogi among his students becomes Sot&amacr;panna. Is that true?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        58
       </strong>
       <strong>
        ：尊者，有些人說，禪師不能印證他的學生中某某某是初果是不合理的，真是這樣嗎？
       </strong>
      </strong>
     </p>
     <p>
       Yes, it may be unreasonable from their point of view, but it is very appropriate to S&amacr;sana tradition that a meditation teacher is not able to confirm that so and so person among his yogis becomes Sot&amacr;panna. The Buddha is the only one in this position to confirm someone's enlightenment such as sot&amacr;panna, sakad&amacr;g&amacr;mi, an&amacr;gami or arahat. Even Venerable S&amacr;riputra never did it that way. So we never do this way, either. This is the appropriate way in the S&amacr;sana tradition.
       <br/>
       確實從他們的觀點看是不合理，但是禪師不印證他的學生中某某某是初果卻非常符合佛教的傳統。佛陀是唯一有資格印證他人證果如初果、二果、三果、四果的人，即使舍利弗尊者也沒有這樣做過。所以也我們從不這樣做。這是符合佛教傳統的。
      </strong>
     </p>
     <p>
      <strong>
       Q59: Venerable Sir, how many people do you believe to be enlightened under your guidance?
       <br/>
       <strong>
        問
       </strong>
       <strong>
        59
       </strong>
       <strong>
        ：尊者，您認為有多少人在您的指導下證果？
       </strong>
      </strong>
     </p>
     <p>
       I believe there are thousands of people who have reached, within a week, the insight knowledge distinguishing between mind and body from one's own experience by practicing strictly as instructed and arousing strong concentration. And also, there are thousands of those who experience mind and body interacting and constantly changing; i.e., cause and effect, and impermanence, suffering and egolessness of the phenomena. And also, there are thousands of people who are believed to accomplish Magga, Phala enlightenment afterthey have developed mature insight knowledge by observing mind and body moment to moment.
       <br/>
       我認為，成千的人在一週內達到名色分辨智，他們嚴格按照指導用功并生起了強的定力，親自體驗了這一觀智。也有成千的人體證了身心相互作用和不停的變化，即因果和諸法的無常、苦、無我。也有成千的人被認為通過剎那剎那地觀照名色培育了成熟的觀智，成就了道果的證悟。
      </strong>
     </p>
     <p>
      <strong>
       Q60: Venerable Sir, what is a yogi expected to be aware of, when he or she is walking, noting &ldquo;right foot, left foot,&rdquo; or &ldquo;lifting, pushing, and dropping?&rdquo;
       <br/>
       <strong>
        問
       </strong>
       <strong>
        60
       </strong>
       <strong>
        ：尊者，禪修者在行禪時觀照&ldquo;左步、右步&rdquo;或&ldquo;提起、推前、放下&rdquo;時應該觀照什麽？
       </strong>
      </strong>
     </p>
     <p>
       The sensation in the foot or body of a yogi is what he or she is to be aware of. In technical terms, vayo-dhatu, the air-element characterized by stiffness, pressure, motion or vibration; tejo-dhatu, the fire-element characterized by temperature: cold, warm or hot; pathavi- dhatu, the earth-element characterized by hardness, softness or smoothness. But, especially vayo-dhatu is prominent to observe most of the time.
       <br/>
       禪修者腳部或身體的感覺是他/她應該覺知的。用專門術語來講，就是：風元素，其特徵為緊繃、 擠壓、運動或振動；火元素，其特徵為溫度的冷、暖、熱；地元素，其特徵為堅、軟、柔滑。但風元素最為顯著，是大多數時候的觀照對象。
      </strong>
     </p>
     <p>
      <strong>
       From &ldquo;An Interview with Mahasi Sayadaw&rdquo;
       <br/>
       Prepared by Tha-ma-nay-kyaw, November 17, 2001
       <br/>
       Translated by Hla Myint Kyaw, January 21, 2002
       <br/>
       原文出自《採訪馬哈希尊者》
       <br/>
       由達瑪奈覺整理，2011年11月17日
       <br/>
       緬譯英 拉明覺，2002年1月21日
       <br/>
       英譯中 湯華俊 2014年1月12日 （英文版由馬哈希內觀群的李偉德賢友提供並請求翻譯）
      </strong>
     </p>
    </div>
    <footer>
    </footer>
    <!-- /.block -->
    <!-- /.region -->
   </baselayout>
