---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="培養正確的修行態度">
<p>
           你內心抱持什麼態度禪修，會深深影響你禪修的結果。一個好的指引是“‘四不’基本原則”，‘四不’是指：
          </p>
<p class="rtecenter">
           不評判
          </p>
<p class="rtecenter">
           不期待
          </p>
<p class="rtecenter">
           不比較
          </p>
<p class="rtecenter">
           不抱怨
          </p>
<p>
           重點是知道在禪修期間，你不是在創造什 麼現象或想使什麼事發生（貪），不是在避免任何好或壞的體驗（瞋），也不是要忽略某些體驗（癡）。禪修時，無論什麼生起，你只是單純地注意它們，然後輕柔 地將你的注意力帶回你的禪修所緣，對初學者來說此階段是指呼吸時腹部起伏。有些禪修方法以進出鼻端的呼吸為所緣，但這個網站所教的內觀方法建議以腹部的起 伏為所緣。
          </p>
<p>
           在培養正確的修行態度這章節，我們推薦下列資料供學習：
          </p>
<div>
<ul>
<li>
<a href="/assets/rightattitudeHan.pdf">
              正確的修行態度
             </a>
             －－　史歐明（烏▪德旃尼亞；雪吳敏）禪師　著
            </li>
<li>
             禪修的態度－－《佛教禪修直解》第四章　德寶法師著（《佛教禪修直解》：
             <a href="/assets/Mindfulness_in_Plain_English_Han.pdf#page=29">
              繁體 PDF
             </a>
             ；
             <a href="/assets/Mindfulness_in_Plain_English_Han-smpf.pdf#page=29">
              簡體 PDF
             </a>
             ）
            </li>
</ul>
</div>
<footer>
</footer>
<!-- /.block -->
<!-- /.region -->
</BaseLayout>
