---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="近行定與安止定">

<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>慈濟瓦法師講</p>
<p>鄭栢青譯</p>
<p>　　按：慈 濟瓦（Sujiva舍棄我）法師是一位馬來西亞籍佛教上座部比丘，獻身于佛法內觀的教導。法師在1975年完成大學學業不久後，就出家。在修習的過程里， 受教于多位禪學師父，包括班迪達大師（Sayadaw U Pantida）。自從80年代的早期，駐錫在寂樂苑Santisukharama）教導內觀迄今已有15年。本文原是1993年1月法師于馬來西亞 Kota Tinggi的演講，並經菩提色拉（Bodhisara）比丘整理，刊載于〝Vipassana Tribune〞，1996.7. Vol.4。</p>
<p>　　前些日子，我們提過四念處，佛陀告訴比丘們，勤修正念，並以達成禪那（jhanas）。從這里，我們將談談寂止禪（samatha奢摩他）和內觀（vipassana 毘婆舍那）的修行，以及如何培育觀智，而最終從輪回中得到解脫。</p>
<p>兩種禪修方法</p>
<p>　　有兩種禪修方法：第一種，稱為止觀禪 法。修習者先以專注或寂靜的修習做基礎，意思是他們修習純寂止禪如遍處〔kasinas visualisation〕）、不淨觀，在《清淨道論》里列了四十個起觀對象，他們通常修習到至少達到近行定（upacara samadhi）或達到某一禪那，即安止定。當他們達到此定力後繼續向前，修習內觀。</p>
<p>　　第二種稱為純觀禪法（suddha vipassana yanika），即純內觀修習法，這類修習者不經由純寂止禪的修習，既不進入近行定，也不進入安止定，修習者直接進行觀照（Contemplation） 心與身，從這里修成內觀剎那定，這種定力相當于近行定，依此定力，也能證得道與果（magga-phala），即開悟。</p>
<p>　　另外還有一類，止與觀共同發展，修習者 不單獨修成其中任何一種，而是交替的修習，端視哪一種更為合適。通常情況下人們談論前兩種禪法：即止觀禪法和純觀禪法。你可發現以上兩種禪法，佛陀都曾教 導過，可在三藏經典里找到這些教導。對有些人，佛陀教導在修內觀之前修寂止禪，對其他一些人，他教導直接修習四念處，而不經由禪那。有許多上述的例子，可 在三藏經典找到。</p>
<p>　　假如你問該修哪一種，按理說你知道得更 清楚。最好是你知道所有四禪八定以及所有道果，但這通常是不可能的。第一點，你必須找到一位合適的老師，他能教導你所有這些。第二點，你要有時間去實踐。 同時還有不同的修法。有時候，你能夠修一段時期的內觀，就像我們在此修的一樣，爾後，在合適的時間也修習純寂止禪。有些人發覺，內觀已經夠好了，這意謂 著，他們持續修習且獲得進展。而他們全然不需修寂止禪。某些人發現，在修習內觀之前，需要在某種程度上修寂止禪，但是最終他們還是必需經由內觀而獲得開 悟，無論何種情況，你要多修習，多花時間。</p>
<p>　　當然馬哈希禪法的傳承，是強調內觀的， 並非這些老師不懂寂止禪。從我在緬甸修習了解到，有許多老師可以教導四十種寂止禪業處，多年以前我在那里的時候，我問他們：「為何你不教我寂止禪？我也想 學習寂止禪。」他們回答我說：「內觀更重要，當你成就內觀，而後你可修習任何寂止禪。」理由是，絕大多數的人，沒有那麼多的時間去修習各種禪定，即使你是 一位比丘，你也沒有全部的時間去修習，你會牽涉其它事情。重要的是，在佛法住世期間，我們要盡可能的學習內觀。據我們的了解，內觀密集禪修建立起的定力會 持續很長時間，因此，這里只強調內觀。況且一般在家人比出家比丘更少有時間，所以他應修習最重要的。同時依照我們的了解，要成就寂止禪，是非常的困難。此 外，如果你要成就寂止禪可能需要相當時間，而且禪修業處必需適當，你也須有這方面的潛在能力才行。</p>
<p>　　現在，我們來談禪那的主題。當我們提到禪那，不必意謂著單指發生在純寂止禪的奢摩他等定境，它也可指內觀禪的禪定經驗。所以有所謂的奢摩他禪那，這種禪那或禪定發生在純寂止禪中，以及內觀禪那，另一種禪那或禪定，它發生在內觀中。</p>
<p>禪那的定義</p>
<p>　　對于禪那的一般概念是什麼？禪那普遍的解釋是：固著于目標上的強力專注。這里，我們引用馬哈希法師所著的《法輪》（The Wheel of Dhamma）一書中所說的：</p>
<p>　　</p>
<p>　　「禪那的意思是，以固定的注意力密切觀 察一個目標。集中的專注于一個選定的禪修目標如呼吸以培養寂止禪，會生起奢摩他禪那﹔然而，注意心和身的自然特征，觀照他們的無常、苦和無實質性，則生起 內觀禪那。有兩種禪：奢摩他禪那與內觀禪那。固定的專注，發展趣入寂止者，稱為奢摩他禪那。觀照三相則成為內觀禪那。也有三種三昧（samadhi，或稱 為定）：剎那定、近行定和安止定。」</p>
<p>　　另外一本班迪達法師（Sayadaw U Pandita）的著作中指出，禪那就好像心黏著在目標上，就像是拿一根細木棒去刺穿一片樹葉，或者粘住某個柔軟的東西，移近看看它是什麼。因此，當心固 定于一個目標時，它像穿透目標，趨向它，黏住它。這是禪那的特性，這是一種固住的、深的定。</p>
<p>　　端視你如何的使用它，禪那指謂不同的東西，就像你說到定，就有正定與邪定，它一樣是定，只是有不同的經驗。</p>
<p>　　首先根據經典，我們看看一般所說的奢摩他的意思以及它如何生起。寂止禪可分為兩種定：一種是近行定，另外一種是安止定。在這里禪那和三昧是同一個意思。「安止」的意思是固住不動的定，意即心與目標合一，「近行」的意思是接近，意即接近安止定。</p>
<p>近行定</p>
<p>　　我們需要了解，近行定的範圍是很廣的， 很廣的層次存在于近行定，它涵蓋了許多的經歷體驗，隨著不同的目標而有不同的體驗。一般而言，當一個人達到了近行定時，五蓋就被抑制住了，就是說當定力達 到這個層次，貪、瞋、昏沉睡眠、掉舉、疑不會升起。當定力達到這個階層，五蓋被推到一邊（雖然他們在出定後，又會回來），這樣我們可以說，已初入近行定。 因為推離染著或覆蓋的功能獲得滿足，假如你想進入內觀，你能夠以敏銳且平靜的心去觀照。</p>
<p>　　當五蓋被推到一邊或是被抑制住了，這並 不表示已達到近行定的最深層。在這一刻前後，時而仍然聽到聲音的來、去。此刻仍有些身體的形狀概念。比方說：假如你在觀照出、入息，達到五蓋不存在，心很 清晰且安寧，在這階段里，你仍有身體的形狀概念。當聲音來時，你仍聽到他們，雖然可能不響亮。或有時很響亮，有時模糊不清，這是低階的近行定。</p>
<p>　　但是你可以進一步提升定力。當你說近行 定已接近入定（absorption）了，不意謂近行定是弱的，而是可以很強。例如，一個人或是觀照出、入息，或是內心吟誦〝itipiso…〞或是作慈 心觀散布慈愛給某人，一段時間後當以正念，以慈悲觀，以察覺的心去修習，他的心將愈來愈寧靜，當心變得愈來愈寧靜，他會忘掉其余的一切，心變得很柔軟、很 寂靜、很專注，在一些時候會變得很光明，他會忘了他的身體，他全然不感覺到他的身體的存在，也全然聽不到聲音，他只知道心安寧且平靜，安住于呼吸上、或送 慈心給某人、或一種視相（visualisation）上，如光明。心沒有移動，心很安寧，很平靜，他不能聽到任何聲音，他也不知道他在哪里，但他知道他 是在專注于目標，假如他想要思考，他能夠思考，假如他不想思考，他也能夠不思考。通常在這一階次，心就像漂浮著，像半醒半睡狀態，但它又不是真正的睡著 了，這種平靜的狀態構成了近行定。</p>
<p>　　因此，在定的發展過程中，在達成近行定 之後，五蓋被置于一邊，但你仍須在提升定力方面走很長的路，才能達成真正的入定正受，即所謂的安止定。以某些目標為觀照對象，你可以看得很清楚，它們變得 愈來愈細微。舉個例，入初禪之前的近行定與入二禪之前的近行定，兩者都是近行定，但卻有不同的體驗。同樣入三禪、四禪之前的近行定，也是不同的經驗。定力 會愈來愈細致且平靜，目標也愈來愈細微。所以我們可以經歷不同層次的近行定。</p>
<p>　　我們以修習遍處禪的目標為例，如色遍、 地遍等等。比如有人修持水遍，涉及水在心中觀想水的相。在達到入定之前，會升起「禪相」（nimitta），一種內心的相，稱為「取相」（Uggaha nimitta），取相是「抓取的目標」，意思是它直接復制你所見的水相。當你能做到這點，你的心已經很平靜了，通常在這階段，你不能想這想那的，這是因 為當你想這想那的同時，你不僅看到了水，也同時看到其它東西了，你可能看見魚在水里游，甚至看到蟲在里面動，有時你可看見你的朋友在水里游泳。假如你的欲 念升起，你甚至看到婦女在水里游泳，你可清晰的看見她們。</p>
<p>　　當你有取相，你可清楚的看見水相，但水 可能在流動，你看見水在動，而心與水合而為一，就如同心為水，水為心一般，而且它會流動，這時還沒有接近喜樂專注（blissful absorption），仍有些距離，但心幾乎能與水合而為一，並且黏著在水的表面上，你不能夠想任何東西，你沒有身體的概念及任何東西。你聽不見外界的 聲音，你也無法知道你在哪里，這時的相稱為「取相」，抓取的相。它是近行定，但還不是個很接近禪那的境地。從這里你會明白，即使還未達到接近禪那的程度， 寂止禪的定力會很深了。</p>
<p>　　如今如果一個修持水遍處觀的人，當取相 升起時，心與相是一體的，心是水，水是心那般，這時的心還未完全靜止，還會移動。這意指是心的水、是水的心仍在移動。此時你會發覺，這有點像內觀的經驗， 可是又不完全相同。另外的例子，當我們做風遍處觀，達到這階層時，心就像風，風就像心，心能夠移動，如同風會吹動，有點像內觀的上升與下降的觀照，風吹上 升與下降，但是如果你夠敏銳的話，你知道那是不同的體驗。</p>
<p>　　當你繼續進步定力深化，任何伴隨移動的 目標將會停止，是水的心和是心的水將變得非常靜止，非常清澈，完全的透明，非常明亮，在這點上的心，將達到一個極清澈，極明亮的階段。有時發生興奮的波 動，定力就被打破。在這點上的心，進入所謂的「似相」（patibhaga nimitta）即“鏡像”，非常的純化，現在更接近喜樂專注，初禪。但仍未進入。</p>
<p>　　你會發現近行定的發展達到初禪之前的狀 況，與第三、四禪之近行定不同的是它的細致程度。例如，當趨向初禪，它像水流動，水是心，心是水，然而，正要進入初禪前，水可能像清澈的圓池水，但如果趨 向更高階禪定，它會發生在更微細階段，它不只是流動的水，而且是非常細的小水珠，像霧狀，漂浮著，在禪那正受之前，目標變得更細，針點狀的水珠，並且可覺 知這些水珠的潮濕感，它是如此非常非常的細微，而心也愈細且愈輕安。</p>
<p>　　近行定能夠持續長時間，你能坐上數小時，似乎有些人能坐上數天，但它仍然只是近行定。在寂止禪里，你得到很平和且很好的體驗，這是無疑的。沒有人說寂止禪不好，只有贊嘆寂止禪。不過只有得當的學習它，否則它可能帶來某些困境。</p>
<p>　　在近行定的層次里，因為它是如此的平 和、安靜、幸福、愉悅，許多事情可能發生，並且因為不是像安止定那樣那麼固定不動，它有時會斷一下，因為如此平和，可能滑入睡眠。例如，有一次當我修習寂 止禪，心非常的靜且我知道我正坐著，我想我已坐了五分鐘而已，並且所有的時間內都是察覺的，但當我轉身去看時鐘的時候，它已經過了好幾小時了。或許是坐得 很平和，或許墮入睡眠狀態。有時是如此的平和，而心是如此微細，以致察覺或不察覺已沒什麼不同的了。它就像你僅僅闔眼一會，而已經過了數小時之久。像這一 類的寂止禪，非常容易滑入睡眠，而實際上你是進入非常非常深的睡眠，而當你出定後，如果你不仔細的話，你可能甚至想，那是涅盤，因為你可能說，它什麼都滅 除了，有些像你曾入空（void），那兒什麼都沒有，或者，你可能想它是禪那，初禪，但實際上是睡著了，睡眠並沒有什麼錯，僅僅當你開始黏著它，而後問題 來了。</p>
<p>　　除睡眠之外在這里有其它事情會發生。譬 如，這時可能有強烈的喜悅，使你感覺像在漂浮，巨大的喜樂和輕安感包圍你的身與心使其似乎都消失了，當你恢復意識後，你可能回顧，噢！你已經入過一個非常 和平又幸福的境界。這不是禪那，這仍是一種近行定，一種完全包圍你的喜悅或幸福感。再說一次，假如你不仔細分辨，你會執著它，以為是涅盤或禪那定境，幸福 感或和平感並沒什麼錯，僅僅當你執著生起時，問題跟著來，而一個人非常容易去執著像這類的事情。</p>
<p>　　在這種近行定中，對某些人和某些方式的 禪定，許多相會生起，它們被稱作“影像”或“形象化之像”。可能是以前你見過的東西，也可能是無意義的，也可能是所謂的前世的事物，可能很精彩。但通常目 標很清楚，因為心很寧靜、很和平，特別在初始階段，他們很清晰而美好，事實上，當中有些可能是真的。但是沒有經驗的人，不能分辨得如此清楚，因為這種定還 未達真正有深度，細小的、微妙的煩惱伴同影像迅速升起，而如果你開始去執著它，「我有超能力」、「我有天眼」、「我能看到我的過去生」、「我過去是印度的 王」、「我過去是中國皇帝」，而後麻煩就來了。假如你不去執著，那麼這些只是內心的影像的升起，沒什麼錯，它們會來來去去，它們只是從各處來的印象而已， 但是只要一執著，或者恐懼升起，這些影像就不停止，他們將持續而來，最終你會陷入全然的幻覺。所以你入寂止禪，絕勿去攀染這些，直到你能完全控制你的心， 能百分之一百確定這些影像是真、是假，從這里你可看到，近行定並非只是單純的經驗，而是確實涵蓋很廣的經驗。</p>
<p>安止定</p>
<p>　　當定的發展夠深，而達到專注于一境時， 會進入所謂的安止定，喜樂的專注或固定的專注。當這發生時，心會改變，進人一個不同的階層，稱為色界，這是禪那界，這類型的心是完全切斷我們的看、聽、 嗅、嘗、觸等覺受，事實上，也切斷正常形態的想和警覺。它曾被某些人描述為，如同一種熟睡的狀態，但是他們很清楚的知道，心如何沉入目標得到完全的專注， 一旦心專注的進入目標，這時他們是完全的無知覺意識的，然而當他們從這種狀態出來的時候，他們將會知道剛才心的狀態特征以及所專注的目標。甚至假如你進入 初禪一秒鐘，你將會知道這一秒鐘你是處于完全的無意識狀態，只有當你從這定境出來時，你才警覺在這一秒鐘待在充滿喜悅狀態的禪那境地里。即如你進入半秒， 你知道這半秒內，你是完全的被切斷于整個欲界之外的，只有當從這半秒鐘的定境出來時你才知道心的狀態是如何。</p>
<p>　　當你進入禪定正受，這里發生完全不同階層的意識狀態。因此，假如你正在禪修，你可能忘了身體的形態，無念頭，心很靜，且充滿喜悅，這仍不是安止定，不是初禪，但這並不意謂這是壞的境界，心仍處于好的且和平的狀態。</p>
<p>　　很清楚在定中你有正念。出定後遲早你會 知道目標的性質，因為入定意即你的心沉入此目標。當心全然沉入目標時，你知道目標是什麼！當然有某些類型的寂止禪目標是非常抽象的，而當你初入禪那，它們 可能不是很清楚，因為它們是很抽象的目標，只能持續很短的時間，但當你經常的進入並上到第三或第四禪，它們也會同樣清楚。</p>
<p>　　某些禪定，像遍處觀、呼吸禪，在入定之 前這些目標很清楚而且明亮，而你入定所緣的目標還是很清楚。就像水遍處觀在初禪正受之前的近行定，是一泓完全清澈、靜止的池水，當你進入專注正受即（初禪 正受），它就像滲透進入水中，如同你跳水最後停留在水里。你在水里你不知任何事情，但一旦出了水，你知道心是如何的狀況，你在水底下是如何，所以可以說出 來這是非常清楚而且充滿喜悅的經驗，但只有在你從定境出來以後，你才知道如何的清楚與喜悅。</p>
<p>　　就這些類型的寂止禪而言有四種色界禪 定，即四個層次，每一個都有不同的特性。在經中很清楚地說到，禪那的差別在于禪支的不同，而禪支被稱作禪那要素。這些禪支是心所，是呈現于相應的禪或定中 的特定心理狀態，它們起著重要作用。比如說在初禪里，這些要素包含：尋、伺、喜、樂、一境性。「尋」是把心最初投到目標上，是把心帶向目標的力量，這是一 種心的力量﹔「伺」是繼續保持在目標上，是一種把心維持在目標上的力量。這也是一種心的力量，象似一種能量﹔「喜」是欣喜或感興趣﹔「樂」是很愉快的感覺 ﹔「一境性」是心指向單一目標的狀態，這就意味著此時心與目標好似合而為一。這些呈現在初禪中的心所起著重要作用。</p>
<p>　　但不意謂著，你具備這五個因素，你就在 初禪里。甚至你都不在任何定，這五個精神因素都已經具備了。當你想到食物，你想到你最想念的檳城米粉（Penang Laksa），同樣有這五個因素呈現在這里。因為心跑去米粉，它會停在那里想：「假如我有米粉多好！」而後，當你想到米粉，你已經享受「當我有米粉多好， 我要自己享用它。」而你感到非常愉快。而你的心也確實如同你能嘗到米粉似的，此時五種因素都具備。但它更像邪定、貪婪。</p>
<p>　　你必須知道五個禪支是什麼才會了解各種 禪定，至少你須知道一些阿毘達摩，你才能有較清楚的概念。這五個因素其實是描述一種意識狀態，一種心的狀態，當你知道什麼因素的呈現，你就知道在什麼禪里 了，例如：在初禪里，你有全部五個因素的涉入。在第二禪，你沒有尋及伺，僅有喜、樂、一境性，在第三禪，僅有樂及一境性，在第四禪，只有舍及一境性。從這 些敘述，我已經給這些定一些說明，當你進入禪那，你絕對不能知道它，當你入定時，就像你已在熟睡中，你是在比熟睡還深的狀態中，所以在定中怎能知道它？只 有在你入定之前，你知道，因為在你進入之前，心會清楚哪些因素會強些，哪些因素會弱些甚至消失。或者在出定之後，透過適當的決意來反觀這些呈現的因素。我 們將不討論這部份，因為這不是我們討論的主題。</p>
<p>辨別禪那以防邪見</p>
<p>　　我想講的是給你們一個關于純寂止禪的近 行定和安止定是什麼的清楚概念，這里我們談到初禪、第二、第三、第四禪為寂止禪。依照我們的經驗，某種程度的了解是很重要的，因為缺乏這些了解，邪見會升 起，你可以在《梵網經》這部經里看到，關于邪見的敘述，大量的邪見不是透過思考或哲理而來，他們多數來自禪定經驗。因為人們執持他們的禪定經驗，就如同這 些是真實而美好的，然而事實是非常的錯誤。它會升起各種形式的邪見。例如其中一個叫做dittha dhamma nibbana vada, nibbana（涅盤）你們了解，dittha dhamma 是「見法」或「現前」，vada是「說」，這是認為「當下即涅盤」的見解。例如：一個人執著了禪那就是涅盤，那他就走入邪見。當然，沒有人能同他爭論。因 為他想：我有此經驗，而你沒有。某些時候入了定，好像進入空（void），目標變得微妙，假如沒有合適的老師的話也是非常容易墮入邪見。即使在入定之前， 也可能經歷許多可能被誤解的微妙的境界。</p>
<p>　　所以今晚的談話，是給你們一個概念，如 此你們不會去執著這些經驗，假如你們不能分辨近行定與安止定，也很容易使你誤解，什麼是涅盤，什麼不是涅盤，因為涅盤是比禪那還要深奧、不可思議。例如， 當有些人修習禪定而每個人開始說：「我已達初禪、第二禪、第三禪、第四禪，這是道果智，那是道果智」。我們不說他們是錯的，因為我們不確實知道他們的經驗 是什麼。但事實是，他們說所有這些事情如此的容易，並且如此的快樂。明顯的是，執著已經造成了。</p>
<p>　　而且你可以看到，任何時侯，當他們提及它時，他們是非常的引以為傲。假如他們確是執著邪見，那就更不好。我們希望這些不會發生在此地的佛教徒。</p>
<p>　　假如一個已經如實的修習過這些禪定的 人，他將會知道，不容易知道是否某人已達這個禪那或那個禪那，這個道果智或那個道果智，一個智者應該很保留這種論述。因此，假如某人太隨意說這些事，我們 不直接說他是錯的，我們說：要小心的跟隨他，你可能走入邪見。（本文承Sujiva法師過目，謹此感謝法師。並迥向有緣同修，法喜充滿，共證菩提。） (《嘉義新雨雜志》第19期) (此處的版本是湯華俊2013年校對后的版本)</p>
</div></div></div> </div>
<footer>
</footer>
</div>
</div> <!-- /.block -->
</div>
<!-- /.region -->
</BaseLayout>
