---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "進入禪定的第一堂課：超越觀呼吸",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout
  title="進入禪定的第一堂課：超越觀呼吸" description=""
>
  
<div>
<div>
<h3>
<strong>
              Beyond Mindfulness In Plain English
             </strong>
</h3>
<h2>
<strong>
              簡介
             </strong>
</h2>
<hr/>
<strong>
             （取材自：
             <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/products/0010548590">
              博客來網站
             </a>
             及台灣最老的書店-
             <a href="https://web.archive.org/web/20221208062705/http://www.theregentstore.com/main.php?fid=04&amp;page_name=product_detail&amp;prod_id=85918">
              瑞成書局
             </a>
             。）
            </strong>
</div>
<div>
<ul>
<li>
<strong>
               作者：
               <a href="https://web.archive.org/web/20221208062705/http://search.books.com.tw/exep/prod_search.php?key=%E5%BE%B7%E5%AF%B6%E6%B3%95%E5%B8%AB&amp;f=author">
                德寶法師
               </a>
</strong>
</li>
<li>
<strong>
               譯者：
               <a href="https://web.archive.org/web/20221208062705/http://search.books.com.tw/exep/prod_search.php?key=%E6%96%BD%E9%83%81%E8%8A%AC&amp;f=author">
                施郁芬
               </a>
</strong>
</li>
<li>
<strong>
               出版社：
               <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/web/sys_puballb/books/?pubid=hsiangshu">
                橡樹林
               </a>
</strong>
</li>
<li>
<strong>
               出版日期：2012/06/22
              </strong>
</li>
<li>
<strong>
               語言：繁體中文
              </strong>
</li>
</ul>
</div>
<div>
<strong>
<a id="IntroP00a400020009" name="IntroP00a400020009">
</a>
</strong>
<h3>
<strong>
              內容簡介
             </strong>
</h3>
<strong>
</strong>
<div>
<div>
<p>
<strong>
<strong>
                 繼暢銷書《平靜的第一堂課──觀呼吸》之後，
                 <br/>
                 德寶法師又一經典之作，帶領你親身體驗禪定的感受，
                 <br/>
                 享受深度專注所帶來不可思議的心靈平靜！
                </strong>
</strong>
</p>
<p>
<br/>
<strong>
                德寶法師的第一本書《平靜的第一堂課──觀呼吸》，已是廣受世界各地讀者歡迎的暢銷書。十年後的今天，德寶法師將幫助禪修者進入正念禪修的下一階段──「超越」正念分明。
                <br/>
<br/>
                德寶法師以溫馨、清晰、友善的語調，將幾世紀來所謂的「禪那」（jhanas）介紹給讀者。「禪那」是指深刻的平靜、喜悅、強而有力的禪修狀態。在這本清楚易懂、條理分明的禪修手冊中，德寶法師細述了修習禪那的步驟、會遇到的障礙，以及獲得禪那的利益。
                <br/>
<br/>
                跟隨德寶法師的腳步，我們會知道如何把心聚焦在呼吸上，獲得深度專注；也知道當障礙生起時，要如何克服；修習一段時間之後，我們會更進一步學到怎樣延長 專注的時間，讓心和呼吸融為一體，成為純粹的專注。德寶法師已幫我們把專注禪修的途徑鋪陳出來，只待我們努力去修習，便可獲得一個具有內觀洞見及無可撼動 的祥和人生。
               </strong>
</p>
<p>
<strong>
<strong>
                 作者簡介
                </strong>
</strong>
</p>
<p>
<strong>
<strong>
                 德寶法師 Bhante Henepola Gunaratana
                </strong>
</strong>
</p>
<p>
<strong>
                12歲時於斯里蘭卡剃度為佛教僧侶，20歲時於康提受具足戒。畢業於昆巴哈的維迪雅錫卡拉專科學校、凱拉尼雅的維迪雅蘭卡拉學院，以及可倫坡的 佛教弘法學院。之後他到印度進行為期五年的弘法工作，在桑奇、德里與孟買服務賤民。接下來十年，他在馬來西亞弘法，擔任佛教協會以及馬來西亞佛教青年會的 宗教顧問。
                <br/>
                1968年，德寶法師在塞瓦迦佛學會的邀請下擔任華盛頓佛寺協會的主任秘書，並於1980年被任命為會長。在1968至1988年任職佛寺協會期間，他除了教授佛法課程外，亦指導禪修閉關，並到世界各地巡迴演講。
               </strong>
</p>
<p>
<strong>
                德寶法師也持續從事學術研究，取得美國大學哲學博士學位，並在美國許多著名大學教授佛學課程。他寫的書籍與文章已在印度、美國、斯里蘭卡與馬來 西亞等地出版。《平靜的第一堂課──觀呼吸》已被翻譯成多種語言，中文版由橡樹林文化在2003年出版；該書的泰文節譯版本更被選為全泰國高中課程的教 材。
                <br/>
<br/>
                2000年，德寶法師獲得母校維迪雅蘭卡拉學院頒贈終生成就傑出獎。
               </strong>
</p>
<p>
<strong>
<strong>
                 譯者簡介
                </strong>
</strong>
</p>
<p>
<strong>
<strong>
                 施郁芬
                </strong>
</strong>
</p>
<p>
<strong>
                教育科技博士，曾任教於淡江大學，近年來辭去教職，致力於佛學研修及翻譯。譯作有《祈禱的力量》《慈悲與智見》等（以上皆由橡樹林文化出版）。
               </strong>
</p>
</div>
</div>
<strong>
</strong>
</div>
<div>
<strong>
<a id="CategoryP00a400020009" name="CategoryP00a400020009">
</a>
</strong>
<h3>
<strong>
              目錄
             </strong>
</h3>
<strong>
</strong>
<div>
<div>
<p>
<strong>
                目錄 自序
               </strong>
</p>
<p>
<strong>
<strong>
                 第一章 專注之道
                </strong>
<br/>
                你需要多少信心？
                <br/>
                為什麼深度專注是重要的？
                <br/>
                以佛陀為榜樣
                <br/>
                禪那的路線圖
               </strong>
</p>
<p>
<strong>
<strong>
                 第二章 定與禪那
                </strong>
<br/>
                我們如何做到？
                <br/>
                禪那是什麼？
                <br/>
                正定與邪定
                <br/>
                定和念
                <br/>
                正知
                <br/>
                禪那的利益
                <br/>
                禪那的潛在陷阱
               </strong>
</p>
<p>
<strong>
<strong>
                 第三章 準備修禪那
                </strong>
<br/>
                持戒
                <br/>
                知足
                <br/>
                守護根門
                <br/>
                隱退於僻靜處（獨一靜處）
                <br/>
                正念省思
                <br/>
                修行八正道
                <br/>
                念
                <br/>
                五種心靈力量（五力）
               </strong>
</p>
<p>
<strong>
<strong>
                 第四章 給自他最佳祝福
                </strong>
<br/>
                思想與行動上的慈愛
                <br/>
                對各種人培養友愛
                <br/>
                為什麼慈愛對禪那很重要？
                <br/>
                慈愛禪修（慈心觀）
               </strong>
</p>
<p>
<strong>
<strong>
                 第五章 觀呼吸
                </strong>
<br/>
                呼吸的內觀
                <br/>
                四大元素
                <br/>
                養成每天禪修
               </strong>
</p>
<p>
<strong>
<strong>
                 第六章 為什麼我們現在無法高度專注？
                </strong>
<br/>
                障礙如何壯大？
                <br/>
                專注和正念能阻止障礙
                <br/>
                克服障礙的技巧
                <br/>
                數呼吸以抑制障礙
                <br/>
                障礙如何去除？
                <br/>
                結（結縛）
                <br/>
                以禪那摧毀無明
                <br/>
                自我談話
               </strong>
</p>
<p>
<strong>
<strong>
                 第七章 修行的目的
                </strong>
<br/>
                無常
                <br/>
                為何看見無常如此重要？
                <br/>
                以內觀看見無常
                <br/>
                以禪那看見無常
                <br/>
                苦
                <br/>
                無我
                <br/>
                無我的經驗
               </strong>
</p>
<p>
<strong>
<strong>
                 第八章 各種禪那
                </strong>
<br/>
                色界禪
                <br/>
                出世間禪
               </strong>
</p>
<p>
<strong>
<strong>
                 第九章 近行定
                </strong>
<br/>
                選擇禪修所緣
                <br/>
                起始點
                <br/>
                定力增強
                <br/>
                近行定與呼吸
                <br/>
                趨近初禪
               </strong>
</p>
<p>
<strong>
<strong>
                 第十章 初禪
                </strong>
<br/>
                另一種喜悅
                <br/>
                五禪支
                <br/>
                正思惟
                <br/>
                「尋」和「伺」的重要
                <br/>
                禪那裡的「念頭」
                <br/>
                七覺支
               </strong>
</p>
<p>
<strong>
<strong>
                 第十一章　二禪及三禪
                </strong>
<br/>
                獲得二禪
                <br/>
                獲得三禪
                <br/>
                精熟於禪那（禪定自在）
                <br/>
                精熟的步驟
                <br/>
                保持禪那
               </strong>
</p>
<p>
<strong>
<strong>
                 第十二章　四禪
                </strong>
<br/>
                雙合一
                <br/>
                出禪那修內觀
                <br/>
                多樣化的平等心
                <br/>
                統一的平等心
                <br/>
                光明及所見
                <br/>
                獨一，無著，空
                <br/>
                利用四禪
               </strong>
</p>
<p>
<strong>
<strong>
                 第十三章　無色界禪
                </strong>
<br/>
                四無色界禪
                <br/>
                第一個無色界禪：空無邊處
                <br/>
                第二個無色界禪：識無邊處
                <br/>
                第三個無色界禪：無所有處（空）
                <br/>
                第四無色界禪：非想非非想處
               </strong>
</p>
<p>
<strong>
<strong>
                 第十四章　出世間禪
                </strong>
<br/>
                出世間聖道
                <br/>
                摧毀疑惑
                <br/>
                出世間聖道的階位
               </strong>
</p>
<p>
<strong>
                詞彙解釋
               </strong>
</p>
</div>
<div>
</div>
</div>
<strong>
</strong>
</div>
<div>
<strong>
<a id="PrefaceP00a400020009" name="PrefaceP00a400020009">
</a>
</strong>
<h3>
<strong>
              序
             </strong>
</h3>
<strong>
</strong>
<div>
<div>
<p>
<strong>
<strong>
                 自序
                </strong>
<br/>
<br/>
                一九七○年代，有許多老師將內觀禪修（毘缽奢那，Vipassana）帶到西方，之 後內觀便廣為流傳。內觀的其中一部分，即是現在已聲名卓著的「正念」修行。一九八○年代，有許多學生想要找一本清楚介紹正念修行的書，但他們找得到的多是 學術性的書籍，不太適合一般大眾。因此，我寫了《平靜的第一堂課－－觀呼吸》（Mindfulness in Plain English，二○○三年，橡樹林文化出版），那是一本關於正念修行的方法以及基本原則的「工具書」。那本書如同現在這本，是以明確易懂的語言寫給一般 人看的。
               </strong>
</p>
<p>
<strong>
                當「正念」、甚至「內觀」的名聲愈來愈家喻戶曉，且其修行方法也廣受注重之時，相對地，深入專注的禪修（止禪） －－奢摩他，則顯得較不受注重。事實上，大多數人認為那是一種禪修的奧運，只適合住在山洞或寺廟中的非凡人士修行，遠非一般忙於日常生活的「正常人」所能 及。
               </strong>
</p>
<p>
<strong>
                在本世紀的頭十年，大家的興趣似乎轉向了專注之道（定）。這是件好事，因為它真正是與內觀禪修、正念之道平行且相輔相成的，兩者彼此纏繞而互相 支持。兩千多年來，這兩條道路（止、觀）被編整及精確化為平行之道，這有很好的理由：它們各自管用，而且在合用時效果最好。事實上，這兩者是一體的。真相 是，佛陀並未把止、觀當作兩個個別的系統來教導。佛陀給我們的是一條禪修之道，一套能夠解脫痛苦的工具。
               </strong>
</p>
<p>
<strong>
                本書旨在提供禪修者一本清楚易懂的禪修手冊，將專注禪修的途徑盡量以步驟化的方式鋪陳出來。此外，本書也假設讀者已經讀過《平靜的第一堂課－－觀呼吸》或類似書籍，也已經開始修習正念，並準備好要更進一步－－超越正念。
               </strong>
</p>
<p>
<strong>
                關於本書的架構，在此略作說明：整本書從頭到尾，尤其在詳細談到禪那（jhanas）的部分，我引用了很多巴利經句。巴利經典是我們所保有的佛 陀直接教導之最佳紀錄。由於本書並非學術著作，所以沒有附加註腳。然而，我想感謝多位傑出的譯者：菩提比丘（Bhikkhu Bodhi）、向智尊者（Nyanaponika Maha Thera）、髻智比丘（Bhikkhu Nanamoli）、John D. Ireland，以及Gil Fronsdal，我在本書中採用了他們的翻譯。此外有些是我自己的翻譯，還有許多是出自髻智比丘翻譯覺音尊者（Buddhaghosa）所著的《清淨道 論》（Visuddhimagga）。最後一個說明是：任何研讀都有一個必要部分，就是基本詞彙。本書後面附有一個廣博而詳細的詞彙解釋，請讀者好好利 用。實際上，藉由閱讀字彙，你可以好好地回顧本書內容。
                <br/>
<br/>
                我發自內心深深感激約翰．派迪寇德（John Peddicord）慷慨地貢獻他的時間和耐心。本書猶如《平靜的第一堂課－－觀呼吸》一樣，如果沒有他密集勤奮的工作，是不可能問世的。
               </strong>
</p>
<p>
<strong>
                我也感謝Wisdom Publications的Josh Bartok提出許多有價值的建議，使本書得以完成。其他人也貢獻了他們的時間和精力，包括Barry Boyce、Brenda Rosen、Fran Oropeza、Bhante Rahula、Bhante Buddharakita，以及Bikkhuni Sobhana。我感激你們每一位。
               </strong>
</p>
<p>
<strong>
<strong>
                 德寶法師
                </strong>
</strong>
</p>
</div>
<div>
<strong>
<a id="P00a400020016" name="P00a400020016">
</a>
</strong>
<h3>
<strong>
                詳細資料
               </strong>
</h3>
<strong>
</strong>
<div>
<ul>
<li>
<strong>
                  ISBN：9789866409387
                 </strong>
</li>
<li>
<strong>
                  叢書系列：
                  <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/web/sys_puballb/books/?se=%E5%96%84%E7%9F%A5%E8%AD%98&amp;pubid=hsiangshu">
                   善知識
                  </a>
</strong>
</li>
<li>
<strong>
                  規 格：平裝 / 288頁 / 16.8 x 22 cm / 普通級 / 單色印刷 / 初版
                 </strong>
</li>
<li>
<strong>
                  出版地：台灣
                 </strong>
</li>
</ul>
</div>
<strong>
</strong>
</div>
<div>
<strong>
<a id="P00a400020008" name="P00a400020008">
</a>
</strong>
<h3>
<strong>
                內容連載
               </strong>
</h3>
<strong>
</strong>
<div>
<div>
<strong>
<strong>
                  你需要多少信心？
                 </strong>
<br/>
<br/>
                 雖然佛教和大多數的宗教頗為不同，就某方面來說，比較近 似一種實用的哲學，但我們將要探索的修行方法和教導，的確有其宗教背景，亦即上座部佛教。而你所需要做的，只是呈現潛藏內心的障礙［蓋］。所有的宗教都仰 賴於某種信心，而這其實也不過是：在心裡願意暫時接受某些你自己尚未驗證的事。對於現在這本書也是如此。你並不需要是佛教徒或帶有任何宗教意圖，才能獲得 一心不亂的專注［禪定］。任何人都可以做得到。
                 <br/>
<br/>
                 所以，你需要多少信心？你需要改信佛教嗎？你需要放棄從小到大遵循的傳統，或深切投入的理想嗎？你需要把你的理智或對世界的了解通通丟到一邊嗎？
                 <br/>
<br/>
                 絕對不需要。你可以保有你目前的觀點和思想體系，只接受你準備好要接受的，一次接受一些，而且只接受那些你真正覺得有用的。不過，你還是需要有一些信心。
                 <br/>
<br/>
                 你 所需要的信心，就和你準備讀一本好小說或進行一個科學實驗所需要的那種信心一樣。你需要「願意暫停不信」。就像做實驗一樣，我請你暫時擱置任何你可能自動 生起的反對，一直到你可以看清這條道路是否適合你，一直到你可以看清是否你能夠自己驗證，就如幾千年來世世代代如你一般的人們所驗證過的。
                 <br/>
<br/>
                 這 暫時的停止不信，就是你此時唯一需要的；但即使這樣也並不容易。我們受到先入之見的制約非常深，而且通常並不自覺。我們常發現自己反對某事，但並未真正檢 驗那個判斷，甚至不知自己已經做了那樣的判斷。而事實上，這就是我們將一起探索的專注之道的諸多妙處之一。它訓練我們看住自己的心，知道自己何時做了判斷 而且只是在起反應，然後我們就可以決定，對於那個即刻的反應，我們要接受多少。你可以完全掌握那個過程。
                 <br/>
<br/>
                 當然，這還是會有障礙。你必須能夠暫停你的不信，而且要夠深夠長，才能給專注禪修一個真正、誠實、盡力的嘗試，同時深入的成果並不是立即可見的。不要期望你能半信半疑地用功，兩個禮拜後天堂就會打開大門，神靈感應的金光會傾注在你的頭頂上。這幾乎必定會令人失望。
                 <br/>
<br/>
                 我們是在處理心裡最深處的力量，而覺悟真相很少是即刻的。
                 <br/>
<br/>
<strong>
                  為什麼深度專注是重要的？
                 </strong>
<br/>
<br/>
                 沒有智慧就沒有專注［定］，沒有專注就沒有智慧。既有專注又有智慧的人，就接近安詳和解脫了。
                 <br/>
<br/>
                 這段話中提到的智慧，有兩種不同意思。第一種是一般的智慧，是可以用語言文字來表達，即我們一般人心所了解的那種智慧。然後還有另外一種智慧，是在最深的層次了解事物，而這種了解超越了語言文字和概念。本書呈現的是第一種智慧，好讓你能夠自行尋找和發現那更高深的智慧。
                 <br/>
<br/>
                 要尋求這深入的了解，我們必須深入心的根本去探求本質。在下面這段巴利經文中，佛陀對他的主要弟子們解釋了心的本質：是什麼造成了心的疾患，而我們又該做些什麼好修正它。
                 <br/>
<br/>
                 比 丘們，這個心是光明的，但被生起的不淨煩惱所污染。未受教的凡夫們不如實了解這點，因此，對他們來說，沒有心理發展［定］（mental development）。 比丘們，這個心是光明的，但已從生起的不淨煩惱解脫。受教的聖弟子們如實了解這點，因此，對他們來說，有心理發展［定］。
                 <br/>
<br/>
                 在這段經文中提到兩次「這個心」，一次是「未受教的凡夫」，另一次是「受教的聖弟子」。然而，無論我們是一般的凡夫或是老練的禪修者，都有著一樣的心。心 的深處是穩定而光明的，但是這個光和我們一般所了解的光不同。這個心，本質上並不黑暗、陰鬱、或混亂，其基本特質中就有光，它是明亮的，充滿著閃耀、開 放、非概念的智慧和深度的安寧。
                 <br/>
<br/>
                 但我們都有著某些使它不能正當閃耀的東西。我們之中有少數人成功地去除了上文所說的「生起的不淨煩 惱」，並且獲得了「心理發展」；那些「生起的不淨煩惱」遮蔽了心，它們並非心本來的真正本質。在上面的經文中，「心理發展」指的就是本書要描述的深入專注 ［定］。佛陀說，心是光明的，但未受教的人們不知道這點。他們之所以不知道，簡單地說，就是因為他們沒有修定；而他們沒有修定，則是因為他們不知道有一個 純淨光明的心等待體驗。
                 <br/>
<br/>
                 要獲得專注，我們就必須去除一些東西，而這種必須去除的東西就叫做「煩惱」。煩惱就是染污、雜染、或不淨，是某 種弄髒了心的東西。但煩惱也像是一種心的毒素，讓心生病，許多痛苦因它而生起。但幸運的是，這些煩惱是「生起的」，是從外面加上的，而不是深心根本架構裡 的一部分。
                 <br/>
<br/>
                 所以，這些「生起的不淨煩惱」是我們必須去除的心的性質。為了獲得心理發展［定］的利益，我們必須學習：煩惱是什麼，以及如何去除煩惱。這個去除是藉由修行正念來進行，而去除不淨煩惱則導向親見心的「光明」特質。
                 <br/>
<br/>
                 聽來有趣，對嗎？
                 <br/>
                 是的。
                 <br/>
                 聽來像是件可做的好事，對嗎？
                 <br/>
                 是的。
                 <br/>
<br/>
                 但是這需要技巧。一路上會有許多陷阱，而且有很多需要學習。不過，你拿對書了！
                </strong>
</div>
<div>
<br/>
<strong>
<strong>
                  以佛陀為榜樣
                 </strong>
<br/>
<br/>
                 佛陀證悟成佛後，到了波羅奈［現今的瓦拉那西］，並 對五位苦行者［即五比丘］開示。他們五位和佛陀很熟；事實上，他們和佛陀曾一起修行自我折磨的苦行達六年之久，一直到佛陀體悟到苦行的缺失，並開始走向中 道為止。當佛陀走向五位苦行者時，他們並未對他做出任何特別的禮敬。他們只稱他為「朋友」，就像當年他們在一起時一樣。他們並不認為他是什麼特殊人物，不 曉得他已覺悟成佛了。
                 <br/>
<br/>
                 佛陀告訴他們自己的成就，以及他們現在可以向他學習了。他公開直率地告訴他們，事實上，他已覺悟成佛。但他們並不相信。佛陀看見他們懷疑，便問他們一個問題：
                 <br/>
<br/>
                 「比丘們，我以前曾經告訴過你們說我已證得覺悟嗎？」「沒有，先生。」「比丘們，只要我對四聖諦的實相，對三轉十二行相的智慧和見解沒有徹底清淨之前，我不會宣稱自己已經證得無上的圓滿覺悟。」
                 <br/>
<br/>
                 佛 陀是坦率的。他知道他自己是誰，以及自己經歷了什麼。四聖諦是他所有教導的基礎；每一聖諦都有三個階段要了解及修行，這就構成了所謂的十二行相。三個階段 就是理論、實修，以及體證。你必須先在理論上了解某件事，然後再付諸實踐，好讓你有實際的經驗，然後你才能證悟，也就是你確實看到它成真了，而那就是成 果。這是一個人藉以確認理論為真的過程。在這樣的用法裡，「體證」（realization）這個字有雙重意思：「了解」以及「最終的成就」。
                 <br/>
<br/>
                 佛陀採用這個三階段的方式來闡明四聖諦：
                 <br/>
<br/>
                 第 一聖諦是：苦存在。佛陀在深入親見之前就知道苦是真實的；那是理論。實際體驗苦的本質，則是佛陀的實修。從他自己的禪修練習裡，他了解到苦是真實人生，而 且應該被了解。佛陀在所有可知的層面上體驗了苦，並且學會如何用功來超越苦。最後，佛陀的體證變得圓滿了。他知道他可以終結他的苦了，並且他也這麼做到 了。
                 <br/>
<br/>
                 第二聖諦是：苦有特定的起因。佛陀在理論上如實地了解苦的起因。他從過去的修行引申出這個理智層面的了解，但是在經驗的層面上，他 還沒有完全體證。當他真的體證時，了解到可以藉由根除苦的起因而去除苦，將苦從根斬除。那就是佛陀的實修，他實際做到了他說應該要做的。他藉由根除潛藏的 起因，而在根本的層面上解決了這個問題。當他完全去除苦因時，即獲得了自由。那就是佛陀的體證。
                 <br/>
<br/>
                 第三聖諦是：苦的確可以止息。在理論上，佛陀知道苦可以在某處終結。當他將這理論付諸實行時，他了解到苦的止息是必須去獲得的。他得到了苦的完全止息，而這個結果就是他的體證。
                 <br/>
<br/>
                 第四聖諦是：有一條道路可以到達苦的止息。首先，佛陀在理論上發現這條道路是存在的；他發現了要獲致解脫所應該走的步驟。他將理論在生命中付諸實行，而結果就是：他可以闡明這條解脫之道，這就是他的體證。
                 <br/>
<br/>
                 這裡的重點是簡單的。你必須真的了解你所做的每一點，實際地將每一步驟付諸實行，並且在自心中實際地親見完整的成果。任何缺漏都成不了事：那究竟之事，從苦中解脫之事。然而這種解脫需要完全的承諾、非常的努力和耐心，以及投入整個過程一直到完全體證為止。
                 <br/>
<br/>
                 佛 陀給了我們法，亦即他的教法，好讓我們得以實修。他從自己的實修獲得智慧。他並非只是有了個想法，並在想法只不過是理論時，就衝出去告訴全世界；他一直等 到想法完整了──理論，實修，以及完全體證。佛陀給我們的是一個美麗的計畫，就像是一位建築師畫出建物的藍圖一樣。而就像工人必須辛勤地照著建築師的仔細 規劃來建造房子一樣，我們也必須照著佛陀的計畫來實現解脫。
                 <br/>
<br/>
                 佛陀給我們的是一個真正美好詳細的計畫，你必須確實地照著做。其他人也提出其他的計畫，從佛陀的時代一直到二十一世紀都有，但那些計畫可能行不通，它們並沒有被世世代代地測試了兩千年。
                 <br/>
<br/>
                 佛陀的計畫甚至還有保證：如果你完全照著這些開示中的指導來做，你甚至可以在七天就獲得完全覺悟。如果你不能完全去除所有的不淨煩惱，那麼你可以在七年就獲得第三階段的開悟［不還果］。
                 <br/>
<br/>
                 這就像是附加的保證。當然，在合約裡還有些額外的但書和必備條件，一些你可能不幸地破壞了保證的方式。要讓保證有效，你必須：
                 <br/>
<br/>
                 有信心，並且是對佛陀這位完全解脫痛苦及苦因的人有信心。
                 <br/>
                 有適當的健康，並且能夠忍受奮鬥的壓力。
                 <br/>
                 誠實且真誠。對你的老師以及神聖生活的友伴，顯露你真正的樣子。
                 <br/>
                 精力充沛地去除不好的心態及行為，並建立健全的心態。
                 <br/>
                 堅決專注地以決心開始努力，並不屈不撓地發展良善的心態。
                 <br/>
<br/>
                 有智慧。對於一切現象的生滅有智慧，這智慧是神聖且具穿透力的，能導致苦的完全去除。
                 <br/>
<br/>
                 這本書能夠給你理論，如何一點一點地做到這些事。至於實修和體證就要看你自己了。佛陀完全體證了四聖諦，完美平衡地結合專注和正念﹝止觀﹞而獲得覺悟。 你也可以做到這樣。
                </strong>
</div>
<div>
<br/>
<strong>
<strong>
                  禪那的路線圖
                 </strong>
<br/>
<br/>
                 要在專注之道上前進，需要練習。我們就從這裡開始， 從這個我們透過身體感官及概念思考所知道的世界開始。如果你把專注之道看作一張路線圖，你可以說我們大多從相同的地理區域開始，但每個人的位置稍有不同。 那是因為我們都有不同的人格，而且我們累積了不同比例的「不淨煩惱」，需要我們各自努力去除。我們用稍微不同的清理行動開始，把重點放在阻礙我們最嚴重的 地方，然後隨著各自的進步，我們的路線將會合到一起。我們所做的會愈來愈相似，直到我們走上同一條道路。
                 <br/>
<br/>
                 這條道路的起點，在於認出並制 服一些叫做「障礙」［蓋］的東西。障礙是負面心理作為的粗顯層面，而我們可以輕易地認出來。要做到這點，我們要獲得並經歷特定的禪修狀態，叫做「禪那」。 我在下一章會更加詳細地介紹，在此只要知道，在更高的禪那中，我們使一些叫做「結」的東西暫時失效。這些「結」是心裡面一些比較精細的因素，造成了「蓋」 的生起。
                 <br/>
<br/>
                 一旦我們暫時移開了路上的障礙，專注力﹝定力﹞就會變強。然後我們把注意力放在某些非常有用的對象上，觀察這些對象的特性，這將導致解脫自由。
                 <br/>
<br/>
                 這其實不像聽起來那麼簡單，只需1–2–3幾個步驟就好。實際上，我們可能同時做好幾個步驟。在每個方面的成功，都可以讓其他方面更加進步。
                 <br/>
<br/>
                 一直走下去之後，不斷加強的專注力會突然把我們帶到一個新的境界。感官和思考的世界退卻了，我們體驗到四個連續的階段，每個階段所體驗到的喜悅、快樂都愈來愈精細。這是「色界禪」階段。這仍在我們平常世界的領域內，只是已接近邊緣了。
                 <br/>
<br/>
                 然後是另外四個階段，那幾乎已經和我們現在所知道的世界無關了，沒有體驗過這種特別禪修狀態的心是無法知道的。這些是「無色界禪」，已經超越我們現在所經驗的真實。
                 <br/>
<br/>
                 隨之而來的叫做「出世間禪」。這很重要，已完全超越了熟悉的領域。 這條專注之道，就是我們在接下來的章節裡所要講的。
                </strong>
</div>
<p>
</p>
<div>
<strong>
                 以上資訊取自：
                 <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/">
                  博客來
                 </a>
                 網站--
                 <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/products/0010548590">
                  進入禪定的第一堂課：超越觀呼吸
                 </a>
                 (Beyond Mindfulness In Plain English)及
                 <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/web/sys_serialtext/?item=0010548590">
                  內容連載 1
                 </a>
                 、
                 <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/web/sys_serialtext/?item=0010548590&amp;page=2">
                  內容連載 2
                 </a>
                 、
                 <a href="https://web.archive.org/web/20221208062705/http://www.books.com.tw/web/sys_serialtext/?item=0010548590&amp;page=3">
                  內容連載 3
                 </a>
</strong>
</div>
<hr/>
<div>
<h1>
<strong>
                  進入禪定的第一堂課
                 </strong>
</h1>
<h2>
<strong>
                  Beyond Mindfulness In Plain English
                 </strong>
</h2>
<p>
<strong>
                  作 者：德寶法師
                  <br/>
                  出版者：聯合發行(股)公司
                  <br/>
                  ISBN碼：9789866409387
                  <br/>
                  出版日期：2012年06月22日
                  <br/>
                  精/平裝：平裝
                  <br/>
                  規格：平裝 / 288頁 / 16.8*22cm /
                  <br/>
                  普級 / 單色印刷 / 初版
                  <br/>
                  出版地：台灣
                 </strong>
</p>
<p>
</p>
<p>
</p>
<h2>
<strong>
                  好評推薦
                 </strong>
</h2>
<h3>
</h3>
<p>
<strong>
                  這是一本直截了當、條理分明、能夠加深止觀層次的禪修指南，讀來法喜充滿，是給我們所有人的絕佳贈禮。
                  <br/>
                  ──約瑟夫．葛斯坦（Joseph Goldstein），美國「內觀禪修協會」老師
                 </strong>
</p>
<p>
<strong>
</strong>
</p>
<p>
<strong>
                  他的解釋具有實際可行的邏輯性和令人驚異的常識感，引領讀者平順地走過禪定修行的各種階段。繼《平靜的第一堂課──觀呼吸》之後，本書很有可能成為另一經典之作。
                  <br/>
                  ──阿姜阿瑪洛比丘（Ajahn Amaro），Abhayagiri Monastery住持
                 </strong>
</p>
<p>
<strong>
</strong>
</p>
<p>
<strong>
                  本書完全根基於佛教的核心教導，簡單清楚的介紹使得這些工具成為每位禪修者唾手可及的要件，是令人讚賞的續集。
                  <br/>
                  ──莎拉．凱瑟琳（Shaila Catherine），《得大樂：遠離苦的20種療癒力》作者
                 </strong>
</p>
<p>
<strong>
</strong>
</p>
<p>
<strong>
                  德寶法師的寫作如此清晰，讓讀者在閱讀中亦能品嚐到平靜與喜悅，是一本啟發人心的書！
                  <br/>
                  ──蓋伊．阿姆斯壯（Guy Armstrong），Spirit Rock Meditation Center資深老師
                 </strong>
</p>
<strong>
                 以上資訊取自：台灣最老的書店--
                 <a href="https://web.archive.org/web/20221208062705/http://www.theregentstore.com/main.php?fid=04&amp;page_name=product_detail&amp;prod_id=85918">
                  瑞成書局
                 </a>
</strong>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
