---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "行禪的利益",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout
  title="行禪的利益" description=""
>
  
<h2>
           喜戒禪師
          </h2>
<p>
           在我 們的禪修營中，禪修者以四種威儀用功，即在行、住、坐、臥中修持正念。他們必須在一切時中保持正念，不管處於何種姿勢。正念禪修的主要姿勢是盤腿而坐，但 因為人體無法坐很多小時而不改變姿勢，所以我們安排經行和打坐交替進行。既然經行很重要，我將討論經行的性質、意義和利益。
          </p>
<p>
           正念禪修可比作燒水。如果要燒水，你把 水裝入壺中放在爐子上，然後打開火。但如果火被關掉，即使是短暫時間就隨後再打開，水都不會開。如果你繼續這樣一會開一會關，水就總燒不開。同樣，如果正 念的刹那之間有間歇，就無法形成勢頭，因此就不能得定。這就是為什麼我們教導參加禪修營的禪修者在醒覺的一切時中修持正念，從早晨醒來的刹那直到晚上入 睡。因此，經行是連續培養正念不可或缺的部分。
          </p>
<p>
           不幸的是，我聽到有人批評行禪，說他們 不能從經行得到任何益處或好的效果。但正是佛陀本人首先教導的行禪。在《大念住經》裏，佛陀兩次講到經行。在“威儀”一節，佛陀教導比丘“當你在走的時 侯”知道“我在走”，“當你在站立的時候”知道“我在站立”，“當你坐的時後”知道“我在坐”，“當你在躺的時侯”知道“我在躺”。在叫作“正知明覺”的 另外一節，佛陀說：“比丘運用正知明覺於向前走和向回走。”正知明覺即是正確無誤地了知你所觀察的目標。為了正確無誤地了知你所觀察的目標，禪修者必須要 有定力，為了獲得定力，你必須運用正念。因此，當佛陀說，“比丘，運用正知明覺”，我們必然理解為不僅必須有正知明覺，還必須有正念和定力。所以佛陀教導 禪修者要在走路的時候、在“在向前走和向回走”的時候，運用正念、定力和正知明覺。行禪因此是這個修行過程的一個重要部分。
          </p>
<p>
           儘管佛經中沒有佛陀關於行禪的專門和詳細的教導，但我們相信他一定曾經在某個時候作過這樣的教導。這些教導一定由佛弟子學習並一代一代傳了下來。再者，古時候的禪師也一定會基於自己的實踐編排了禪修指導。當今，我們有一套非常詳細的如何經行的禪修指導。
          </p>
<p>
           現在讓我們專門講一講修持行禪。如果你是純粹的初學，禪師可能教你在經行時只是正念觀照一件事：觀照邁步的行動，同時在心中默不出聲地標記，“邁腳、邁腳、邁腳”，或者“左步、右步、左步、右步”。這樣用功的時候你可以比平時走得慢一些。
          </p>
<p>
           幾小時後或一兩天後，禪師可能告訴你正 念觀照兩件事：（i）邁腳，（ii）落腳，同時作內心標記“邁腳、落腳”。你應當在一步中觀照兩個階段：“邁腳、落腳；邁腳、落腳”。隨後，禪師可能告訴 你觀照三個階段：（i）提腳，（ii）移動腳或推前，（iii）落腳。再晚些，禪師可能教你每步中觀照四個階段：（i）提腳，（ii）移腳向前， （iii）放腳；（iv）腳觸地或踩地。禪師會教你全要正念觀照並內心標記這四個階段：“提腳、推前、放腳、踩地。”
          </p>
<p>
           起初禪修者或許會覺得難以慢下來，但當 告訴他們密切注意所涉及的全部動作並且他們真正越來越密切觀察時，就會自動慢下來。他們不必刻意放慢，當他們更緊密觀察時，放慢會自動發生。當在高速路上 行駛，你可能開到每小時六、七十甚至八十英里。在這種速度，有些路標可能就看不清。如果你想看清這些路標，就需要慢下來。不需要任何人喊“慢下來！”但司 機為了看清路標會自動慢下來。同樣，禪修者為了密切觀察提腳、推前、放腳、踩地的動作，他們會自動慢下來。只有當慢下來他們才能真正地正念觀照和全面覺知 這些動作。
          </p>
<p>
           儘管禪修者密切觀察並慢下來，可能不是 所有的動作和階段都能看得很清楚。所分的各個階段並沒有在內心很好地確定，它們似乎只是一個連續的動作。隨著定力的提升，禪修者會越來越清楚地觀察到一步 中的不同階段，至少四個階段比較容易區分。禪修者會明確地知道提腳的動作不會和推前的動作混在一起，推前的動作並不會和提腳或放腳動作混在一起。對所有動 作他們都能清楚瞭解和分別。他們所觀照和覺知的任何東西在心中都會很清楚。
          </p>
<p>
           當禪修者持續修行，他們會觀察到很多東 西。當他們提腳，會體驗到輕的感覺；當他們推腳向前，會注意到從一處到另一處的移動；當他們放腳，會感受到重的感覺，因為當腳下降時越來越重；當腳放到地 上的時候，他們會感受後跟觸地的觸感。所以，隨著提腳、推前、放腳、踩地，禪修者還會覺知到向上抬腳的輕，移腳的運動，腳往下降的重，以及腳觸地的軟或硬 的觸感。禪修者覺知這些過程的時候，他們就是在覺知四界，即地界、水界、火界和風界。密切觀照行禪的四個階段，就覺知到了四界的真實本質，不只是作為概 念，而是實際過程，是究竟真實法。
          </p>
<p>
           讓我們稍詳細一點看看行禪中四界的特 點。在第一個動作，即提腳的動作中，禪修者覺知到輕；當其覺知到輕，實際就是覺知火界。火界的一個特點就是使東西變輕，當東西變輕，它們就上升。在腳向上 移動的過程中覺知到輕，就是覺知火界的本質。但是在提腳過程中除了輕的感覺，還有移動。移動是風界的一個特點。然而，輕，即火界，占支配地位；所以我們可 以說在提腳階段，火界為主，風界次之。這兩界在禪修者密切觀察提腳的時候會覺知到。
          </p>
<p>
           下一階段是移腳向前，在此過程中，風界占支配地位，因為運動是風界的主要特徵。所以當禪修者在行禪中密切注意移腳向前，實際上就是觀照風界的本質。
          </p>
<p>
           再下一階段是放腳的動作。當禪修者向下放腳的時候，腳裏有一種重的感覺。重是水界的一種特性，如滴出和滲出。液體重，就滲出。所以當禪修者覺知腳的重感，實際上就在覺知水界。
          </p>
<p>
           在踩在地上的時候，禪修者會覺知到腳在地上的軟或硬的感覺，這和地界的性質有關。密切注意腳踩地，禪修者實際上就是在覺知地界的性質。
          </p>
<p>
           因而我們看到，僅僅在一步之中，禪修者可以看到很多過程。他們可以覺知四界和四界的性質。只有那些實際用功的人才有希望看到這些東西。
          </p>
<p>
           當禪修者繼續練習行禪，他們會達到這樣 的證悟：伴隨每一個動作，還有觀照的那個心，即對動作的覺知。有提腳的動作，還有覺知提腳的心。在下一時刻，有推前的動作，還有覺知動作的心。再者，禪修 者會認識到動作和覺知就在那一時刻生起和消失。再下一時刻，有放腳的動作和覺知動作的心，二者在放腳到地上的那一時刻生起和消失。同樣的過程發生在踩地 時：有踩地的動作和覺知踩地。就這樣，禪修者認識到：伴隨腳的動作，還有覺知的那些刹那。這些覺知的刹那在巴利經典中叫作名法，即心法，腳的動作叫作色 法，即物質。所以禪修者會看到名與色在每時每刻生起消失。在一個時刻，有提腳和覺知提腳，下一時刻，有推前和覺知推前，等等。我們能夠認識到，這些是成對 的名與色，時時刻刻在生起和消失。因此，禪修者就進步了，如果他們密切觀照，會覺知到名色在觀察的每一時刻成對發生。
          </p>
<p>
           禪修者會發現的另一件事是作意在影響每 一個動作中所起的作用。他們會認識到，提腳是因為想提，推前是因為想推，放腳是因為想放，踩地是因為想踩。也就是說，作意先於每一個動作。作意提腳後，提 腳才發生。他們於是懂得這些發生的事情的緣起——這些動作不是沒有原因自己發生的。這些動作不是由任何天神或任何權威創造的，這些動作絕不是無因生。每一 個動作都有一個因或緣，而這個因緣就是每一個動作前的作意。這是密切觀照時禪修者的另一發現。
          </p>
<p>
           當禪修者懂得所有動作的緣起，懂得這些 動作不是由任何權威或天神創造，他們會懂得作意是動作發生的因緣。這樣，緣法和緣生法，亦即因與果的關係就得到理解。在這種理解的基礎上，禪修者能夠祛除 關於名色的疑惑，懂得名色不會無因生。由於清楚懂得事物的緣起，由於超越了對名色的疑惑，禪修者被認為達到了“小須陀洹”的階次。
          </p>
<p>
           須陀洹是“入流者”，是達到了初階覺悟 的人。“小須陀洹”不是真正的入流者，但人們說他們保證會生於善道，諸如人類或天神。也就是說，小須陀洹不可能生於四惡道之一，即某個地獄或動物界。 只是通過修持行禪，只是密切觀照每一步所涉及的動作，就可以達到小須陀洹的狀態，這是修持行禪的巨大利益。這一階次並不容易達到，但一旦達到，就能確保他 們將會生於善道，當然，除非他們從這一階次墮落。
          </p>
<p>
           當禪修者領會到名色時時刻刻生起並消 失，他們會領悟提腳過程的無常，也會領悟對提腳過程的覺知也是無常。生起隨即消失，這是一種標誌或者特徵，我們以此懂得事物的無常。如果我們想確定一個事 物是常還是無常，我們必須通過禪修的力量，努力觀察這個事物是否有著出現了然後消失這樣的過程。如果我們禪修力量強大到能夠看到現象的生起和消失，那麼我 們就能確定所觀察的現象是無常的。以這種方式，禪修者觀察到有提腳的動作和對此動作的覺知，然後這個序列消失，讓位於推前的動作和對推前的覺知。這些動作 只是簡單地生起、消失，生起、消失；這個過程禪修者通過自己而領悟——不是因為相信外在的權威不得不接受，也不是被迫相信他人的報告。
          </p>
<p>
           當禪修者領悟了名色的生滅，他們就懂得 無常。當他們看清了名色的無常，他們接著就懂得了苦，因為他們總還是被不斷的生滅所逼迫。領會了無常之後，他們觀察到這些事物沒有一個主宰，也就是說，禪 修者認識到沒有一個自我或靈魂在裏面發號司令可讓事物常住不變。事物只是按自然規律生起和消失。通過這種領悟，禪修者了悟了有為法的第三個特徵，即無我 相，就是事物無自我的特徵。無我的意義之一就是無主宰——意即不存在能夠主宰事物性質的任何東西、個體、靈魂或力量。到此，禪修者已經領悟了一切有為法的 三種特徵：事物的無常、苦、無我的本質——即巴利文的anicca，dukkha，annata。
          </p>
<p>
           現在讓我們分析行禪各種動作的更多細 節。假設我們要拍攝提腳的動態畫面，進一步假設提腳要花一秒鐘，相機一秒能拍三十六幀畫面。拍完之後，我們分開看每一幀，我們會認識到，在我們以為是一個 提腳動作之內，實際有三十六個動作。每一幀畫面和別的畫面稍有不同，儘管差別很小只勉強能辨認。但如果相機每秒能拍一千張又會怎樣呢？那麼僅在一個提腳的 動作中就會有一千個動作，儘管已經幾乎不可能區分這些動作了。如果相機能每秒拍攝一百萬張——現在還不可能，將來也許能——那麼在我們認為只是一個動作的 提腳過程中就會有一百萬個動作。
          </p>
<p>
           我們用功經行就是為了像相機那樣一幀一 幀地緊密觀察我們的動作。我們還要觀察和覺知每一個動作前的作意。我們也會讚美佛陀智慧和內觀的力量，因為由此他實際看到了所有這些動作。當我們在這裏用 “看見”或“觀察”這樣的字眼，我們意味著直接看見，但也還包括比量；我們或許不能象佛陀一樣直接看到數百萬的動作。
          </p>
<p>
           在禪修者開始練習行禪前，他們可能以為 一步只是一個動作。在觀照這個動作之後，他們看到至少有四個動作；如果進一步深入，他們會懂得即使是四個動作當中的一個，也是由數百萬個微小動作構成。他 們看見名與色、心與身的生起和滅去，此即無常。以我們通常的覺知，不能看見事物的無常，因為無常被連續性的幻象所掩蓋。我們以為看到的只是一個連續的動 作，但如果我們密切觀察，我們會看到連續性的幻象可以被打破。當身體現象集起和消散，我們一點一點地、一節一節地直接觀察，就可打破幻象。禪修的價值在於 讓我們有能力移除連續性的面紗去發現無常的真實本質。禪修者可以直接通過自身努力看見無常的本質。
          </p>
<p>
           在認識到事物是由節段構成、它們一點一 點地發生，並一一觀察這些節段，禪修者認識到在這個世界上真的沒有任何東西可以抓得住、可以執取。如果我們看到一度認為是美麗的東西有空洞，正在衰敗和分 解，我們會對它失去興趣。我們在概念上把色彩和畫布看做一個完整和堅實的東西，但我們用強力的顯微鏡看油畫，會看到畫面並不堅實——它有很多孔洞和空隙。 看到畫面主要由空隙構成，我們會對它失去興趣並停止對它的執著。現代物理學者對這點很清楚。他們用強力的儀器觀察發現，物質只是微粒和能量的振動，不斷變 化，根本就沒有任何實質的東西。體證了這種無盡的無常，禪修者認識到整個現象界沒有任何東西可以貪愛、可以抓得住。
          </p>
<p>
           我們現在明白了修行的意義。我們修行是 因為我們要祛除對所緣的執著和貪愛。正是通過認識生命現象的三共相——事物的無常、苦、無我的本質，我們能祛除貪愛。我們要祛除貪愛是因為我們不想受苦。 只要有貪愛和執取，就總會受苦。如果不想受苦，就必須祛除貪愛執取。我們必須認識到一切只是名色，不斷生起和滅去，這些東西沒有實質。一旦我們體證到這一 點，我們將能祛除對事物的執取。只要我們還沒有體證到這一點，無論我們讀多少書，聽多少講座，或者談論多少祛除執取，我們都無法斷掉執取。必須要有一切有 為法皆顯示三共相的直接經驗。
          </p>
<p>
           所以，經行時我們必須密切觀照，就像我 們打坐和臥禪中一樣。我並不是說單靠行禪就能賦予我們最終的證悟和完全祛除執取的能力，而是說行禪如坐禪或其他類型的內觀修行一樣有效。行禪有助於心智的 培育，如觀呼吸或觀腹部起伏一樣強而有力，是一個幫我們祛除內心煩惱的有效工具。行禪能幫助我們獲得對事物本質的洞見，我們應當像修習坐禪或其他類禪法一 樣精勤地修習行禪。通過在所有的姿勢中修習內觀，包括行禪，願你和所有禪修者在今生達到究竟清淨！
          </p>
<p>
           （
           <u>
            湯華俊
           </u>
           根據
           <u>
            李偉德
           </u>
           賢友提供的英文原文翻譯， 於2014年4月8日譯完）
          </p>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
