---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "正念禪修和思維能夠使基因分子改變",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout
  pageTitle="正念禪修和思維能夠使基因分子改變" description=""
>
  
<p>
           越來越多的證據表明訓練我們的心或是引導特定的意識模式會對健康產生益處，科學家們試圖瞭解這些行為將如何從生理上影響人體。威斯康星州、西班牙以及法國一些研究者的最新研究提供了第一個證據，證明在經過一段時間密集正念練習後身體特定分子會產生變化。
          </p>
<p>
           這項研究調查了一組經驗豐富的禪修者進 行一整天密集正念練習的效果，作為對比的是一組沒有經過訓練、只是進行安靜的非禪修活動的對照組。在 8小時的正念練習後，禪修者的身體顯示出一系列的基因和分子差異，包括基因調控機制的改變水準和促炎基因濃度下降，這些與身體在應激情境下的快速恢復有相 關性。
          </p>
<p>
           “就我所知，這是第一篇將研究對象內基 因快速改變與正念練習相關聯的學術性論文，”研究者 Richard J. Davidson說。他是健康心靈研究中心創始人，也是威斯康星大學麥迪遜校區心理與精神病學的教授。“最有趣的是，在基因裏觀察到的這些變化，正是一些 抗炎藥和止痛藥想要達到的目的，”論文的第一作者Perla Kaliman 說。他是巴賽隆納生物醫學研究所研究員，分子分析就在這裏進行的。
          </p>
<p>
           這篇研究文獻發表於精神神經內分泌學期刊。
          </p>
<p>
           在先前的臨床研究中，以正念為基礎的心智訓練已經顯示出對炎性疾病的好處，而且通過美國心臟協會批准成為了一種預防干預措施。新的研究結果提供了一種可能的生物機制，用於解釋治療效果。
          </p>
<p>
<strong>
            基因活性能根據感知發生變化
           </strong>
</p>
<p>
           根據 Bruce Lipton博士的研究，基因活性每天都會發生變化。如果你腦海裏的感知能夠反映在身體的化學過程上，如果你的神經系統能夠對外界環境進行分辨從而控制血液中的化學成分，那麼你就能夠通過改變思維來改變你身體細胞的命運。
          </p>
<p>
           事實上，Lipton博士的研究表明，通過改變你的看法，你的思維能夠轉換你身體基因的活性，並且從每個基因裏能夠創造出超過3萬種產物變種。對此他講述了更多細節，一個人的基因程式包含在細胞核內，通過改變血液化學可以重寫那些基因程式。
          </p>
<p>
           簡單來說，這意味著如果我們想要治癒癌 症，需要先改變我們的想法。“我們思維有一個功能，就是為我們的信念和現實經驗創造一致性，”Lipton博士說， “也就是你的思維將會在身體層面上調整生物狀況和行為表現，以適應你的信念。如果你被告知將在六個月後死亡，並且你的大腦相信了它，你就很有可能真的會在 六個月後死掉。這就是所謂的反安慰劑效應，是消極信念的產物，與能夠經由積極信念產生治療效果的安慰劑效應相反。”這種機能指向了一個三方系統：你發誓不 想死的這部分（有意識的大腦），被你相信你會死的這部分打敗（醫生的診斷結果成為潛意識），隨後產生了化學反應（以腦部化學為媒介）使得身體遵守這種壓倒 性的信念。（神經系統學認可潛意識控制了我們95% 的生活。）
          </p>
<p>
           現在表意識大腦層面不想死的那部分怎樣了呢？難道它不會對身體化學成分產生影響嗎？ Lipton博士說，它實質上取決於包含我們深層信念的潛意識，已經被程式化了。正是這些信念起到了決定性作用。
          </p>
<p>
           “這是一個比較複雜的狀 況，”Lipton博士說。人們已經形成了相信自己是受害者、沒有控制力的信念模式。我們的程式最初來自於我們父母的信念。舉例來講， 當我們生病，父母就會告訴我們去看醫生，因為醫生是健康方面的權威。我們所有人都在童年獲得了這樣一個資訊，醫生是健康的權威，我們沒有能力控制身體的狀 況。當然，可笑的是，人們經常在看病的路上就已經好了很多。這發生在天生的自愈能力開始生效的時候，是又一個安慰劑效應的例子。
          </p>
<p>
<strong>
            正念練習影響調節路徑
           </strong>
</p>
<p>
           Davidson 的研究結果顯示與炎症相關基因的受到抑制。受到影響的基因包括促炎基因 RIPK2 和 COX2以及一些脫乙醯化酶（HDAC）基因，表觀遺傳學上，它們通過移除一類化學標記來調節其他基因的活動。而且，那些基因被抑制的程度，與在涉及到即 興演講的社會壓力測試和在觀眾和攝像機面前表演心算的任務中皮質醇的快速恢復有關。
          </p>
<p>
           很多年來，生物學家一直懷疑某種表觀遺傳發生在細胞層面上。我們身體內不同種類的細胞就是一個例子。儘管皮膚細胞和腦細胞有著完全相同的 DNA，但是形態和功能都有所不同。肯定有某種不同於 DNA機制存在，確保分裂時皮膚細胞會成為皮膚細胞。
          </p>
<p>
           也許令人驚訝，研究人員說，研究一開始，兩組受測人員的基因並沒有區別。那些觀察結果僅僅在禪修者進行正念禪修後才被看到。此外，一些其他的修改DNA 的基因並沒有呈現不同，說明正念練習能夠影響某一特定調節路徑。
          </p>
<p>
           關鍵是禪修者在正念練習後經驗到的基因變化，並沒有在另一組組的非禪修安靜活動後發現，這個結果為正念禪修可導致基因組表生蝕變提供了原理證明。
          </p>
<p>
           以往對齧齒動物和人的研究表明，僅僅幾小時就有對身體刺激如壓力、節食或是運動的動態表觀遺傳回應。“我們的基因表達具有動態性，這些結果說明我們頭腦的平靜確實對基因表達有潛在的影響，”Davidson說。
          </p>
<p>
           “H“HDACs和炎症途徑的調節可能代表了一些作用機制，這種機理解釋基於正念的干預措施所具有的治療潛能，”Kaliman說，“我們的發現為今後進一步研究評估禪修策略治療慢性炎症打下了基礎。”
          </p>
<p>
<strong>
            潛意識的信念是關鍵
           </strong>
</p>
<p>
           很多積極思維者都知道產生一個好的想法，並且不斷重複幾個小時，並不總是能帶來書裏許諾的那種感覺良好的結果。Lipton博士沒有反對這個觀點，因為積極的思維來自表意識，相對的是，消極的思維模式往往來自於更加強大的潛意識。
          </p>
<p>
           “最主要的問題在於人們能夠意識到的是表意識的信念和行為，而不是潛意識。多數人甚至不承認他們的潛意識在起作用，事實上潛意識的作用力比表意識強大百萬倍，而且我們生活的95%~99% 都是依靠潛意識程式運轉的。
          </p>
<p>
           “你的潛意識信念會協助你或者對抗你，真相是你並沒有在控制你的生活，因為你的潛意識接管了一切有意識的控制。所以，當你試圖從表意識層面得到治癒時，例如誦讀肯定語義，告訴你自己你很健康，很可能無形的潛意識會妨礙你。”
          </p>
<p>
           潛意識的力量在人們表達多重人格時被完美地揭示出來。當一種思維模式的人格出現時，個體可能會對草莓嚴重過敏。而在經歷具有另一種思維模式的人格時，這個人可以吃掉草莓而不產生任何後果。
          </p>
<p>
           表觀遺傳學允諾這個星球上的每個人，都有機會變成真正的自己，擁有不可思議的能力，達成最高可能性，包括療愈我們的身體、文化，生活在和平寧靜中。
          </p>
<p>
           英文：
           <a href="https://web.archive.org/web/20221208071735/http://www.finerminds.com/manifesting/new-evidence-that-proves-your-thoughts-can-change-your-dna/">
            www.finerminds.com/manifesting/new-evidence-that-proves-your-thoughts-can-change-your-dna/
           </a>
</p>
<p>
           英譯中 Anicca 2014年1月
           <br/>
<a href="https://web.archive.org/web/20221208071735/http://user.qzone.qq.com/185283309/blog/1389535015?ptlang=2052">
            http://user.qzone.qq.com/185283309/blog/1389535015?ptlang=2052
           </a>
</p>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
