---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="身心靈合一的觀禪">
<h3 class="rtecenter">
<strong>
            禪詩
           </strong>
</h3>
<h3 class="rtecenter">
<img alt="" src="/assets/heartbeats_light_f.jpg" style="height:220px; width:350px"/>
</h3>
<h3 class="rtecenter">
           當心臟跳動，
          </h3>
<p class="rtecenter">
           96,500條以上的動脈和微血管跟隨著流動。
          </p>
<p class="rtecenter">
           龐大神經網絡傳送無數的脈衝信號。
          </p>
<p class="rtecenter">
           數以百計的骨骼, 肌肉及關節和諧地活動；
          </p>
<p class="rtecenter">
           非常複雜卻協調地運作並活動。
          </p>
<p class="rtecenter">
           身體以許多看不見且不清楚的方式運轉。
          </p>
<p class="rtecenter">
           若有歡樂的地方, 它們也會一起運作及玩樂；
          </p>
<p class="rtecenter">
           當下身體像是一座劇場和運動場。
          </p>
<p class="rtecenter">
           若有信賴的地方, 它們也會一起靈修及祈禱；
          </p>
<p class="rtecenter">
           這時身體像是一座教堂和寺廟。
          </p>
<p class="rtecenter">
           若目睹並觀察到這無形的心靈力量在背後運作，
          </p>
<p class="rtecenter">
           將比用肉眼看到的更複雜且不可思議；
          </p>
<p class="rtecenter">
           它們以數倍的速度快速運轉；並且極迅速變化；
          </p>
<p class="rtecenter">
           散佈到無窮地虛空法界––
          </p>
<p class="rtecenter">
           於是人們理解，它們可以到達天地萬物的盡頭！
          </p>
<p>
</p>
<h4 class="rteright">
<strong>
            –慈濟瓦禪師
            <em>
             (Ven. Sujiva
            </em>
</strong>
</h4>
<footer>
</footer>
<!-- /.block -->
<!-- /.region -->
</BaseLayout>
