---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="共修">
在修行的某個階段，你會覺察到和別人一起禪修的好處，這稱為共修，參與其中會很有收穫。與你有相同心境的人一起禪修，會大大增強你個人的修行，這點是你獨自靜坐時通常不會發生的狀況。只是別人和你靜靜地坐著，這樣的場景就帶給你一種相互支持的精神力量，這確實可提升你個人的修行體驗。許多顆心聚在一起進行相似的努力，會在周圍形成能量埸及提升整體和個人的精進力，增強整個群體的正念，這是不應該錯失的體驗。<br/>
<br/>
<font style="vertical-align: inherit;">
							共修有多種方式：你可以邀集一小團體到某位成員家中打坐，並依據預訂的計畫來輪換共修地點；你也可以每週參加有專業老師指導的禪修班；也可參加短則一個週末、長則有幾週、甚至時間更久的密集禪修。</font><br/>
<br/>
<font style="vertical-align: inherit;">
							在所有的選擇中，長時間密集禪修是最深刻的。密集禪修幾乎總會有老師指導，全程禁語，這樣才真正有辦法深化你禪修的體驗。從早上起床到晚上結束一天的活動去休息，你都在工作。</font><br/>
<br/>
<font style="vertical-align: inherit;">
							通常禪修營的安排是坐禪和行禪一小時一小時地交替進行，其中穿插吃飯、雜務和其他重要日常事務。作為範例，你可以看看禪修營日程和一個禪修營規則和規程。你可以看出，長時間的密集禪修是高強度的，是為了要讓禪修者能夠利用每個機會來深化禪修而設計的。</font><br/>
<br/>
<font style="vertical-align: inherit;">
							禪修營是安全的天堂，參與者實踐相同的道德規範。擔憂有關工作、家庭、個人安全及其他壓力來源等世俗煩惱，都被暫時卸下，因而更容易整日專注於內在探索。日常生活的雜務如煮飯、清潔等工作，在禪修開始時就按安排或選請發心護持的志願者來完成，人們信任每個參與者會自動完成工作，無需監管。</font><br/>
<br/>
<font style="vertical-align: inherit;">
							每日的佛法開示也是傳統內觀禪修營的一部分，通常在禪堂進行，由指導禪修營的禪師開示，學生則以打坐的姿勢坐著聽講。開示的內容多種多樣，包含的主題可能從佛陀的教導，到禪師修行生活經歷，甚至是學生自己禪修的問題等等。開示時允許說話，以便讓學生回答問題和提問，或分享和禪修相關的問題。這裡提供一例佛法開示的筆錄供你研讀。</font><br/>
<br/>
<font style="vertical-align: inherit;">
							單獨與禪師小參是內觀禪修營的另一個特點。這種安排讓學生有機會和禪師一對一地坐在一起，有一小段時間討論個人修行問題及關心的事。這些互動不僅幫助學生學習如何更好地進行禪修，也幫助師生間形成互信的關係，進一步提升學生的學習經驗。</font><br/>
<br/>
<font style="vertical-align: inherit;">
							參加長時間密集禪修所付出的努力的回報是不可估量的，無論你是新學還是老參，禪修營結束時總會注意到發生在你身上的進步。為了讓你對會發生什麼有點感覺，請花點時間閱讀'初學者第一次參加長時間密集禪修的禪修報告'。</font><br/>
<br/>
<font style="vertical-align: inherit;">
							就長時間密集禪修來說，禪修進展的模式是漸進的。在長時間密集禪修的前三天，禪修者花很多時間在'清理垃圾'——讓身心可以調適到一個更安寧、平靜和放鬆的狀態。你暫時放下對世俗的掛心，因而使修行可能深化。在第一周，禪修學生會重新達到以前密集禪修所達到的水準。一旦你重新達到這種境地，之後的各個時段就開始建立起可觀的動能，得到下一級觀智的可能性將大為增加。這就是為什麼在禪修營中待的時間越長越好。強烈建議至少參加十天，這將有助於獲得新的體驗。密集禪修營就如燒水的過程，只要火持續加熱且沒有中斷，水終將沸騰。</font><br/>
<br/>
<font style="vertical-align: inherit;">內觀禪修營與課程</font>
<ul>
<li>    <a href="https://web.archive.org/web/20240301162800/http://www.tathagata.org/schedule"><font style="vertical-align: inherit;">Tathagata 
								Meditation Center</font></a><font style="vertical-align: inherit;">如來禪修中心</font></li>
<li>    <font style="vertical-align: inherit;">Bhante 
								Sujiva Meditation Retreats (Europe and Asia)<a href="https://web.archive.org/web/20240301162800/http://www.bhantesujiva.eu/en/europe-retreats-schedule.html">慈濟瓦師父的禪修營（歐洲和亞洲）</a></font></li>
<li>   <a href="https://web.archive.org/web/20240301162800/http://tbaimg.blogspot.com/"><font style="vertical-align: inherit;"> Insight 
								Meditation Group</font></a><font style="vertical-align: inherit;">內觀禪修群</font></li>
<li>    <a href="https://web.archive.org/web/20240301162800/http://edge.jadebuddha.org/"><font style="vertical-align: inherit;">Jade 
								Buddha Temple</font></a><font style="vertical-align: inherit;"><span> </span>(Houston, 
								TX) 美國德州休斯頓玉佛寺
</font></li>
</ul>
</BaseLayout>
