---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
   <BaseLayout pageTitle="通過正見達到平靜與快樂">
    <div>
     <p class="rtecenter">
      <big>
       <strong>
        恰宓西亞多 著
       </strong>
      </big>
     </p>
     <p class="rtecenter">
      <big>
       <strong>
        明慧西亞莉 譯
       </strong>
      </big>
     </p>
     <p class="rtecenter">
      <big>
       <strong>
        北京恰宓禪修院
       </strong>
      </big>
     </p>
    </div>
    <p>
    </p>
    <div>
     <p class="rtecenter">
      This book is the Chinese translation of Chanmyay Sayadaw』s English book entitled
     </p>
     <p class="rtecenter">
      「VIPASSA MEDITATION--Lectures on Insight Meditation」
     </p>
     <p class="rtecenter">
      Translated by Ma Vicitthanyani
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      目 錄
     </h1>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975900'}">
        序 言 1
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975901'}">
        致 謝 3
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975902'}">
        第一章 通過正見達到平靜與快樂 1
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975903'}">
        第二章 給禪修者的初步指導 15
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975904'}">
        第三章 正念的七項利益 25
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975905'}">
        第四章 四念處 41
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975906'}">
        第五章 清淨的七個層次 51
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975907'}">
        第六章 銳利五根的九種方法 61
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975908'}">
        第七章 禪修者的五精勤支 71
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975909'}">
        附 錄 78
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975910'}">
        1、禪修指導 78
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975911'}">
        2、禪修者的五根 89
       </a>
      </sup>
     </p>
     <p>
      <sup>
       <a href="{currentPath + '#_Toc405975912'}">
        3、小參注意事項 90
       </a>
      </sup>
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975900" name="_Toc405975900">
      </a>
      序 言
     </h1>
     <p>
      「易見他人過，難見自己非。」
     </p>
     <p>
      《法句經》252句
     </p>
     <p>
      這句話與禪修者密切相關。禪修者也許一直在犯同樣的錯誤，而全然不覺，直到有一位銳利的、經 驗豐富的禪修者給他指出來才明白。但過一段時間之後，又忘記了，需要被再次提醒。
     </p>
     <p>
      從1983年3月30日至4月8日，我們有幸請到了一位經驗非常豐富的禪修指導老師恰宓西亞多（迦那 卡毗旺沙西亞多）在馬來西亞檳城的佛教禪修中心主持一次禪修營，指導我們修行威巴薩那禪修（內觀 禪修）。他耐心地教導我們，幫助我們糾正修行中的錯誤，並時時提醒我們不要犯同樣的錯誤。他指導 精確、訓練嚴格、開示令人鼓舞，我們都非常受益。
     </p>
     <p>
      為了所有禪修者的利益，我們將此次禪修指導編輯成冊。編輯的內容是恰宓西亞多每晚對禪修者所 作的開示。有些內容主要摘自西亞多與禪修者小參時的指導。這些內容被分門別類，編輯成這本綜合的 小冊子。有些內容只適用於特定情況，不能被普遍應用。
     </p>
     <p>
      非常感謝西亞多允許我們出版這本書，並親自審核（英文原稿）。
     </p>
     <p>
      我們也非常感謝所有促成此書出版的人！
     </p>
     <p>
      蘇濟瓦禪師
     </p>
     <p>
      1985年6月
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975901" name="_Toc405975901">
      </a>
      致 謝
     </h1>
     <p>
      出版《威巴薩那禪修》的第四版，我非常高興！這本書已經出版了三次，一次在馬來西亞，一次在 泰國，一次在緬甸。深深地感謝蘇濟瓦禪師辛勤地編輯我於1983年4月在馬來西亞檳城給禪修者所作的 開示和指導。
     </p>
     <p>
      一位居住於倫敦的緬甸佛弟子烏拉泰，請求我允許他出版這本書，作為法的佈施以紀念他的生日。 為了增強他的功德，我再次修改並編輯了此書，允許他作為法佈施出版。我的一位學生加拿大比丘烏旺 沙拉吉達潤飾了這本書的語言，貌焦妙萵將這本書的草稿輸入了電腦。我也非常感謝他們倆。
     </p>
     <p>
      恰宓西亞多
     </p>
     <p>
      2002年12月20日
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <p>
      NAMO TASSA BHAGAVATO ARAHATO SAMMASAMBUDDHASSA
     </p>
     <p>
      禮敬世尊、阿羅漢、正等正覺者
     </p>
     <h1>
      <a id="_Toc405975902" name="_Toc405975902">
      </a>
      第一章 通過正見達到平靜與快樂
     </h1>
     <p>
      世上每一個人都想要平靜與快樂。因此，人們一直在尋找能引導他們滅苦的真正道路。所有宗教都 是因為人們有此追求在世間應運而生。佛教是世界上一個偉大的宗教，它能引導人們達到苦的止息。
     </p>
     <p>
      苦的原因
     </p>
     <p>
      佛陀發現了苦的原因。根據佛陀的教導，諸法因緣而生。世間的任何事都有它的因，沒有一件事的 發生沒有因。當佛陀想要去除苦時，他必須要找到苦的因。當因被根除之後，就不會有任何果。當佛陀 覺悟時，他發現了苦的因是貪愛，包括各種貪婪、渴望、慾望、執著，等等。
     </p>
     <p>
      貪愛是苦的因。有貪愛就有苦。當能夠去除貪愛時，肯定能離苦。貪愛也是因緣生。沒有因，貪愛 不會生起。貪愛是因緣生的心理狀態和心的過程。世尊發現貪愛的因是邪見，稱為薩迦耶見或我見，即 認為有個靈魂、自己、我或你、人或眾生的錯誤觀念。因此，我見是貪愛的因，貪愛又造成苦。那麼邪 見的因是什麼呢？
     </p>
     <p>
      世尊指出：對身心自然過程的無知是產生有靈魂或我這種邪見的因。通過透視或正確瞭解身心這兩 個過程的真實本質，我們就能夠破除無明。由此，我們知道因果法則。我們可以這樣總結因果鏈：無明 是因，邪見是果；邪見是因，貪愛是果；貪愛是因，苦是果。
     </p>
     <p>
      因此，我們知道：如果能夠正確瞭解身心現象，具有了正見，就能夠驅散無明。當無明被破除之後 ，就不會再有靈魂、我、人或眾生的邪見。當邪見被去除時，貪愛就不會生起。當貪愛被根除之後，就 不會有任何苦生起。這樣，就實現離苦，體驗苦的止息。
     </p>
     <p>
      邪見的因
     </p>
     <p>
      我們應思維：對身心過程的無知是如何造成有靈魂或自我、人或眾生、「我」或「你」這個邪見的?邪見 是如何導致貪愛的生起？因為我們沒有正確瞭解身心兩個過程的真實本質，我們將其當成是人、眾生、 靈魂或自我。於是，那個人、眾生、「我」或「你」想要發財、想要成為國王、王后、總統、總理或百萬富翁 ，等等。這個想要成為王后或總統的慾望就是貪。貪的生起是由於有人或眾生、靈魂或自我、「我」或「你」 這個邪見。
     </p>
     <p>
      如果我們想要去除這個慾望或貪愛，我們必須去除它的因。它的因是什麼？如我前面所講的，慾望 或貪的因是有人或眾生、靈魂或我的邪見。當邪見被去除之後，就不會有任何慾望要成為富翁、國王、 總統等等。想要成為某某人、想要得到什麼東西、想要擁有什麼東西的慾望是由於有人或眾生、「我」或「 你」這個邪見而產生的。當我們心中生起慾望或貪愛時，會帶來各種苦。
     </p>
     <p>
      當我們執著我們的房子這樣一個沒有生命的東西時，我們就會為房子擔憂。如果房子著火了，就會 傷心。傷心是主要的一種苦，該苦是由於我們對房子的執著而產生的。再打個比方，如果我們執著我們 的親戚、朋友、孩子或父母，這種執著也會導致我們受苦。當我們執著我們的孩子時，就會為孩子的健 康、教育等擔憂。如果他們沒通過考試，我們就不高興，感到傷心難過。這種苦是心苦，是由於對孩子 的執著而產生的。因此，執著是苦的因。
     </p>
     <p>
      執著是從何生起？執著產生於邪見，邪見是將身心過程當成人或眾生、靈魂或自我、「我」或「你」。當「 人」的概念被打破之後，就不會有任何執著或苦產生。
     </p>
     <p>
      如實觀察
     </p>
     <p>
      世尊指出：通過如實地觀察身心這兩個過程，我們就能正確瞭解它的本質。當我們想要如實瞭解某 事時，我們應如實地觀察它、看它，不分析，不用邏輯推理，不用哲學思維，不摻雜任何先入之見。我 們應非常專注、如實地觀察。
     </p>
     <p>
      例如，看一塊手錶。當我們還沒有非常專注、仔細地觀察手錶時，我們就不能真實地瞭解這塊表。 當我們非常專注、仔細地觀察這塊表時，我們看到了它的商標、設計及上面的圖案。我們才知道這塊表 是SEIKO牌，有一個國際時間表，等等。但是，如果我們沒有如實地觀察它，或如果我們的觀察帶有這 樣的先入之見：「我以前見過這種表，它的品牌是OMEGA」，於是，當我們一見到這種表時，就會把它當 成OMEGA表。為什麼？因為我們沒有專注、仔細地觀察這塊表。當我們看到它時，帶有先入之見，這 種先入之見導致我們對這塊表作出錯誤的判斷。如果我們放下先入之見，只是專注、仔細地觀察它，我 們就會真實地瞭解它：這塊表是SEIKO牌，是日本製造的，它也有國際時間表。因為我們放下了先入之 見「OMEGA」，我們就能真實地瞭解這塊表。
     </p>
     <p>
      同樣地，當我們想要正確瞭解身心過程的真實本質時，我們不得分析或思維身心過程，不得推理或 使用任何智力知識或任何先入之見。我們必須把這些統統放下，只是保持純粹的專注，如實地覺知當下 正在發生的身心現象。這樣，我們就能如實地看清身心過程。當感到身體熱時，應觀熱的感受，標記「熱 」。當感到身體冷時，應觀冷的感受，標記「冷」。當感到痛時，應觀痛，標記「痛」。當感到快樂時，應觀快 樂，標記「快樂」。當生氣時，應觀生氣，標記「生氣」。當憂愁時，應觀憂愁，標記「憂愁」。當感到傷心或 失望時，應如實地覺知傷心或失望的情緒。
     </p>
     <p>
      必須如實地觀察每個身心過程，這樣才能正確瞭解其真實本質。正確瞭解引導我們去除無明。當無 明被破除時，我們就不會將身心過程當成是人、眾生、靈魂或我。如果我們只是將身心過程視為自然過 程，就不會產生任何貪愛。當貪愛被去除時，我們就從所有的苦中解脫出來，證得苦的止息。因此，觀 察身心過程的真實本質就是導向滅苦的道路。這是世尊在《四念處經》裡教給我們的道路。
     </p>
     <p>
      在這部經裡，世尊教導我們如實地觀察身心現象。有四個念處：
     </p>
     <p>
      1、 身念處；
     </p>
     <p>
      2、 受念處；
     </p>
     <p>
      3、 心念處；以及
     </p>
     <p>
      4、 法念處。
     </p>
     <p>
      無選擇的覺知
     </p>
     <p>
      當觀察身心過程時，不必選擇任何心理或身體過程作為禪修目標。心會自己選擇。如果選擇任何心 理或身體過程作為禪修目標，這意味著我們執著這個目標。在禪修期間，觀察的心會自己選擇目標，也 許是樂受或苦受，或腹部的移動。儘管我們嘗試將心專注在腹部移動上，但如果痛變得更明顯或顯著， 心不會停留在腹部移動上。觀察的心自然會轉移到痛，並觀察痛，因為心被強行拉向更明顯的感受。因 此，我們不必選擇目標，也不能選擇目標，只是觀察心自己選擇目標。
     </p>
     <p>
      例如，通過專注、密切地覺知痛，痛消失了，心會注意另一個更明顯的目標。如果在背部癢的感覺 比腹部移動更明顯，心就會轉移到癢的感受，並觀察它。當癢的感受消失之後，心會再次選擇，如腹部 移動，作為其目標，因為腹部移動比其它目標更明顯。如果樂受比腹部移動更明顯，心就會選擇樂受作 為其目標，標記「樂」。
     </p>
     <p>
      因此，觀禪的原則就是如實觀察任何最明顯的身心現象。內觀禪修不僅非常簡單、容易，而且能非 常有效地幫助我們實現滅苦的目的。
     </p>
     <p>
      當吃飯時，應覺知在吃的過程中所包含的每個動作。當伸胳膊時，要覺知伸的動作。當手觸到勺子 或食物時，要觀觸覺。當握住勺子時，要觀握的感受。當將勺子插入咖哩醬時，要觀插入的動作。當舀 出咖哩醬時，要觀該舀的動作。就這樣，如實地觀察吃的過程中所包含的每個動作，因為必須要充分認 識每個身體過程，以去除造成邪見的因&mdash;無明。同樣，當我們洗澡，上班或做家務時，我們必須覺知所 有的動作和移動。
     </p>
     <p>
      當在禪修營中練習行禪時，要密切地、準確地、如實地觀察腳的動作，如提、推、落。
     </p>
     <p>
      標記或默念
     </p>
     <p>
      當觀察任何目標時，需要標記或默念它。當提腳走路時，應標記「提」。當腳往前推時，標記「推」。當 落腳時，標記「落」。這樣標記「提、推、落」。標記密切、準確地把心導向禪修目標，有助於禪修者把心專 注在禪修目標上。不過，也許有些禪修者不需要標記，只是觀察目標。他們應非常專注地觀察腳的移動 ，從提的動作的開始，到落的動作的結束。心要非常密切地跟著腳的移動，沒有思維或推理。這樣，就 能發展更深的定力。
     </p>
     <p>
      剛開始禪修時，心經常跑掉。不管什麼時候心跑了，應跟蹤心並觀察它。如果在想家裡的事情，要 如實地觀這個想，默念「想、想」。當想消失之後，繼續行禪，像往常一樣標記「提、推、落」。
     </p>
     <p>
      捨摩他（SMATHA）和威巴薩那（VIPASSANA）
     </p>
     <p>
      我們應知道捨摩他和威巴薩那禪修的區別。「捨摩他」的意思是定、平靜、輕安。當心深深地專注在 禪修目標時，心變得寧靜、輕安。捨摩他禪修的目的是為了在單一的目標上證得深度的定。因此，捨摩 他禪修的結果就是證得深度的定，如安止定或近行定。當心深深地專注在禪修目標上時，心安止在目標 上，遠離所有的煩惱，如渴望、貪婪、仇恨、慾望、傲慢、無明等等。當心遠離五蓋時，我們感到平靜 、輕安、快樂和安詳。因此，捨摩他禪修的結果就是通過證得深度的定，如安止定或近行定，得到某種 程度的快樂，但這不能讓我們正確瞭解身心現象的真實本質。
     </p>
     <p>
      《清淨道論》描述了捨摩他禪修的40種業處。捨摩他禪修者可以將這40種業處中的任何一個作為業 處。例如，《清淨道論》中說：如果他想用紅色作為禪修業處，他要在牆上離地面兩英尺高處製作一個 紅色的圓。紅色的圓應如圓盤那麼大，顏色應是正紅色、均勻、平滑。當紅色的圓製作好之後，他坐在 離牆兩英尺處的地板上，盯著紅色的圓看，將心專注在上面，默念「紅、紅、紅」。如果心跑了，他不是 跟著心，而是把心拉回到禪修目標&mdash;紅色的圓。他應將心再次專注在紅色的圓上，並標記「紅、紅、紅」 。這就是簡要的捨摩他禪修方法。
     </p>
     <p>
      威巴薩那禪修的目的是通過正確瞭解身心過程的真實本質，達到苦的止息。為了達到這個目的，我 們需要某種程度的定，這種定可以通過持續不斷地觀察身心過程來證得。要如實地觀察心理狀態或身體 過程。有很多禪修目標：快樂是禪修目標，生氣、憂愁、身痛、僵硬、麻木等也是禪修目標。
     </p>
     <p>
      捨摩他和威巴薩那禪修的目的和結果不同，方法也不同。
     </p>
     <p>
      回到我之前所講的內容。當行禪時，觀腳的移動&mdash;提、推、落。剛開始禪修時，心不能很好地專注 在腳的移動上。當心妄想時，要專注地觀察妄想的心，直到妄想的心消失。只有在妄想的心消失之後， 才能像往常一樣觀腳的移動。當心很好地專注在腳的移動時，我們認識或體驗行禪過程中腳的提、推、 落的動作，不是腳的形狀或身體的形狀。當提腳時，心裡默念「提」；當推腳時，心裡默念 「推」；當落腳時，心裡默念 「落」。當認識到腳的移動只是移動的自然過程時，我們也認識到觀察腳移動的心是心的自然過程。 於是，我們正確瞭解提的動作是一個過程，觀察提的心是另一個過程。推的動作是一個過程，觀察推的 心是另一個過程。這樣，我們充分認識身心現象的兩個過程。我們充分瞭解這兩個過程只是身心現象的 自然過程。我們就不會把它們當成人、眾生、「我」或「你」。於是，就不會生起有人、靈魂或我的邪見。當 邪見被去除時，就不會生起任何導致苦的貪或慾望。由於沒有貪生起，就不會有任何苦生起，苦實際上 就是貪的結果。當我們認識到提、推、落的動作只是自然的過程時，此刻我們就證得了苦的止息。
     </p>
     <p>
      當我們繼續禪修，正念變得越來越穩定、持續、有力，定力也變得更深、更強。當定力變得更深更 強時，對身心過程的透視或洞察力變得更加清晰。此時，我們看到一連串提的動作一個接一個地生起、 消失，一連串推的動作一個接一個地生起、消失，一連串落的動作一個接一個地生起、消失。在此過程 中，沒有一部分的過程是永恆的。移動的每個過程都是無常的，生起後又迅速地消失。移動的過程不是 一個恆常不變的過程，而是非常短暫的。因此，我們認識到身心過程的三共性之一&mdash;苦。當我們認識到 移動這個身體過程的無常和苦的性質時，我們就不會將它當成是永恆的實體&mdash;人、眾生、靈魂或我。這 就透視到身心過程的無我、無靈魂、無自我的性質。因此，我們透視到了身心現象的三共性：無常、苦 和無我。
     </p>
     <p>
      領悟四聖諦
     </p>
     <p>
      以此方式修行，禪修者逐層經歷所有層次的透視身心過程的觀智。在到達最後一層的觀智之後，他 就證得了第一道智的覺悟，須陀洹道智。在證得第一道智的剎那，禪修者就領悟了四聖諦：苦諦、集諦 、滅諦和道諦。
     </p>
     <p>
      當他認識到身心是不斷變化的現象時，他領悟了苦諦。最終，苦因&mdash;貪愛被去除，禪修者達到苦的 止息。
     </p>
     <p>
      八正道
     </p>
     <p>
      在那個瞬間，他完全發展了八正道：正見、正思維、正語、正業、正命、正精進、正念和正定。
     </p>
     <p>
      當禪修者能很好地專注在禪修目標即身心過程上時，他就開始發展八正道。怎麼發展？比如，當他 的心專注在腳的移動時，他必須付出心精進，該心精進就叫「正精進」。由於此心精進，他能夠覺知腳的 移動，該覺知就是「正念」，因為該覺知引導他正確瞭解身心過程。當他的心很好地專注在腳的移動時， 定力逐漸變得更強、更深，該定力就叫「正定」。在剛開始禪修時心跑掉是很自然的。起先，不管禪修者 付出多少的努力，心不能停留在腳的移動上。於是，有一個心所與覺知腳的移動的心同時生起，將心引 導到禪修目標&mdash;腳的移動。這個將心引導到禪修目標的心所就叫「正思維」。正思維的作用就是將心導向 禪修目標。這樣，心就很好地專注在禪修目標&mdash;腳的移動。然後，心透視到移動的身體過程的真實本質 ，正確瞭解移動是自然過程。這種瞭解就是「正見」。因此，當我們覺知腳的移動時，我們就發展了八正 道中的五支。它們是：正精進、正念、正定、正思維和正見。
     </p>
     <p>
      在如實地觀察身心過程時，就包括這五支。當修行內觀禪時，我們遠離邪語、邪業和邪命。遠離邪 語是「正語」；遠離邪業是「正業」；遠離邪命是「正命」。因此，當觀察任何心理現象或身體過程時，我們同 時具足八正道。由於發展了八正道，就能夠利用八正道中正見的力量去除邪見。因此，當禪修者進入第 一道智&mdash;須陀洹道智時，他就已完全發展了八正道&mdash;引導至苦滅的道路。
     </p>
     <p>
      最終，通過培育正念，透視身心過程的真實本質，他領悟了四聖諦。
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975903" name="_Toc405975903">
      </a>
      第二章 給禪修者的初步指導
     </h1>
     <p>
      在佛陀的教導裡面，有三學或三種訓練：
     </p>
     <p>
      戒學：道德行為的訓練；
     </p>
     <p>
      定學：定的訓練；以及
     </p>
     <p>
      慧學：智慧、觀智或覺悟的訓練。
     </p>
     <p>
      當我們訓練道德行為時，需要約束言行，在家人持守至少五戒或八戒，對於僧團比庫來說，要持守 227條戒律，這些戒律叫做巴帝摩卡。當我們戒除不善的言行時，我們就完全持守了這些戒律。
     </p>
     <p>
      當我們持守五戒時，必須戒除殺生、偷盜、邪淫、妄語和飲酒。
     </p>
     <p>
      第一條戒是戒除殺生，第二條戒律是戒除偷盜，第三和第五條戒是戒除邪淫和飲酒，都是戒除不善 的行為。第四條戒是戒除妄語，指戒除說謊和惡口。因此，如果戒除了不善的言行，就持戒完滿。
     </p>
     <p>
      在禪修營期間，必須持守八戒，這樣就有更多的時間來禪修。
     </p>
     <p>
      八戒中的第六條戒是過午不食（日中後至黎明）。儘管在這段時間禁止吃任何食物，但你們可以喝 蜂蜜和一些果汁，如橙汁和檸檬汁。
     </p>
     <p>
      要持守第七條戒，要戒除跳舞、唱歌、奏樂、聽音樂，戒除使用鮮花、香水裝飾、美化身體。第八 條戒是戒除坐臥高貴奢侈大床。八戒中的第三條戒是禁止任何性接觸，並不只是邪淫。通過戒除這些行 為，言行就變得清淨。這些就是在禪修營期間必須要持守的八戒。
     </p>
     <p>
      持守八戒是為了使道德行為清淨，即戒清淨。戒清淨是禪修者取得禪修進步的前提條件。當戒清淨 時，就不會有罪惡感。當沒有罪惡感時，心就變得清晰、寧靜、穩定，容易證得深度的定，進而產生觀 智。
     </p>
     <p>
      什麼是威巴薩那？
     </p>
     <p>
      「威巴薩那（VIPASSANA）」是佛法術語，它是一個組合詞，由「VI」和「PASSANA」兩個詞組成。「VI」 的意思是指身心的三共性，即無常、苦和無我。「PASSANA」的意思是通過深度的定透視或正確瞭解身心 的三共性。我們修習威巴薩那禪或內觀禪的目的是透視所有現象的無常、苦和無我這三共性。
     </p>
     <p>
      通過透視身心的三共性，我們就能根除所有的煩惱，如渴望、貪婪、慾望、貪愛、仇恨、厭惡、嫉 妒、傲慢、昏沉、憂愁、掉舉和後悔。通過根除所有煩惱，我們就能證得解脫或苦的止息。只要有這些 煩惱中的任一個，必然要受很多苦。煩惱是苦的因，當煩惱被去除時，所有的苦將不復存在。
     </p>
     <p>
      觀四大
     </p>
     <p>
      在禪修期間，要觀察在當下生起的每個身心過程。在剛開始禪修時，我們要依據馬哈希大師的指導 ，觀察腹部的移動。觀腹部移動是根據《大念處經》，即《四念處經》。在這部經中，有一章內容講觀 四大。佛陀在這一章中教導我們當四大顯現時，觀四大 （四大是地、水、火、風）。不僅只是這四大， 所有的身心現象都要觀。
     </p>
     <p>
      我們要知道地大並不是指地本身，而是指這種元素的真實本質，即軟和硬的自性。經中說：「軟和硬 是地大的自性」。因此，通過充分認識身體中任何部位的軟和硬，就獲得透視地大自性的觀智。
     </p>
     <p>
      水大也不是指水本身，而是指這種元素的自性。流動性和凝聚性是水大的自性。當認識到你身體中 任何部位的流動性或凝聚性時，就在認識水大。類似地，火大並不是指真的火，而是指這種元素的自性 。冷和熱是火大的自性。風大並不是指風，而是用來表示這種元素自性的一個術語。風大的自性是身體 中任何部位的移動、動作、振動或支持。當你感受到、認識到或正確瞭解身體中任何部位的移動、動作 、振動或支持性時，你就在認識風大。這就是觀四大的內容。
     </p>
     <p>
      世尊說：「必須如實觀察任何身心過程」。當我們以舒適的姿勢坐下，將心專注在身心過程時，不知 道先觀哪個目標。為了解決這個問題，馬哈希大師指導他的禪修者從觀腹部的移動下手，將心專注在腹 部的移動上。當腹部上升時，標記「上」，當腹部下降時，標記「下」。就這樣標記「上、下、上、下」。這樣 ，我們能夠感覺到腹部向內和向外的移動。禪修者必須充分認識風大的自性，這樣他們才能夠去除有人 、眾生或靈魂的邪見。他們要觀察腹部向內和向外的移動或腹部上下移動，心裡默念「上、下、上、下」 。
     </p>
     <p>
      在觀腹部移動的期間，如果聽到一個很響的聲音，應觀「聽到、聽到、聽到」。在剛開始禪修時，也 許不能克服噪音的干擾，因此你應盡可能地觀「聽到、聽到」。如果你認為觀「聽到」的時間足夠長，可以停 了，然後應繼續觀主要的目標&mdash;腹部的移動。有時候，聲音只持續一兩秒鐘。當聲音消失時，心自然回 到主要目標，應像往常那樣觀「上」和「下」。
     </p>
     <p>
      觀察心理狀態和情緒
     </p>
     <p>
      當你感到快樂或不快樂，或感到難過悲傷時，必須如實觀察這些情緒，心裡默念「快樂、快樂」或「難 過、難過」或「傷心、傷心」，等等。當情緒消失之後，觀察的心自然回到腹部移動，像往常一樣觀腹部移 動。當心跑了，想工作、家庭或親戚，要放下腹部移動，觀想的心，標記「想、想」。這點應該注意。當 觀察任何心理狀態或情緒時，觀察的心必須有精神、專注、準確並稍快，這樣觀察的心就變得持續不斷 、穩定。當觀察的心變得有力時，妄想或想的心就自己停止。然後，觀察的心就沒有目標可觀，它自然 回到腹部移動，像平時一樣觀腹部移動。
     </p>
     <p>
      行禪
     </p>
     <p>
      佛陀說必須將正念運用在身體的四種姿勢上，即走、站、坐、躺。
     </p>
     <p>
      當走路時，要如實觀察走。
     </p>
     <p>
      當站著時，要如實觀察站。
     </p>
     <p>
      當坐著時，要如實觀察坐。
     </p>
     <p>
      當躺著時，要如實觀察躺。
     </p>
     <p>
      因此，在每一種姿勢中，都要有正念。
     </p>
     <p>
      我們建議禪修者交替地練習行禪和坐禪，這樣能夠更容易專注，從而證得透視行禪和坐禪過程的觀 智。每次靜坐之前必須要先行禪，因為行禪中腳的移動比坐禪中腹部的移動更明顯。當禪修有經驗時， 靜坐時間要比行禪時間長。當達到第六觀智時，靜坐時間可以比行禪時間長，可以坐兩三個小時，走一 個小時。在此階段，定力足夠深和強，能夠看到名和色（身心現象）的消失。但在剛開始禪修時，因為 不能坐到像行禪時間那麼久，行禪時間需要比坐禪時間長。在行禪中比在靜坐中更容易獲得一定程度的 定力。
     </p>
     <p>
      因此，首先你應練習行禪，覺知走。當邁左腳時，標記「左」；當邁右腳時，標記「右」。就這樣，標記 「左、右、左、右」，或只是「走、走」。標記並不重要，觀察腳移動的心才更重要。你應重視覺知，對腳的 移動保持敏銳的覺知。
     </p>
     <p>
      不過，在剛開始禪修時，我們必須使用標記如「上、下」、「左、右」以幫助把心準確地專注在目標上。 當禪修體驗進入高級階段時，可以捨棄標記，因為那時的正念已經變得銳利、有力。
     </p>
     <p>
      行禪時，不要閉上眼睛。眼睛半閉（意思是放鬆，保持視覺正常），視線保持在前方2米遠處。
     </p>
     <p>
      頭不要太低。如果頭太低，脖子或肩膀會感到發緊，並會造成頭痛或頭暈。不要看腳，否則心就不 能很好地專注在腳的移動上。也不要東張西望。一旦東張西望，心就跟著眼睛跑了，於是定力就中斷了 。當你感到有人向你走來或從旁邊經過，會有個想看的心或慾望生起。要非常專注地觀這個想看的心或 慾望，標記 「想看」，直到其消失。當想看的心消失之後，就不會再東張西望。這樣，就能夠保持定力不中斷。 因此，請注意行禪時不要東張西望，這樣既可以保持定力不中斷，又能在定力和觀智方面取得進步。兩 手在前或後交叉。如果你想改變手的姿勢，可以，但要有正念。
     </p>
     <p>
      當有動機想改變姿勢時，應標記「動機、動機」。應非常緩慢地改變姿勢，觀察改變姿勢過程中每個 動作和移動。不要遺漏觀察任何動作或移動。當手的姿勢改變完之後，繼續像以前一樣觀腳的移動。
     </p>
     <p>
      在坐禪時，有禪修經驗的禪修者應至少一動不動地坐45分鐘。初學者應至少坐30分鐘，也不能改變 姿勢。當劇烈的痛生起時，初學者也許不能承受，想改變姿勢。在改變姿勢之前，必須觀想改變姿勢的 動機，標記「動機、動機」。然後，非常緩慢地改變姿勢，觀察改變姿勢過程中每個動作和移動。當姿勢 改變完之後，應回到主要目標&mdash;腹部移動，像平時那樣去觀察。
     </p>
     <p>
      無聲的覺知
     </p>
     <p>
      在禪修營中，不得快速做任何動作或移動。要盡可能地放慢所有的動作和移動，這樣，才能將正念 運用在每個當下身體的移動或動作上。
     </p>
     <p>
      在家裡，你不必放慢所有的動作和移動，速度應正常，只需保持一般正念。對所有的動作和移動保 持普通的覺知，不用標記。
     </p>
     <p>
      但是，在禪修營中，要放慢所有的動作和移動，因為除了觀身心的活動之外，沒有其他事情可做。 除了在日常活動中簡短的必要交流之外，不得說話。這些簡短的幾句話也要慢慢地、輕聲地說，這樣你 的話就不會干擾其他禪修者的定力。
     </p>
     <p>
      做任何事情盡量不要發出聲響。走路時不得懶散而發出沉重的聲響。如果覺知腳的移動，在走路時 就不會發出任何聲音。
     </p>
     <p>
      必須觀身心中生起的任何現象。必須如實觀察身心的任何活動。比如吃飯時，必須觀吃飯過程中所 有的動作和移動。洗澡、穿衣或喝水時，必須放慢所有的動作，觀察移動。當坐下時，要非常慢地坐下 ，觀察整個坐的過程中的動作。當起身時，必須非常慢地站起身，觀察站立過程中的每個動作。所有的 身心過程都在不斷變化&mdash;生起，消失。你需要明白這就是身心過程的真實本質。因此，盡可能地放慢所 有的動作和移動非常重要。
     </p>
     <p>
      正念和定力為觀智的開展做好鋪墊。當正念變得持續時，定力自然會加深。當定力更深時，觀智會 自行開展。因此，我們應努力保持持續穩定的正念。
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975904" name="_Toc405975904">
      </a>
      第三章 正念的七項利益
     </h1>
     <p>
      佛陀在《大念處經》裡教導了正念的七項利益。但在講這些利益之前，我想先簡要解釋佛教的四個 層次：
     </p>
     <p>
      1、 虔誠；
     </p>
     <p>
      2、 倫理；
     </p>
     <p>
      3、 戒律；以及
     </p>
     <p>
      4、 實修。
     </p>
     <p>
      第一層次 虔誠
     </p>
     <p>
      對佛教的虔誠表現為「儀式和典禮」，誦念佛經和護衛經，供花、供香、供齋和供袈裟。當做這些善 行時，是出自我們的虔誠，是通過對法的正確瞭解而建立起來的信心。
     </p>
     <p>
      我們是懷著對三寶的信心來舉行宗教儀式的。我們相信佛、法、僧。我們相信佛陀已經證得至高無 上的覺悟，根除了所有的煩惱，因此，他是值得恭敬的（阿羅漢）。佛陀曾經精進修行，是自己證悟， 沒有從任何老師那裡學習到佛法。我們以這種方式相信佛陀。
     </p>
     <p>
      佛陀教導我們快樂、安詳地生活，他教給了我們滅苦的方法。我們相信，只要我們遵從他的教導或 方法，我們肯定能生活快樂、安詳，脫離痛苦。因此，我們也相信佛法。
     </p>
     <p>
      同樣，我們也相信僧。當我們說到僧，主要指已證得四個道智之一的聖僧。但在一般意義上，僧也 指仍在努力修行以去除煩惱的凡夫僧。因此，我們禮敬三寶&mdash;佛、法、僧。
     </p>
     <p>
      我們也相信通過誦念佛陀所教導的經文，我們是在做善行，有助於止息痛苦。做這些善行就形成佛 教的信仰層次。但是，如果我們想要得到佛法的精髓、想要解脫所有的痛苦，我們不應只滿足於此虔誠 的層次。因此，我們必須追求更高的層次。
     </p>
     <p>
      第二層次 倫理
     </p>
     <p>
      佛教的第二個層次是倫理。依據是佛陀關於身、口、意清淨的教導。佛教有很多教理是有關倫理的 。
     </p>
     <p>
      通過遵循這些準則，我們可以在今生和來世生活快樂，但我們無法徹底去除痛苦。佛教的精髓是：
     </p>
     <p>
      1、 諸惡莫作；
     </p>
     <p>
      2、 眾善奉行；
     </p>
     <p>
      3、 自淨其意。
     </p>
     <p>
      這就是世尊教給我們的倫理層次的三部分內容。這也是諸佛的教導。如果我們遵循這些準則，就能 生活快樂、安詳，因為佛教的基礎是建立在因果法則之上的。如果我們戒除所有的不善行，就不會遭受 任何惡果。
     </p>
     <p>
      為了將心從煩惱中清淨出來，要修行捨摩他和威巴薩那。通過修行捨摩他，心能夠清淨，但只是在 禪修時清淨，一旦不修行，煩惱會再次襲擊我們。
     </p>
     <p>
      如果通過透視身心過程的真實本質來淨化我們的心，煩惱就不會再回頭。透視身心現象的智慧叫「威 巴薩那智」（觀智）。它能克服一些煩惱，減少貪、嗔、癡等煩惱。通過威巴薩那智（具有穿透力的觀智 ）去除的一些煩惱就不會再次襲擊我們。
     </p>
     <p>
      換句話說，當我們體驗到觀智時，該體驗不會消失或離開我們。當我們回憶在禪修中的體驗時，證 得的觀智會再次呈現，由於此觀智，被觀智去除的一些煩惱就不會再生起。因此，我們的心能從一些煩 惱清淨出來。
     </p>
     <p>
      如果我們有足夠的信心，會在修行過程中付出更多的精進，證得第四道智&mdash;阿羅漢果。那樣，就可 以根除所有的煩惱。當煩惱被全部去除、心徹底清淨時，就不會生起任何苦，苦止息了。將心從煩惱中 清淨出來涉及佛教的實修，前面的兩個層次涉及佛教的行為準則。
     </p>
     <p>
      在《大吉祥經》裡有三十八種吉祥。在這部經裡，有許多要遵守的倫理準則，這些倫理準則能使我 們生活快樂、安詳。例如：
     </p>
     <p>
      「住在合適的地方，往昔積有功德，正確理解自我，這是最高的吉祥。
     </p>
     <p>
      侍奉父母，愛護妻兒，做事有條不紊，這是最高的吉祥。
     </p>
     <p>
      思想不因接觸世事而動搖，擺脫憂愁，不染塵垢，安穩寧靜，這是最高的吉祥」 （經集258~269偈) 。
     </p>
     <p>
      這部經的含義是我們應該使我們的身、口、意清淨，遠離煩惱。因此，我們需要遵守許多行為準則 ，從而能夠快樂、幸福地生活。
     </p>
     <p>
      我想提醒大家《中部經典》第61經：《教誡羅睺羅經》，你們也許熟悉這部經。在這部經裡，佛陀 鼓勵當時七歲的小沙彌羅睺羅要恰當、快樂、安詳地生活。佛陀教羅睺羅不管做什麼事，要保持正念， 要自我反省。
     </p>
     <p>
      「羅睺羅，當你要作身業時，要如是反思：此身業是否會給自己，他人或自己和他人帶來不利？此身 業是否是不善身業，導致痛苦？若如是想：此身業會給自己，他人或自己和他人帶來不利，此為不善身 業，導致痛苦，你就不應作這樣的身業。
     </p>
     <p>
      若作如是想：你要作的身業不會給自己，他人或自己和他人帶來不利，此為善身業，能讓人得到幸 福快樂，你就可以作這樣的身業。」
     </p>
     <p>
      佛陀這樣教導羅睺羅反省正在作的身業或已作的身業。佛陀也教他同樣的方法反省語業和意業。
     </p>
     <p>
      因此，這些倫理準則是我們在日常生活中能夠幸福快樂生活的最好的方法。有很多倫理準則有助於 我們幸福快樂地生活。理解並遵守這些倫理準則，我們肯定能幸福快樂地生活，儘管我們還不能去除所 有的痛苦。
     </p>
     <p>
      第三層次 戒律
     </p>
     <p>
      儘管這些倫理準則有助於我們幸福快樂地生活，我們不應只滿足於佛教的第二個層次。我們應該繼 續追求佛教更高的第三個層次：戒律。在戒律方面，要遵守五戒、八戒或十戒。沙彌持守十戒，比庫持 守227條戒。在家人在日常生活中必須持守至少五戒。當我們能完全持守五戒時，得到戒清淨。當戒清 淨時，禪修者能夠容易地修行捨摩他或威巴薩那。基於戒清淨，禪修者能夠容易地專注在禪修目標上， 獲得深度的定，從而心變得清澈、寧靜和快樂。
     </p>
     <p>
      第四層次 實修
     </p>
     <p>
      下面，我們講佛教的第四個層次，即實修。我們必須禪修才能從煩惱中解脫出來，並最終證得所有 苦的止息。這裡，我們修習兩種禪修方法，其構成佛教的實修層次。一種禪修方法能讓我們證得深度的 定，另一種方法能讓我們通過透視身心的真實本質證得苦的止息。
     </p>
     <p>
      佛陀重視第二種禪修方法&mdash;威巴薩那禪修（即，內觀禪）。修行內觀禪，依據是《大念處經》，此 經是關於四念處的開示。當我們能將正念運用在所有的身心過程時，一定能證得苦的止息。佛陀在窟魯 省宣說《大念處經》時，講解了四念處。
     </p>
     <p>
      正念的七項利益
     </p>
     <p>
      在《大念處經》的序言中，佛陀解釋了禪修者通過親身體驗法，可以獲得七項利益。
     </p>
     <p>
      正念的第一項利益是獲得清淨。當禪修者培育正念時，他可以獲得清淨，去除所有的煩惱。有十種 主要的煩惱：貪、嗔、癡、慢、邪見、疑、昏沉、掉悔、無慚和無愧。
     </p>
     <p>
      貪包括貪婪、慾望、渴望、貪愛、執著和愛；當這些心理狀態中的任一個生起時，我們的心就被染 污，生起煩惱。因此，這些心理狀態被稱為煩惱。
     </p>
     <p>
      嗔指憎恨、生氣、敵意或厭惡。
     </p>
     <p>
      癡指愚癡或無明。
     </p>
     <p>
      邪見指錯誤的觀念。
     </p>
     <p>
      慢指傲慢自大。
     </p>
     <p>
      疑指對三寶和禪修方法的懷疑。
     </p>
     <p>
      昏沉指懶惰和遲鈍的狀態，在此狀態下，會產生瞌睡。昏沉是禪修者的「老朋友」，也是大家聽開示 時的「老朋友」。
     </p>
     <p>
      今天小參時，所有的禪修者都報告說：「我很累，我想睡覺。」在開始禪修時，我們必須努力、堅持 ，因為我們還不習慣內觀禪修這項工作，這是禪修的關鍵階段，不會持續很久，可能兩三天。三天之後 ，所有的禪修者都會好的。那時，他們就能克服這些障礙定力和觀智進步的『老朋友』。
     </p>
     <p>
      掉悔指掉舉和後悔。
     </p>
     <p>
      無慚指道德上不知羞恥。一個人對他不善的身業、口業和意業的沒有羞恥之心。
     </p>
     <p>
      無愧指道德上沒有畏懼，即指一個人在造作不善的身業、口業和意業時，不害怕其後果。無愧也是 煩惱之一。
     </p>
     <p>
      這十種煩惱必須通過修行內觀才能從我們的心中去除。佛陀說：「如果一個人修習內觀，他就可以從 所有的煩惱中清淨出來。這意味著當他徹底從所有的煩惱中清淨出來時，他能夠證得阿羅漢的果位。這 是第一項利益。
     </p>
     <p>
      正念的第二項利益是可以克服憂愁。你不會再為親人的死亡或財產的損失而憂傷難過。如果修行內 觀，就不會為任何事情感到難過。儘管還沒有證得任何的道智和果智，但可以在一定程度上克服憂愁。 當憂愁生起時，會如實地觀察它。當正念變得有力時，憂愁會停止、消失。當完全發展正念時，肯定能 證得阿羅漢果位，永遠不會再有憂愁。這樣，正念能夠克服憂愁。
     </p>
     <p>
      正念的第三項利益是可以克服悲慟之苦。雖然你的父母、孩子或親人死了，你不會再為他們悲慟， 因為你已經完全認識到所謂的『孩子』或『父母』是由身心過程構成的。這樣，正念可以克服悲慟之苦。關於 第三項利益，《大念處經》的註釋提到一個故事：
     </p>
     <p>
      講這個故事是證明正念能夠克服憂愁和悲慟之苦。
     </p>
     <p>
      有一位女人，名叫巴達加拉，她的丈夫、兩個兒子、父母和兄弟在一兩天內全死了。她為親人的去 世感到無比悲慟，受到巨大的打擊。由於過度悲傷，她瘋了。
     </p>
     <p>
      有一天，佛陀在捨衛城的祗園精舍對一群聽眾說法。此時，這位瘋女人漫無目的地遊蕩，進入了揭 答園林，看見有人在聽法。她走向這些聽眾。一位對窮人非常仁慈的長者脫下他的上衣，丟給這位瘋女 人，並對她說：「親愛的女兒，請用我的上衣遮住你的身體。」此時，佛陀對她說道：「親愛的姐妹，請注 意！」聽到佛陀柔和安慰的話語，瘋女人恢復了意識。然後，她坐在這些聽眾的旁邊聆聽開示。佛陀知道 她已經清醒，特別為她作了開示。聽了佛陀的開示，這位女人的心逐漸地吸收了佛陀所說的法的精華。 當她的心進入很好的狀態，準備好要證悟法時，佛陀為她宣說了四聖諦： 苦諦、集諦、滅諦和道諦。
     </p>
     <p>
      第四聖諦包括關於如何如實觀察身心中發生的任何現象的指導。
     </p>
     <p>
      恢復意識之後，巴達加拉正確瞭解了正念的方法，並將這種方法運用在身心過程中生起的任何現象 和任何聽到的聲音。隨著她的正念越來越強，她的定力也越來越深。由於她的定力很深，對身心過程的 觀智和洞察智也變得強而有力，她逐漸認識到身心現象的自性和共性。因此，當她聆聽佛陀的開示時， 她逐一體驗所有層次的觀智，並證得第一道智&mdash;須陀洹道智。通過修行內觀，獲得對法的親身體驗，曾 經的憂愁、悲傷全部從她的心裡消失，她成為一位『新生的女人』。因此，《大念處經》的註釋中提到這個 故事。現代的人也可以像佛陀時代的人一樣，通過修行觀禪，證得一些更高層次的觀智，克服憂愁。你 也可以運用正念克服憂愁。
     </p>
     <p>
      正念的第四項利益是止息身苦。
     </p>
     <p>
      正念的第五項利益是止息心苦。
     </p>
     <p>
      正念可以克服在禪修營和在日常生活中出現的身體的痛苦，例如疼痛、僵硬、癢、麻木等。當在禪 修中有一些經驗時，可以在相當程度上克服身心的痛苦。
     </p>
     <p>
      如果付出足夠的時間和精進，就能永久地去除身心的痛苦，那時，就證得了阿羅漢果位。但在禪修 期間，通過非常專注、密切地觀察，可以克服疼痛、僵硬、麻木、癢等所有身體的苦受。因此，不必害 怕疼痛、僵硬或麻木，因為這些苦受是幫助你達到離苦的「好朋友」。
     </p>
     <p>
      如果你有精神地、準確地、密切地觀察痛，痛似乎更劇烈，因為你對痛看得越來越清楚。當你看到 痛的不愉快性時，就不會把痛當作是你自己，因為你看到感受只是心理現象的自然過程。你不會執著這 種痛的感覺為『我』、『我的』或『人』或『眾生』。這樣，就可以根除有靈魂、我、人、眾生，『我』或『你』的邪見。
     </p>
     <p>
      當所有煩惱的根，也就是薩迦耶見或我見被摧毀時，你必定已證得第一道智&mdash;須陀洹道智。然後你 可以繼續修習，證得其他三個更高的道智和果智。這就是為什麼我說身體的苦受如疼痛、僵硬、麻木是 你的「好朋友」，它能幫你證得苦的止息。換句話說，這種麻木或任何苦受是打開涅槃大門的鑰匙。當你 感到痛時，你是幸運的，因為痛是禪修最有價值的目標，它吸引觀察的心與它長時間地呆在一起。觀察 的心能夠深深地專注在痛上，並投入痛的感受中。當心完全投入痛的感受時，就不再覺察到身體的形狀 或你自己。此時，透視到痛或苦受的自性。當繼續禪修，將能透視到身心現象的無常、苦和無我或無靈 魂的三共性。這會引導你達到所有苦的止息。因此，如果有痛，你是幸運的。
     </p>
     <p>
      在緬甸，有些禪修者達到第三觀智「領會智」後，幾乎完全克服所有的苦受，由於沒有疼痛可以觀察 ，他們對修行不滿意。於是，他們便跪坐在自己的腿上，壓迫雙腿，製造疼痛。他們在尋找能引導他們 止息痛苦的「好朋友」。
     </p>
     <p>
      當你感到難過時，請持續、專注、非常密切地觀察這個難過的感受，標記「難過、難過」。如果感到 沮喪，要非常專注地、堅定地觀察這沮喪。當正念變得強而有力時，難過和沮喪會消失。因此克服心苦 是正念的第五項利益。
     </p>
     <p>
      正念的第六項利益是證得覺悟，即證得道智和果智。當你付出足夠的時間和精進修行內觀時，將至 少證得第一道智&mdash;須陀洹道智。這是正念的第六項利益。
     </p>
     <p>
      正念的第七項利益是通過修行內觀，肯定能證得涅槃，即解脫。
     </p>
     <p>
      總之，修行正念的禪修者通過對法的親身體驗，能獲得以下七項利益：
     </p>
     <p>
      1. 獲得清淨，去除所有的煩惱；
     </p>
     <p>
      2. 克服憂愁；
     </p>
     <p>
      3. 克服悲慟；
     </p>
     <p>
      4. 止息身苦；
     </p>
     <p>
      5. 止息心苦；
     </p>
     <p>
      6. 證得覺悟；以及
     </p>
     <p>
      7. 證得涅槃。
     </p>
     <p>
      佛陀以正念的七項利益作為《大念處經》的開始。因此，如果你勇猛精進地修行，肯定能獲得這七 項利益。
     </p>
     <p>
      我們很幸運，因為我們相信覺悟的佛陀教導我們引導至苦滅的正確方法，但我們不應滿足。在巴利 經典裡有個譬喻：
     </p>
     <p>
      有個很大的池塘，裡面水滿滿的，水很清，有很多蓮花。有一位旅行者手髒了，他知道他可以在這 個池塘裡把手洗乾淨，但他沒去池塘洗手，所以他的手仍然是髒的。他經過這池塘並繼續旅行。
     </p>
     <p>
      經中提出一個問題:「那個人的手依然是髒的，該責備誰呢？是池塘還是旅行者？」很明顯，是旅行者 。雖然他知道他可以在池塘裡洗去污穢，但是他沒有這麼做，因此，要責備的是旅行者。
     </p>
     <p>
      佛陀教給我們正念的方法。如果我們知道這個方法，卻不練習正念，我們將不會解脫痛苦。如果我 們沒有解脫痛苦應該責備誰呢？佛陀、正念的方法，還是我們自己？是的，應該責備的是我們自己。如 果你勇猛精進地修習正念，當體驗到佛陀所述的七項利益後，你就從所有的煩惱中清淨出來，解脫痛苦 。
     </p>
     <h1>
      <br/>
      <a id="_Toc405975905" name="_Toc405975905">
      </a>
      第四章 四念處
     </h1>
     <p>
      佛陀解釋了正念的七項利益之後，繼續講解四念處，即：
     </p>
     <p>
      1、 身念處；
     </p>
     <p>
      2、 受念處；
     </p>
     <p>
      3、 心念處；以及
     </p>
     <p>
      4、 法念處。
     </p>
     <p>
      身念處指如實觀察身體或任何身體過程。受念處指觀察感受。有三種受：樂受、苦受和捨受。當樂 受、苦受或捨受生起時，禪修者必須如實觀察。有些禪修者認為苦受是不愉快的，因此不用觀察它。這 是不對的。要非常專注地、如實地觀察所有的感受。如果不觀察樂受或苦受，肯定會執著樂受或排斥苦 受。如果喜歡一種特別的感受，就執著這種感受。該執著是緣於受而產生的。在此情況下，樂受是因， 執著是果。
     </p>
     <p>
      如果禪修者勇猛精進、堅持不懈地修行，他的定力會變得又深又強。當禪修者的定力變得又深又強 時，他會感到快樂，體驗到喜，因為在此刻，他的心遠離所有的煩惱，如貪、嗔、癡、慢等。穩步修行 的禪修者已達到很好的內觀階段，此時禪修的心是平靜、輕安、寧靜的。如果禪修者喜歡這種境界，滿 足於他的體驗，就會執著這種境界，因此不能證得到更高的觀智。在第四觀智的第一階段，禪修者可以 獲得這種體驗。在此關頭，禪修者應只是觀察他在此階段獲得的體驗。不管禪修者在這個階段體驗到什 麼，只要他非常專注、有精神地觀察他的體驗，就不會造成執著這些體驗。當禪修者專注地、持續地觀 察體驗時，快樂、輕安、寧靜不會很明顯的在他的心中顯現。此刻他所認識到的只是感受的生起和消失 。然後另一種感受生起，消失。他沒有區別是苦受還是樂受，因此，他不再執著他的體驗。只有這時他 才能超越此階段的觀智，證得更高的觀智。
     </p>
     <p>
      如果禪修者很有正念地行禪，觀察每步的六個步驟：提、抬、推、落、觸和壓，定力就會很好，又 深又強，覺察不到腳的形狀，也覺察不到身體的形狀，只是知道腳的移動。腳的移動也感到很輕，感覺 像在空中行走，身體被舉到了空中。在這個階段，他體驗到極佳的禪修經驗。如果他沒有有正念地觀察 這些經驗，他會喜歡這些體驗，並想要有更多這樣的體驗。對他的修行感到非常滿意，他會認為這就是 涅槃（所有痛苦的止息），因為這是他曾經有過的最好的體驗。
     </p>
     <p>
      所有這些的發生是因為他沒有觀察愉快的體驗，因此，就執著這些體驗。這種執著的生起是緣於對 好體驗的愉悅感受。
     </p>
     <p>
      如果禪修者喜歡這種對好體驗的愉悅感受，而沒有觀察，他一定會執著這些體驗。所以，他應該觀 察、覺知在這個階段所經歷的任何體驗。不得分析、思維，而只是如實地覺知體驗。為了認識心理過程 或心理狀態的體驗是無常的，他必須這麼做。只要他觀察體驗，他發現這些體驗不是永恆的。
     </p>
     <p>
      當觀察的心變得穩定、持續、有力時，就透視到他的體驗即心理狀態的本質。心開始認識到這種體 驗已經消失了。只要有體驗生起，心觀察它，體驗就消失。於是，禪修者得出結論：樂受和體驗是無常 的，因為他已通過對法的親身體驗瞭解到無常的性質。
     </p>
     <p>
      這裡，法指身心過程。由於他認識到樂受和好體驗是無常的，就不會執著樂受和好體驗。當禪修者 正確瞭解好的心理狀態或好體驗的真實本質，就不會再生起執著。
     </p>
     <p>
      因果鏈
     </p>
     <p>
      當沒有貪愛生起時，執取就不會生起。當沒有執取生起時，就不會有任何善或不善的身業、口業或 意業。這種由執取所造成的行為稱為業。這些業可能是善的或不善的。有善的身業和不善的身業；有善 的口業和不善的口業；有善的意業和不善的意業。這些行或業是緣於執取而產生的，而執取又是執著任 何樂受或苦受的結果。
     </p>
     <p>
      當作任何身業、口業和意業時，它便成為因。這個因有可能在今生或來世結果。因此，由於善行或 不善行，一個眾生又再次出生。這些行是由執取造成的，而執取的原因又是貪。貪又緣於受。就這樣， 由於沒有觀察樂受只是體驗的一部分，眾生又在來世出生，經受各種痛苦。
     </p>
     <p>
      因此，如果禪修者認為不應該觀察受，那麼他將一直繞著緣起之鏈無休止地轉下去。他將輪迴到下 一世，受許多苦。這就是為什麼佛陀教我們要觀任何的受，無論是樂受、苦受或捨受。
     </p>
     <p>
      受念處
     </p>
     <p>
      通常在開始禪修時，禪修者會體驗到身體的苦受和心的苦受。這裡，我們需要再次解釋兩種受：身 受和心受。如果感受是緣於身體過程而產生的，稱為身受。如果感受是緣於心理過程而產生的，稱為心 受。實際上，每個感受都是心理過程，不是身體過程。但是，有時感受是緣於不舒服的身體過程而產生 的。當禪修者感覺身體不舒服時，苦受就生起了，這種苦受稱為身受，因為它是緣於身體過程而產生的 。
     </p>
     <p>
      剛開始禪修時，通常禪修者大多數的體驗是身心的苦受。但是，不管他體驗到什麼受，他必須非常 專注、有精神地、準確地觀察受，以便能瞭解受的真實本質。禪修者必須充分瞭解受的自性和共性，這 樣就不會執著或排斥受。這就是觀受。每當有感受生起時，禪修者必須如實地觀察。
     </p>
     <p>
      對禪修者而言，害怕在禪修時體驗到身體的苦受是很自然的，然而我們不應該害怕痛。當痛生起時 ，禪修者應該瞭解痛是自然的過程。當禪修者精進不懈地觀察痛時，就能瞭解痛的本質。深入觀察痛的 本質，可以使禪修者獲得更高的觀智。最後，他會由於痛而證悟。
     </p>
     <p>
      心念處
     </p>
     <p>
      第三個念處是心念處，意思是觀察心和與其同時生起的心所。根據《阿毗達摩》，每個心由心識和 心所構成。這裡，心所指心的隨從。心識從未單獨生起，心識與其隨從同時生起。心念處是指觀心識和 其心所。總之，任何心識和心所生起時，必須提起正念，如實地觀察。這就是觀心。心理狀態也許不錯 ，情緒也許很好。但不管怎樣，必須如實地觀察它。因此，當心有貪時，要如實地觀察。當有生氣的心 生起時，要觀生氣的心。根據《大念處經》，可以將生氣的心標記為 「生氣」。當正念很強時，生氣會消失。於是，禪修者認識到生氣不是永恆的，它生起又消失。通過 觀察生氣，禪修者可以獲得兩項利益：
     </p>
     <p>
      1. 克服生氣；
     </p>
     <p>
      2. 認識生氣的真實本質(生氣的生滅或無常性)。
     </p>
     <p>
      生氣是心理狀態之一，如果禪修者以正念觀察生氣，就能達到苦的止息。觀察各種妄想非常重要， 如想、計劃、想像。觀察妄想不是為了要使妄想消失，而是為了認識它們的自性和共性。當在妄想生起 的瞬間觀察妄想時，妄想就消失了，定力就會變得很深。
     </p>
     <p>
      法念處
     </p>
     <p>
      第四個念處是法念處。有些巴利文學者將「法」解釋為心的目標。我喜歡直接用「法」這個術語。
     </p>
     <p>
      這裡，法包括多種身心過程。第一類是五蓋，即：
     </p>
     <p>
      1、貪：指感官慾望，對可見的物體（色）、聲、香、味和有形物體的慾望；
     </p>
     <p>
      2.嗔：指生氣或厭惡。
     </p>
     <p>
      3.昏沉：指懶惰和遲鈍&mdash;瞌睡，心呆滯，沉重。
     </p>
     <p>
      4.掉悔：對過去的行為感到後悔、焦慮或不安。第一是為過去該做而沒有做的事感到不安；第二是 為做了不該做的事感到不安，即產生惡果的不善的行為。
     </p>
     <p>
      5.疑：指對三寶和禪修方法的懷疑。
     </p>
     <p>
      只要心中有煩惱，禪修者就無法認識身心過程。只有當心很好地專注於禪修目標（心理過程或身體 過程）時，心才能從所有煩惱和五蓋中解脫出來。心變得清晰、有穿透力，足以如實地透視到身心過程 的真實本質。因此，禪修者在任何時候要覺察在心中生起的五蓋中的任一蓋。
     </p>
     <p>
      例如，當禪修者聽到外面傳來悅耳的歌聲時，如果不觀察，就有想聽這首歌的慾望，喜歡反覆地聽 這首歌，陶醉在歌聲當中。這種想聽歌的慾望是感官慾望。因此，當聽到任何悅耳的歌聲時，要觀「聽到 、聽到」。但是，如果禪修者的正念不夠強，還是會被歌聲吸引。如果他知道想聽歌的慾望會導致不愉快 的事件或事故發生，或成為禪修進步的障礙，他會觀這個慾望，標記「慾望、慾望」，直到這種慾望被強 大的正念所驅散。當正念變得持續而強大時，這種慾望會消失。慾望之所以會消失，是因為禪修者非常 專注、有精神地觀察它。當禪修者如實地觀察或覺知他的感官慾望，並在心裡默念：「慾望，慾望」時， 他就嚴格遵循了佛陀在《大念處經》裡的教導。這種方式的觀察就是「法念處」，或觀心的目標，即觀察 五蓋。
     </p>
     <p>
      懶惰和遲鈍實際上指昏沉，它們是禪修者的「老朋友」。當禪修者昏沉時，他享受昏沉。如果有任何 其他的樂受生起，他能夠觀察。但當昏沉生起時，卻不能覺察到，因為他喜歡昏沉。這就是為什麼昏沉 是禪修者的老朋友。昏沉使禪修者輪迴更久。如果禪修者不能觀察昏沉，就不能克服昏沉。如果他不能 瞭解昏沉的本質，他就執著昏沉，享受昏沉。
     </p>
     <p>
      當感到昏沉時，應在禪修中付出更多的精進，這是指我們必須更專注、有精神、準確地觀察昏沉， 這樣我們能夠使心更活躍、警覺。當心變得更活躍、警覺時，就不會再昏沉。因此，禪修者就能克服昏 沉。
     </p>
     <p>
      掉悔是五蓋中的第四個蓋，指掉舉或散亂和後悔。此處，掉舉的意思是散亂、不平靜、打妄想。當 沒有觀察禪修目標，而在打妄想或想些其它事情時，這就是掉舉。當你的心打妄想時，你必須如實地覺 知它。剛開始禪修時，禪修者也許不能這麼敏銳地覺察，他甚至不知道心在打妄想。他以為心停留在禪 修目標上，如腹部的移動或呼吸。當禪修者覺察到心在打妄想時，要觀「妄想、妄想」或「想，想」。這意味 著他在觀「掉悔」。
     </p>
     <p>
      第五個蓋是疑。你可能懷疑佛、法、僧三寶，或懷疑禪修的方法。任何懷疑生起，禪修者必須非常 專注地觀察，你必須如實地觀察疑。這就是「觀法」。
     </p>
     <p>
      以上就是四念處，即：
     </p>
     <p>
      1、 身念處,即觀身體或身體現象；
     </p>
     <p>
      2、 受念處,即觀受；
     </p>
     <p>
      3、 心念處,即觀心及其心所；以及
     </p>
     <p>
      4、 法念處,即觀法或心的目標。
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975906" name="_Toc405975906">
      </a>
      第五章 清淨的七個層次
     </h1>
     <p>
      為了證悟，我們要經歷七個層次的清淨：
     </p>
     <p>
      戒清淨
     </p>
     <p>
      第一是戒清淨：指道德行為的清淨。禪修者如果不能持守八戒，至少要持守五戒，這樣就能獲得戒 清淨。
     </p>
     <p>
      我們應注意五戒中的第三條戒和八戒中的第三條戒是不同的。五戒中的第三條戒是禁止邪淫，而八 戒中的第三條戒是禁止性行為。如果禪修者不戒除性行為，他的心會被貪慾蓋染污。只有當心遠離五蓋 時，禪修者才能透視身心過程的真實本質。
     </p>
     <p>
      如果禪修者能持守八戒當然更好。如果不能持守八戒，他們會對味道、食物、可視物、聲音、氣味 和可觸的東西產生慾望&mdash;在心中生起五種貪慾。通過持守八戒，可以淨化言行。這就是戒清淨。當戒清 淨時，心在某種程度上也得到淨化。
     </p>
     <p>
      當心清淨時，心變得平靜、寧靜、輕安、快樂，能專注在禪修目標上。於是，禪修者獲得了心清淨 ，這是第二層次的清淨。
     </p>
     <p>
      當佛陀的弟子鄔地亞臥病在床時，佛陀去看他，並詢問他的健康狀況，鄔地亞告訴佛陀有關他的病 情：
     </p>
     <p>
      「世尊，我的病沒有減輕，反而加重。我不知道我是否能活過今天或明天。因此我想要禪修，去除所 有的煩惱，在死前證得第四層的覺悟&mdash;阿羅漢果。請給我簡短的指示，讓我能進行禪修，證得阿羅漢果 。」
     </p>
     <p>
      佛陀說：「鄔地亞，你應該清淨基礎。如果基礎清淨，就沒問題，即能證得阿羅漢果。」
     </p>
     <p>
      佛陀問：「什麼是基礎？」佛陀自己回答：「這裡，基礎指戒清淨和正見。正見指接受和相信因果法則 （業和果）或業的法則。」 佛陀繼續說：
     </p>
     <p>
      「鄔地亞，你應清淨你的戒律和正見。然後，在戒清淨的基礎上，修行四念處。這樣修行，你將證得 苦的止息。」
     </p>
     <p>
      佛陀注重戒清淨，因為戒清淨是定力和觀智進步的基本要求。當戒清淨時，心變得清晰、寧靜、安 詳和快樂。如果禪修者基於戒清淨培育正念，他能容易專注在任何身心過程的目標上。因此，戒清淨是 禪修者取得進步的前提條件。
     </p>
     <p>
      心清淨
     </p>
     <p>
      第二個清淨是心清淨。如果我們想要證得觀智，心必須從所有的煩惱中清淨出來。當心很好地專注 在任何身心現象時，就遠離五蓋。這就是心清淨。
     </p>
     <p>
      見清淨
     </p>
     <p>
      第三個清淨是見清淨。當禪修者的心已清淨，遠離五蓋時，就能洞察身心過程的真實本質。首先， 禪修者通過親身經驗，辨別心理過程和身體過程（名和色）。這叫做身心辨別智。當定力變得更深時， 禪修者認識到被觀察的身心現象的自性。於是，就不會將任何身心過程當作是人或眾生、靈魂或我。現 在，她的知見被淨化，證得了見清淨。
     </p>
     <p>
      度疑清淨
     </p>
     <p>
      第四個清淨是度疑清淨。當禪修者已經證得第二觀智&mdash;因果辨別智時，不再懷疑在過去、現在和來 世沒有一個所謂的永恆的靈魂或自我。通過她親身經驗，她開始辨別身心現象的因緣。然後，她判斷在 她的過去、現在和來世中，只有緣於因果的身心現象的過程。因此，她克服了對三世&mdash;過去、現在和未 來的懷疑。這就是度疑清淨。
     </p>
     <p>
      為了證得這種觀智，要觀察每一個動作或移動之前的每個動機、意願或想要。所有的動作之前都有 動機、意願或想要。這就是為什麼要觀察每個動作或移動之前的動機。當有動機要提腳時，應觀「動機」 ，然後觀「提、提」。當有動機要彎曲胳膊時，應觀「動機」，然後觀「彎、彎」。在吃飯時，當她有動機要張 開嘴吃食物時，應先觀「動機」，然後觀「張開、張開」。在張嘴時，動機是因，嘴巴的張開是果。
     </p>
     <p>
      如果沒有意願或想要來這裡，你們會來這裡嗎？那麼，什麼是因？什麼是果？動機是因，來這裡是 果。然後，為什麼你坐在椅子上？是的，是動機使你坐在椅子上。有坐的人嗎？如果你認為有人坐在椅 子上，那麼我們應從醫院的太平間拉一具屍體過來，讓它坐在椅子上。屍體沒法坐在椅子上，因為它沒 有動機。是動機，即心理過程，造成動作或移動。坐姿是男人、女人，還是沙彌或比庫？什麼都不是。 在坐姿中，只有風大，包括體內風和體外風支撐的身體過程。坐是一個身體過程，既不是男人，也不是 女人。
     </p>
     <p>
      如果想要坐，要先觀「動機」，然後觀「坐、坐」。在觀動機之後，要觀察所有坐的動作。當彎曲手臂， 要先觀動機，然後觀彎曲的動作。當伸展手臂時，要先觀動機，然後觀伸的動作，標記「伸、伸」。通過 銳利地覺知動機及其之後的動作，定力就變得相當深，於是，我們認識到所有事情的發生都是有因緣的 。諸法因緣生。
     </p>
     <p>
      因此，所謂的人、男人或女人只是因果的過程。沒有行為者，沒有人做任何事情。如果我們相信有 人在坐，這叫做薩迦耶見或我見（有行為者的邪見）。如果我們充分認識因果關係，我們所看到的只是 因果的自然過程。於是，就沒有「人」、「眾生」、「我」或「靈魂」。那麼，在過去存在的是什麼呢？在過去存在 的只是因果過程。這樣，就對我們的過去世、現在和來世就沒有懷疑。這就叫度疑清淨。
     </p>
     <p>
      有些禪修者感覺要觀每個動作之前的動機很難，因為他們沒有足夠的耐心。他們必須耐心地放慢動 作和移動，這樣才能看到動作和移動之前的動機。如果動作和移動太快，很難準確地觀察動機。
     </p>
     <p>
      當觀提腳前的動機時，我們將認識到動機是如何和腳的提起相關聯的。然後，當觀推腳前的動機時 ，我們將認識到動機是如何和腳的推的動作相關聯的。也認識到動機是如何和腳落下的動作相關聯的。 這樣，我們認識到是動機造成腳的動作的產生。動機是因，動作是果。因此，我們認識到身心過程的因 果，並判斷沒有一個永恆的諸如我、靈魂、人或眾生的實體。於是，我們克服了對在過去、現在和未來 中沒有靈魂或我的懷疑。這也是基於因果智的度疑清淨。
     </p>
     <p>
      當繼續密集禪修，逐漸瞭解身心過程的三共性：無常、苦和無我。我們體驗到劇烈的痛，覺知到痛 的開始、中間和結束，非常清楚地看到痛在消散。如此，我們正確瞭解了身心的自性和共性。我們如實 地認識到痛和其他身心現象的無常、苦和無我性。最終，痛消失了。這就是領會智。
     </p>
     <p>
      道非道智見清淨
     </p>
     <p>
      第五個清淨是道非道智見清淨。在此清淨的階段，不再有痛。因此，禪修者修行非常平穩、順利。 正念銳利、定力很深，精進不緊也不松，充沛、穩定，並與定力保持平衡。禪修者感到自在、快樂、幸 福、安詳。由於觀智，生起輕安和喜。身體很輕柔，有時候被托起來了。禪修者看到一些與觀智有關的 光，有時候他們看到的光像燈光，有時候是非常亮的光，等等。觀智敏銳、銳利、有穿透力，在觀察時 ，清楚地看到身心現象的生滅。對三寶生起強而堅定的信心。他們有很強的慾望想讓他們的親朋好友來 體驗威巴薩那禪修。
     </p>
     <p>
      擁有這些好的體驗之後，有些禪修者會想：「這肯定是涅槃，太棒了！我從來沒有過這種體驗，現在 我證得了涅槃。」他們感到很高興，並執著這些好的體驗。因此，他們不想再繼續修行，對這些好體驗很 滿意，但實際上，他們只是在去往涅槃的中途體驗到這些好體驗。因此，這些體驗被稱為觀智的十種染 。如果禪修者在密集禪修營中，並精進修行，在四周之內會體驗到這些染。
     </p>
     <p>
      通過老師或他人的指導，禪修者認識到這些好體驗是觀智的染。當她認識到沉浸在快樂當中不是正 確的道路，只有觀察這個快樂才是正確的道路，這時她才能繼續進行密集禪修。只有在那時，她才克服 觀智的染，繼續向目標邁進。這就是道非道智見清淨。
     </p>
     <p>
      行道智見清淨
     </p>
     <p>
      第六個清淨是行道智見清淨。 這個清淨一直持續到隨順智。
     </p>
     <p>
      在禪修者經過道非道智見清淨之後，當她觀察身心過程時，能夠非常清晰地覺察身心過程的生滅。 隨著定力的加深，她看到身心過程非常迅速地生滅。之後，她覺察到諸行的消失，但覺察不到諸行的生 起。觀察的心能非常清晰地看到諸行的最後階段，但看不到諸行的初始和中間階段。在大多數時間，她 感覺不到頭、手、腿和身體其他肢體的形狀。她看到在六根門生起的諸行不斷地消失。
     </p>
     <p>
      當壞滅智變得更加敏銳、清晰，開始覺知到怖畏。她感到所有的行都是可怕的，因為它們不斷地破 碎、滅去和消失。
     </p>
     <p>
      於是感到彷彿她很沮喪、可憐、憂鬱，厭惡一直在消失的身心現象。因此，想拋棄所有的行，生起 強烈的慾望想擺脫它們。結果，不能在一種姿勢保持很長時間。經常從一種姿勢換到另一種姿勢。感到 彷彿沒有一個地方能逃離這些行。
     </p>
     <p>
      為了擺脫所有的行，禪修者在修行中付出更多的精進。付出越多的精進，觀智就越有穿透力，更加 清楚地認識到身心過程的無常、苦和無我性。
     </p>
     <p>
      過一段時間之後，心更加專注、穩定、輕安，觀智也更加清晰、透明。觀智輕鬆地看到諸行的生滅 。對諸行既不感到快樂，也不感到不快樂。心中生起了捨。
     </p>
     <p>
      在此禪修體驗的階段，不需要付出精進來認識諸行的生滅。諸行非常快速地生滅，觀智也非常清晰 地覺知它們。這就是行道智見清淨。
     </p>
     <p>
      當禪修者繼續禪修，身心過程之流非常迅速，觀智清楚地在每個當下看到這些身心過程。於是，她 在瞬間到達了邊界線，這裡，邊界線指俗人和聖人之間的分界線。當她經過邊界線（種姓智）之後，體 驗到因緣和合的現象的寂滅，即所有因緣生的身心（名色）的寂滅。然後，她的心在此禪修狀態停留一 個心識剎那。這就是道智。道智充分領悟四聖諦：苦諦、集諦、滅諦和道諦。
     </p>
     <p>
      第一道智&mdash;須陀洹道智是第一個出世間的智慧，它完全斷除薩迦耶見，即關於有人、我或靈魂的邪 見，並斷除了對三寶的疑。
     </p>
     <p>
      智見清淨
     </p>
     <p>
      當第一道智（須陀洹道智）領悟四聖諦時，智見得到淨化。因此，這叫智見清淨。在第一道智之後 ，立即生起第一果智（須陀洹果智），然後生起省察智。
     </p>
     <p>
      這樣，禪修者證得了所有七個階段的清淨，成為一名須陀洹，須陀洹的意思是入流者。當她證得第 一道智時，她進入了八聖道的流，因此她被稱為入流者（須陀洹），即一果聖人。
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975907" name="_Toc405975907">
      </a>
      第六章 銳利五根的九種方法
     </h1>
     <p>
      禪修者的五根是：信、精進、念、定和慧，也稱為五種心力。
     </p>
     <p>
      信：指通過對法的正確理解而建立的信。
     </p>
     <p>
      精進：指勇猛的精進。
     </p>
     <p>
      念：指持續穩定的正念。
     </p>
     <p>
      定：指深度的定。
     </p>
     <p>
      慧：指智慧、觀智或覺悟。
     </p>
     <p>
      如《清淨道論》所述，禪修者的五根必須強而有力，並保持平衡。信必須是堅定、不動搖的信；精 進必須強而有力；念必須銳利；慧必須有穿透力。
     </p>
     <p>
      平衡五根
     </p>
     <p>
      要使五根強而有力並保持平衡，禪修者必須遵循九個方針。如果五根強，但不平衡，禪修者將無法 證得觀智、覺悟，達到苦的止息。信必須和慧平衡，定必須和精進平衡。主要的念根無需與其它諸根平 衡，正念必須不中斷、持續、穩定。
     </p>
     <p>
      如果信弱，慧強，禪修者會分析禪修過程中的經驗。尤其是當禪修者具有淵博的佛法知識時，在體 驗身心過程時，他會去分析。當他這麼做時，分析智障礙了他的定力，造成定力中斷或下降。
     </p>
     <p>
      在威巴薩那禪修中，沒有空間去回憶、分析、邏輯推理或哲學思維，這些不是對身心現象的自然過 程的正確瞭解。當沒有正確地透視、瞭解或認識法時，對法或體驗的分析智，會導致禪修者信心下降， 或退失對佛陀教導的信心。只有當禪修者完成禪修並體驗覺悟之後，他才可以以任何方式分析法或體驗 。由於有了親證的智慧，禪修者將對佛、法、僧具有堅定不動搖的信心。
     </p>
     <p>
      如果禪修者相信佛陀及其教導，其智慧或觀智與堅定的信是平衡的。這樣，就可以繼續禪修，不受 任何分析智、推理或哲學思維的干擾。有些禪修者想要表現他們的佛學或法的知識，因此，有時會分析 他們在禪修時的體驗，說一些與法相違背的話。根據《清淨道論》，信必須與慧（智慧、觀智）平衡。
     </p>
     <p>
      當我第一次開始正念禪修時，我的目的是去驗證這種方法，看它是否正確。在我開始正念禪修之前 ，我讀了馬哈希尊者撰寫的兩冊《威巴薩那禪修》，那時我還沒有親自見過馬哈希尊者。
     </p>
     <p>
      不過，對於那些已經從佛教經典中學習了禪修方法的人來說，觀察腹部的移動是非常直接的。我認 可了這種方法是真實、正確的，因為我知道腹部移動是風大的作用，其他三個元素火大、水大和地大也 包括在腹部移動中。由於能夠觀四大，這種方法肯定是正確的，因為它符合《大念處經》中的觀四大這 一章的內容。
     </p>
     <p>
      傳統上，我們喜歡觀呼吸(安那般那念)的禪修方法。當我在17歲至19歲期間還是個沙彌時，我修習 安般念。現在我認為馬哈希尊者的方法是正確的，但那時我卻不能接受他的方法，對他的方法不滿意， 因為我執著傳統的觀呼吸的方法。這就是為什麼我想要驗證馬哈希尊者從觀腹部移動下手的禪修方法。 雖然我去了馬哈希禪修中心，開始練習這種方法，但我還是帶著點疑惑在修行。1953年我在馬哈希禪修 中心度雨安居（VASSA）四個月，參加密集禪修。那時，我是曼達勒佛教大學的講師。我在烏難達旺沙 尊者的指導下禪修，他是馬哈希大師的一位資深弟子。他對我說：
     </p>
     <p>
      「烏迦那卡，你已通過了佛教經典的高級考試，你現在是大學講師。如果你想這次禪修有所收穫，你 必須放下從書本中學到的佛法知識」。
     </p>
     <p>
      我接受了他的建議，放下所學的知識，按老師的建議修行。這樣，我的信就和慧平衡了，因為我沒 有根據先入之見或從書中學到的知識，分析體驗或禪修方法。
     </p>
     <p>
      如果慧弱，信強，禪修者會輕信。如果他有信，但沒有知識或智慧，他就會輕易相信任何的理論或 教理。他有可能相信一個導致他走向邪道的教理或理論。因此，信根必須和慧根平衡。
     </p>
     <p>
      定也必須與精進平衡。如果精進比定力強，就不能很好地專注在禪修目標上。《清淨道論》的註釋 書中說：如果精進比定力強，禪修者的心會變得散亂和掉舉。
     </p>
     <p>
      剛開始禪修時，禪修者的定力通常較弱，心經常打妄想。因此，他應跟著心，如實地觀察它。如果 禪修者急切地想證得觀智，他會在禪修中付出過多的精進，導致心變得散亂和掉舉。精進要與定保持平 衡。要達到平衡，要減少精進，保持心的平穩，專注觀察在身心中生起的任何現象，但不用付出太多的 精神。於是，就逐漸獲得一定程度的定。由於有了定力，精進就變得穩定，既不太強，也不太弱。
     </p>
     <p>
      在一些情況下，當禪修者禪修了兩三周之後，定力變得非常深、非常強，心自動地、毫不費力地觀 察目標。但是，如果沒有付出足夠的精進，觀察的心逐漸就會變得遲鈍、沉重。於是，深度的定轉變成 昏沉。註釋書中說：如果定太強，精進太弱，定力就轉變成昏沉。
     </p>
     <p>
      因此，定要與精進平衡。不動的坐姿會使心越來越專注於目標，需要的精進越來越少，心逐漸變得 遲鈍。要使定和精進平衡，行禪時間應比坐禪時間長。不過，只有少數的禪修者的定力超過精進。如上 所述，也有一些禪修者的精進超過定力。因此，根據當時的情況進行適當調整，使定力與精進保持平衡 。
     </p>
     <p>
      根據《清淨道論》的註釋書，正念再強也不為過，因為能在每個當下對身心的每個活動都保持正念 ，這是最好的。正念變得持續、穩定、不中斷，產生深度的定。當定力很深時，觀智就會自然展開，你 就能清晰地透視到身心過程（名和色）的真實本質。因此，正念永遠也不嫌多。
     </p>
     <p>
      根據《清淨道論》，有九種銳利五根的方法，禪修者必須遵循這九種方法。
     </p>
     <p>
      第一種方法是：禪修者要銘記在心：當如實地觀察身心過程或因緣和合的現象時，將看到這些現象 的滅去。這應是禪修者的正確態度。有時候禪修者不相信每個身心過程是無常的、生滅的。由於這個先 入之見，他就不能透視身心過程的真實本質。儘管他也許會獲得深度的定力，但這只能使他獲得有限程 度的安詳和快樂。註釋書中說：禪修者要銘記在心：他只是看到生起的諸行的壞滅。
     </p>
     <p>
      第二種方法是禪修者要認真禪修。如果對修行方法或禪修結果不夠尊重，就不會在修行中付出足夠 的精進。因此，就不能很好地專注在禪修目標上，就不能透視名和色的真實本質。
     </p>
     <p>
      第三種方法是禪修者對身心過程的正念必須不中斷，要持續、穩定。只有這樣，他才能證得深度的 定，在深度定的基礎上，產生觀智，透視身心過程的真實本質。這是非常重要的！每個禪修者都必須遵 守！只要醒著，就要持續穩定地、如實地覺知在身心中生起的任何現象。在一整天中保持正念持續不中 斷。
     </p>
     <p>
      第四種方法是禪修者應依賴的七種適宜：適宜的住處或禪堂、適宜的行境、適宜的言語、適宜的同 修，適宜的食物、適宜的氣候和適宜的姿勢。無論條件是否適合，禪修者都應在禪修中付出足夠的精進 。
     </p>
     <p>
      有時由於天氣熱，禪修者非常執著電扇，他想坐在電扇下面。但實際上，禪修者不應該選擇，不管 是冷或熱，都應沒有分別。
     </p>
     <p>
      正念是一切成功之源。擁有正念，就能化敵為友。如果覺得熱，應觀熱。如果觀熱，熱就逐漸成為「 朋友」。
     </p>
     <p>
      痛也一樣。當觀痛時，定力變得更強，痛好像變得更劇烈。但事實上，痛並沒有變得更劇烈，是因 為有了深度定之後，心變得更加敏銳，更清晰地覺知痛，因此痛好像比以前更劇烈。但當認識到痛只是 心理過程或不舒服的感受時，不再覺察到他自己或身體的形狀。
     </p>
     <p>
      在那個時刻所認識到的只是苦受和觀察苦受的心，他能夠區分受和觀察受的心，不再把痛當作他自 己，因此，痛不再干擾他的定力。痛變成了他的「朋友」。正念就是一切，一切成功之源。以前是理論上 知道這個道理，但現在通過實修，在實踐中明白了這個道理。運用正念，能化「敵」為「友」。一個有正念的 禪修者在世間根本沒有敵人。所有的現象都是「朋友」，因為這些現象有助於證得觀智、覺悟和所有苦的 止息。
     </p>
     <p>
      第五種方法是禪修者要記得他證得深度定的方法。通過重複地練習這種方法，他能夠獲得能使他證 得深度定的技巧。
     </p>
     <p>
      第六種方法是禪修者要發展七覺支。當需要時，禪修者要發展七覺支。七覺支是：念覺支、擇法覺 支、精進覺支、喜覺支、輕安覺支、定覺支和捨覺支。
     </p>
     <p>
      當心懶惰時，禪修者應發展七覺支中的念覺支、擇法覺支、精進覺支和喜覺支。當心太活躍時，禪 修者應發展輕安覺支、定覺支和捨覺支。
     </p>
     <p>
      第七種方法是：禪修者不要擔心身體或生命。有時禪修者非常精進地修行，從凌晨四點一直到晚上 十點，沒有休息，他擔心他的身體會虛弱。他擔心如果他繼續這樣精進地修行一個月，可能死於疲勞或 某些疾病。因此，他不會在修行中付出足夠的精進，正念也不會持續、穩定。當正念弱時，就不會產生 深度的定。當定力弱時，透視身心過程的真實本質的觀智就不會展開。這就是為什麼《清淨道論》中說 要使五根銳利，禪修者不得擔憂身體和健康。他必須盡最大努力，在整天精進修行，不中斷，不顧慮身 體。
     </p>
     <p>
      第八種方法是每當心痛或身痛生起時，禪修者應盡力在禪修中付出更多的精進來觀痛。當痛生起時 ，就想改變姿勢以使痛消失。禪修者不能這麼做，他必須在禪修中付出更多的精進，通過更有精神、更 專注和更準確地觀察痛來戰勝痛。痛將成為他的「朋友」，因為痛幫助他證得深度的定和清晰的觀智。
     </p>
     <p>
      第九種方法是禪修者不得半途而廢。在證得阿羅漢果之前，禪修者不得停止修行正念禪修。禪修者 必須盡最大的努力，在禪修中付出穩定的精進，直到實現目標。
     </p>
     <p>
      以上就是使五根銳利的九個方法。總結如下：
     </p>
     <p>
      1、禪修者要銘記在心：當如實地觀察身心過程或因緣和合的現象時，他將看到這些現象的滅去。
     </p>
     <p>
      2、禪修者要認真禪修。
     </p>
     <p>
      3、禪修者對身心過程的正念要持續、穩定。
     </p>
     <p>
      4、禪修者應依賴的七種適宜。
     </p>
     <p>
      5、禪修者要記得他證得深度定的方法。
     </p>
     <p>
      6、禪修者要發展七覺支。
     </p>
     <p>
      7、禪修者不得擔心身體或生命。
     </p>
     <p>
      8、每當心痛或身痛生起時，禪修者應盡力在禪修中付出更多的精進來觀痛。
     </p>
     <p>
      9、禪修者不得半途而廢。
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975908" name="_Toc405975908">
      </a>
      第七章 禪修者的五精勤支
     </h1>
     <p>
      為了使禪修者能在內觀禪修中取得進步，禪修者應具備五精勤支。
     </p>
     <p>
      第一支是信。禪修者必須對佛、法、僧具有堅定和強的信心，特別是對法的信心，法包括他正在練 習的禪修方法。
     </p>
     <p>
      第二支是健康。禪修者必須身心都健康。如果頭疼、頭暈或胃疼、胃有毛病或任何其他的疾病，這 並不必然地表明禪修者不健康。如果禪修者能夠觀察任何心理或身體過程，他就是健康的。所吃的食物 必須有利於消化。如果消化不良，就不能很好地禪修。
     </p>
     <p>
      第三支是誠實。禪修者必須誠實正直。這是指他不得向老師或一起修行的禪修者說謊。誠實是最高 明的策略。
     </p>
     <p>
      第四支是精進。精進不是一般的精進，而是不放棄的、強而堅定的精進。禪修者必須具備精進，努 力修行，獲得解脫。禪修者不得減少精進，而應不斷地提升精進。當精進提升時，正念也變得持續、穩 定、不中斷。此時，定力也變得深而強，觀智變得銳利、有穿透力，清晰地瞭解身心過程的真實本質。
     </p>
     <p>
      第五支是智慧。這不是指普通的智慧或理論知識，而是指透視名色生滅的觀智。這是第四觀智。
     </p>
     <p>
      第一觀智是身心辨別智。第二觀智是緣攝受智。第三觀智是領會智，領會智指瞭解身心過程的無常 、苦和無我三共性的智慧。第四觀智是生滅智，透視身心現象生滅的智慧。
     </p>
     <p>
      因此佛陀說：這裡的智慧是指透視身心現象生滅的第四觀智。禪修者應具備達到第四觀智的智慧。
     </p>
     <p>
      剛開始禪修時，禪修者可能沒有達到生滅智。不過，如果她付出強而堅定的精進，努力修行，觀察 身心過程，就會逐一體驗第一觀智、第二觀智和第三觀智，證得第四觀智。當證得第四觀智時，肯定能 夠繼續進步，直到證得至少第一道智-須陀洹道智。這就是為什麼佛陀說禪修者必須具備透視身心現象生 滅的智慧。
     </p>
     <p>
      以上是禪修者必須具備的五精勤支。
     </p>
     <p>
      當禪修者證得須陀洹道智&mdash;第一層的覺悟時，她就根除了有我、靈魂、人或眾生的邪見和對三寶的 疑。
     </p>
     <p>
      當禪修者證得心清淨時，她的心變得非常銳利，足以透視身心過程的真實本質。於是，認識到身心 現象的自性。這是第一觀智。在此觀智，我、靈魂、人或眾生的邪見被部分去除。當證得第一道智（須 陀洹道智）時，有我、靈魂、人或眾生的邪見被徹底根除。
     </p>
     <p>
      婆羅門教中的「我」
     </p>
     <p>
      關於這一點，從婆羅門教的角度來討論薩迦耶見和我見會很有趣。
     </p>
     <p>
      根據婆羅門教，整個世界是由大梵天創造的。大梵天有許多名字，如自在天、最神聖的人和造物主 。
     </p>
     <p>
      最神聖的人或造物主是所有眾生的主人，因為他創造了他們。
     </p>
     <p>
      有些學者將「最神聖的人」譯為「大我」或「大靈魂」。是這個「大我」創造了所有的眾生&mdash;人類、天人、婆羅 門和動物。他甚至創造了對人類構成巨大威脅的老虎、獅子和毒蛇。這樣，根據婆羅門教，靈魂或我存 在於每個眾生中。即使是一個小昆蟲也有一個小靈魂。靈魂是永恆的，不可摧毀的，不會被任何手段破 壞，甚至連原子彈也不能破壞它，因為有大梵天的支持。當一個眾生死後，屍體分解時，靈魂離開這個 屍體，轉移到另外一個身體，投生到另一世。這樣，永恆的靈魂在無止盡的輪迴中，從一世轉移到另一 世。當靈魂在另一世再生時，這叫做轉世。這就是婆羅門關於靈魂的信仰。
     </p>
     <p>
      總之，根據婆羅門教，在每個眾生中，有一個叫做「我」或「靈魂」的永恆的實體。
     </p>
     <p>
      相信有永恆的靈魂或我，或有永恆的靈魂或我的概念，這叫做「我見」，我見的產生是由於對身心自 然過程的真實本質的無知。
     </p>
     <p>
      佛教中的「我」
     </p>
     <p>
      緬甸人大多是佛教徒，但他們當中仍有些人相信靈魂的觀念，儘管這種相信程度沒有他們遵循佛教 的教導那麼強。他們正確地瞭解理論上是沒有靈魂、我或永恆的實體，但他們仍然相信當一個人死時， 靈魂會離開身體，並逗留在其房子、屍體或棺材附近。他們都認為如果不向僧人佈施，並與死者分享布 施的功德，則死者的靈魂會仍活在他們周圍。
     </p>
     <p>
      基於靈魂的觀念，他們執著於人、眾生、男人或女人的觀念，這就是薩迦耶見（指對身心的錯誤觀 念）。他們有這個人或眾生的觀念，是因為他們不瞭解身心過程的自性和共性，因此把身心過程當成是 永恆的。
     </p>
     <p>
      如果你問自己：「明天我會死嗎？」你不敢回答這個問題。如果我說你明天會死，你會生氣，因為你 執著身心過程是永恆的這個觀念。你認為你的身心過程是永恆的，至少能夠持續到明天。是的，那就是 執著永恆的觀念。你執著這個觀念，因為你沒有認識到身心現象的不斷生滅。如果你看到身心現象不斷 地迅速生滅，你就不會相信它們是永恆的。
     </p>
     <p>
      根據佛陀的教導，理論上你正確瞭解沒有任何身心過程能持續甚至一秒鐘。但實際上你很難相信這 個道理，因為你還沒有看到它們的無常性。只有當你親自體驗到法，你才會確定這些過程是無常的。然 後，你才承認：「我可能活不到明天。我可能馬上會死，因為每個現象，包括自己，都在每個當下不斷地 生滅，是無常的」。
     </p>
     <p>
      如果我說：「現在我舉起我的手。」於是你問我誰在舉手。我會說：「我在舉手。」那個「我」是誰？ 是一位比庫、男人還是一個活的眾生？如果我們不相信身心過程的永恆性，就不會把它們當作眾生 。事實上，構成所謂人的身心這兩個過程不斷地變化、生滅。只是我們沒有看到。我們將這兩個過程當 成是人、眾生、狗或動物。這個觀念就叫做「薩迦耶見」。只有當我們正確瞭解身心過程的真實本質時， 我們才能夠克服或破除這個邪見。
     </p>
     <p>
      這就是為什麼佛陀教導我們要如實地觀察任何身心活動或任何身心過程。這樣，我們就能看到身心 這兩個過程是自然的過程。這是第一觀智，在此觀智，我們正確瞭解了身心現象的自性。該觀智部分地 去除了靈魂、或我、人或眾生的概念，這個概念是造成貪、嗔、癡、傲慢等煩惱的主要原因。因此，我 們可以說，靈魂或我的概念是所有煩惱的種子。當我們根除這個種子之後，就不會有煩惱生起，就能解 脫痛苦。因此，佛陀這樣教導我們：「為了去除人、眾生、我或靈魂的邪見，比庫必須努力修行，培育正 念」。
     </p>
     <p>
      當我們能夠去除邪見時，肯定能夠從所有的痛苦中解放出來。薩迦耶見是所有煩惱的因和種子。因 此，我們必須精進地修行內觀禪，正確瞭解身心過程，去除邪見。
     </p>
     <p>
      願你們精進地修行正念禪修，達到解脫！
     </p>
     <p>
      善哉！善哉！善哉！
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h1>
      <a id="_Toc405975909" name="_Toc405975909">
      </a>
      附 錄
     </h1>
     <h2>
      <a id="_Toc405975910" name="_Toc405975910">
      </a>
      1、禪修指導
     </h2>
     <p>
      道德行為（戒）
     </p>
     <p>
      道德行為的清淨是禪修者在修行中取得進步的前提。只有當道德行為清淨時，禪修者才不會有罪惡 感，沒有束縛，容易入定。在禪修營中，禪修者要持守八戒：
     </p>
     <p>
      1、我持守不殺生戒。
     </p>
     <p>
      2、我持守不偷盜戒。
     </p>
     <p>
      3、我持守不淫戒。
     </p>
     <p>
      4、我持守不妄語戒。
     </p>
     <p>
      5、我持守不飲酒。
     </p>
     <p>
      6、我持守過午不食戒。
     </p>
     <p>
      7、我持守不唱歌、跳舞、奏樂、觀看娛樂，不以花環、香水、化妝品、裝飾品裝飾美化身體。
     </p>
     <p>
      8、我持守不坐臥高廣大床戒。
     </p>
     <p>
      威巴薩那（VIPASSANA）的含義
     </p>
     <p>
      如果禪修者不瞭解威巴薩那（VIPASSANA）禪修的目的，他就不會嘗試去觀察身心過程以有所發 現。
     </p>
     <p>
      威巴薩那（VIPASSANA）是一個組合詞，由「VI」和「PASSANA」組成。「VI」的意思是多樣的，即三 共性（無常、苦、無我），「PASSANA」的意思是通過觀察身心而獲得的正確瞭解或認識。因此，「威巴 薩那（VIPASSANA）」的意思是直接透視身心的三共性。
     </p>
     <p>
      專注、準確地觀察
     </p>
     <p>
      正念禪修或威巴薩那禪修的原則就是觀察或覺知每個當下在身心中生起的任何現象。
     </p>
     <p>
      當修行威巴薩那禪修時，觀察在當下出現的任何心理狀態或身體過程。也用默念或標記，幫助把心 專注地、準確地固定在目標上。
     </p>
     <p>
      當定力弱時，標記是正念的朋友。如果不標記，會遺漏觀察目標。標記的詞本身並不重要，但有時 候有一定幫助，特別是在剛開始禪修時。除非標記成為障礙，否則不要捨棄標記。
     </p>
     <p>
      準確地觀察每個身心過程非常重要，因為我們需要透視身心過程的真實本質。
     </p>
     <p>
      坐禪
     </p>
     <p>
      靜坐時，身體正直，身心完全放鬆。
     </p>
     <p>
      靜坐時不要靠牆或倚靠其他支撐物。這會使正精進減弱，導致瞌睡。
     </p>
     <p>
      在每次靜坐之前要先行禪一小時（當不在禪修營，且可用的時間有限時，行禪時間可縮短）。
     </p>
     <p>
      從行禪切換到坐禪時，正念和定力不要中斷。
     </p>
     <p>
      剛開始修行時，初學者會感到困惑，不知去觀什麼。已故的馬哈希大師教導其學生們從觀腹部的上 下移動下手，當觀腹部向外的移動時，默念「上」，當觀向內的移動時，默念「下」。
     </p>
     <p>
      觀腹部移動的依據是《大念處經》關於觀四大的這一章內容。腹部的移動是風大。
     </p>
     <p>
      四大中的每個元素都有其自性。
     </p>
     <p>
      地大的自性是軟和硬。
     </p>
     <p>
      水大的自性是流動性和凝聚性。
     </p>
     <p>
      火大的自性是冷和熱。
     </p>
     <p>
      風大的自性是移動、動作、支持和振動。
     </p>
     <p>
      當禪修者觀察並認識腹部的移動時，就可以說他正確瞭解了風大的真實性質，去除了我的邪見。
     </p>
     <p>
      剛開始時，如果感覺不到腹部的移動，可以把手放在腹部幫助覺知腹部的移動。
     </p>
     <p>
      呼吸必須正常。不要快速或深呼吸，否則會疲倦。盡量放鬆身心。
     </p>
     <p>
      當腹部移動更緩慢、清晰，可以增加標記的次數，如「上&hellip;上&hellip;上」，「下&hellip;下&hellip;下」。如果移動變得復 雜，只是以一般的方式觀察。
     </p>
     <p>
      儘管禪修者被教導在開始時觀腹部的上下移動，但他不得執著此教導，腹部的移動並不是唯一的目 標，它只是正念禪修中很多個目標之一。
     </p>
     <p>
      如果聽到聲音，觀「聽到」。剛開始不容易觀聲音，但禪修者要盡可能地觀。只有當觀察聲音時間足 夠長時，禪修者才能回到主要禪修目標（如「上」和「下」）。
     </p>
     <p>
      如果在「上」和「下」之間有空檔，在此空檔期間觀「坐」和/或「觸」。
     </p>
     <p>
      靜坐期間不要睜眼，否則定力會中斷。
     </p>
     <p>
      不要只滿足於一小時的靜坐。能坐多久就坐多久。
     </p>
     <p>
      靜坐期間不要改變姿勢。
     </p>
     <p>
      行禪
     </p>
     <p>
      要認真行禪，行禪時也有可能證得阿羅漢果位。以佛陀最後一位阿羅漢弟子蘇拔達為榜樣。
     </p>
     <p>
      行禪時，將注意力放在腳上。用銳利的注意力觀腳的移動。剛開始時，每步只觀一個步驟，心裡默 念「左」、「右」。
     </p>
     <p>
      不要閉上眼睛，眼睛半閉，視線保持在前方兩米遠處。
     </p>
     <p>
      頭不要太低，否則會很快在身體內造成緊繃和頭暈。
     </p>
     <p>
      不要看腳，否則會分心。
     </p>
     <p>
      當觀提腳的動作時，腳不要提得太高。步伐應自然。
     </p>
     <p>
      逐漸增加被觀察的目標，即逐漸增加每一步中被觀察的目標的數量。
     </p>
     <p>
      開始行禪時，只觀一個目標，標記「左」，「右」約十分鐘。然後觀三個目標：提、推、落。最後，可以 增加至動機、提、推、落、觸、壓。
     </p>
     <p>
      在行禪時不要東張西望。你已經看了很多年，而且還有很多年可以到處看。如果你在禪修期間東張 西望，定力就會中斷。觀想看的心。好動的眼睛對初學的禪修者來說是個障礙。
     </p>
     <p>
      建議每天至少行禪六小時，坐禪六小時。
     </p>
     <p>
      日常活動的正念
     </p>
     <p>
      正念禪修是佛陀的生活方式。
     </p>
     <p>
      對日常活動的覺知是禪修者的生命。一旦禪修者遺漏觀察日常活動中的一舉一動，禪修者就失去了 生命，即已不是禪修者，因為他已經沒有正念、定力和智慧。
     </p>
     <p>
      要覺知每個日常活動，放慢所有的動作和移動。
     </p>
     <p>
      如果不能覺知日常活動，就不要期望有任何進步。
     </p>
     <p>
      如果不觀察日常活動，就會造成很寬的失念的間隙。正念需要連續不斷，從一個剎那持續到下一個 剎那。
     </p>
     <p>
      禪修者的正念應在一整天中持續不斷。
     </p>
     <p>
      持續不斷的正念產生深度的定。只有具有深度的定，禪修者才能透視身心現象的真實本質，達到苦 的止息。
     </p>
     <p>
      如果有持續不斷的正念，每天都會有很多新發現。
     </p>
     <p>
      在禪修期間，你所需做的只是保持正念。沒有必要匆忙。
     </p>
     <p>
      馬哈希大師將禪修者比喻成病人，動作非常緩慢。
     </p>
     <p>
      極其緩慢地做事情能使心專注。如果想要在禪修中有所收穫，必須習慣於放慢速度。
     </p>
     <p>
      當一個風扇轉得很快的時候，看不清它本來的樣子，但當轉動變慢時，就能看到它本來的樣子，即 看到一片扇葉接一片扇葉在移動。因此，你必須放慢速度，這樣才能清晰地看到身心現象的本來樣子。
     </p>
     <p>
      當身處忙碌的人群中時，不要在意周圍的環境，而是有精神地觀察自己的身心活動。
     </p>
     <p>
      說話是觀智進步的很大危害。
     </p>
     <p>
      五分鐘的說話就會摧毀一整天的定力。
     </p>
     <p>
      不要閱讀、背誦或回憶。這會障礙禪修進步。
     </p>
     <p>
      疼痛和耐心
     </p>
     <p>
      痛是禪修者的朋友。不要逃避痛，它能引導你至涅槃。
     </p>
     <p>
      痛不會通知你它何時到來。痛也許不消失，但當痛真的消失之後，你也許會因失去了朋友而哭泣。 有些禪修者甚至將兩腿疊在身體下面，以製造痛。
     </p>
     <p>
      觀痛，不是期待痛消失，而是透視痛的真實本質。
     </p>
     <p>
      痛是開啟涅槃大門的鑰匙。
     </p>
     <p>
      定力好的時候，痛就不是問題。痛只是一個自然的過程，和腹部的「上」、「下」沒有區別。如果專注地 觀痛，心就會安止在痛的感受上，發現痛的真實本質。
     </p>
     <p>
      當痛出現時，必須直接觀痛。只有當痛持續時間很長時，才忽略痛。持續的正念產生深度的定力， 這種深度的定力可以克服痛。
     </p>
     <p>
      如果在行禪時產生劇烈的痛，應馬上停下來觀痛。
     </p>
     <p>
      對任何刺激心的現象保持耐心。
     </p>
     <p>
      誰說過一切都是愉快的？
     </p>
     <p>
      觀心理狀態和情緒
     </p>
     <p>
      觀心理狀態或情緒的時，觀察要稍快、有精神、準確，這樣，觀察的心就持續、有力。然後，妄想 會瞬間停止。
     </p>
     <p>
      要專注地、有精神地觀妄想，就好像你用一根棍子擊中妄想，觀「想、想、想」或「傷心、傷心、傷心」 ，而不是慢慢地標記「想&hellip;想&hellip;」或「傷心&hellip;傷心&hellip;」。
     </p>
     <p>
      如果不能觀妄想，就不要想有定力。如果心還在打妄想，這只能說明你還是沒有付出足夠的精神去 觀妄想。觀妄想的能力必不可少。
     </p>
     <p>
      如果覺知到妄想的內容，妄想會繼續。如果只覺知到妄想本身，妄想會停止。
     </p>
     <p>
      不要執著於思維和理論。
     </p>
     <p>
      觀智產生於深度的定，而邏輯和哲學思維只產生於膚淺的定。
     </p>
     <p>
      渴望得到定和為得到定而焦慮會導致散亂。
     </p>
     <p>
      通過付出更多的精進可以克服昏沉。有力地標記有助於克服昏沉。
     </p>
     <p>
      快速地反覆標記，很有精神地觀昏沉。
     </p>
     <p>
      好奇和期盼必定延緩進步。如果有好奇心和期盼的心出現，不要耽於好奇和期盼，要銳利地覺知它 們。
     </p>
     <p>
      如果想在禪修中有所收穫，必須在修行中付出更多的精進。
     </p>
     <p>
      實際上，觀察的力量一直有，問題是你不想觀。心態非常重要，不要悲觀。樂觀的人為自己提供良 好的機緣。如果對每個處境都感到滿意，分心也會更少。
     </p>
     <p>
      如果早上3：00醒來，要起來禪修。不應等到4：00。躺在床上等時間不是正確的態度。
     </p>
     <p>
      如果醒來時還有睡意，就起來行禪，否則還會繼續睡。
     </p>
     <p>
      如果昏沉，就在陽光下向前和倒退著快走。
     </p>
     <p>
      人類具有巨大的潛能，有能力做很多事情。我們必須努力，而不是嘗試！
     </p>
     <p>
      若付出足夠的精進，就能實現四個道智和果智。
     </p>
     <p>
      一周的練習只是個學習的過程。真正的修行一周後才開始。
     </p>
     <p>
      禪修超越時空。因此，不要被時間和空間所束縛。
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <div>
     <h2>
      <a id="_Toc405975911" name="_Toc405975911">
      </a>
      2、禪修者的五根
     </h2>
     <p>
      禪修者的五根必須強、有力、銳利，並保持平衡。五根是：
     </p>
     <p>
      信：通過正確瞭解而建立起來的堅定而強的信。
     </p>
     <p>
      精進：在修行中強而勇猛的精進。
     </p>
     <p>
      念：持續不中斷的正念。
     </p>
     <p>
      定：深度的定。
     </p>
     <p>
      慧：具有穿透力的智慧、觀智和覺悟。
     </p>
     <p>
      要證得觀智，這些五根必須保持平衡。信必須和慧保持平衡，精進必須和定保持平衡。正念無需與 任何其他諸根保持平衡。正念是最重要的根，它領導其他四根達到目標。
     </p>
    </div>
    <p>
    </p>
    <p>
    </p>
    <h2>
     <a id="_Toc405975912" name="_Toc405975912">
     </a>
     3、小參注意事項
    </h2>
    <p>
    </p>
    <p>
     禪修者需每天或隔天向禪修老師匯報，以檢查他的修行。在禪修者報告一天的禪修中做了什麼、有什 麼體驗之後，老師會幫助糾正錯誤，給予進一步的指導，或鼓勵禪修者繼續進步。因此，在禪修者和老 師之間有效的溝通非常重要。
    </p>
    <p>
     在禪修營期間，不同的小組在不同的時間段向老師匯報。禪修者不要在規定的時間之前進入小參室， 除非有特別的原因。禪修者也不得遲到。
    </p>
    <p>
     當在小組中等待小參時，不要浪費時間。坐下來，保持正念，直到輪到自己小參。前面人小參時，下 一位應做好準備。
    </p>
    <p>
     禪修者應互相體諒，特別是當有很多禪修者在等待時。時間是寶貴的。匯報要言簡意賅。
    </p>
    <p>
     小參時不要興奮、緊張或害怕。保持鎮定、坦率。老師會幫助你進步。說話要清晰、能聽到、完整， 不要吞吞吐吐、雜亂無章或喃喃自語。
    </p>
    <p>
     不要等老師給你下評論。只有當你敘述完所有的體驗之後，老師才給予評論。
    </p>
    <p>
     有些體驗即使對禪修者來說好像不重要，但也要匯報。
    </p>
    <p>
     在每次靜坐和行禪之後立即做一個簡短的筆記是有幫助，但是不應只為了在禪修時記住體驗而做筆記 ，因為這會干擾定力。小參時看簡短的提示，能更輕鬆地匯報禪修體驗。
    </p>
    <p>
     緩慢、有正念地進入、離開小參室。
    </p>
    <footer>
    </footer>
    <!-- /.block -->
    <!-- /.region -->
   </baselayout>