---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps: BaseLayoutProps = {
  title: "向馬哈希大師學正念 I",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout pageTitle="向馬哈希大師學正念Ⅰ">
<div>

<h3 class="rtecenter">
<a id="_Toc16138" name="_Toc16138">
</a>
            內觀實修指導
           </h3>
<p class="rtecenter">
            馬哈希大師　原著
           </p>
<p class="rtecenter">
            鄔拉明（U Hla Myint）、聖智（Ariya Ñāṇī）英譯
           </p>
<p class="rtecenter">
</p>
<p class="rtecenter">
            溫宗堃、何孟玲　編譯
           </p>
<p class="rtecenter">
            慶安正念推廣中心 出版
           </p>
</div>
<div>
<h1>
<a id="_Toc5454" name="_Toc5454">
</a>
            目錄
           </h1>
</div>
<div>
<p>
<sup>
<a href="#_Toc2665">
              中譯者序 7
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc25426">
              依據《念處經》 9
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc4122">
              屬於純觀的禪法 12
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc686">
              註重密集禪修 14
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc8667">
              教導初學者實用的禪修技巧 16
             </a>
</sup>
</p>
<p>
<sup>
<a href="#_Toc31366">
              內觀實修指導 18
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc15646">
              修習的準備 19
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc505">
              基本練習 21
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc30259">
              觀智 50
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc22299">
              涅盤的體驗 92
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc10705">
              果定 99
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc1745">
              讓觀智更明晰 103
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc4117">
              為更高的道、果而修習 105
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc29807">
              波羅密 111
             </a>
</sup>
</p>
<p class="rteindent1">
<sup>
<a href="#_Toc25632">
              建言 113
             </a>
</sup>
</p>
<p>
<sup>
<a href="#_Toc10047">
              附錄（一）：正念禪修的原則 117
             </a>
</sup>
</p>
<p>
<sup>
<a href="#_Toc11774">
              附錄（二）：正念格言 119
             </a>
</sup>
</p>
<p>
<sup>
<a href="#_Toc21858">
              功德分享 126
             </a>
</sup>
</p>
</div>
<div>
<p>
            來者不歡喜，去亦不憂戚。
           </p>
<p>
            不染亦無憂，二心俱寂靜 。
           </p>
<p>
            ~《雜阿含經》
           </p>
<p>
            智慧多聞者，非不覺諸受，
           </p>
<p>
            若於苦樂受，分別諦明了。
           </p>
<p>
            ~《雜阿含經》
</p>
<p>
            若無世間愛念者，
           </p>
<p>
            則無憂苦塵勞患，
           </p>
<p>
            一切憂苦消滅盡，
           </p>
<p>
            猶如蓮花不著水。
           </p>
<p>
            ~《雜阿含經》
           </p>
<p>
            若不說法者，愚智雜難分，
           </p>
<p>
            此愚此智慧，無由自顯現，
           </p>
<p>
            善說清涼法，因說智乃彰。
           </p>
<p>
            ~《雜阿含經》
           </p>
</div>
<div>
<h1>
<a id="_Toc2665" name="_Toc2665">
</a>
            中譯者序
           </h1>
<p>
            本書所依據的原文底本，是緬甸馬哈希大師（Mahāsī Sayādaw）原著，最近由鄔拉明（U Hla Myint）和瑞士籍戒女聖智法師（Ariya Ñāṇī）英譯的A Manual of Insight Meditation（尚未出版，暫譯為《內觀禪修樞要》）的第五章：「實修指導」（Practical Instructions ）。
           </p>
<p>
            《內觀禪修樞要》是馬哈希大師最完整的一部闡述內觀禪修的著作。此書極其重要，1999年甚 至有了巴利譯本，若想要了解馬哈希大師所教的內觀禪法，絕不能錯過。此書共兩冊，第一冊探討內觀 禪修的教理依據，第二冊則詳述內觀的實修方法。其中包含許多實修經驗與巴利註疏的對比論述。
           </p>
<p>
            此書的第五章曾於1954年譯為英文，提供給馬哈希禪修中心的外國禪修者。該英譯本後來由錫 蘭「佛教出版社」（BPS）出版，書名為Practical Insight Meditation。以此為底本的中文譯本，收錄於 《當代南傳佛教大師》的第五章〈馬哈希西亞多〉。
           </p>
<p>
            《內觀禪修樞要》第五章（即本書內容）以日常用語詳述內觀修行的方法與進展，其細膩的指 導和觀智進展的種種細節闡述，能讓初學者清楚內觀修行方法並依此正確地修習，也能讓進階修習者了 解內觀智慧的開展過程，藉以激勵自己持續修習。
           </p>
<p>
            馬哈希大師的著作，經常稱其所教的內觀禪修方法為「念處內觀禪法」（satipaṭṭhāna vipassan ā meditation），意思是，立基於初期佛教的「四念住／四念處」，而旨在開展「內觀智慧」 （vipassanā-ñāṇa）的禪修方法。此禪法有下列幾點特色：（1）依據《念處經》、（2）屬於純觀的禪 法、（3）註重密集禪修、（4）教導初學者實用的禪修技巧。
           </p>
<h3>
<a id="_Toc25426" name="_Toc25426">
</a>
            依據《念處經》
           </h3>
<p>
            馬哈希的念處內觀禪法的教導分為三大部分：坐禪（sitting meditation）、行禪（walking meditation）、日常活動的正念（mindfulness in daily activities），每一個部分皆運用了《念處經》的四 念處。
           </p>
<p>
            坐禪時，以自然呼吸時產生的「腹部起伏」為基本所緣，此符合身念處「界作意章」、「正知 章」的運用。當腹部移動不顯著時，則以身上的觸點（如手背與膝蓋、雙手交叠處、臀部與地面接觸點 ）和坐姿為基本所緣，這可以說是運用了身念處的「界作意章」、「威儀章」。觀照基本所緣時，如果 心散亂了，則只是去覺察這散亂心的存在，直到它消失後，再回到基本所緣。同樣的，當其他的情緒如 煩躁、生氣、感官欲望等生起，同樣只是覺察它們，直到消失後再回到基本所緣。如此，對心的如實觀 察是「心念處」的運用。坐禪時，當身體有任何不舒服的感受出現，如癢、麻、酸、疼等，只是覺察它 們如何生起、變化，直到消失後再回到基本所緣，這是「受念處」的運用。坐禪中聽到聲音、嗅到味道 時，則嘗試清楚覺察這耳聽、鼻嗅的過程，此符合「法念處」中「觀十二處」的運用。如此，在一座的 坐禪中，便靈活地運用了四個念處。
           </p>
<p>
            如同初期佛典中所描述的修行者的修行，馬哈希大師十分重視「行禪」或說「經行」。一日的 密集禪修中，總是安排行禪與坐禪交替進行，有一半的時間在練習行禪。馬哈希傳統認為，經行能夠迅 速建立正念與定力；另一方面，有助於平衡定根與精進根，並能克服睡意。所教的行禪方法，乃依據身 念處「威儀章」中所謂「行走時知行走」的教導。在眾多內觀禪法中，此般等視行禪與坐禪的重要性， 使得馬哈希傳統有別於其他不強調行禪的內觀傳統而更加接近初期佛典對於經行／行禪所采取的態度。
           </p>
<p>
            除了行禪與坐禪，馬哈希傳統也強調「日常活動的正念」，教導修行者在坐禪、行禪之外，進 行日常活動時（如往來寢室與禪堂的行進過程、寢室內的活動，臥床入睡前，用餐），也應該對當下的 身、心現象時時刻刻保持正念觀察，認為觀照日常活動的正念有助於培養深刻的觀智並證入道果。如此 的教導亦是運用了《念處經》身、受、心、法念處，尤其是身念處中的「正知章」與「威儀章」的教導 。總之，馬哈希念處內觀禪法是一種完全立足於《念處經》，能於行、住、坐、臥一切時中培養正念的 內觀方法。
           </p>
<h3>
<a id="_Toc4122" name="_Toc4122">
</a>
            屬於純觀的禪法
           </h3>
<p>
            馬哈希的念處內觀禪法，屬於上座部註釋書傳統中所謂「純觀乘者／幹觀乘者」的禪法，是一 種不強調「奢摩他」而直接從「內觀」著手的禪修方法，於培育正念中同步培育正定。因此，其念處內 觀禪法的制式教學並未運用「身念處」中的「厭逆作意」和「九塜觀」等屬於奢摩他的修法。
           </p>
<p>
            這種「純觀乘者」的禪法，標誌著二十世紀緬甸大部分內觀禪修傳統的特色。緬甸乃至東南亞 國家的「在家眾禪修運動」之所以成功，即是要歸功於這純觀乘者的修行方法。現今歐美所流行的「正 念禪修」之風潮，亦歸屬於這類「純觀乘者」的禪法。相對於「純觀乘者」，另一種禪修的進路稱為「 止乘者」，此種進路要求修行者先修習「奢摩他」到達色界初禪那，乃至更高的定境後方才轉修「內觀 」。由於「奢摩他」的修行，對於修行的場所與時間有較多的要求，而一般在家者通常無法符合這些條 件，因此被認為是較不適合「止乘者」修行進路的一類人；相對的，純觀乘者的進路，則比止乘者的進 路更適合普羅大眾。這也是馬哈希內觀禪法能在以在家眾為主的歐美各地廣為流傳的原因所在。
           </p>
<p>
            當然，馬哈希傳統並非完全不修習奢摩他。基本上，是將奢摩他修行視為內觀禪修的輔助，如 佛隨念、慈心修、不凈觀和死隨念等四種「謢衛禪」，為馬哈希傳統所常教導的四種奢摩他方法。其中 尤以慈心修習，是最常用的輔助禪法。
           </p>
<h3>
<a id="_Toc686" name="_Toc686">
</a>
            註重密集禪修
           </h3>
<p>
            馬哈希傳統鼓勵長期的密集禪修，建議禪修者至少能連續密集禪修兩個月或更長的時間，以累 積足夠的正念動能，獲得可觀的進步。禪修中的每日行程，是采取密集的訓練方式。傑克．康菲爾德在 《當代南傳佛教大師》一書中，曾如此描述此傳統的禪修方法：「在馬哈希的教法裏，每天持續十六小 時的靜坐和經行交替練習，即使從未修學過的在家人，也可經由這種密集的安排迅速開發定力和正念。 」透過行禪、坐禪和日常生活正念的練習，馬哈希念處內觀禪法指導禪修者充分利用一整日的時間，從 清晨醒覺的那一刻起開始運用正念禪法，除了行禪、坐禪之外，還包括進食用餐、灑掃沐浴等日常生活 的觀照，一直到夜晚躺在床上入睡之前，都能運用方法嘗試保持正念不斷。
           </p>
<h3>
<a id="_Toc8667" name="_Toc8667">
</a>
            教導初學者實用的禪修技巧
           </h3>
<p>
            為了使初學的禪修者能易於進入正念相續不斷的狀態，馬哈希念處內觀禪法提供了一些實用的 禪修技巧，包括坐禪的「觀察腹部起伏」，經行時的「分段觀察」，用於一切時的「放慢動作」和對身 心現象「標記」。這些技巧成為馬哈希內觀禪法的鮮明特色。無論如何，就馬哈希傳統而言，「標記」 、「放慢動作」等技巧，是為了輔助初學者，並非修行成功的必要條件。當這些技巧沒有發揮原本預設 的作用反而成為幹擾時，或當禪修進展到某個階段而不再需要它們時，禪修者可以選擇舍棄這些技巧， 而僅關註正念是否持續保持在禪修所緣上。
           </p>
<p>
            最後，譯者在此要感謝英譯者慨允授權翻譯、免費流通，讓華語讀者能多一個機會直接學習源 自佛陀的教導並由馬哈希大師傳授的正念內觀禪修方法。
           </p>
<p>
            溫宗堃
           </p>
<p>
            於慶安正念推廣中心
           </p>
</div>
<p>
</p>
<p>
</p>
<div>
<h1>
<a id="_Toc31366" name="_Toc31366">
</a>
            內觀實修指導
           </h1>
<p>
            馬哈希大師 著
           </p>
<p>
            在這一章，我將從實修的角度，來說明如何修習內觀乃至如何體驗道智、果智。我將使用日常 用語而非佛典專門術語，也不會引用大量的佛典文獻，如果讀者對某個主題有任何疑問，可以參考出現 在前幾章的數據和出處。
           </p>
<h3>
<a id="_Toc15646" name="_Toc15646">
</a>
            修習的準備
           </h3>
<p>
            如果希望在此生證得道智、果智和涅盤，禪修者應該透過下列的準備，來除遣禪修期間的障礙 ：
           </p>
<p>
            如第一章所述那般，應凈化戒行並祈願「願我的戒行成為道智的助緣」。如果懷疑自己曾冒犯 已證悟之人，應為自己的過失向他道歉；如果無法當面道歉，應在老師面前懺悔。
           </p>
<p>
            應把自己托付給「佛陀的智慧」，以便在密集禪修期間可能出現可怖的所緣時，可以免於畏懼 。也應把自己托付給老師，如此，可以得到老師的指導而免於猶豫（若本已敬謹遵循老師的指導，便不 需要如此）。
           </p>
<p>
            思惟涅盤的功德──完全免於身心之苦。思惟道智的功德──根除煩惱並直接趨向涅盤。思惟觀智 的功德──必定導向道智和涅盤。請記得，自己正依循著的內觀道路，和佛陀、諸阿羅漢及一切聖者所依 循的道路，並無二致，應當藉此來自我勉勵。
           </p>
<p>
            應當向佛陀禮拜，就自己所知來憶念佛陀的種種德行。應當從寺院的護法天神開始，對所有眾 生修習慈心。如果可能，也應當憶念死亡以及自身的不凈。
           </p>
<p>
            最後，禪修者應盤腿端坐或采用其他舒適的坐姿，按照下列所述來進行觀照。
           </p>
<p>
<a id="_Toc532481013" name="_Toc532481013">
</a>
<a id="_Toc297820615" name="_Toc297820615">
</a>
</p>
<h3>
<a id="_Toc505" name="_Toc505">
</a>
            基本練習
           </h3>
<p>
            基本所緣
           </p>
<p>
            禪修者應該把心專註於腹部，如此，將會感受到腹部的起伏。如果感受不清楚，可以把一只手 放在腹部來幫助覺察，一會兒後，腹部的起伏會變得明顯起來。吸氣時，禪修者會經驗到腹部上升的移 動，觀照它：「上」；呼氣時，禪修者會經驗到腹部下降的移動，觀照它：「下」。
           </p>
<p>
<a id="OLE_LINK12" name="OLE_LINK12">
</a>
<a id="OLE_LINK13" name="OLE_LINK13">
</a>
            這麽觀照時，心中或許會想著，觀察到腹部的形狀等概念並不恰當，然而不需為此擔心。一開始練習 時，當然無法避免形狀等的概念法，最初必然會從概念法下手來觀照所緣，如此觀照，是使禪修者的專 註力、覺照力和觀智成熟的唯一方法。無論如何，等到適當的時機，觀智將會穿透概念法，而洞察其背 後的究竟法。
           </p>
<p>
<a id="OLE_LINK1" name="OLE_LINK1">
</a>
            真正的內觀修習是覺知任何在六種感官之門持續生起的一切身心現象。不過在一開始，因為定 力、覺知力仍不強，禪修者很難觀察到所有持續生起的現象；不夠善巧而無法跟隨所有的所緣；或者， 可能會忙於尋找所緣來觀照。因此，禪修者最初應僅專註於腹部起伏──腹部起伏一直都存在著，足夠明 顯而不難觀察。之後，當修習成熟時，禪修者將能觀照在當下生起的種種所緣。
           </p>
<p>
            因此，禪修者應該既同步且持續地觀照腹部的移動：「上、下」，無有間斷。關於標記，應只 是在心裏默記，而非口念。不應使勁呼吸來使腹部起伏更加明顯，也不應加快或放慢呼吸的速度。如果 禪修者控制著呼吸，那麽很快就會感到疲累而無法好好觀照下去。就只要正常地呼吸，並且同步地觀照 。
           </p>
<p>
            佛典補註
           </p>
<p>
            腹部起伏是風界的顯現，風界是可觸的色法之一（見第四章）。觀察到腹部起伏時，將感受到 壓縮的張力和移動（風界的特相）。這符合下列的巴利引文：
           </p>
<p>
            比丘們！仔細地註意色，如實正觀色的無常！（《相應部．蘊相應》）
           </p>
<p>
            比丘們！比丘見無常色為無常。這是他的正見。（《相應部．蘊相應》）
           </p>
<p>
            這是引自（《相應部》）〈蘊相應〉的經典。觀察腹部起伏，也符合（《長部》的）《大念住 經》（Mahāsatipaṭṭhāna Sutta）所說的法隨觀（五蘊章）。
           </p>
<p>
            比丘們！仔細地註意觸，如實正觀觸的無常！（《相應部．六處相應》）
           </p>
<p>
            比丘們！比丘見無常觸為無常。這是他的正見。（《相應部．六處相應》）
           </p>
<p>
            體知、遍知觸，厭離觸，舍斷觸，方能盡苦。, （《相應部．六處相應》）
           </p>
<p>
            知、見（觸）為無常時，無明斷，明生。（《相應部．六處相應》）
           </p>
<p>
            這是（《相應部》）〈六處相應〉的經典所說。觀腹部起伏也符合《大念住經》法隨觀（六處 章）。
           </p>
<p>
            內風界和外風界皆是風界。應以正慧如實見風界：「它不是我的。我不是它。它不是我自己。（《 中部．羅睺羅大教誡經》、《中部．界分別經》）
           </p>
<p>
            這是關於界的經典所說，也符合《大念住經》的身隨觀（界章）。
           </p>
<p>
            另外，風界是色取蘊（rūpa upādāna- kkhandha）的一部分，因此也包含在苦諦。[280]依據佛 陀的教導，應當加以如實了知：
           </p>
<p>
            苦聖諦，應遍知。（《相應部．諦相應》）
           </p>
<p>
            這符合關於四諦的經典，也包括在《大念住經》的法隨觀（四聖諦章）之中。
           </p>
<p>
            因此，觀察腹部起伏顯然是符合佛陀的教導，因為這是讓人如實去了知風界的繃緊和移動的性 質。關於呼吸〔導致腹部起伏〕的觀察，如在第四章（Chapter 4P171）所解釋的：
           </p>
<p>
            無論身體被如何擺置，他皆應了知。,（《中部．念住經》）
           </p>
<p>
            分心
           </p>
<p>
            持續觀照腹部起伏的過程中，可能有各式各樣的念頭出現。當這情況發生時，用日常用語來標 記、觀照這些念頭。例如，發現自己在想時，觀照它：「想、想」。如果在作白日夢胡思亂想時，觀照 它：「妄想、妄想」。如果在想象某事，觀照它：「想象、想象」。如果在思惟，觀照它：「思惟、思 惟」。
           </p>
<p>
            心散亂時，觀照它：「散亂、散亂」。如果想象自己前去其他地方，觀照它：「去、去」。如 果想象遇見某人，觀照它：「遇見、遇見」。如果想象與人談話，觀照它：「談話、談話」。想象看到 某人的時候，觀照它：「看到、看到」。在這樣的觀照之後，禪修者就即刻回來觀照腹部的起伏。
           </p>
<p>
            身體的不舒服
           </p>
<p>
            觀照腹部起伏的期間，可能會想要吞下或吐出口中的唾液，應該觀照它：「想吞」或「想吐」 。如果禪修者實際上正在吞或吐唾液，便觀照它「吞、吞」或「吐、吐」，然後隨即回來觀照腹部起伏 。如果禪修者想要低下頭，觀照它：「想低頭、想低頭」。如果是在彎下頸部，就觀照：「彎曲、彎曲 」，專註於過程中的任何移動，應該慢慢地彎曲，不應快速地進行。再次擡頭的過程，也是一樣。這樣 觀照之後，隨即再度回去觀照基本的所緣：腹部起伏。
           </p>
<p>
            身體任何部位有不舒服的僵硬出現時，專註於那僵硬，持續觀照它：「僵硬、僵硬」，觀照要 和實際的感受同步進行。僵硬感可能會慢慢消失，或者變得更為劇烈。如果無法忍受而想要變換姿勢， 觀照那個心理狀態：「想換、想換」。實際在變換姿勢時，應持續觀照過程中的每個移動。例如：想要 舉起某個肢體時，觀照：「想舉」；之後實際舉起時，觀照它：「舉起、舉起」；伸直時，觀照它：「 伸直」；彎曲時，觀照它：「彎曲」；放下時，觀照它：「放下」。這些移動都要緩慢、平穩地進行， 不急促、不躁進。如果在移動過程中，感到身體的任何部位有被某物碰觸到，要觀照它：「觸」。完成 姿勢的更換後，或者未更換姿勢而僵硬感消失了，就隨即回來觀照腹部起伏。
           </p>
<p>
            身體某處感到明顯熱感時，把心專註於那裏，觀照它：「熱、熱」，同步且持續地觀照。如果 熱消失了，即回來觀照腹部起伏。如果變得無法忍受而想變換姿勢，觀照：「想換」。實際變換姿勢時 ，就去觀照擡起肢體的整個過程，按照之前所說那樣，同步且持續地觀照。之後隨即立刻回來觀照腹部 起伏，不要讓觀照的流程有空隙。
           </p>
<p>
            當禪修者感到癢時，把心專註於癢，穩定、持續地觀照它：「癢、癢」。如此觀照時，癢可能 消失。如果癢消失了，就回來觀照腹部起伏。如果癢變得難以忍受，讓人期待它消失或者想要搔癢，就 觀照這個心：「想要消失」、「想要搔癢」。如果禪修者想舉起手去搔癢，就觀照：「想舉」。實際舉 起手時，觀照它：「舉起」──舉手的動作要緩慢而穩定。觸及身體癢的部位時，觀照：「觸」。搔癢時 ，每次手或手指來回移動的當下，觀照：「抓」。想停止搔癢時，觀照：「想停」。想把手收回放下時 ，觀照：「想放下」。實際在放下手的當下，觀照它：「放下、放下」。感到收回原處的手正在接觸時 ，觀照它：「觸」。在這之後，禪修者隨即回到基本所緣，即腹部起伏去觀照。
           </p>
<p>
            任何苦受生起而變得明顯時，禪修者應把心專註其中，運用日常用語，精確而穩定地標記、觀 照，例如：「疼痛、疼痛」、「麻、麻」、「酸、酸」、「疲累、疲累」或「暈眩、暈眩」。如此觀照 時，苦受可能會消失或增強。如果禪修者有耐性、有毅力地觀照這苦受，它通常會消失。如果苦受變得 難以忍受則應忽略它，而格外小心地去觀照腹部的起伏，同步且持續地觀照。
           </p>
<p>
            奇特的經驗
           </p>
<p>
            當定力增強時，身體可能會感受到難以忍受的痛楚。譬如，胸腔內仿佛有個膨脹的氣囊，令人 感到窒息般的壓迫感；或者，感到像被利刃戳刺般的劇烈疼痛；或者，像是有許多小針在紮刺般的刺痛 ；或者，像被小蟲爬搔般的渾身不適；可能感到灼熱、狂癢、難忍的酸痛、冷冽的酷寒，或者其他種種 苦受。
           </p>
<p>
            當這些強烈的感受出現時，如果禪修者覺得害怕而停止觀照，他會發現那感受隨即就消失不見 了；但是，當觀照又再次增強時，那感受通常會再出現。對於此類經驗，禪修者不需感到害怕，這並非 嚴重疾病的征兆，只是在身體上常見的一般感受，平時我們很少註意到，是因為註意力被更顯著的感受 所占據，它現在變得如此明顯，實際上是因為定力增強的緣故，所以不需要擔心是否身體出了問題，應 該持續地觀照這感受，才得以超越。如果停止觀照，那麽在每次定力變得較強時，同樣的感受可能會一 再地反復出現。禪修者若能有耐心、有毅力地加以觀照，它會在某個時間點突然消失，而且永遠地消失 。
           </p>
<p>
            如果感到身體想搖擺，觀照它：「想搖」。如果身體實際上開始搖了，觀照它：「搖、搖」。 如果禪修者自己並未故意這麽做，不需感到驚慌，也不要鼓勵它，只是持續地觀照它，既穩定且和緩地 觀照：「搖、搖」，要有自信，相信自己若加以觀照的話，它終將停止。如果搖擺變強，以坐姿練習時 可以靠著墻或其他支撐，或者以躺姿來練習。如此正念地觀照，搖擺很快就會完全停止。倘若身體顫抖 ，也該依循相同的方式來觀照。
           </p>
<p>
            有時候，背部或全身可能會起雞皮疙瘩，或感到一陣涼意，不需要對此感到害怕，這只是禪修 引生的喜。有時候，聽到任何聲音，都可能使人受到驚嚇，禪修者也不需對此感到害怕，這只是心理觸 知的敏感度由於定力增強而變得極為敏銳。任何時候，禪修者若想要改變姿勢、移動手腳，此時首先應 觀照想移動的動機，然後觀照過程中每瞬間的連續移動。禪修者不應匆促急躁，應緩慢而穩定地移動。
           </p>
<p>
            喝飲料
           </p>
<p>
            感到口渴時，應該觀照它：「渴」。如果想要站起來喝水，應該觀照它：「想站起」。禪修者 在準備站起時，應該使用日常用語標記，觀照其中所有的移動。站起時，專註身體逐漸上升的過程，觀 照：「站起、站起」。禪修者應該和緩、穩定地移動。起立後靜止不動時，應該觀照：「站、站」。如 果看見或註視某物或某人，應該觀照：「看」或「註視」。想要走去取水時，應該觀照：「想走」。實 際在行走時，應該觀照每一個步伐：「走、走」或「右、左」。從腳板舉起的動作開始，一直到腳板放 下，禪修者都正念地跟隨著每一個步驟。緩慢行走或者正式行禪時，應該觀照每個步伐的兩個階段：「 提起、移動」或「擡起、放下」或「移動、放下」。一旦能夠輕易地觀照每步伐裏的兩個階段時，應該 轉而觀照三個階段：「提起、移動、放下」。
           </p>
<p>
            註視或看見飲水的容器時，應觀照：「註視」或「看」；在其面前站立不動時，應觀照：「站 、站」；伸手拿杯子時，應觀照：「伸、伸」；碰觸杯子時，應觀照：「觸、觸」；拿杯子時，應觀照 ：「拿、拿」；倒水進杯子時，觀照：「倒、倒」；把水杯舉向嘴時，觀照：「舉、舉」；當杯子碰到 嘴唇時，觀照：「觸、觸」；感覺到水的冷度時，觀照：「冷、冷」；喝水、咽水時，觀照：「喝」、 「咽」；喉嚨或胃中感到冷時，觀照：「冷、冷」；把水杯放回時，觀照：「放下、放下」；手收回時 ，觀照：「收回、收回」；手碰觸身體時，觀照：「觸、觸」。
           </p>
<p>
            想轉身回到座位的動機出現時，觀照：「想轉」，實際轉身時，觀照：「轉、轉」。當走回座 位時，每一步應如之前所說那樣去觀照。想要停下來站立不動時，觀照：「想站、想站」，站著不動時 ，觀照：「站、站」。如果站立維持一段時間，可以去觀照腹部起伏和站姿：「上、下、站」。想要坐 下時，觀照「想坐」。如果在座位上需要調整身體時，以相同的方式加以觀照。若必須轉身，觀照：「 轉、轉」。實際坐下時，觀照：「坐下、坐下」，去覺知身體的重心正在逐漸下降。每個動作，都需要 緩慢且穩定。一旦坐下了，將需再次擺置好手、腳。過程中涉及到的所有動作，應運用日常用語來標記 ，仔細地觀照。然後，如果沒有其他明顯的所緣可觀察，就如往常那般回來觀照基本所緣──腹部起伏。
           </p>
<p>
            就寢
           </p>
<p>
            想要躺下時，觀照它：「想躺」。在鋪床時，觀照過程中手、腳的所有移動：「舉」、「伸」 、「放回」等等。實際在躺下時，觀照漸漸躺下的整個身體：「躺下、躺下」。感覺到碰觸枕頭、棉被 時，觀照：「觸、觸」。最後躺平時，觀照手、腳、身體的移動，以及臥姿的調整。動作應該緩慢而穩 定。然後，如果無其他所緣可觀照，應該專註於腹部起伏，持續加以觀照。
           </p>
<p>
            當禪修者躺在床上觀照腹部起伏時，可能會有某種令人不悅的感受生起，例如、僵硬、熱、痛 、癢等等。如果有這些感受，應正念地觀照它們，如同坐禪時的方式。倘若有任何分心如吞咽唾液、思 惟、妄想等，也應該像其他時候一樣，仔細地觀照。如果想要翻身，伸展、彎曲手腳，或調整臥姿，應 先觀照動機，然後觀照其中的每一個移動，沒有遺漏。沒有其他特別的事物可觀照時，則應回到基本所 緣──腹部起伏。
           </p>
<p>
            如果感到想睡，觀照它：「想睡、想睡」。如果眼皮感到沈重，觀照它：「沈重、沈重」。當 禪修成熟時，睡意會消失，心再次變清明，如果是這樣，禪修者就觀照它：「清明、清明」，然後回頭 觀照腹部的起伏。如果睡意並未消失，禪修者不應就此停止練習，應持續地去觀照腹部起伏或其他所緣 ，而不是打主意說，那就入睡算了。在觀照中，身體如果真的疲累了，終將沈入睡眠的。
           </p>
<p>
            睡眠是「有分心」的長時相續。有分心和投生、死亡時生起的心識，屬於同一種心識。這類心 識非常微細，因此無法了知它的所緣。清醒的時候，有分心也會生起，例如，它會在見和想之間或者聽 和想之間生起，但是在這些時候，它持續的時間太短暫了，因此難以被我們觀察到。睡眠時，有分心持 續的時間雖然夠長，不過我們仍然難以覺察它的特相或所緣，因為當我們熟睡時是無法觀照到任何所緣 的。
           </p>
<p>
            起床
           </p>
<p>
            當我們一睡醒，應觀照「清醒、清醒」。在剛開始修習時，禪修者會發現很難補捉到最初清醒 的時刻。如果還不能從清醒之初便開始觀照，那麽應該觀照從他記得觀照時開始出現的一切所緣。如果 發現自己正在思惟，觀照它：「想、想」；然後，回來持續觀照腹部起伏。如果禪修者被聲音喚醒，應 觀照：「聽、聽」。如果沒有其他所緣可觀照，應該回來繼續觀照腹部的起伏。
           </p>
<p>
            翻身、彎曲、伸展肢體時，動作應緩慢而有正念，以日常用語標記，觀照每個動作。如果想到 現在是什麽時刻了，觀照它：「想、想」。如果想要起床，觀照它：「想要、想要」。應該無間隙地觀 照起身過程裏所包含的一切移動，專註於身體的起身，觀照它：「起身、起身」。.如果禪修者接下來是 坐著，觀照它：「坐、坐」。之後，再回來觀照基本所緣──腹部起伏。
           </p>
<p>
            若是洗臉或洗澡，過程中的每個動作，皆應不留間隙地觀照。例如，應該觀照自己看著水瓢、 伸手去取水瓢、拿起水瓢、舀水、淋水在身上、水的冰涼、擦洗身體等等。禪修者也應該無間隙地觀照 其他的活動，例如穿衣、鋪床、開門、關門、整理物品等等。
           </p>
<p>
            用餐
           </p>
<p>
            用餐時，當眼睛註視著菜盤，此時應觀照：「註視」或「看」。聚攏一口飯時，應觀照：「聚 攏、聚攏」。把那口飯提到嘴時，觀照：「提、提」。頭低下時，觀照：「低下、低下」。碰觸到嘴唇 時，觀照：「觸、觸」。張開嘴時，觀照：「張開、張開」。把那口飯放入嘴中時，觀照：「放、放」 。合上嘴時，觀照「合上、合上」。放下手時，觀照「放下、放下」。如果再次舉起手，觀照：「舉起 、舉起」。每次咀嚼食物時，觀照：「咬、咬」。嘗到食物的味道時，觀照：「嘗、嘗」。把食物吞下 時，觀照：「吞、吞」。如果感覺食物經過喉嚨、消化道，觀照：「觸、觸」。
           </p>
<p>
            如此，禪修者在用餐期間應細心地觀照。在修習初期，禪修者還無法觀照到許多事物，中間會 有許多間隙，也會有不少時刻無法覺察、觀照到想移動身軀的動機。然而，禪修者無需為此感到沮喪， 如果禪修者擁有想要謹慎、仔細地觀照的態度，他將能觀照到愈來愈多的事物。當智慧變得成熟時，禪 修者可以輕易地觀察到比這裏所解說的還要多的事物。
           </p>
<p>
            增加所緣
           </p>
<p>
            修習大約一天之後，禪修者很可能會覺得只是觀照腹部起伏過於容易。他也許會發現在腹部的 上升與下降的移動之間有空隙或中斷，這時候，禪修者應觀照三個所緣。加上「坐姿」做為第三個所緣 ，此時他將觀照：「上、下、坐；上、下、坐……」。在觀照「坐」的時候，禪修者應該以和觀照腹部 起、伏相同的方式，去覺察身體的坐姿。如果是躺著，則應觀照「上、下、躺」三個所緣。
           </p>
<p>
            觀照三個所緣時，如果覺得仍有間隙，禪修者可以觀照「上、下、坐、觸」，亦即增加身上一 個明顯的觸點，做為第四個所緣。如果不喜歡這方式，也可以觀照「上、坐、下、坐」。躺著時，可以 觀照的四個所緣是：「上、下、躺、觸」或「上、躺、下、躺」。如果呼吸變得極細微而無法清楚感受 到腹部的起伏，可以去觀照坐／臥姿勢或者接觸點。禪修者也可以觀照四、五或六個觸點，一個接一個 地輪流觀照。
           </p>
<p>
            一般所緣
           </p>
<p>
<a id="OLE_LINK8" name="OLE_LINK8">
</a>
            仔細觀照腹部起伏等身體現象時，並不需要去觀照一般的「看到」或「聽到」的現象。如果能 仔細觀照腹部起伏等現象，其實也就完成了觀照、了知「看到」或「聽到」的現象所要達到的目的──僅 僅就只是看到、聽到。不過，如果是刻意註視看著某物或某人，應該要觀照：「 註視、註視」，之後，再繼續觀照基本所緣。如果並非刻意去看，只是無意間看到男人、女人等， 則應觀照：「看到、看到」兩、三次，然後即繼續回來觀照基本所緣。如果刻意去聽某個聲音，應觀照 ：「傾聽、傾聽」，然後回來繼續觀照基本所緣。如果聽到明顯的聲音，如人說話、唱歌、巨響、狗吠 、鳥叫、雞鳴等的聲音，應該觀照：「聽到、聽到」兩、三次，然後回來繼續觀照基本所緣。
           </p>
<p>
            如果未觀照這些吸引註意力的顯著所緣，禪修者便無法清楚地覺察基本所緣。禪修者也可能陷 入對它們的思惟而引發心理的煩惱，這時候，禪修者應該觀照「想、想」，然後回到基本所緣。如果禪 修者忘了觀照色身所緣或思緒，他應該觀照「忘記、忘記」，然後再回來繼續觀照基本所緣。
           </p>
<p>
            如果呼吸變得極微細，腹部起伏因而不明顯，這時候若是采用坐姿來修習，可以觀照：「坐、 觸」；若采臥姿，可以觀照：「臥、觸」。觀照「觸」時，心應在四、五乃至六個不同的觸受之間，交 替地觀照。
           </p>
<p>
            心理狀態
           </p>
<p>
            修習了一段長時間，如果沒有任何進展，禪修者可能會懈怠下來，這時應觀照：「懈怠、懈怠 」。當正念、專註力和觀智尚未生起時，禪修者可能會以為正念觀照並沒有帶來任何的進展，因此產生 了懷疑，這時，禪修者應觀照：「懷疑、懷疑」。有時候，禪修者希望修習能更順利或者能有特殊的經 驗，此時則應觀照：「期望、期望」。如果回想過去的修習，應該觀照：「回想」。如果對所緣是名或 色感到困惑，觀照它：「困惑、困惑」。有時修習並不順利，會因而感到沮喪，應觀照它：「沮喪、沮 喪」。有時，發現禪修進展順利時會感到高興，觀照它：「高興、高興」。禪修者應該以這個方式觀照 所有當下的心理狀態，之後再繼續觀照基本所緣。
           </p>
<p>
            精進
           </p>
<p>
            無論生起的念頭是善或不善，禪修者應該觀照每一個念頭。無論身體的移動是大是小，禪修者 應該觀照每個動作。無論身心的感受是令人愉悅或令人不悅，禪修者應該觀照每個感受。無論是善或不 善，禪修者應該觀照每一個心理所緣。如果沒有其他特別的事物可觀照，便回來觀照基本所緣，也就是 ，靜坐時觀照腹部起伏，行走時觀照腳板的提起、移動、放下。禪修者應不間斷且持續地觀照這些所緣 。
           </p>
<p>
            如此，除了睡眠時間，禪修者應日夜持續不間斷地觀照，不久後將能觀照到所有身心現象的生 滅。這麽修習下來，禪修者將能逐步經驗到生滅智乃至更高階的觀智。
           </p>
<h3>
<a id="_Toc30259" name="_Toc30259">
</a>
<a id="_Toc532481027" name="_Toc532481027">
             觀
            </a>
            智
           </h3>
<p>
            心與身
           </p>
<p>
            禪修者如上所述那樣地修習，當正念、專註力和內觀成熟時，將發現觀照心和所觀照的所緣， 成雙成對地生起。例如，禪修者會觀察到腹部上升的身體現象（色），以及觀照這上升的心理現象（名 ）；或者，腹部下降的身體現象，以及觀照它的心；或者，提起腳的身體現象，以及觀照它的心；或者 ，腳向前移動的身體現象，以及觀照它的心；或者，放下腳的身體現象，以及觀照它的心等等。
           </p>
<p>
            禪修順利時，禪修者將如此分別地見到腹部起伏以及觀照心二者。就這樣，他能夠辨別心理現 象和身體現象，辨別名與色。這仿佛就像是觀照心奔向所觀照的所緣那般，如此，是覺知到心具有傾向 所緣的特相（namanalakkhaṇā）。對於色身所緣的觀照愈是清楚，觀照心便會變得愈是顯著。《清凈 道論》說：
           </p>
<p>
            每當身體現象變得清楚、不模糊而顯著時，與這些身體所緣相關的心理現象，也將自行變得顯著。
           </p>
<p>
            一般人在禪修時對身、心有此體悟時，他們會感到高興並且傾向如此的想法：「除了身和心之 外，什麽也不存在。只有腹部的上升以及觀照腹部上升的心；只有腹部的下降以及觀照腹部下降的心； 只有坐姿以及觀照坐姿的心；只有彎曲的移動以及觀照彎曲的心。所謂的人，不過是身、心這兩種現象 罷了，除了這兩種現象之外什麽也不存在。所謂的男人或女人，也只是這兩種現象。除了這兩種現象之 外，沒有所謂的人或眾生。」
           </p>
<p>
            具有佛典知識的人清楚體驗到感官所緣、感官依處以及能知的心的時候，他們會感到很快樂， 並且常會如此地反思：「存在的，真的只有身心現象而已！觀照時，我真正體驗到的，是所觀照的身體 現象和觀照的心。其他的時候，也同樣是如此。並沒有獨立於這些身心現象之外的男人、女人或眾生。 真正存在的，是當下的身心現象。這些身心現象，一般被稱為人、眾生、女人或男人，但這些只是名稱 ，實際上並沒有獨存的人、眾生、女人或男人。觀照時，存在的就只有所經驗到的身、心現象。」
           </p>
<p>
            當這些反思出現時，應該觀照這反思的心理狀態：「思惟、思惟」。之後，再回到基本所緣， 不間斷地加以觀照。
           </p>
<p>
            因與果
           </p>
<p>
            當修習更為成熟時，若禪修者想要移動身體，那時，想移動的動機本身會變得明顯。一旦動機 生起，禪修者將能輕易地覺察到它。例如，在修習初期，即使觀照「想要彎」，禪修者還是不能清楚地 覺知到想要彎曲手臂的動機；然而，當禪修成熟時，禪修者將會清楚地覺知到想彎的動機，而不會把它 和其他事物混淆。因此，這時候，想要變換姿勢時，應該先觀照動機，然後再觀照實際的移動。
           </p>
<p>
            修習之初，禪修者在變換姿勢時常常未能加以觀照，因此他會有這樣的想法：「色身的速度較 快，而觀照心總是較慢。」不過，當直觀的智慧成熟了，呈現出來的現象就會是觀照心仿佛預先在歡迎 所緣那般。禪修者能夠觀照想要彎、伸、站、走等等的動機，也能觀照到彎、伸等所含括的種種移動， 那時，禪修者了悟：「色身較慢，心較快。」他親身體驗到，想移動的動機生起之後，彎曲、伸直等的 動作才得以生起。
           </p>
<p>
            感到熱或冷時，觀照：「熱、熱」或「冷、冷」，如此正念觀照時，禪修者可以體驗到熱或冷 的覺受可能在增強。進食時，禪修者可以體驗到氣力逐漸在補充。如此觀照之後，如果有另一個所緣生 起，禪修者不應立即回到基本所緣，而應留下來持續觀照新出現的所緣。此外，觀照內心的影相（如： 佛陀、阿羅漢等）或身體的覺受（如：癢、熱、酸痛、疼痛）時，在目前觀照的所緣尚未消失之前，另 一個所緣可能就生起了，這時候，禪修者應轉到新的所緣，不間斷地持續觀照。
           </p>
<p>
            透過對每個當下所緣的觀照，禪修者體驗到，所緣存在時觀照心才生起。而且，有些時候，腹 部起伏變得極微細以致無法觀照它們，這時候，禪修者體認到：如果所緣不存在，觀照心就無法生起。 在這情況下，若是在坐禪時，應該觀照「坐、觸」為基本目標而非腹部起伏；同樣的，若是在臥禪時， 則應觀照「臥、觸」。禪修者可以在多個觸點之間轉換。例如，在觀照「坐」一次後，可以觀照右腳板 的觸點：「觸」；然後，再觀照「坐」；然後，再觀照「坐」；之後，觀照左腳的觸點。禪修者可以如 此在四、五或六個觸點之間轉換。此外，在觀照見或聽的時候，禪修者清楚了知到：有眼和所見物時， 才有見的體驗；有聽和聲音時，才有聽的體驗。
           </p>
<p>
            透過觀照種種的所緣，禪修者清楚地了知，不同的原因引生不同的結果。例如，想彎曲的動機 和想伸展的動機，分別引生彎曲和伸展的移動。冷和熱的環境，分別引起冷和熱的感受。食用有養分的 食物，色身才能延續。腹部起伏等可觀照的所緣出現了，才有觀照心的生起。對心理所緣的註意，引生 了思惟、想象等心理狀態。因為有能見物或可聽的聲音之存在，見的心識和聽的心識才能生起。再者， 因為有眼、耳等的存在，見的心識和聽的心識才能生起。
           </p>
<p>
            禪修者也會清楚領悟到：過去生所作的出自意誌的行為，會引生此生的苦受或樂受。由於昔日 有意誌的行為，才有此世自出生後所現起的身心現象；而這些身心現象，並非由所謂的創造者所創造， 它們是隨因果法則而生起的。當這些了悟生起時，禪修者並不需要為了思惟它們而停止觀照。這些了悟 會在觀照中自動顯現，此時，禪修者應觀照這些領悟：「領悟、領悟」、「體會、體會」或「思考、思 考」，然後，回頭持續觀照基本所緣。
           </p>
<p>
            領悟到因果法則或身心的互動如何在今生運作之後，禪修者也將理解它們在過去生的運作以及 在未來生的運作，禪修者可能如此反思：「過去生的身心現象和未來生的身心現象，與現在的現象一樣 ，有著相同的原因；沒有獨存的人、眾生，也沒有創造者。」這類反思會經常出現在具有中高度智力的 人們身上，智力愈高，觀察的範圍便愈廣。無論如何，當這類反思生起時，禪修者應去觀照這類反思， 然後回到基本所緣。如果禪修者能將持續觀照當作優先選項而非熱衷於思惟，那麽花費在思惟的時間就 會少些，修習就能進展得更為迅速。所以，稍作思惟也就夠了。
           </p>
<p>
            定力所致
           </p>
<p>
            當定力增強之時，禪修者可能會經驗到種種令人不悅的感受，如癢、熱、酸痛、疼痛、沈重或 緊繃的感受等。如果停止觀照，這些感受通常就會消失，然而一旦重新觀照，便又再次顯現。這些感受 並非疾病的象征，正是修習本身使這些感受變得明顯。因此，禪修者不需畏懼它們，應該專註且有毅力 地加以觀照這些感受，它們將逐漸變弱乃至消失。
           </p>
<p>
            禪修者可能也會看到各種的影相、幻相，這些影相可以像肉眼親見般的鮮明。例如，禪修者可 能見到佛陀、僧眾或其他聖者的到來；可能感覺到仿佛眼前有尊佛像、佛塔、全景的樹林、山丘、花園 、雲朵等等；也可能感覺自己正看到一具腫脹屍體或骷髏躺在身旁；或者，看到宏大的建築或巨人在溶 解；或者，看到自己的身體在腫脹、出血、裂為兩、三塊，或變成一副骷髏；禪修者也可能看到身體內 部的影相，像是骨、肉、腱、腸、肝等等；或者，可能有地獄、地獄眾生、餓鬼、天界、天人、天女的 影相。這些影相、幻相是概念法，之所以產生，就只是因為定，禪修者不需對它們感到高興或害怕，它 們就如同夢境一般。
           </p>
<p>
            然而，體驗到這些心理影相的心識，是究竟法，因此必須加以觀照。不過，如果這心識並未非 常明顯，便不需觀照它。只有當所緣明顯時才需要加以觀照，因此，禪修者應該觀照所見的影相：「見 到、見到」，直到它消失。禪修者會發現影相或幻相有所變化，然後逐漸模糊或銷融瓦解。起初，禪修 者必須觀照三、四次或更多次，影相才會消失；但是當慧觀變得成熟時，禪修者會發現在觀照一、兩次 之後影相便消失不見。
           </p>
<p>
            另一方面，如果對這些情境感到好奇、害怕或者有所執著，這些影相將會駐留久時。因此，禪 修者應格外註意，不要去思惟這些不尋常的所緣。如果禪修者發現自己在思惟它們，應該藉由貼近觀照 來除遣這樣的思惟。有些人則並未經驗這些不尋常的幻相或感受，他們只是一直觀照基本所緣，後來變 得懶散了起來，此時，禪修者應觀照這懶惰：「懶惰、懶惰」，直到它消失。
           </p>
<p>
            三相
           </p>
<p>
            在此階段，禪修者不論是否有不尋常的經驗，每次在觀照所緣時，都能清楚見到所緣的始、中 、末全程過程。不過，在此階段之前，禪修者必須觀照在前一個舊所緣消失之前便已出現的新所緣，所 以無法清晰地看見所緣的消失。而在此階段，禪修者能在看見新的所緣之前，看見前個舊所緣的消失， 因此清楚地看見了所緣的開始、中間和結束。因為每次的觀照都能清楚見到每個所緣的即生即滅，禪修 者了知所緣的無常性質，猶如巴利聖典和註釋書所說：
           </p>
<p>
            壞滅義故是無常，有已而無，故是無常。（《長部註》、《中部註》、《增支部註》、《小部註》 ）
           </p>
<p>
            禪修者可能會如此反思：「這些所緣消失了！它們消逝不見了，真的是無常。」
           </p>
<p>
            凡無常即苦，可怖故苦。為生滅所逼惱故苦。（《相應部註》、《相應部註》、《長部註》、《中 部註》）
           </p>
<p>
            禪修者可能會想：「我們因為愚癡才會這樣在享受我們的生命，事實上，生命裏沒有值得享受 的事物。每件事物都在生滅，真的可怖！這是永恒的折磨！一切都在迅速生滅，一切都是可悲的、苦的 。我們隨時都有可能會死去。」遭遇苦受時，禪修者易於理解事物的可悲與苦，如巴利聖典和註釋書所 說：
           </p>
<p>
            （觀其）是痛……病……癰……刺……。（《小部註》、《清凈道論》）
           </p>
<p>
            禪修者也可能思惟：「一切身心現象是苦，而且無人可以改變它們。它們不聽從任何人的指示 。它們在生起後立即消失，是無實體的，是虛幻的，是不值得眷戀的。沒有『我』在控制著，來使它們 能不生起或滅去。事實上，它們自行生起、滅去。」這個了悟符合巴利聖典及註釋書：
           </p>
<p>
            苦故非我……。（《相應部》、《中部註》、《阿毘達磨疏》、《清凈道論》）
           </p>
<p>
            無實體義故是無我……。（《阿毘達磨疏》、《清凈道論》）
           </p>
<p>
            ……不順從任何人的意誌……。（《增支部註》、《小部註》）
           </p>
<p>
            禪修者在觀照這些反思之後，應立即回去觀照基本所緣。
           </p>
<p>
            親見每個直觀的所緣是無常、苦、無我後，禪修者思惟著：所有其他曾經驗過的現象，也必然 是無常、苦、無我──這稱為推論智（anumānañāṇa）。少作分析或學識較欠缺的人（以持續觀照為優 先，少尋思），比較不會以這推論的智識來進行思惟；喜好分析的人，則對此容易有許多的思惟。就某 些禪修者而言，對這個了悟的分析，會持續地夾雜在觀照之間而讓修習停滯不前。其實即使不去分析這 個了悟，禪修者的領悟力也會在較高的觀智階段變得越發清晰，因此，禪修者應以觀照為優先，而不是 分析。如果分析出現了，就應該去觀照這個分析。
           </p>
<p>
            依於推論而了悟一切現象的生滅之後，禪修者將會單純覺察當下生起的一切現象而不再陷於分 析。五根（信、進、念、定、慧）將變得平衡，觀照心會較以往更為迅速。所緣，也就是身心現象，也 將極快速地現起。譬如，每次吸氣時，禪修者清楚地看到腹部上升移動的過程包含了許多片斷；其他的 移動如腹部下降，肢體的彎曲、伸展等，也是如此。禪修者清楚體驗到遍布全身的微細震動或感受，一 個緊接著一個，非常迅速地生起。有些人經驗到細膩的癢或針刺感，極迅速地乍起乍落。在這個時候， 禪修者很少會經驗到不舒服的感受。
           </p>
<p>
            當所緣如此快速地生起時，禪修者將無法跟上所緣來為每一個所緣標記、命名，這時候應該只 是時時刻刻保持覺察而不加標記，如此才能跟上所緣。如果禪修者還是想要為所緣標記的話，那麽不需 去標記全部所緣。標記一個所緣時，他可能同時覺察到四個、五個或十個其他的所緣。這並不是問題， 如果想要為全部生起的所緣作標記，禪修者會疲累不堪。重點是要精確、準確地覺察每個所緣。在這個 情況，不需依照通常的方式〔選定所緣〕來觀照，禪修者應觀照來到六個感官根門的任何所緣。當然， 如果這麽做而觀照進行得不順利的話，可以再回到通常的方式。
           </p>
<p>
            身心現象的生滅，比眨眼或閃電更加迅速。但是當觀智成熟時，即使只是時時保持覺察，便能 輕易地見到每一個短暫的現象而無遺漏。正念變得如此強大，仿佛沖向生起的所緣，又仿佛是所緣掉入 觀照心。觀照心清楚明確地了知每一個生起的所緣。禪修者可能會這麽想：「現象生起後立即滅去，生 滅的速度如此迅速，就好像是全速運作的機器，不過我卻能觀察到全部所緣。我想，我並未遺漏什麽， 沒有什麽其他所緣是我應覺察而沒覺察到的。」禪修者親身體驗到這難以想象的觀智。
           </p>
<p>
            修道上的分心物
           </p>
<p>
            由於內觀的動能，禪修者可能會看到明亮的光，或者因對觀照心和所觀的所緣感到歡喜而體驗 到狂喜。禪修者可能會起雞皮疙瘩，感到臉頰有淚水滑落，或者感到身體在震動。可能有種「彈力」感 ，這常被誤以為是不是在暈眩。或者，仿佛在吊床上來回擺蕩，輕快、舒適感遍滿全身。無論行、住、 坐、臥，禪修者都可以體驗到令人舒適的安詳。此外，身心皆變得非常輕快、柔軟，讓人即使維持長時 的靜坐、躺臥，仍感到極為舒適，毫無疼痛、熱或僵硬的不適感。
           </p>
<p>
            在這時候，觀照心和被觀照的所緣同步、和諧地轉起，心也變得直捷敏銳。由於強烈的信心和 自信，他的心會避免不善的行為而變得極為明凈。有時候，即使沒有在觀照任何所緣，這清澄的心也會 持續一段很長的時間。當信心變得更加強大，禪修者可能會思惟：「真的，佛陀了知一切！」或者，「 除了無常、苦、無我的身心現象之外，什麽也不存在。」在觀照時，禪修者經常極清楚地見到身心現象 的生滅以及無常、苦、無我，由此可能會想到要鼓勵別人也來修習。精進明顯趨於平衡，既不過緊也不 過松。所緣則好像自行被了知一般，從而觀舍（vipassan- upekkhā）變得顯著了起來。在此階段，禪修者有可能會體驗到非凡的強大喜樂而興奮得想告訴別 人。
           </p>
<p>
            禪修者可能會喜歡下列這些愉悅的經驗：明亮的光、強大的正念、觀慧、狂喜等等。這喜歡， 會讓他尋思：「禪修實在愉快至極！」他們打從心底喜歡禪修練習。不過，不應花時間在享受光明等種 種愉悅的經驗上，相反的，當它們出現時，禪修者應該加以觀照：「亮光」、「舒服」、「知道」、「 思考」、「崇敬」、「快樂」、「喜歡」、「愉悅」等等。
           </p>
<p>
            如果註意到亮光，觀照它：「亮光、亮光」。如果想象正在看，應觀照：「看、看」，直到它 消失。禪修者因為喜歡光明及其他愉悅的經驗，所以在它們出現時經常會忘記觀照。即使禪修者有去觀 照亮光，但因於內心的喜歡，可能使亮光不會很快消失；在經歷亮光許多遍之後，禪修者才能善巧地觀 照，亮光才會快速消失。有些禪修者的亮光非常強，就算觀照了很長的時間，亮光仍未消失，這時候， 禪修者應該完全忽略那亮光，將註意力轉向其他的身心所緣。禪修者不應想著亮光是否仍然明亮，如果 他這麽想的話，會發現亮光還在。任何關於亮光的思惟皆應準確地加以觀照，讓對亮光的覺知清澈而堅 定。
           </p>
<p>
            因為定力非常強，如果禪修者的心是傾向亮光以外的其他特殊所緣，這些所緣也同樣會出現， 所以禪修者不應讓心有所趨向。如果心有所趨向，應迅速地去觀照它直到它消失。有些禪修者會看到像 火車車廂等的各種模糊的形狀，一個接一個地出現。如果浮現了，禪修者應觀照它：「看、看」。每次 觀照後，所緣便會消失。當觀慧微弱時，形狀和外形會變得更加顯著，但如果仔細地觀照，每個所緣會 在被觀照時立即消失。最後，它們會停止出現。
           </p>
<p>
            如果對亮光或其他愉悅的經驗產生了喜愛，便是走上錯誤的道路。正確的內觀之道是持續地觀 照，若能記住這點，繼續觀照實際生起的身心現象，覺知將會變得愈來愈清澈而能清楚地見到現象瞬間 生起、消逝。每次觀照時，都會看到每個所緣即生即滅。禪修者清楚地看見一個個相續的移動，剎那剎 那地一一潰散。因此，每個被觀照的所緣，都能讓禪修者了悟到無常（anicca）、苦（dukkha）和無我 （anattā）。無論如何，修習一段時間後，禪修者可能會對禪修感到滿意而每隔一陣子便歇息一下，心 想：「不能達到比這更好的了！」「不會再有其他殊勝的經驗了！」但是，禪修者不應恣意松懈下來， 反而應拉長練習時間，不中途停歇休息。
           </p>
<p>
            消逝
           </p>
<p>
            當觀智發展至下一階段時，禪修者將不再覺察到所緣的生起，而只見到所緣的消逝。他會心想 ，所緣消逝得愈來愈迅速，觀照心也是一個緊接著一個地消逝。例如，觀照腹部上升之時，禪修者清楚 地見到許多微小的上升移動是如何瞬間消失，也見到觀照心是如何迅速地逝去。如此，禪修者見到上升 移動和對該移動的覺知，一個接一個地消逝。對於其他的所緣如腹部下降、坐、彎曲、伸展、僵硬等等 ，也是如此。每個所緣和對所緣的覺知，在剎那剎那間一個接一個地消逝。有些禪修者甚至觀察到三個 現象依序滅去，即：感官所緣、對此所緣的識知，以及對該識知的了知。不過，只觀察到所緣和觀照心 成雙成對地消逝，便已足夠。
           </p>
<p>
            當觀照變得清晰而足以看到感官所緣和對該所緣的識知雙雙消逝時，禪修者將不再有形態、形 狀等概念上的錯覺，如身體的形狀，手掌、手臂、腿的形狀等；只會體驗到現象正在剎那剎那地消逝。 因此，禪修者可能會覺得自己的練習變得不深入，不如以前那樣好；或者覺得觀照和觀照之間有許多的 空檔。然而，事實並非如此。這只是因為心天生喜歡形狀的概念，當這些概念消失時，心便感到不舒服 。無論如何，這現象是修習進步的象征。修習尚未成熟時，當禪修者觀照見、聽、觸等現象，會先覺察 到所緣的形態或形狀。但是，在這個觀智階段，禪修者先覺知到的是現象在瞬間消逝。換言之，禪修者 體驗到了壞滅智。此時，形態感只在禪修者刻意去註意它時才會再出現，其他的時候，當禪修者不間斷 地觀照時，僅會覺知到現象的壞滅。因此，禪修者確認了古代聖者所說諺語的真實性：
           </p>
<p>
            概念法浮現時，究竟法隱沒；究竟法浮現時，概念法隱沒。
           </p>
<p>
            雖然禪修者的覺察在此時變得極為清晰，但相續的覺察之間仿佛有許多空隙，這是因為禪修者 正開始覺察到心路過程（vīthi）之間的有分心。例如，觀照到要彎、伸手臂的動機時，禪修者可能感到 彎、伸手臂的動作似乎延遲了一會兒才發生，這其實代表禪修者的覺察變得敏銳有力。在這狀況下，禪 修者也應該去觀照當下在六個感官之門出現的顯著所緣。
           </p>
<p>
<a id="OLE_LINK10" name="OLE_LINK10">
</a>
<a id="OLE_LINK11" name="OLE_LINK11">
</a>
            禪修者透過對腹部起伏和坐姿等主要所緣的觀照，讓修習獲得動能之後，應該觀照任何生起的顯著所 緣，如身體其他部位的感受、見到、聽到等等現象。如此觀照時，倘若覺察變得不精準、明確，或者有 妄想雜念介入，或者感到疲累，禪修者就應回去觀照腹部起伏、坐姿等基本所緣。一陣子後，當修習再 度獲得動能，禪修者即可回去觀照一切生起的所緣。禪修者應該如此地練習一段時間。
           </p>
<p>
            一旦能夠不費力地擴大被觀察所緣的範圍，禪修者會清楚地看見一切所見、所聽皆在立即地消 逝，而兩個連續的瞬間並沒有連貫，是個別存在的。這是如實了知。然而，所緣可能因此顯得模糊不清 。禪修者也許會擔心：「我想，我的視力可能出問題了，變得朦朧不清。」不過，實際上禪修者的視力 沒有任何問題，這只是禪修者觀察到所見的個別瞬間，導致為概念所攝的形狀顯得模糊不清。
           </p>
<p>
            此時，即使禪修者停止修習，〔觀照心〕還是會持續地覺察身心現象，就算試著要睡覺也難以 入睡，而夜以繼日地保持著警覺、醒覺。這並不需要擔心，因為不會對健康造成任何傷害，禪修者應該 只是持續地精進修習。當內觀夠強大時，覺察就會像是刺入、穿透所緣一般地〔精準同步〕。
           </p>
<p>
            壞滅
           </p>
<p>
            當禪修者深深了解所緣和觀照心二者皆在立即消逝的時候，可能會想：「沒有什麽能持續一眨 眼或閃電閃現的一瞬間，這就是無常。以往，我並不知道這個事實。過去所發生的一切，必然也是如此 迅速消逝；未來發生的一切，也將會如此迅速消失。」應該觀照這類的思惟。再者，禪修者可能偶而會 反思這些現象是多麽不穩定且持續滅去，心想：「顯然地，因為無知，我們才在享樂。了悟到現象皆在 立即消逝，這事實真是令人害怕。每次現象消逝時，就可能是我死亡的時刻。存在，是可怖的。必須無 止盡地存在，是可怖的。要在一切皆在持續滅壞的情況下努力保持安適，是多麽可怖啊！這些立即消逝 的現象在今生和來生不斷地出現，是多麽嚇人啊！我們都有老、病、死、苦、憂、悲等，真是令人畏懼 ！」禪修者必須無誤地觀照這反思的心理。
           </p>
<p>
            在這個階段，禪修者通常會感到無助、沮喪、無力，對如此快速消融瓦解的身心現象生起了怖 畏，毫無熱忱與喜悅，而且容易感到悲傷。然而，不需為此擔心，這顯示禪修者的修習正按照正常禪修 過程的發展在進展中。禪修者需要做的，是只要藉由觀照任何反思和生起的所緣來保持平舍、泰然即可 。若能如此，將會很快地度過這個階段；否則，感到不樂而陷入這些思維過久，禪修者可能會怖畏到無 法承受。這種由於不樂而產生的畏懼，並不是觀智。因此，禪修者應該無誤地觀照這些思緒，不讓基於 不樂而產生的畏懼生起。
           </p>
<p>
            另外，在觀照之間，可能生起發現過患的念頭，例如：「因為這些身心現象持續滅去，無法持 久，真是枉然！看到它們自此生之始便持續地生起而沒完沒了，並且創造出種種並不存在的概念，實在 令人意氣消沈。要辛勤努力去尋求所謂的快樂和幸福，真是悲慘啊。再生，並不是可喜的事。會有老、 病、死、苦、憂、哀、悲，實在令人沮喪。這些全是苦，毫無安寧可言！」對於這類的思緒，禪修者應 記得要加以觀照。
           </p>
<p>
            有時候，仿佛每個被觀照的現象以及觀照心，都是那麽可怖、令人不舒服、無意義、可厭、衰 變、崩壞、危脆易逝。這時候，即使在身心現象出現時加以觀照，禪修者也不再感到滿意。每次在觀照 身心現象時，都看到它們在滅去，禪修者不像以往那般充滿熱忱，反而對它們感到厭倦。因此，禪修者 變得對觀照產生倦怠，但他不得不保持覺察，這就像是被迫走在汙穢不堪的路上，每一步都讓人感到作 嘔、幻滅。
           </p>
<p>
            如此，在思考生命時，禪修者了解到生命不可能沒有這些不停地滅去的身心現象，所以對於生 為男人、女人、國王、富人乃至天人，禪修者並不感到有任何的喜悅，相反的，只會感到厭離、幻滅。
           </p>
<p>
<a id="OLE_LINK14" name="OLE_LINK14">
</a>
</p>
<p>
            欲求解脫
           </p>
<p>
            每次觀照所緣時，禪修者對所緣總是感到如此的厭倦，心仿佛掙紮著要逃遠所緣似的。由於有 想要從緣起的現象解脫出來的渴望，禪修者可能會想：「如果沒有見、聽、觸、想、坐、站、彎、伸等 事，該有多好！多麽希望能夠擺脫這些，去到沒有它們的地方！」這類的思緒，都必須加以觀照。其他 時候，禪修者也可能會思索：「怎麽做才能脫離這些現象？如果持續地去觀照它們，那就像是刻意去觀 看可厭的事物一樣。觀照到的每件事都是令人厭惡至極，若能不必去觀照它們的話，該有多好啊！」當 然，對於這種分心的思緒，禪修者應該加以觀照。
           </p>
<p>
            此類思惟甚至會促使某些禪修者在這狀況下嘗試放棄觀照，停止修習；然而，見、聽、知、腹 部起伏、坐、彎、伸、想等身心現象，並不能就此停止生起，而是會如同往常一般地繼續現起。由於強 力的內觀修習，使得這些身心現象繼續向禪修者現起，所以，現象的覺察仍持續自行生起著。這時禪修 者會獲得策勵，心想：「即使我未試著去觀照，依然能持續觀照生起的現象，我對現象的覺察仍舊不斷 地在轉起著。所以，單單舍棄修習並不能讓我脫離身心現象；只有當我能如實觀照身心現象並了悟它們 的三共相時，才不需再擔心它們，且才能沈著地觀照它們，如此才能體驗到身心止息的涅盤經驗。只有 那時，我才能獲得解脫。」一旦禪修者對自身的經驗能有如此的體認，他們將會繼續禪修。
           </p>
<p>
            一些禪修者在禪修獲得這種動能時，他們會經驗到難以忍受的疼痛。不過他們不應感到氣餒， 事實上，是苦受的特相──苦（dukkhato）、病（rogato）、癰（gaṇḍato）、刺（sallato）、害 （aghato）、殺（ābādhato） 等，正變得顯著（見第六章的〈苦的二十五種行相〉）。他們應該去觀照疼痛，直到能夠超越疼痛 。
           </p>
<p>
            未遭遇劇烈疼痛的人，在觀照時可能體驗無常、苦、無我的四十種特質之任一種。即使他們的 禪修很順利，沒有分心的思緖，但他們會以為修習得不好，或者感到所緣和觀照心並未同步。事實上， 這只是因為他們急切地想要體驗身心現象的無常、苦、無我，導致他們對禪修的現況感到不滿意。如此 ，他們可能會想要變換姿勢，譬如，靜坐時想要經行，經行時想要靜坐。他們感到煩躁不安，想要調整 手、腳，變換擺放位置，或者想要躺下來。他們無法在一個地方或以一種姿勢停留太久，會一直變換著 姿勢。不需對此感到挫折！了知到有為的身心現象毫無樂趣可言，禪修者會因此而感到不滿意，這時候 ，他們會以為自己的觀照不理想。事實上，他們還不能像下一個階段，即行舍智階段那樣沈穩泰然地觀 照身心現象。這時候，禪修者應該盡最大的努力來練習，試著長時間維持在同一個姿勢，不要一直變換 姿勢。一陣子之後，他們將能再次平穩沈著地觀照。帶著耐心和毅力來練習，心會逐漸變得清澈，乃至 一切的不安和不滿全部都消失無遺。
           </p>
<p>
            行舍
           </p>
<p>
            最終，禪修者的內觀會強大到能夠不費力地對有為的身心現象保持平舍、泰然。觀照心變得如 此明凈、細膩，覺察似乎自行順暢地流動。禪修者甚至能夠毫不費力地見到非常隱微的身心活動，見到 它們無常、苦、無我的本質，但並不是去思考它們。如果是在觀照身體不同部位的觸點，禪修者會只是 覺察到一個接一個的觸受，而不是體驗到任何色身的形態和形狀；這些觸受非常細膩，像是棉球的碰觸 。有時候，禪修者感覺身體有如此多的觸受，覺察到這些觸受在全身非常快速地移動。有時候，仿佛身 心都在往上騰起。有時候，可能就只有一些慣常的所緣是明顯的，而禪修者能夠平靜而穩定地觀照它們 。
           </p>
<p>
            有時候，腹部起伏、觸、聽等，連同整個身體可能消失而只覺知到心的生起和滅去。禪修者可 能會經驗到狂喜，仿佛沈浸在清涼舒適、沐浴在寧靜之中，或像置身於晴空般亮透清澈的光明之中。雖 然禪修者可能不會如以前那樣極度喜愛這些愉悅的經驗，但是仍可能會執取它們。除了狂喜、寧靜、光 明等，禪修者也應該觀照任何生起的執著。如果這些經驗持續著，那麽禪修者應忽略它們，去觀照其他 的所緣。
           </p>
<p>
            在這個觀智階段，禪修者清晰地觀見每一個所緣和觀照心，能夠了知：「這些現象不是我，不 屬於我，它們也不是任何人或屬於任何人。它們只是依緣而生的身心現象。依緣而生的現象，只不過是 依緣而生的現象。」在這時候，去觀照所緣，變成是令人愉悅的事，像是品嘗一道美味佳肴。不論修習 歷時多長，禪修者總是感到不足；也不會經驗僵硬、麻、痛、癢等任何不舒服的覺受。因此，禪修者的 姿勢威儀變得非常穩定，能夠輕易地維持頭、身、手、腳的不動。不論是坐或躺，禪修者能夠以單一姿 勢禪修兩、三個小時而不感到疲累或僵硬。對禪修者而言，時間似乎過得非常快，兩、三個小時感覺起 來像只是片刻。
           </p>
<p>
            有時候，觀照心會變得極敏捷，觀照特別地順利。禪修者如果對正在發生的現象感到憂慮，應 當觀照它：「憂慮、憂慮」。如果開始評估著禪修正在進步中，應觀照它：「評估、評估」。或者，如 果開始期待觀智更進一步，應觀照它：「期待、期待」。之後，禪修者即回來繼續穩定地觀照慣常的所 緣。在這個階段，禪修者不應增加或減少精進的力道。由於部分禪修者未能觀照憂慮、興奮、執著、期 待等心理狀態，他們的覺察力會變得分散、降低。另有一些禪修者，因感到興奮而增加了他們的精進力 ，這反而讓他的修習因此退步。憂慮、興奮、執著或期待，會讓禪修者脫離了內觀的觀照，這便是當覺 察變得迅速而觀照特別順利時，禪修者應該保持修習的穩定，既不增加也不減少精進力的原因所在。如 此，禪修者的修習將直接導向涅盤，也就是一切緣起現象的止息。
           </p>
<p>
            然而，在這個觀智階段，修習可能會屢有起起伏伏，禪修者不需因而感到失望，應該鍥而不舍 地努力。首要工作是觀照當下在六個感官之門生起的所緣，擴大覺察的範圍去觀照在身體任一部位出現 的所緣。然而，當禪修變得細致而持續時，便不可能以這種方式觀照。所以說，一旦禪修獲得動能之後 ，在變得極為細致之前，禪修者應該毫無設限地觀照一切所緣。如果禪修者能仔細地觀照所緣，無論是 「起」、「伏」、「坐」或其他身心活動，不久之後，禪修將獲得動能。禪修者的覺察將會順暢地流動 ，仿佛覺察是自行轉起般無需費勁。禪修者清晰而安詳地覺察那緣起的身心現象，皆在立即地消逝。
           </p>
<p>
            此時，禪修者的心不會受任何事物所引誘或幹擾。無論所緣多麽誘人，也無法動搖禪修者的心 。同樣的，無論所緣多麽令人厭惡，禪修者的心也一樣不會受影響。禪修者僅是如實地覺察：聽是聽、 聞是聞、嘗是嘗、觸是觸、了知是了知。如此，在每次觀照所緣時，「六支舍」──對六種感官所緣保持 平舍沈著──十分明顯。再者，即使是「我坐多久了」、「現在幾點」等這類的思緒也全然止息，不再現 起，更何況是以往的那種思考。
           </p>
<p>
            如果觀智未成熟而不足以引生道智，兩三個小時之後，定力減弱了，心便開始出現散亂，這時 ，觀照心可能會松懈下來，在觀照心之間便有了空隙。相對的，如果觀照心變得迅速、格外好的時候， 禪修者可能會感到興奮而對進步有所期待，這也會導致觀照的遲緩。如果禪修者能去觀照那些評估、興 奮、期待等的心理狀態，禪修的力道會再度恢復。但是如果觀智還不夠成熟，那麽禪修終究會再度變弱 。因此，在這個階段，禪修者的練習可能會有許多起起伏伏；而那些知道或聽聞過種種有關觀智階段的 禪修者可能會遇到更多的波動起伏，這便是為何禪修者最好事先不要知道觀智進展的原因。但是，無論 如何，禪修者不需感到氣餒，這些波動起伏象征著禪修者的內觀已非常接近道智、果智。如果信、進、 念、定、慧等五根能平衡進展，禪修者隨時都可能體證道果涅盤。
           </p>
<h3>
<a id="_Toc22299" name="_Toc22299">
</a>
            涅盤的體驗
           </h3>
<p>
            觀智的波動起伏，就好比是從航行於大海的船舶上，被放飛的鳥兒的飛翔。在古時候，當航海 員不知道哪裏是最近的海岸，他們會把帶到船上的烏鴉放飛，烏鴉就會往不同的方向飛去尋找最近的海 岸。只要未找到附近的海岸，烏鴉就會飛回船上；但是，一旦烏鴉發現陸地，便會直接飛到陸地。
           </p>
<p>
            同樣的，倘若內觀的力量不足，無法證得道智並體驗涅盤，內觀便會一再地被拉回，也就是觀 照之間會有空隙。但是，當觀智夠成熟，五根平衡時，禪修者將見到身心現象的生滅逐漸加快而所緣也 愈來愈清晰，如此持續約三、四次，然後，緊接在觀照六感官門裏任一顯著所緣（觸、知、聽、見、嗅 、嘗）之後，禪修者體驗涅盤──所觀的所緣和能觀的心同時止息──因而證得道智和果智。
           </p>
<p>
            到達這狀態的人清楚地體驗到，他們的覺察在證悟之前速度加快；此外，所緣如何在最後一個 觀照之後被切斷，心又如何以涅盤──所有緣生現象的止息──為所緣，也會極為清楚。以下，是禪修者們 對該經驗的描述：
           </p>
<p>
            所緣和觀照心二者突然中斷、停止。
           </p>
<p>
            所緣和觀照心被切斷，像藤蔓被砍斷。
           </p>
<p>
            我看到所緣和觀照心落下，像卸下一個重擔。
           </p>
<p>
            所緣和觀照心像是墜落下來，仿佛我捉不住它們一般。
           </p>
<p>
            我掙脫所緣和觀照心，好像突然從監獄的囚禁脫逃了出來。
           </p>
<p>
            所緣和觀照心驟然消逝，就像爉燭的光被熄滅。
           </p>
<p>
            我從所緣和觀照心逃脫，像是突然從黑暗進到光明。
           </p>
<p>
            我離開了所緣和觀照心，仿佛從一團混亂突然進入清凈空間。
           </p>
<p>
            我發現所緣和觀照心沈沒了，仿佛它們沈入水中。
           </p>
<p>
            所緣和觀照心戞然而止，像擋住道路並把跑過來的人推了回去。
           </p>
<p>
            緣起的身心現象的止息，這經驗並沒有維持很久，其實就如觀照一次般的那麽短暫。之後，對 此事件的省察將會生起，如：「我剛剛體驗到的所緣和觀照心二者的止息，必定是很特殊的體驗，或者 說，就是道果涅盤。」擁有佛典知識的人可能會如此省察：「緣起的身心現象的止息，即是涅盤。當體 證到這止息之時，我所體悟的，就是道智和果智。我已體悟涅盤，證得第一階的道、果。」曾經聽聞過 名色止息經驗的人們，三種省察通常會有系統且完整地出現，所以〔除了省察道果與涅盤之外，〕他們 也會省察哪些煩惱已斷，哪些煩惱未斷。
           </p>
<p>
            在這些省察之後，禪修者會如同往常地回去觀照身心現象。那時，身心的生滅進程將會相當粗 糙而明顯，能清楚知道現象的開始與結束，或說生起與滅去。因此，他們可能會想，觀照一定又有了空 隙，或以為自己的修習一定是退步了。這是事實，他們回到了生滅智，因此他們可能會再次見到這階段 常見的亮光和影相。有些禪修者可能感覺他們的觀照心突然不再與所緣同步，像是處在修習初期，或遇 到種種苦受之時。
           </p>
<p>
            然而，多半來說，他們的心會時時保持清澈。在這階段，他們會感到非常安詳，心仿佛獨自漂 浮在空中般。不過他們將無法觀照到這個心理狀態，即使他們試著去觀照它，也無法有效地覺察。他們 不想要觀察其他事物，也無法觀照其他的所緣，他們的心清澈而安詳。而這清澈的心理狀態會逐漸變弱 ，那時，如果他們能持續觀照，將再次看清生滅。回到觀照細膩的階段一陣子之後，如果觀慧夠強大， 他們可能會再次進入諸行的止息如同之前的經驗一樣。這個體驗，會取決於他們的定和觀智的力量而一 再地重復。現今仍有許多人反復地進入已體驗的預流果，因為他們的主要目的只是證得第一階的道、果 。這是第一階證悟的果，透過一系列的觀智而成就的情況。
           </p>
<p>
            已得道果的人們，心態會和以往不同。這經驗如此地特別，讓他們感到好像已獲重生。他們的 信心變得極為強大，因而生起了有力的喜和輕安，快樂也常常自動生起。有時候，信、喜、輕安、樂等 心理，強大到使禪修者在證得道果後無法好好辨別所緣來禪修。不過，在幾小時或幾天後這些心理會變 弱，到時候就能再次辨明所緣，禪修會再次進入佳境。有些禪修者在證得道果之後感到放心了，或者說 已感到滿意了，無意願再進一步觀照。這滿足的生起，可能是因為他們最初的動機便只想證得第一階的 道果。如果他們想透過已證得的聖果再次體驗涅盤的寂靜，他們應該猶如往常地去觀照當下的身心現象 。
           </p>
<h3>
<a id="_Toc10705" name="_Toc10705">
</a>
            果定
           </h3>
<p>
            內觀禪修中，一般禪修者遭遇的第一個觀智是名色分別智，但就擁有道智、果智的禪修者而言 ，首先生起的則是生滅智。所以，在觀照諸行現象時，生滅智最初生起，之後很快的便會依序生起更高 的觀智，一直到最微細、殊勝的觀智──行舍智。當行舍智夠有力時，就會如同以前一樣，心轉向涅盤， 一切有為法止息，果心的心路過程將會生起。
           </p>
<p>
            如果不預先決意果等至的時間，它可能會僅持續幾剎那，或者可能持續相當長的一段時間，譬 如：五、十、十五分鐘，或半小時、一小時。註釋書說，果定甚至可維持一整天，或預先決意的任何時 間。現今我們也可以發現，定力強且觀智銳利的禪修者能進入果等至很長的時間，如一個、兩個或三個 小時，或者預先決意的時間長度如註釋書所說那般。在不需果等至時，若預先決意果等至必須結束，就 能自在地從果等至出來。然而，就長時入果等至的情況而言，其間可能會有數次思惟生起，不過如果觀 照這思惟四、五次，就會再度進入果等至。如此，禪修者可以進入果等至幾個小時。
           </p>
<p>
            在果等至期間，心完全安止於涅盤，一切諸行止息，心不了知其他事物。涅盤，與屬於此世間 或他世間的有為的名色法以及概念法完全不同。所以在果等至期間，禪修者無法了知或憶起此世間（即 自己的身體）或他世間，完全沒有任何念頭。即使身旁有顯著的可見、聽、聞、嗅、嘗、觸等的所緣， 他或她也無法覺知它們。在入定時，即使很長的時間，其威儀姿勢也是牢固、穩定的，例如，如果靜坐 時入果等至，其坐姿會維持不搖動、不曲身，也無任何改換。如巴利佛典所說：
           </p>
<p>
            禪那及道、果，支持威儀姿勢。（《阿毘達磨註》）
           </p>
<p>
            當果定心路結束時，首先經驗到的第一個所緣，可能是在回憶涅盤或果等至，或某種視覺影相 ，或者只是思惟。然後，一般的觀察、光明或省察視情況出現。在離開果等至之後，禪修者起初只能斷 斷續續地覺知所緣。然而也有些時候，如果禪修者的內觀極為有力，那麽在出果等至之後也能立刻持續 地覺察微細所緣。請記得，在開始觀察之前，就應該先決意要迅速進入聖果以及持續期間的長短，當禪 修者開始觀照時便不應再想著聖果。
           </p>
<p>
            觀智不夠強而無法入果等至時，禪修者可能會經驗到起雞皮疙瘩、打呵欠、顫抖、深呼吸等狀 況，接著，觀照會流於間歇性。有時候，當觀照有所提升時，可能會心想涅盤近了而感到興奮，但觀照 卻會因此而變得不連續，所以不應該這麽尋思。如果這想法出現了，應凖確地觀照這想法。有些禪修者 在能夠進入果等至之前，會遭遇這些波動許多次。如果定力和觀智仍弱，要進入果等至也許要花一些時 間，或者無法長時停留在果等至裏。
           </p>
<h3>
<a id="_Toc1745" name="_Toc1745">
</a>
            讓觀智更明晰
           </h3>
<p>
            有時候，怖畏智、過患智、厭離智和欲解脫智並不清晰，因為之前在體驗它們時，時間並不長 。如果想要清晰、明白地體驗它們，必須決意體驗每個觀智一段時間。例如，倘若設定一段修習時間， 決意說：「願生滅智持續半個小時！」那時，生滅智便會在那段時間生起，不會超過時限。之後，後續 的壞滅智將自動生起，而只見到現象滅去；不過，如果壞滅智未自動生起，應該決意讓它生起。然後， 此觀智會在那段期間現前，而下一個觀智會自動隨之而來。應當以這方式讓所有觀智依序生起。在精通 現前的觀智之後，只要未自動進入下一個更高的觀智，禪修者便應該決意令下一個觀智生起。
           </p>
<p>
            所以，在壞滅智之後，應當決意：「願我體證怖畏智！」如此，怖畏智將會生起。對此感到滿 意時，再決意：「願我體證過患智！」如此，禪修者在每次觀照現象時將見到其過患，體證了該觀智。 對此觀智感到滿意時，再決意證得厭離智。該觀智將隨後生起，使禪修者變得厭倦、厭離。對此觀智滿 意時，再決意：「願欲解脫智生起！」該觀智將於隨後生起，令禪修者每次觀照諸行現象時，渴望從它 們脫離。接著，禪修者決意證得審察智。該觀智將於隨後生起，使禪修者體驗苦受、不滿，想要變換姿 勢。最後，應決意證得行舍智，就在觀照的動能猶如自行運轉般的期間，那微妙的觀智將會生起。
           </p>
<p>
            如此，禪修者會發現，依其決意，他可以在特定的時間之內到達特定的觀智。禪修者也會發現 ，他的觀智像羅盤指針那般會適時變換，一旦他對現階的觀智感到滿意，即會變換到更高的觀智。如果 之前未清楚體驗所有的觀智，禪修者應當如此反復地修習。另一方面，定力強且觀智銳利的禪修者，當 他們未作決意而行觀照時，可能在短時間內──四、五個或十個觀照之內──便到達行舍智；也能常常體驗 聖果。如果非常精通這個練習，甚至可以在行走、進食等期間體驗聖果。
           </p>
<h3>
<a id="_Toc4117" name="_Toc4117">
</a>
            為更高的道、果而修習
           </h3>
<p>
            禪修者善於修習而能迅速進入果等至並長住其中之時，應該進而為求更高的道、果而修習。為 此，禪修者首先應決定他將花幾日修行，然後作決意：「願我在這段期間，不回到我已證得的果！願我 證得更高的道、果！」之後，禪修者應該如同往常，就只是觀照當下的諸行現象。
           </p>
<p>
            作這決意的理由是，在選定的時間內，如果觀智夠強的話，可以直接導向更高的道、果，而不 是回到之前的聖果；否則禪修者將會經常回到曾證得的聖果。如上述那般決意的好處是，如果禪修者尚 未能證得更高的道、果，在那段修習期間之後，他可以輕易地回到之前的聖果。否則，若他決意：「從 現在起，我將只為更高階的道、果而修習！」他將發現自己很難回到之前的聖果；這樣，禪修者既未能 證得更高的道、果，也不能回到之前所證的果，可能會因此而心煩意亂。
           </p>
<p>
            決意在一段期間內不回到之前的聖果之後，禪修者應該如往常僅是觀照諸行現象。之後，觀智 將從生滅智開始，依序地生起。觀智的培養將類似之前證得初道的方式，而非類似導向初果的的方式。 如此，在生滅智成熟之前，禪修者可能會體驗到明亮的光、影相和種種苦受。身心現象的生滅，並不十 分精致、清晰。當禪修者為了果等至而修習時，通常只花很少的時間便回到行舍智，但是現在他可能在 低階的觀智花費長時間。然而，這並不像最初練習那樣，在到達行舍智之前會有許多的困難或延遲。一 天內，禪修者可以依序體驗觀智，回到行舍智。
           </p>
<p>
            禪修者的覺察力更是準確、精凖，遠勝於最初修習之時。其洞察力益發廣闊而清澈，對感官、 世俗所緣和苦的輪轉更加感到怖畏、過患、厭離，想要解脫的渴望更為強烈。即使以前能夠一小時進入 聖果三、四次，但現在的觀智可能停滯在行舍智的階段，因為觀智還未強大到足以進展至更高的道智。 可能停留在這情況很長的時間，一天、兩天、數個月甚至數年。當觀智最終足夠強大時，觀照心將變得 極為清明且迅速，在加速之後，心的焦點轉而以涅盤──諸行的止滅──為所緣。如此，禪修者證得第二階 的道智和果智。緊接在後的是對道、果的反思以及對剩余煩惱的省察。之後，當禪修者照常觀照時，生 滅智將會帶著極清明的心生起。以上所述，是為了證得第二階的道智、果智，成為一來者的修習方式和 經驗。
           </p>
<p>
            如果想要證得第三階證悟的道智、果智，禪修者應決意一段修習的期間，並且停止期待進入已 證得的果等至。他如此決意：「但願我未體證的更高的道、果生起！願我體證更高的道、果！」之後， 按照往常的方式觀照身心現象。觀智將從生滅智開始，依序進展，不久後將到達行舍智。如果觀智仍未 成熟，就會停滯在這個階段一段時間。與往常一樣，當觀智夠強時，它會改變焦點，改以涅盤──諸行止 息──為所緣。如此，第三階證悟的道智、果智將會生起。之後接著省察的程序。以上所述，是為了證得 第三階的道智、果智，成為不還者的修習方式和經驗。
           </p>
<p>
            若要證得第四亦即最後階段的道智、果智，禪修者只需依循相同的方法：先決定一段修習時間 ，擱置對現有的果等至的期待，並決心要經驗最高的證悟，之後觀照當下的身心現象。除此之外，並沒 有其他的修習方式。這便是為何《念住經》（MN.10）會使用「唯一之道」這個詞。觀智將從生滅智開 始，依序進展，不久後到達行舍智。如果觀智不夠有力，禪修將會停滯在這個階段。和往常一樣，當觀 智夠強時，它會改變焦點，改以涅盤──諸行止息──為所緣。如此，第四階證悟的道智、果智將會生起。
           </p>
<p>
            證得阿羅漢道智、果智之後，禪修者會立即反思已清晰體證的道果涅盤。可能如此省察：「一 切煩惱已斷除，將不再生起。我已完成一切應做的事。」以上所述，是為了證得阿羅漢的修習方式和經 驗。
           </p>
<h3>
<a id="_Toc297820643" name="_Toc297820643">
</a>
<a id="_Toc394312188" name="_Toc394312188">
</a>
<a id="_Toc29807" name="_Toc29807">
</a>
            波羅密
           </h3>
<p>
            「如此，某階證悟的道智、果智將會生起」這句話，乃針對波羅密（pāramī）已成熟的人而說 。如果波羅密尚未成熟，禪修者的觀智將不會越過行舍智。
           </p>
<p>
            此外，在證得第一階的道智、果智之後，快速證得第二階的道智、果智，相對而言是容易的； 但是在證得第二階之後要證得第三階的道智、果智，可能就會花費較長的時間。原因是，要證得前兩個 階段的道、果，只有戒學需要徹底圓滿，但要證得第三、第四階的道、果，禪修者的定學 （samādhisikkhā）需要徹底圓滿。因此，已證得第一階道、果的人，可以較輕易地證得第二階的道、果 ，但是要證得第三階的道、果，便不是那麽容易。
           </p>
<p>
<a id="OLE_LINK17" name="OLE_LINK17">
</a>
            無論如何，不可能事先知道自己的波羅密是否成熟到足以證得某個階段的道智、果智。另外， 不同的人要證悟，所需的天數、月數、年數也不相同。如果修習了幾天或幾個月而未證得道、果，尚不 能就此斷定自己的波羅密不成熟。此外，眼前的練習本身便是在累積波羅密，所以不要去評價自己的波 羅密是否成熟。
           </p>
<p>
            禪修者應該永不放棄，只要持續地全力禪修，請謹記下列這段話：「如果不禪修，就無法培養 波羅密。再者，即使波羅密成熟，如果不禪修也無法在此生證得道智、果智。相對的，如果波羅密成熟 而本身也有禪修，那麽將會容易且快速地證得道、果。如果禪修者的波羅密已相當成熟，眼前的禪修便 能使自己的波羅密完全成熟而能在今生證得道、果。至少，眼前的禪修實踐，肯定能累積個人的波羅密 ，提升在來生證得道、果的可能性。」
           </p>
<h3>
<a id="_Toc25632" name="_Toc25632">
</a>
            建言
           </h3>
<p>
            「在瞿曇佛陀的這個時期，希望品嘗內觀法味的人們，應該洞察身、受、心、法，來進行正念 的修習。」
           </p>
<p>
            對於具有中等智慧資質的人們而言，本書對內觀方法的說明已十分充足。如果他們閱讀此書並 有系統地加以練習，且擁有強大的信心、願力和精進力，那麽一定能夠證得某階段的觀智乃至道智、果 智。無論如何，我們不可能在此完整描述禪修者可能會有的種種經驗，尚有許多經驗沒有記載到，禪修 者也未必會體驗上述提到的所有經驗。甲的經驗也可能和乙的經驗大不相同，這取決於個人波羅密的成 熟度，以及覺察力的精凖和連續的程度。
           </p>
<p>
            再者，禪修者的信心、願力和精進，不可能一直維持著，如果沒有老師的指導而自行按照理智 性的理解來修習的話，可能會有疑惑與迷惘，就像一個人獨自在不熟悉的地方旅行一樣。所以，倘若獨 自練習而缺乏老師細心的引導，要證得觀智和道智、果智，對一般人而言並不容易，這便是為何《相應 部》會說下列這句話的原因：
           </p>
<p>
            當求大師以便如實知見。（《相應部．因緣相應》）
           </p>
<p>
            因此，我建議你尋找一個有經驗，能夠清楚解釋各階段觀智乃至道智、果智、省察智和果等至 的老師，並在他的指導下修習。請保持謙遜，記得帕提拉法師（Ven. Potthila）的故事（見第四章），切 莫驕傲地自認為：「我很特別，不需要任何人的指導！」禪修時，態度應該如此誠懇，並謹記佛陀所說 的法語：
           </p>
<p>
            非以弱精勤，
           </p>
<p>
            非以少精進，
           </p>
<p>
            得證於涅盤，
           </p>
<p>
            諸苦之解脫。
           </p>
<p>
            （《相應部．比丘相應》）
           </p>
<p>
            這意謂著，唯有努力不懈的修習，才得以證得涅盤。
           </p>
<p>
            ～內觀實修指導　完～
           </p>
<p>
<a id="_Toc322587765" name="_Toc322587765">
</a>
<img height="25" src="https://web.archive.org/web/20240301165820im_/file:///C:\DOCUME~1\ADMINI~1\LOCALS~1

\Temp\ksohtml\wps22F.tmp.png" width="22"/>
</p>
</div>
<p>
</p>
<p>
</p>
<div>
<h1>
<a id="_Toc389651571" name="_Toc389651571">
</a>
<a id="_Toc394312190" name="_Toc394312190">
</a>
<a id="_Toc10047" name="_Toc10047">
             附
            </a>
            錄（一）：正念禪修的原則
           </h1>
<p>
            一、不論發生什麽事，喜歡的、不喜歡的，以接納的態度放松地觀照。
           </p>
<p>
            二、耐心。
           </p>
<p>
            三、不是要事情隨我們的意願發生，而是試著如實地了知正在發生的事。
           </p>
<p>
            四、不排斥拉扯你註意力的對象(如聲音)，覺察這些對象帶來的不舒適。
           </p>
<p>
            五、不沈迷於喜樂，覺察喜樂帶來的舒適可意。
           </p>
<p>
            六、任何煩惱出現時，品味其中的感受、情緒和痛苦。
           </p>
<p>
            七、不要求別人為自己的情緒、痛苦負責，苦的因潛藏於自己的內在。
           </p>
<p>
            八、觀照自己的身心，發現它們的實相，超越它們的束縛。
           </p>
<p>
            慶安正念推廣中心
           </p>
</div>
<p>
</p>
<p>
</p>
<div>
<h1>
<a id="_Toc394312191" name="_Toc394312191">
</a>
<a id="_Toc11774" name="_Toc11774">
             附
            </a>
            錄（二）：正念格言
           </h1>
<p>
            【練習】
           </p>
<p>
            l 正念練習，只是放松地覺察當下的一切身心現象。
           </p>
<p>
            l 正念練習，是自己和自己約會──了解自己，和自己更親密。
           </p>
<p>
            l 正念練習，是以單純覺察自我身心的方式來滋養心靈，為心靈充電。
           </p>
<p>
            l 不斷地覺察當下的身心現象，智慧將自然生起。
           </p>
<p>
            l 所謂正念禪修，無非就是在日常一切活動中，對自己的所作、所說、所想，保持不間斷的覺察。
           </p>
<p>
            l 時時提醒自己，此時此刻心在哪裏？
           </p>
<p>
            l 練習正念時，我們靜觀身體的感受、情緒和想法的變化，如同在屋內看著窗外天空的變化。
           </p>
<p>
            【如何面對情緒、煩惱】
           </p>
<p>
            l 生氣時，覺察當下的身心，看它可以持續多久；渴望時，覺察當下的身心，看它可以持續多久。
           </p>
<p>
            l 妄念紛飛時，不需要排斥或感到氣餒，只需覺察它，讓它生起並自然消失。
           </p>
<p>
            l 心情低落時，不要相信這時候的負面思惟，只是像看電影般，靜靜看著一切。
           </p>
<p>
            l 如果感到厭煩、排斥、心悶，試著單純地感受它，而不是努力令它消失。
           </p>
<p>
            l 煩惱也是正念覺察的對象。正因為有煩惱的存在，才有機會看清煩惱的真實本質，看清自己。
           </p>
<p>
            【如實】
           </p>
<p>
            l 覺察當下的身心現象，不是為了改變它們，也不是為了去除或延續它們，只是為了如實了知它們。
           </p>
<p>
            l 如同清澈的湖面僅是反映湖上的種種風光，同樣地，正念的心只是覺察種種情緒、念頭和感受，任 其來去，不加幹預。
           </p>
<p>
            l 所謂如實，就是誠實面對自己的念頭、情緒、感覺、缺點，按照它們本來的樣子看清它們，不加扭 曲、掩飾。
           </p>
<p>
            【無所求】
           </p>
<p>
            l 正念練習時，試著不期待好經驗，也不排斥壞經驗。因為一切的經驗，都能幫我們了解自己，培養 正念與智慧。
           </p>
<p>
            l 想要擁有好的禪修經驗，背後其實是貪心在做主。當事情不如所願時，便會有沮喪、懊惱、悲傷， 這則是瞋心的表現。
           </p>
<p>
            l 放下對好經驗的期待、預期心態，練習才會順利。
           </p>
<p>
            【耐心】
           </p>
<p>
            l 練習正念時，我們需要耐心，尤其是對不愉快的身心經驗，應保持柔軟的耐心，與它們和平共處。
           </p>
<p>
            【當下】
           </p>
<p>
            l 無需追悔過去，也無需渴求未來。過去的已經過去，未來的尚未到來。
           </p>
<p>
            【信任自己】
           </p>
<p>
            l 相信自己的智慧，毋需過度依賴外在的權威。
           </p>
<p>
            l 相信自己，信任正在培養的正念與智慧，勇於探索內在的身心世界。
           </p>
<p>
            【內明】
           </p>
<p>
            l 練習正念時，我們往內看顧自己的身心，而不往外尋求。
           </p>
<p>
            l 我們習慣往外看，卻忘了回頭看看自己。
           </p>
<p>
            【初者之心】
           </p>
<p>
            l 帶著好奇心面對當下的一切，猶如初次見面一樣，心就會再次充滿活力。
           </p>
<p>
            l 因為以為當下的事物和過去的相同，所以心不再細心觀察，逐漸感到無聊。
           </p>
<p>
            l 試著讓每一次的觀察，都如同人生初次的相遇，充滿好奇與興趣。
           </p>
<p>
            【平衡】
           </p>
<p>
            l 精進努力與安定寧靜，兩者需要平衡，禪修才會成功。
           </p>
<p>
            【機制】
           </p>
<p>
            l 一切的煩惱，皆是心的一部分。一切的不快樂，都是心的表現。所以，重要的是，照顧好自己的心 。
           </p>
<p>
            l 受苦的心，總是帶著生氣、黏著與誤解；擁有正念的心，則具備無瞋、無貪與智慧。
           </p>
<p>
            l 正念，覺察當下，切斷自動導航模式，創造足夠的空間，讓我們能選擇明智的回應。
           </p>
<p>
            l 厭煩、心悶、憂郁、沮喪，其實就是瞋的表現，它們共同的特征是排斥現有的經驗。
           </p>
<p>
            l 哪裏有期待，那裏就有苦；
           </p>
<p>
            哪裏有排斥，那裏就有苦；
           </p>
<p>
            哪裏有誤解，那裏就有苦。
           </p>
<p>
            慶安正念推廣中心
           </p>
</div>
<p>
</p>
<p>
</p>
<div>
<h1>
<a id="_Toc21858" name="_Toc21858">
</a>
            功德分享
           </h1>
<p>
            普為贊助、出版、閱讀、流通、隨喜贊嘆本書者回向：
           </p>
<p>
            願以此功德，分享給父母、師長、親人、朋友，及一切生命──
           </p>
<p>
            願他們沒有身體的痛苦、
           </p>
<p>
            沒有心理的痛苦，
           </p>
<p>
            願他們的慈悲智慧增長，
           </p>
<p>
            早日離苦得樂，
           </p>
<p>
            獲得究竟的幸福。
           </p>
<p>
            善哉！善哉！善哉！
           </p>
<p>
</p>
<p>
            慶安正念推廣中心網址
           </p>
<p>
<a href="https://web.archive.org/web/20240301165820/http://www.justbeinghere.org/">
             www.justbeinghere.org
            </a>
</p>
</div>
<p>
</p>
<p>
           向馬哈希大師學正念Ⅰ：內觀實修指導
          </p>
<p>
</p>
<p>
           作者：馬哈希大師 (Mahāsī Sayādaw)
          </p>
<p>
           英譯者：U Hla Myint、Ariya Ñāṇī
          </p>
<p>
           中譯者：溫宗堃、何孟玲
          </p>
<p>
           發行者：慶安正念推廣中心
          </p>
<p>
           印 刷：世和印制有限公司
          </p>
<p>
           公元2014年9月
          </p>
<footer>
</footer>
<!-- /.block -->
<!-- /.region -->
</BaseLayout>
