---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="觀色無常">
<p class="rtecenter">
<strong>
            初次參加禪修營心得報告
           </strong>
</p>
<p class="rtecenter">
           Oliver Chang (張貴人)
          </p>
<p>
</p>
<p>
           「無論從身上任何一點入觀，所觀到的全身的四大自然現像都是相同的」，禪師特別強調：「在觀察目標時，不要有上下左右和任何名相的觀念，要訓練超越觀念的現觀。」
          </p>
<p>
           《雜阿含》第一經等，世尊告諸比丘：「當觀色無常，如是觀者，則為正觀如是觀、受、想、行、識無常，如是觀者，則為正觀。正觀者，則生厭離，厭離者，喜貪盡；喜貪盡者，說心解脫。……如觀苦、空、非我亦復如是。」
          </p>
<h3>
           禪修緣起
          </h3>
<p>
           由於前年底參加Sujiva禪師在美國指導的一個「四念處禪七」，得有機會被接受參加他去年四月在義大利北部山林的「自修禪修營」，本以為這是一個很辛苦的禪修，沒想到卻在一個世外桃園的山上，度過一生中最愉快，最豐收的假期。
          </p>
<p>
           Sujiva禪師教導的四念處內觀智慧禪，開始從身觀念處著手，坐禪、行禪交錯各一小時，所選擇的業處為身受（physical sensation）。方法運用正確的話，將從身受的過程中（process of sensation）先觀到身心自然現象的四大變化，待入剎那定之後，就可以觀到深細的色法生滅（arising and disappearing）。身心的四大變化特徵稱為「自相（characteristic）」，是較粗的色法表面現象，而深細的色法生滅稱為「共相（universal law）」，是產生身心現象的自然定律，身心現象粗看如波浪，細看如瀑流。
          </p>
<p>
           第一次interview時，問禪師：「初學者在什麼條件下可以觀到四大變化現象？」禪師答：「有正念即可。」又問：「如果以1至10當指標，這個能觀到四大現象的正念，可以那個數字來標示？就如同定力有五禪支次第，觀力也有自相、共相、實相等層次。」
          </p>
<p>
           禪師答：「正念是在有止有觀的綜合條件下的一種意識狀態，怎麼能用數字來表達呢？」後來，入了剎那定以後，才親身體會到禪師的話，這作為五根、五力之軸心的正念，是不可單獨挑出來衡量的，它必須與定、慧結合一起（coupling together） 。因此，這二十天的禪修筆記，將以觀力的進展為經線，以建立剎那定過程的五禪支為緯線來陳述，但是，因為剎那定是止觀雙運的，其喜、樂兩禪支在禪修過程中，不會像純止禪那麼明顯，所以我僅提述尋、伺、一境性三個禪支。
           </p><h2>
           觀色法四大變化（自相）時期
          </h2>
<p>
           身體由四大組成，即地──固體性、水──流體性、火──熱性、風──氣體性所展現表面的。
          </p>
<p>
           特徵：地界有硬、粗、重、軟、滑、輕六相；水界有流動、黏二相；火界有冷、熱二相；風界有支持、推動二相，共十二相，大多數人的風相最明顯，水的黏相最後才能觀到。
          </p>
<h3>
           一、 尋禪支（Aim， Initial application）開發期第1天～10天
          </h3>
<p>
           「追」為禪師的慣用語，它用來形容「尋禪支」最恰當不過了，也就是專注用心地看著目標，如貓追老鼠一樣。但身體要放鬆，心意要柔軟，否則會造成反效果。
          </p>
<p>
           頭兩天坐禪時，觀到四大現像在二個處所（domain）上，一個是由行禪所引起的，在腹部呼吸以下的屁股和兩腳，此處的四大現像是：強勁的吸力（suction）往下猛拉， 好似一隻瘋狗在拖咬屁股，雙腳也被拉得幾乎要斷掉了；另一個是由坐禪所引起的， 在腹部呼吸以上的胸部，此處的四大現像是：一股支撐力將上身往上挺起。 Interview 時，禪師指示：「觀照區域太大的話，心力難集中，並且會分散定力，只要集中正念於腹部呼吸上便可。」果然是精準的指示！此後，四大區域慢慢縮小至一半，乃至只有在肛門口處或一小點在雙腳處移轉，但肛門口好似要被四大變化搗爛了。四大除了會移轉陣地，也會變形和消失。禪師說：「四大慢慢消失或者處所縮小，是因為定力增強​​的原故，定力夠強時，四大消失之速度如同電光石火般，但這一切還都是心意作怪的！」
          </p>
<p>
           禪師的教示真是一針見血，能讓人直接體驗印證。四念處的止觀修習，的確是心、意的開發。
          </p>
<p>
           至於行禪方面，波折、起伏較大，前幾天觀到地心引力強弱變化，和輕雲浮步等覺受（sensation），這些變化過程愈來愈強、愈來愈清楚。但是到第五天，這些覺受強度失去了80%左右，連坐禪時也沒有object可觀，所以感到枯燥無味，幾乎陷入細昏沈中，沮喪之餘，乾脆起坐去爬山！爬了​​​​約半小時，腳步好似要飛起來，如健馬奔馳般， 於是再回去行禪，此時objects變得活潑起來，變化過程也更加清楚，每一步都可觀到其細節（step- wise） ，足部被推呀推的共推20下（提起時5下，前進時10下，著地時5 下），我不禁啞然失笑起來，原來低潮時就是提升精進力和定力的前奏。
          </p>
<h3>
           二、 伺禪支（Penetration，Sustained application）開發期第11天～14天
          </h3>
<p>
           「進去」為禪師的慣用語，它用來形容「伺禪支」也很恰當。 「在車子後面『追（尋） 』好久了，也該『進去（伺）』車內欣賞風光了。」快被四大變化搗爛的肛門口，在第十一天清早四點坐禪時，突然升起一股電流，延伸到雙腳、雙手，觀到整個下半身呈透明狀，像一隻八鱆魚隨著呼吸一張一合，雙腳的血液、脈動、四大的swing和suction如同站在十字路口觀車水馬龍一樣清清楚楚，電流再通過腹部、胸部、頭部，全身快速振動，同時一股浮力從上身升起，整個身體幾乎要浮起來了。此後，每次坐禪時，這股浮力成團成片生起，使得身體輕如樹葉，非常舒暢。
          </p>
<p>
           「無論從身上任何一點進去，所觀到的全身的四大自然現像都是相同的」，因此，禪師特別強調：「在觀察目標時，不要有上下左右和任何名相的觀念，要訓練超越觀念的現觀。」
          </p>
<p>
           至於行禪方面，足部的覺受（sensation）增加到約有2～3斤重，變化過程中清楚觀到脈動→推→停頓（pause），而且轉換處（turn point）的心意很自然被覺知到。由於學理工科，又性向解行並重，所以就做了兩組實驗，結論是：
          </p>
<p>
           a. 四大現象的旋渦式（vortex）真空拉力（suction）、向上的浮力（supporting） 、以及推b.（push）都是由血液循環所致， 依應用流體力學原理，當血液經由心臟向外推送時c.（張壓），產生順時鐘方向的旋渦（vortex），如同旋渦產生向下的拉力（suction ），而d.當血液流回心臟時（收壓），產生逆時鐘方向的旋渦，如同龍捲風產生向上的浮​​​​力e.（supporting）；至於推力（push），是因行禪時改變血液流向所致。 b.慢三段式步伐（3-steps walking）的每一個舉步→推前→踏步（lifting→ forwarding→dropping）的心意，如能被正念到，其覺受（sensation）比沒有正念到加強一倍；又，能正念到念頭（thinking）時的覺受，比沒有正念到時強度多1/3左右。
          </p>
<p>
           c.綜合以上二個結論，加上禪師指示：最適當行禪速度為連續性的推動，不要有抽斷（jerk）。此時，地心黏性非常強，舉步維艱，幾乎快走不動了，但只要一出行禪， 這覺受馬上就消失了。
          </p>
<h3>
           三、 入剎那定，建立心一境性禪支第14天～16天
          </h3>
<p>
           禪師經常比喻：心一境性（one-pointed），即心所觀的範圍縮小到僅有針孔大小，也即心如針孔那麼微細；剎那，即迅速，如同正在運作的縫紉機，針頭迅速穿梭不停。在四念處智慧禪裡，剎那（momentary）指的是自然現象的快速生滅；而剎那定（momentary concentration）是把心溶入（如同縫紉機的針頭快速穿梭不停的）自然現象內，隨著自然現象剎那生滅。
          </p>
<p>
           第14天傍晚行禪時，觀到水大的黏性，腳似陷入泥沼推不動了，禪師說，這情況就停止行禪（意謂快入定了），改去坐禪。才坐下，還來不及觀腹部呼吸，肛門口旋渦式向下的拉力（suction）和成片向上至頭部的浮力（supporting）立即生起，全身被這二股力量控住，動也不能動；同時，腹部呼吸被水大的黏性拖住，變得很慢，原來的連續動性（continuous movement）變成「有間等」的快速剎那振動（接近色法生滅）。起坐前，我量了一下脈搏，一分鐘只有20次（平常人是一分鐘70次左右），而呼吸一分鐘只有3次（平常人是一分鐘10～12次）。禪師說：「這兩股力量互為平衡，向下的拉力是定力來的，猛追加在紮根；而向上的浮力是觀力來的。」一直在全身翻滾的四大現象， 如今已被濃縮、融化、精煉成兩股平衡的力量──止觀雙運，即有多少觀力就有多少定力。剎那定，即是當下的，止觀平衡的「中道義」，不偏頗兩邊的「正道」！
           </p><h2>
           觀色法生滅（共相） 時期
          </h2>
<p>
           剎那，是佛法的最小時間單位。色法剎那生滅速度約為每秒鐘4次，其暫留時間為0.25 秒；而心法（名法）的生滅速度比色法的生滅速度快17倍，其暫留時間不到0.015秒，相當於交流電的頻率。禪師形容：「心法的生滅，如雲層成片的涮涮而下。」觀到「色無常」和「心無常」可稱為觀到「有間等性」， 因它們各還有約0.25秒和0.015秒的暫留時間。
          </p>
<h3>
           一、 初步時期 第16天～19天
          </h3>
<p>
           坐禪的剎那定中，身心現像比平常緩慢了1~2倍，意識狀態也跟平常不一樣，所以禪師提醒：「想要抓就抓不到，不想抓自然會上來！」意謂此時要放掉尋禪支，保持著守株待兔、柔軟輕鬆的精神狀態。 </p>
<p> 粗的四大現像已消失，細微的生滅現像開始在下半身升起，其感覺類似無數的螞蟻出窩、無數的小毛毛腳在快速蠕動不停。每次坐禪，從入剎那定到觀到色法生滅（色無常）所須的時間，端賴以正念為軸心的五根、五力是否平衡而定。禪師說：「五根、 五力平衡即可入定，但五根、五力的平衡關係錯綜複雜，要到心觀念處的階段才能觀到；而四大和五根平衡時，坐禪引起的疼痛不會持久，以正念觀照立即消失。」
          </p>
<h3>
           二、 成熟時期 第20天
          </h3>
<p>
           禪師說，色法生滅要觀到全身才算是成熟的「色無常」。二、三天來，我還是只觀到下半身，因為知道目標快接近了，期待心（expectation）反而造成進展的障礙； 最後一天，使出渾身解數，還是沒有遍及全身，只好遺憾地離開義大利，上飛機回美國了。
          </p>
<p>
           當飛機越過義大利與瑞士交界的阿爾卑斯山脈時，剛從午餐後的小睡醒來；這時，禪師說的「不想抓自然會上來」應驗了！從肛門口開始，一股電流快速遍及下半身，上達胸部、頭部，如電光石火般的微細振動（tiny vibration）在全身變化著，持續約有90分鐘。
           </p><h3>
           止觀的基本觀念
          </h3>
<p>
           這次禪修後，再深入經論，釐清了一些止觀的基本觀念：
          </p>
<p>
           1. 先止後觀的安止定，與純內觀（Vipassana）止觀雙運的剎​​那定之差別是： a.前者為靜態，後者為動態。 b.純修定是憶念、思維、數數集中，百分之百觀念來的，譬如，持名念佛、觀想佛、以及十隨念、十遍處、十不淨等40業處；而純內觀剎那定，開始是自然現象加上一些觀念，之後超越（假名施設的）觀念、現觀自然現象，最後進入實相、悟而後修。 c.止禪行者先培育安止定，以作為「心清淨」的基礎，出定後，以觀智去看有為法的自然現象，這定力亦名為「觀剎那四禪定（Vipassana Jhanas ）」。</p><p> 2.《大處念經》裡所提到的「觀身是身…觀法是法」，便是在表達「『觸』斷、超越（假名施設的）觀念，現觀身、受、心、法自然現象」的深義；《俱舍論》裡所言「觀身不淨」等，僅是在對治「四顛倒」的修定法門。
          </p>
<p>
           3. 觀到色法或名法之有間等性（剎那生滅）時，對所謂「諸行」和「法界」會有較貼切的理解；身與心的狀態（physical and mental states，existence， essence） 都是快速生滅不已的諸行或是有為法。舉手投足間，法相萬千，無數個剎那已無知無覺的溜過去了；佛說觀身心、觀五蘊，是何其貼切真實！ 3. 攝阿毘達摩義論（Albhidhamma）》裡，心路動態分析的「心路」……當下緣起與「離路」…三世緣起，是在展現自然現象的從粗到細微，乃至接近空的程度，當心澄細到可以觀到蘊、處、界時，也就可以看到剎那的當下緣起的自然現象；而「二十四發趣法」則相反，從細到粗的展現如何剎那、當下緣起的由一組法衍生另一組法，以構成十二緣起（十二緣起是在詮釋大自然演變的法則）。修行百科全書── 《清淨道論》的〈慧篇〉中，更進一步地把「發趣法」的當下緣起融合於十二緣起，完整地以實修體驗的層面，把「諸行」與佛「法」講活了！ 4. 禪修最後一天下午，禪師邀我去爬山，順便眺望瑞士的雪山。沿途上，禪師鼓勵： 「回去就照著這樣持續修下去，如果見到光不要理會它；色生滅法消失後，開始心觀念處，先觀見心法（名法）的貪、瞋自相，而後剎那生滅的心無常共相──也就是三法印（三法印的諸行無常，指的是如實觀到心無常）；要注意在此階段， 很多禪者都被過去的經驗、觀念囿限住，好幾年跳不出來！」可見超越假名施設（口行安息）之現觀實相的領域不容易啊！更何況是「心行安息」呢！ （參見《 Majjhima Nikaya 43 &amp; 44經》）
           </p><h2>
           結 語
          </h2>
<p>
           《雜阿含》80經，世尊告諸比丘：「……善觀色無常磨滅離欲之法，如是善觀受、想、行、識無常磨滅離欲之法，……得心清淨解脫，是名為空。……復作​​觀察，若因、 若緣而生識者，彼因緣皆悉無常；……無常者是有為（生滅法），行（formations） ，從緣起，是患法、滅法、離欲法、斷知法，是名聖法印知見清淨（無漏智）。」
          </p>
<p>
           作者簡介：
          </p>
<p>
           化工博士，轉業從商。近三年來開始研讀中、英文《阿含》、《尼柯耶》、《攝阿毘達摩義論》、《清淨道論》等佛教經論；同時，修習「四念住」為日常生活的一部分。
          </p>
<footer>
</footer>
<!-- /.block -->
<!-- /.region -->
</BaseLayout>
