---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="法的治療">
<h1 class="rtecenter">
           修行治療疼痛及壓力
          </h1>
<p>
           英文作者-Oliver in Houston
          </p>
<p>
           中譯- 加州矽谷的雷叔雲
          </p>
<p>
           由於媒體及其他資訊來源的報導，禪修近年來成為熱門的話題，然而，儘管聲勢驚人，對絕大多數人來說，禪修乃是一個神秘的謎團，這誠屬不幸，因為近五年來，禪修在身心療愈上的效果，見諸於醫學研究記載者，不可勝數。舉例而言，2005年美國便有30所醫學中心，成功運用「正念減壓」（MBS​​​​R – Mindfulness Based Stress Reduction）從事治療。
          </p>
<p>
           更有甚者，晚近在調心營影響調身方面的科學研究，明顯地正在架起東方禪修與西方科學之間的一道「建設性的溝通橋樑」（gentle bridge），深度的研究發現，心智的訓練可以改變腦部結構和作用，證實了瑜伽行者禪修的主觀經驗。傳統禪修歷經2500年之後，終於與自然科學結合在一起。
          </p>
<p>
           佛法療法曾治愈筆者的疼痛與壓力，以下是個人親身第一手的經驗。在分享經驗、觸及療愈原則之前，首先需要闡明並澄清一些概念。
          </p>
<h2>
           概念及定義
          </h2>
<p>
           法────當下自然現象，本然展現的本質、真理、或體性。自然實相，隨時隨處，無不存在於萬事萬物之中。依自然法則運行的法性超越宗教信仰，每一宗教均以不同辭彙來表達“同義不同文”法性本質的內涵，諸如法之於佛教、道之於道教、上帝之於基督教。每一辭語皆表達“大自然的啟示”，及自然科學“一體性”的觀念。實相法不為肉眼所見，裸眼視覺上的速度很慢，跟不上自然現像法中，剎那地流轉變化生滅的過程，因此學法，修行上的法行法次均非易事，然而，能知的心智，確能加以訓練得以體證自然法則的真理，此即禪修之所以存在的原因。
          </p>
<p>           禪修────法行法次的修行，本質上繫心智訓練的技巧，用以探索心力之潛能，運用心智這個強而有力的工具來體證法性，此種體驗依相伴而隨的兩種方式同時呈現，用“心眼”來看的直接體證，及來自大自然力量的智慧悟，內心覺醒/內觀智的正知明覺。故禪修終極目標為，學習如何使用大自然的力量。
          </p>
<p>
           疼痛/壓力────就一般常識而言，痛只是一種身體上物質現象所產生覺受的色法。它以粗或微細地自然狀態展現，疼痛可以做為有效的訓練工具。禪修時或日常生活中做為觀察的目標（所緣），如何觀痛可以體解痛的實相。許多禪師皆指疼痛為學生修習最佳的益友，因為直接體證疼痛的本質，有效地幫助學生認清“本來如此”的自然實相法。
          </p>
<h2>
           佛法療法的原則
          </h2>
<p>
           簡單來說，法的治療其基本原則，為專注觀察疼痛自然實相或色法的本質。萬法（包括疼痛及身心活動）都具不斷變化的本質－－剎那當下的流轉、生滅（升起消失）一個個變化過程串聯式的遷流，互為因果相續的緣生緣滅，一組法衍生另一組法，此種依自然法則運作的剎那變化過程，其速度太迅速，太微細，無法為內眼所見，加以捕捉。
          </p>
<p>
           對從未接受心智訓練或具修行體驗的個人而言，對痛升起的親身感受，僅是看到生理上自然現象的表相。外表上，它以團狀堅硬，酸麻的形式展現痛，痛為物質現像中最粗表的色法，因為看不清剎那當下變化不己的苦痛實相，錯把無常變化，由於持續性所掩蓋，而視為常、真痛的錯覺表相。這種看不清當下剎那正在發生變化的事實現象，正是佛法上稱謂無明的痴。
          </p>
<p>
           經過心智訓練，內心清淨的個人而言，在定力基礎上開展的觀力，變成異常地敏銳，此種內觀智慧，可以穿透苦痛的內層，直見其自然實相。在此一層次上，疼痛根本不存在，表相的苦痛因分解，毀壞性地變成快速流轉，升起消失，微細的生理覺受（色法）。真實法呈現的微小砂粒（色聚），快速流轉全身，質能互換，微細粒子經由光的能量，而消失無形。萬法剎那地升起消失，緣生緣滅的自然法則，任何現像生起終將消失。此種來自大自然力量的體用，痛的現象本身自然地就可以治療苦痛的覺受。
          </p>
<h2>
           直接體驗
          </h2>
<p>
           新痛────初學者在禪坐中，常為身體的疼痛所苦，通常心理上初期反應為懼怕，想逃避痛。此種不喜歡的心理感受，拒絕接受正在發生苦痛的事實為“嗔”，於是內心展開一連串的心理反應，連鎖循環而不自覺。順著內心習氣而形成對痛的執著，由於害怕痛，更加敵視痛、身痛與心苦如影隨形連環反應。如同火上加油般地變本加厲，內心煩惱的活動過程，便如此般，身不由己的運作著。修習日久，初級思惟層次的內觀智增長，便可漸次破除因習氣/執著產生的連鎖反應及內心煩惱，禪者不再將痛，內心標示為“我的痛”，再經過一段時間，更會學到不再親身投入疼痛，從參與者中抽離而出，扮演觀察者，不再當演員的角色，痛消失後不久，新痛又會回來，升起/消失如此般，拔河似的拉據戰，自此之後個人的體驗，六年下來，痛不再回來過，無論禪坐多久。
          </p>
<h2>
           壓力
          </h2>
<p>
           每天使用電腦，容易造成上背和肩部的壓力，1999年生平首次在意大利參加密集禪修，我肩部上的壓力以一種很強烈的生理覺受潮湧而來。運用內觀技巧，將全身最明顯覺受作為主要所緣，觀察壓力，覺受如何變化，此種內觀變成非常有趣，一對快速旋轉的輪子，旋轉的同時，輪子同時一致向內擠壓，並向外拉扯。
          </p>
<h2>
           長期疼痛
          </h2>
<p>
           五年前放棄高爾夫球，以便有更多時間於每天固定的禪修。之後，我脊椎下部開始變成長期背痛，每天都痛，於是應用法的治療來處理這個狀況。每天早上至少做30分鐘，早上醒來第一件事情，躺在床上，側扭下半身，故意造成背痛，應用內觀技巧於日常生活中，將身體放鬆，內心放軟（即定力增長與正念結合在一起的善心所、止觀同時開展），背痛馬上變成電流般的冷熱、振動，細小沙粒流轉全身內部，粒子轉化為光的能量，而消失於黑暗中。如一天沒做，當天可受背痛之苦。
          </p>
<h2>
           結論
          </h2>
<p>
           練習法的治療，直見病痛的自然實相法，為治療病痛最佳妙藥。此藥方來自於大自然的力量，分文不費，又不用擔心有不良副作用，身心安寧健康是禪修的自然副產品，治療疼痛不過是此一利益的小小例證，還有更多在參加長期密集禪修後，腫瘤、癌症，不藥而癒的例子。
          </p>
<p>
           在自然實相法中，身體的疼痛與壓力往往伴隨心理上的煩惱同生同滅，日常生活中見到自己負面情緒時，運用佛法療法來看內心的運作，一旦你專注，並且清楚覺知負面情緒升起，它就消失無形，較諸於生理疼痛，心苦的療愈需要培育更深細的定力和更敏銳的觀力，方能畢竟全功。
           <br/>
           一旦你能夠善巧而成功地目睹自然法則的生滅，你會驚異於培育正念的善心所，或心智的品質是多麼有威力，多麼神奇，學者運用自然的力量來療愈煩惱，成就善心，從苦滅中，尋求永續的快樂，是修習佛法，法行法次究竟的目標。
          </p>
<h2 class="rtecenter">
<br/>
<strong>
            自然實相
           </strong>
</h2>
<h2 class="rtecenter">
<strong>
            諸相非相
           </strong>
</h2>
<h2 class="rtecenter">
<strong>
            萬事萬物本無物
           </strong>
</h2>
<h2 class="rtecenter">
<strong>
            唯遷流變化之過程爾
           </strong>
</h2>
<footer>
</footer>
<!-- /.block -->
<!-- /.region -->
</BaseLayout>
