---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "禪修資源",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout
  title="禪修資源" description=""
>
  
<h1 class="page-title">
     禪修資源
    </h1>

<h2>
           初學者建議閱讀
          </h2>
<ul>
<li>
<a href="node/51.html">
             讓火山止息
            </a>
            或
            <a href="/assets/volcanos-Han.pdf">
             PDF
            </a>
            - 慈濟瓦禪師
            <em>
             內觀禪入門
            </em>
</li>
<li>
<a href="https://nanda.online-dhamma.net/extra/authors/shwe_oo_min/What-is-the-Right-Attitude-for-Meditation-Han.html">
               正確的修行態度
            </a>
            或
            <a href="http://myweb.ncku.edu.tw/~lsn46/extra/authors/shwe_oo_min/right_attitude-Han.pdf">
             PDF
            </a>
            雪吳敏禪師( Sayadaw Shwe Oo Min)
            <em>
             如何修習正念
            </em>
</li>
<li>
<a href="/assets/MindfulnessInPlainEnglish_Big5.PDF">
             繫念禪修法
            </a>
            （PDF）  - 海那波拉·瓜那瑞塔尊者
            <em>
             禪修入門手冊
            </em>
</li>
<li>
<a href="node/41.html">
             內觀禪修：基本和進階練習
            </a>
            或
            <a href="/assets/PracticalInsightMeditationCH.pdf">
             PDF
            </a>
            馬哈希尊者
            <em>
             禪修基本練習
            </em>
</li>
<li>
<a href="node/94.html">
             內觀要義 ──新譯內觀基礎
            </a>
            2018年3月 MBSC編譯小組
            <em>
             禪修入門至涅槃的全程，最經典的禪修教程
            </em>
</li>
<li>
<a href="node/18.html">
             行禪的利益
            </a>
            - 喜戒尊者
           </li>
<li>
<a href="node/47.html">
             法的醫療修行治療疼痛及壓力
            </a>
            - 張貴人(Oliver Chang)
           </li>
<li>
<a href="node/42.html">
             觀色無常-初次參加禪修營的心得報告
            </a>
            - 張貴人(Oliver Chang)
           </li>
<li>
<a href="node/55.html">
             禪修心路歷程：緣起法則-什麼樣的學生就會遇到什麼樣的老師
            </a>
            -
            <span style="line-height: 20.8px;">
             張貴人(Oliver Chang)
            </span>
</li>
<li>
<a href="node/56.html">
             正念的練習與應用
            </a>
            -
            <span style="line-height: 20.8px;">
             張貴人(Oliver Chang)
            </span>
</li>
<li>
<a href="node/62.html">
             閉關手冊
            </a>
            -  如來禪修中心
           </li>
<li>
<a href="node/95.html">
             《隨順法流》線上閱讀 (2020.04)
            </a>
<a href="/assets/goWithFlow6_20_2020_songFontpdf.pdf">
             全文下載
            </a>
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</li>
</ul>
<p>
           一旦您完成了入門階段，可能會發現需要更高階的禪修指導，希望下面這些資料會對您有幫助：
          </p>
<h2>
           進階閱讀
          </h2>
<ul>
<li>
            馬哈希尊者Ven. Mahasi Sayadaw
            <ul>
<li>
              內觀基礎(Fundamentals of Vipassana Meditation)
              <ul>
<li>
<a href="node/94.html">
                 內觀要義 ──新譯內觀基礎
                </a>
                2018年3月 MBSC編譯小組
                <span style="line-height: 20.8px;">
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</span>
</li>
<li>
<a href="http://dhammarain.online-dhamma.net/books/inside/inside.htm">
                 法雨道場版
                </a>
                (2004.6月)
               </li>
<li>
<a href="http://www.holybooks.com/wp-content/uploads/Fundamentals-of-Vipassana-Meditation.pdf">
                 英文版
                </a>
                (PDF)
               </li>
</ul>
</li>
<li>
<a href="node/12.html">
               採訪馬哈希尊者
              </a>
              （雙語)（An Interview with Mahasi Sayaday(Bilingual)）
             </li>
<li>
<a href="node/38.html">
               向馬哈希大師學正念
              </a>
</li>
<li>
<a href="/assets/PracticalInsightMeditationCH.pdf">
               內觀禪修：基本和進階練習
              </a>
</li>
<li>
<a href="http://www.mahasiusa.org/sayadaw.html">
               馬哈希網站, 美國
              </a>
              （Mahasi USA (Website)）
             </li>
<li>
<a href="node/63.html">
               摩羅迦子經講記
              </a>
              2013年6月中譯，2016年7月31日最新校對
              <span style="line-height: 20.8px;">
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</span>
</li>
<li>
<a href="node/70.html">
               觸緣受與斷煩惱
              </a>
              《緣起法講記》摘譯
              <span style="line-height: 20.8px;">
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</span>
</li>
<li>
<a href="node/74.html">
               緣起法講記
              </a>
              2018年1月最新校對版
              <span style="line-height: 20.8px;">
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</span>
</li>
<li>
<a href="/assets/%E7%99%BC%E8%B6%A3%E8%AB%96%E8%BC%95%E9%AC%86%E8%AB%87newTOC.pdf">
               發趣論輕鬆談
              </a>
              (pdf) (作者 賴明）
              <span style="line-height: 20.8px;">
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</span>
</li>
<li>
<a href="node/76.html">
<span style="line-height: 20.8px;">
                具戒經講記
               </span>
</a>
<span style="line-height: 20.8px;">
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</span>
</li>
</ul>
</li>
<li>
            班迪達尊者Ven. Sayadaw U Pandita
            <ul>
<li>
<a class="language-link" href="node/67" target="_parent.html">
               如何修習毘婆舍那內觀
              </a>
</li>
<li>
              就在今生(In This Very Life)--
              <a href="http://www.gaya.org.tw/publisher/faya/%E4%BB%8A%E7%94%9F%E8%A7%A3%E8%84%AB.pdf">
               (香光書鄉編譯組譯)
              </a>
              《今生解脫》；(法雨道場)
              <a href="http://dhammarain.online-dhamma.net/books/In_This_Very_Life-Han.html">
               果儒、鐘苑文
              </a>
              共譯；
              <a href="http://homepage.ntlworld.com/pesala/Pandita/">
               英文版(English)
              </a>
</li>
</ul>
</li>
<li>
            慈濟瓦禪師 Ven. Sujiva
            <ul>
<li>
<a href="node/16.html">
               近行定和安止定
              </a>
              （Access and Fixed Concentration）(07.07 '14 更新)
             </li>
<li>
<a href="node/50#overlay-context=zh-hans%3Fq%3Dzh-hans.html">
               讓火山止息
              </a>
              或
              <a href="/assets/volcanos-Han.pdf">
               PDF
              </a>
              -- 內觀禪介紹(For the Stilling of Volcanoes)。
             </li>
<li>
<a href="/assets/metta.pdf">
               慈心禪(
              </a>
              PDF, Metta Meditation)
             </li>
<li>
<a href="node/49.html">
               《智慧之樹，不返之流——觀禪的修行與進程》線上閱讀 (2015.12)
              </a>
              PDF (
              <a href="http://www.houstonmeditationc.com/assets/Tree-Wisdom-ver-2014-09/Tree-Of-Wisdom-trad-Han.pdf">
               正體版
              </a>
              ), 2014年9月(帶書籤)
             </li>
<li>
<a href="node/83.html">
               《穿越虚妄迷雾之道》線上閱讀 (2015.12)
              </a>
<a href="/assets/abhi_low_res.pdf">
               PDF
              </a>
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</li>
<li>
<a href="node/95.html">
               《隨順法流》線上閱讀 (2020.04)
              </a>
<a href="/assets/goWithFlow6_20_2020_songFontpdf.pdf">
               全文下載
              </a>
<img height="11" src="/assets/new_0.png" style="margin: 0px; border: 0px none; padding: 0px;" width="25"/>
</li>
</ul>
</li>
<li>
<a href="http://zh.wikipedia.org/wiki/%E5%BE%B7%E5%AF%B6%E6%B3%95%E5%B8%AB">
             德寶尊者
            </a>
<a href="http://en.wikipedia.org/wiki/Henepola_Gunaratana">
             Ven. Henepola Gunaratana
            </a>
<ul>
<li>
              Mindfulness in Plain English
              <ul>
<li>
                《繫念禪修法》；海那波拉.瓜那瑞塔那尊者 (Gunaratana, Bhante Henepola) 著、王青楠博士　譯；
                <a href="http://www.budaedu.org/">
                 佛陀教育基金會
                </a>
                ；1997 01.01（「佛陀教育基金會」--
                <a href="http://www.budaedu.org/books/books_01_tw.php">
                 經書法寶結緣
                </a>
                ）；台北市, 臺灣 (Taipei, Taiwan)
               </li>
<li>
                《平靜的第一堂課：觀呼吸》；釋德寶 (Gunaratana, Bhante Henepola); 譯者：賴隆彥；橡樹林文化 (Oak Tree Publishing Co.), 台北市, 臺灣 (Taipei, Taiwan), 2003.07.01
               </li>
</ul>
</li>
<li>
              Beyond Mindfulness In Plain English (進入禪定的第一堂課：超越觀呼吸)（
              <a href="node/17.html">
               簡介
              </a>
              ）
             </li>
</ul>
</li>
<li>
            張貴人 Oliver Chang
            <ul>
<li>
<a href="node/58.html">
               正知/明覺 正念的運用、依法而住
              </a>
</li>
</ul>
</li>
<li>
<span style="line-height: 20.8px;">
             柏林西亞多
             <a href="http://www.saraniya.com/page/sayadaws/sayadaw-u-pannadipa.html">
              Beelin Sayadaw
             </a>
</span>
<ul>
<li>
<span style="line-height: 20.8px;">
<a href="/assets/break-five.pdf">
                摧破五蘊
               </a>
               PDF
              </span>
</li>
</ul>
</li>
</ul>
<h2>
           演講
          </h2>
<ul>
<li>
            湯姆  Tom
            <ul>
<li>
<a href="/assets/Inner-Peace-han.pdf">
               內在的平靜(Inner Peace)
              </a>
              (PDF)
             </li>
</ul>
</li>
<li>
            蔡淑英 Peggy Chang
            <ul>
<li>
<a href="/assets/mbsr-2011-han.pdf">
               正念減壓療程
              </a>
              (Mindfulness Based Stress Reduction) (PDF)
             </li>
<li>
<a href="/assets/Meditation-Improves-Brain-Structure-and-Function-han.pdf">
               禪修改變大腦結構和功能
              </a>
              (Meditation Changes Brain Function and Structure) (PDF)
             </li>
</ul>
</li>
<li>
            張貴人 Oliver Chang
            <ul>
<li>
<a href="/assets/Meditation-and-Energy-Healing-han.pdf">
               禪修和能量治療
              </a>
              (Meditation and Energy Healing) (PDF)
             </li>
<li>
<a href="/assets/Insight-Meditation-okc-han.pdf">
               探討智慧觀禪
              </a>
              （觀禪簡介)(The Object of Meditation and the Observing Mind)(PDF)
             </li>
<li>
<a href="node/52.html">
               相由心生，境由心轉
              </a>
              或
              <a href="/assets/TeacherTrainingCH.pdf">
               PDF
              </a>
              (Meditation Teacher Training Camp)
             </li>
<li>
<a href="node/56.html">
               正念的練習與應用
              </a>
              -
              <span style="line-height: 20.8px;">
               張貴人(Oliver Chang)
              </span>
</li>
</ul>
</li>
</ul>
<h2>
           佛法開示
          </h2>
<ul>
<li>
            史歐明（烏▪德旃尼亞；雪吳敏）禪師 Sayadaw Shwe Oo Min
            <ul>
<li>
<a href="https://nanda.online-dhamma.net/extra/authors/shwe_oo_min/What-is-the-Right-Attitude-for-Meditation-Han.html">
               正確的修行態度
              </a>
              ，或（
              <a href="https://nanda.online-dhamma.net/extra/authors/shwe_oo_min/right_attitude-Han.pdf">
               PDF
              </a>
              )
             </li>
</ul>
</li>
<li>
            恰密尊者 Chanmyay Sayadaw
            <ul>
<li>
<a href="/assets/Chammy-1998-BMIMC-AU-trad-han.pdf">
               開發直覺智慧——透視身心的本質
              </a>
              (Dharma Talks at Blue Mountain) PDF (07.07.2014 更新)
             </li>
</ul>
<ul>
<li>
<a href="node/36.html">
               通過正見達到平靜與快樂
              </a>
              (《開悟之道》的新譯本，明慧西亞莉譯) (
              <a href="/assets/PathToEnlightmentCH.pdf">
               PDF
              </a>
              ，簡體)
             </li>
</ul>
</li>
<li>
            喜戒尊者 U Silananda Sayadaw
            <ul>
<li>
<a href="node/18.html">
               行禪的利益(
              </a>
              The Benefit of Walking Meditation)
             </li>
</ul>
</li>
</ul>
<h2>
           文章
          </h2>
<ul>
<li>
<a href="node/19.html">
             正念禪修和思維能使基因分子改變
            </a>
            (New Evidence That Proves Your Thoughts Can Change Your DNA)
            <br/>
            (取自：覺悟之路　》》上座部佛教 Theravada Buddhism　》》上座部論壇　》》上座部佛法交流討論區 Dhamma Discuss　》》佛法義理探討　》》
            <a href="http://bbs.sutta.org/forum.php?mod=viewthread&amp;tid=6600">
             正念禪修和思維能够使基因分子改變）
            </a>
            ；譯自--英文：
            <a href="http://www.finerminds.com/manifesting/new-evidence-that-proves-your-thoughts-can-change-your-dna/">
             1
            </a>
            或
            <a href="http://www.tunedbody.com/scientists-finally-show-thoughts-can-cause-specific-molecular-changes-genes/">
             2
            </a>
            )
           </li>
<li>
<a href="node/20.html">
             身心靈合一的觀禪
            </a>
            慈濟瓦禪師
           </li>
</ul>
<h2>
           佛教友站
          </h2>
<ul>
<li>
<a href="http://www.nanchuanfofa.com/">
             四念處內觀禪法
            </a>
            （大陸最大的馬哈希禪法網站）
           </li>
</ul>
<ul>
<li>
<a href="http://user.qzone.qq.com/1034823075/2?ptlang=2052&amp;ptlang=2052">
             班迪达尊者开示的最新中文翻译
            </a>
            （缅甸班迪达中心Sayalay Santa Dhamma的QQ日志）
           </li>
</ul>
<ul>
<li>
<a href="http://dhamma.sutta.org/">
             觉悟之路
            </a>
            （中国的最大南传上座部网站）
           </li>
</ul>
<ul>
<li>
<a href="http://www.kmnd.org/">
             卡玛兰迪禅师的禅修营讯息网
            </a>
            （马哈希禅法）
           </li>
</ul>
<ul>
<li>
<a href="http://mbscorg.blogspot.tw/2013/04/mbsc.html">
             台湾班迪达禅修中心
            </a>
            （U.禅师班智达中心，MBSC佛陀原始正法学会网志）
           </li>
</ul>
<ul>
<li>
<a href="http://blog.sina.com.cn/u/2000127251">
             北京恰宓禅修院博客
            </a>
            （方兰琴的博客）
           </li>
</ul>
<ul>
<li>
<a href="http://tkwen.sutta.org/">
             温宗堃博士网站
            </a>
            （马哈希禅法的中译和正念疗法及医疗机构）
           </li>
</ul>
<ul>
<li>
<a href="http://www.mkmeditationc.com/">
             神山禪修中心
            </a>
            （
            <strong>
             MT.KINABALU MEDITATION SOCIETY
            </strong>
            ，指導老師石媽媽）
           </li>
</ul>
<ul>
<li>
<a href="http://karunika2014.blogspot.tw/">
             四念处小铺
            </a>
</li>
</ul>
<ul>
<li>
<a href="http://agama.buddhason.org/">
             庄春江工作站
            </a>
            （提供很好的四部尼科耶的学习）
           </li>
</ul>
<ul>
<li>
<a href="http://nanda.online-dhamma.net/">
             府城佛教网
            </a>
            （不少巴利佛典翻译）
           </li>
</ul>
<ul>
<li>
<a href="http://www.sutrapearls.org/">
             佛典妙供
            </a>
</li>
</ul>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
