---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
   <BaseLayout pageTitle="讓火山止息">
    <div>
     <h1>
      感謝
     </h1>
     <p>
      本書編譯自以下兩本英文禪修書籍：
     </p>
     <p>
      （一） 火山的熄滅－－內觀禪介紹。作者： 馬來西亞蘇吉瓦禪師。
     </p>
     <p>
      （二） 正確的修行態度－－ 作者：緬甸史歐明禪師（已故） 英譯：烏德旃尼亞。
     </p>
     <p>
      如果缺少葉文可居士的中譯與本源法師的校對，本書將無法付梓。「休士頓禪修中心」為紀念好友陳美蘭同修，慷慨捐獻本書出版，希望藉由這份努力的功德，使陳美蘭同修早日到達涅槃。
     </p>
     <h1>
      Sabbadanam dhammadanam jinati
     </h1>
     <p>
      法佈施遠勝於其他一切佈施
     </p>
     <p>
      出版者：「美國休士頓禪修中心」
     </p>
     <p>
      12989 Bellaire Blvd. Suite 16B
     </p>
     <p>
      Houston, Texas 77072
     </p>
     <p>
      USA Email
      <a href="https://web.archive.org/web/20220122232932/mailto:hmc281@sbcglobal.net">
       hmc281@sbcglobal.net
      </a>
      第一版 參千本（2007年）
     </p>
    </div>
    <p>
    </p>
    <h1>
     <a id="_Toc389407355" name="_Toc389407355">
     </a>
     目　　　錄
    </h1>
    <p>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407841'}">
      前 言 3
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407842'}">
      第一章 火山 5
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407843'}">
      第二章 心的魔術 12
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407844'}">
      第三章 主要的掌控力量 16
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407845'}">
      正念的益處 &ndash; 完全不同的世界 17
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407846'}">
      把握主要的掌控法 21
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407847'}">
      經行 22
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407848'}">
      （請參考附圖A有關各種經行階段） 26
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407849'}">
      靜坐（或坐禪） 28
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407850'}">
      （請參考附圖B有關各種靜坐姿勢） 30
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407851'}">
      觀照每日的行動 36
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407852'}">
      第四章 觀與止 39
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407853'}">
      後續的建議 42
     </a>
    </p>
    <p>
     <a href="{currentPath + '#_Toc389407854'}">
      第五章 如流水般的修行道路 44
     </a>
    </p>
    <h1>
     <br clear="all"/>
     <a id="_Toc389407841" name="_Toc389407841">
     </a>
     前 言
    </h1>
    <p>
     內觀（Insight Meditation）或智慧禪
    </p>
    <p>
     這個深奧的題目，不易用簡單的言語來說清。但是，我們必須嘗試闡釋它。多年來，我教導內觀禪修，一直感覺缺乏一本入門小冊給沒有佛學基礎的人。許多介紹書籍充滿古印度術語，而這些術語根本無法找到同義的英語辭彙。
    </p>
    <p>
     因此，我嘗試書寫一本容易閱讀與理解的讀物。
    </p>
    <p>
     甚至在這本小冊中，我運用一些英語辭彙，譬如&ldquo;緣起&rdquo;（conditioned）與&ldquo;苦&rdquo;（suffering），這些字眼從佛教的觀點，都需要特別的解釋。
    </p>
    <p>
     這本書提供給想要踏出第一步的人，一些如何禪修的觀念。甚至對於那些已經參加過禪修營的人，這些禪修指示也必需重覆好幾遍，他們才能正確的修練。如欲深入明瞭靜坐方法與觀念，最好請教禪修老師。
    </p>
    <p>
     試看你們能有多少心得。如果你閱讀完畢，想進一步修練內觀，那麼我就成功了。
    </p>
    <p>
     蘇吉瓦 （Sujiva） 法師於馬來西亞
    </p>
    <h1>
     <br clear="all"/>
     <a id="_Toc389407356" name="_Toc389407356">
     </a>
     <a id="_Toc389407842" name="_Toc389407842">
      第一章
     </a>
     火山
    </h1>
    <p>
     我相信偉大的印度聖人如果居住在有火山的地方，他在教導中，一定會援引火山為例，正如他以巍峨雪頂的喜瑪拉雅山來做譬喻一般。
    </p>
    <p>
     直到近日，我才有機會目睹在地心沸騰的驚人火山噴口。原先，我只能從地理雜誌與電視上看見它。我在印尼之旅探訪的火山口並非最壯觀的，但是他們已足夠讓我瞭解到，那些畢生致力研究火山活動的人，也許不只是為了人類的安危而已。
    </p>
    <p>
     我們在生活中，對周遭的許多事物，都十分地漠然與渾然不覺。當我親眼目睹火山口，我感到震撼，立刻覺知我們所立足的地球，它是多麼的不穩定！我在馬來西亞的住處，正位於火山地帶的邊緣之外，偶爾發生一些顫動。但是，地震和火山爆發，通常被認為不會在我們的地方發生。住在斜坡上的人們，應該多作提防。但事實不然，因為人們通常寧願學習鴕鳥，裝聾作啞，不願正視危險。雖然發佈了警告，依舊有傷亡事故。肥沃的土壤保證豐收，因此人們逐漸眷戀自己的家園，土地，生命和情感，很快地變得難分難解。
    </p>
    <p>
     導遊告訴我們，火山分許多種類：活火山，睡火山，和死火山。活火山是活躍的，它的火山口還在噴氣。雖然現代科學具備偵測儀器，也只能做某種程度的預警，火山隨時都會爆發。
    </p>
    <p>
     睡火山是靜止蟄伏的，因為它們有一段時間沒有任何活動。但是一旦因緣具足，它們還是會&ldquo;清醒&rdquo;。菲律賓的「皮那土玻」火山於一九九一年爆發，在此之前，它沉睡了約六百年！
    </p>
    <p>
     當我們進一步肯定火山已經熄滅，這些昔日活躍的山，如今被宣判死亡。然而，我們永遠無法百分之百的確定，除非我們知道地表下面的究竟。
    </p>
    <p>
     試想一下，當滾燙的岩漿如瀑布般衝下陡峭的斜坡，燒盡沿途所有的一切，然而致命的是其他東西，譬如湧流的焦熱碎片。人類很容易被滅亡也很容易被打擊受苦，然而，大自然是鐵面無私的。當火山爆發，每個人只有&ldquo;各自逃命&rdquo;！
    </p>
    <p>
     印尼的「爪哇」是世界上火山最多的地區，「坦玻拉」與「克羅卡濤」兩座火山曾經帶來最大的災害，奪去數千人的性命，更不必提財產與其他的虧損！
    </p>
    <p>
     人類同樣可以被視為以上三個種類 ： 活火山，睡火山，和死火山。
    </p>
    <p>
     當你發怒，充滿淫慾，或陷入幻覺時，你的火山正在爆發。
    </p>
    <p class="rtecenter">
     <img height="269" src="/assets/wps19A8.tmp.jpg" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" width="336"/>
    </p>
    <p>
     你對自己及周遭會產生恐懼，你可能喪失一些生命中寶貴的東西。
    </p>
    <p>
     雖然，它可能不會致命，但它可能比火山爆發造成的災害更大。
    </p>
    <p>
     就以日本「廣島」與「長崎」被投擲原子彈的情況為例。第二次世界大戰日本人殺戮幾百萬的中國人民。人類彼此自相殘殺，其嚴重程度比自然災害更鉅大。
    </p>
    <p>
     因此，容我再補充一點，爆發可分三個種類：輕度，嚴重，和毀滅。
    </p>
    <p>
     <img height="26" src="/assets/wps19A9.tmp.jpg" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" width="29"/>
    </p>
    <p>
     輕度的爆發造成少量的破壞，譬如財物與&ldquo;顏面&rdquo;的損失。
    </p>
    <p>
     <img height="26" src="/assets/wps19A9.tmp.jpg" style="line-height: 20.8px;" width="29"/>
    </p>
    <p>
     嚴重的爆發造成更永久的損失，譬如肢體的殘缺，與親人永遠分離，甚至失去自己的生命。
    </p>
    <p>
     <img height="26" src="/assets/wps19A9.tmp.jpg" style="line-height: 20.8px;" width="29"/>
    </p>
    <p>
     毀滅的爆發造成大規模的戰爭、大屠殺，以及其他難以想像的苦難形式。
    </p>
    <p>
     你可能在許多輕微的爆發中倖存，但是一次嚴重的爆發，足以使許多人喪失重心。我只是希望儘管情況惡劣，這種不幸不會降臨你們身上，但是悲劇終究會發生。你深入觀察自己的內心，你將明白我說的意義。看看所有在你身邊行走的火山，以及世界的不穩定性，你將確信這個道理。
    </p>
    <p>
     每個人的血脈中都深藏著貪婪、仇恨，和迷惑的火燄。
    </p>
    <p>
     一座蟄伏的火山，可能沉睡幾個世紀，
    </p>
    <p>
     但是這些染污煩惱每天都噴吐出髒物。
    </p>
    <p>
     這些火燄如何被平息？
    </p>
    <p>
     這個答案與問題發源地在相同的地方，它隱藏在地底，那裡有火熱的岩漿，也有清新的流泉，它就是心（Mind），是正念（mindfulness）的清泉！
    </p>
    <p>
     我在印尼的「婆羅浮屠塔」小憩片刻，這是世界最大的佛塔。我看見遠方的「米拉比」火山，它噴出的濃煙與雲霧混雜。印尼的「婆羅浮屠」有時被稱為佛陀山，它可能就是從火山得到的靈感。
    </p>
    <p>
     當我觀賞佛陀莊嚴的塑像，祂安詳地端坐，結出各種手印。讓我想起，這是一座真正的死火山，污染的火燄早已滅絕。
    </p>
    <p>
     能夠成為這張象徵和平的畫面的一部分，這是多麼美好的一件事！
    </p>
    <h1>
    </h1>
    <p class="rtecenter">
     <img src="/assets/wps19AC.tmp.jpg" style="line-height: 20.8px; width: 360px; height: 499px;"/>
    </p>
    <h1>
     <br clear="all"/>
     <a id="_Toc389407357" name="_Toc389407357">
     </a>
     <a id="_Toc389407843" name="_Toc389407843">
      第二章
     </a>
     心的魔術
    </h1>
    <p>
     魔術大致分為兩類：白法與黑法。它與膚色無關，而是心境。
    </p>
    <p>
     當人被幻覺矇蔽，看不清真相，這是一種黑暗的處境。
    </p>
    <p>
     譬如，一個憤怒的人，健忘他人的善意。
    </p>
    <p>
     同樣地，一個充滿欲望的人，看不見欲求之物的缺點。
    </p>
    <p>
     這種心態，你也知道，將導致不幸。
    </p>
    <p>
     另一方面，我們用明亮或白色，來形容純淨清明的心境。
    </p>
    <p>
     當你保持正念，心境平和，可以體驗到心的清新與光明。
    </p>
    <p>
     我們不難瞭解，為何快樂對有些人是如影隨形，永不分離。
    </p>
    <p>
     心確實是魔術師的盒子，從心發出超越我們所能理解的東西。
    </p>
    <p>
     它好比電視機，電腦，電晶體收音機等，一切融合為一。
    </p>
    <p>
     當這一切井然有序，你可以盡情遊樂。
    </p>
    <p>
     但是如果你失控，地獄之門就大開了！
    </p>
    <p>
     你可能熟悉現代兒童玩耍的電子遊戲，它將你放置在各種各樣的情況下：包括世界長途大賽車；與外星人爭戰拯救危難中的美女；你甚至可以選擇交通工具、致命武器，以及自己的身份。
    </p>
    <p>
     遊戲的主題是，克服一切障礙，擊落所有外星船，累積最高分數。
    </p>
    <p class="rtecenter">
     <img height="244" src="/assets/wps19AD.tmp.jpg" style="line-height: 20.8px;" width="376"/>
    </p>
    <p>
     然而，如果你不是電腦神童之一，不曾日以繼夜用敏捷的手指敲打電腦，那麼，你好像命中註定是失敗者。
    </p>
    <p>
     但是，不必擔心，一切只是遊戲。
    </p>
    <p>
     你只要稍加練習，就能夠掌握技巧。
    </p>
    <p>
     同時，不久就有立體電子遊戲了。
    </p>
    <p>
     人生正是如此，心念創造出各種情況。
    </p>
    <p>
     但是，難處在於當你疲倦時，你不能將它關掉。
    </p>
    <p>
     你能視癌症為一個好玩的遊戲嗎？
    </p>
    <p>
     同樣地，精神分裂或神經病也不好玩。
    </p>
    <p>
     即使自殺，也解決不了問題。
    </p>
    <p>
     據說，心將把你帶到更可怕的噩夢中。你或許會問：這件事是如何發生的？
    </p>
    <p>
     心是多種力量的複合，有些人或許稱它為"能量"。
    </p>
    <p>
     試著去安靜的坐著，觀察自己的意念，你將看見它的動向。
    </p>
    <p>
     它不眠不休地嘗試創造新的情況，不管情況真實與否，並且對他們起反應。
    </p>
    <p>
     很不幸，許多人不曾善加檢視這種心念的運作。
    </p>
    <p>
     因此，他們面臨無窮無盡的問題。其實，所有的力量、答案以及喜樂的泉源，都在心中。
    </p>
    <p>
     雖然這整件事有點複雜，但也不算太困難。
    </p>
    <p>
     但只要對一些修心重點有效提示，要運用這個魔術盒並不困難。
    </p>
    <h1>
     <br clear="all"/>
     <a id="_Toc389407358" name="_Toc389407358">
     </a>
     <a id="_Toc389407844" name="_Toc389407844">
      第三章
     </a>
     主要的掌控力量
    </h1>
    <p>
     心的主要掌控機能是正念（mindfulness）。你可記得當自己平靜沉著的時刻？它帶來光明與清晰的覺知。當你充滿驚慌或陷入迷惑，你處於完全相反的狀態。
    </p>
    <p class="rtecenter">
     <img height="232" src="/assets/wps19AE.tmp.jpg" style="line-height: 20.8px;" width="288"/>
    </p>
    <p>
     因此，當你保持正念，你可以做好每一件事，不論是開車、煮飯、參加考試。但是，這種潛能不如信心與定根／定力那樣被認知，因此不曾得到強調。如果我們能夠培養出非常強大、持久、清晰的正念，我們的人生即使不能充滿狂喜，至少也將平穩順利。
    </p>
    <h2>
     <a id="_Toc389407359" name="_Toc389407359">
     </a>
     <a id="_Toc389407845" name="_Toc389407845">
      正念的益處
     </a>
     &ndash; 完全不同的世界
    </h2>
    <p>
     有時，人們說，神智健全與精神錯亂之間，只有一線之隔。譬如，瘋狂的天才已經接近瘋子。因此，科學怪物與最後終結者都被創造出來。無論如何，只要是炸彈都是不好的。但是，不論一線之隔多麼細，它還是一條線。即使它很粗，如果你頭腦不清，你還是會錯過它。
    </p>
    <p>
     正念其實就是這條線，當你失去正念，譬如你大發雷霆，你與瘋子完全一樣，只是程度上的差異。如果你長時間喪失正念，你絕對是發瘋了。因此，如果你不想發瘋，請緊握住可愛的正念。因為正念的反面，就是人間地獄。神智的健全確實在一線之間，人非常容易被摧毀；把一個人幽禁幾天或幾週，不與外界聯繫，他就要進精神病院了。
    </p>
    <p class="rtecenter">
     <img height="304" src="/assets/wps19AF.tmp.jpg" style="line-height: 20.8px;" width="300"/>
    </p>
    <p>
     如果你經常禪修（或修行），你還有一些能力對抗，最後甚至比別人神智更健全；但是他人可能還是喊你瘋子，因為你與眾不同。我記得有位朋友被人視為瘋狂，因為他參加密集禪修後，不像從前那麼亢奮與暴躁，而這些人只喜歡看見他被激怒。這些人照理講還是經常禪修的人，你能夠想像為何會是這樣嗎？到底是誰瘋了？但是，如果你時刻保持正念，你將確信自己的頭腦清晰，思想合理。那些人才是混淆不清的。
    </p>
    <p>
     倘若保持正念就沒有貪、嗔與痴等內心的煩惱，那麼，這就是快樂與痛苦的分界線。我們了解嗔與痴是苦，但是貪看來卻不苦，尤其當它與樂相伴的時刻，因為樂將遮掩心的真正狀態。當樂被拿去，還剩下什麼？只有無盡的貪求與頑強的執取，它正如一個饑餓的人。因此，如果你想得到真正的快樂，那麼，請尋求來自純淨與正念的平靜心。
    </p>
    <p>
     這種快樂源於高貴的情操，能帶來真正的滿足。感官的快樂無法與它相比，而且只要你願意修練，這種快樂唾手可得，你不需要付一分錢就能得到它。
    </p>
    <p>
     正念也是決定生死的因素，許多不經心的錯誤和失察導致死亡，或是從樓梯或梯架滑落，或在路上跌倒。每天都有人死於交通事故，還有人觸電，甚至吃東西不小心被噎死，不但自己喪命，同時使他人死亡。然而，死後是怎樣呢？如果你臨死時保持正念，你可能得到美好的來生。否則，你可能落入地獄。佛教徒相信業力（karma）因果報應的法則；正念是善業的因，煩惱是不善業的因。人在一生中所做的一切，同時會儲藏在
    </p>
    <p class="rtecenter">
     <img height="296" src="/assets/wps19B0.tmp.jpg" style="line-height: 20.8px;" width="360"/>
    </p>
    <p>
     你的業力，它將決定你的來世，或上天堂，或下地獄。
    </p>
    <p>
     最後，但並非份量最輕的一點，涅槃或輪迴也取決於正念。在八正道中，道德（戒），定力與智慧的完成，都在於建立正念。缺少了正念，甚至道德的根本都喪失了。最終，圓滿的洞見（或是內觀智慧的開展至開悟）就是極堅強銳利的正念，它穿透濃厚的無明，獲得永久的平靜，也就是涅槃。因此，請你盡量保持正念，脫離痛苦的生死輪迴。
    </p>
    <h2>
     <a id="_Toc389407360" name="_Toc389407360">
     </a>
     <a id="_Toc389407846" name="_Toc389407846">
      把握主要的掌控法
     </a>
    </h2>
    <p>
     現在，我希望你們已瞭解保持正念是多麼重要。你也許有興趣知道如何培養正念，獲得這一切改變。重點在於擴展正念的明覺，直到它變成習慣，並且持續下去，然後應用到比較特殊的目的，譬如獲得內觀智與技巧。
    </p>
    <p>
     首先，讓我給予一些絕對有幫助的建議。這是你可以嘗試的簡單練習，它們分為三小類：
    </p>
    <p>
     ＊ 經行（或行禪）
    </p>
    <p>
     ＊ 靜坐（或坐禪）
    </p>
    <p>
     ＊ 觀照日常生活一舉一動
    </p>
    <h2>
     <a id="_Toc389407361" name="_Toc389407361">
     </a>
     <a id="_Toc389407847" name="_Toc389407847">
      經行
     </a>
    </h2>
    <p>
     你能想像有多少事與走路產生關聯？你走進辦公室，散步運動，旅行，走向晚餐桌，放鬆自己，還有其他許多美好或難以啟齒的事情。
    </p>
    <p>
     但是，當你於破曉時分，在一個寧靜的沙灘上散步，與走在去看牙醫的路上，你的感受與想法一定十分不同。這一切都取決於你的心境。我必須提醒你，這種心境將決定你的未來與命運。如果你心不在焉的走路，你可能會進醫院，或一命嗚呼。當然，許多人如今以車代步，現代科技提供更快的速度，我們必須加強正念來保障安全。以下是幾項經行時的提示：
    </p>
    <p>
     ＊ 為學習經行時保持正念，你必須尋找一個安靜的場所，至少大約三十呎的距離，最好是一條平直乾淨的道路，四周無人凝視你的行動。如果找不到這種環境，有個十步距離的區域也可了。
    </p>
    <p>
     ＊ 首先，你必須清楚覺知自己的站姿。這不是一種觀想，而是如實感受自己的身體，它的緊張、堅實，以及可能些微的擺動。你要確定自己保持挺直且放鬆的姿勢，你將雙手合攏或握住，這可以幫助保持鎮定。你也許閉上眼，內心保持自由、平靜、輕鬆、快樂。學習放下所有的問題與思慮，它不值得你晝夜思索，讓你的心休息，你只需要活在當下並保持覺知。
    </p>
    <p>
     ＊ 等到你的心平靜穩定後，就開始經行。將注意力放在移動的那隻腳，小腿以下的部分，雙眼睜開，以一種最舒適與輕鬆的速度自由行走。為幫助你將注意力集中足部，你可以在心裡說"右，左"，或說"走，走"，或說自己覺得較好的字眼。請記住，不要思惟，只要把注意力集中在當下一刻。
    </p>
    <p>
     ＊ 當你將要轉身時，覺知轉身的動作。
    </p>
    <p>
     ＊ 每當你的注意力隨著念頭走時，你必須喚回覺知，標註"思惟，思惟"，然後回到腳步。如果你感到緊張或無聊，你必須再度停止行走，如同前述，帶回覺知。當你立定時，留心標註&ldquo;緊張&rdquo;或&ldquo;無聊&rdquo;，然後再開始經行。
    </p>
    <p>
     ＊ 我建議你們，以一種心能夠追得上腳部覺受的速度經行，一旦心能夠趕上，身心（即能觀的心及所觀的覺受）將順利配合，開展如流水般地流轉，變化（它就能順暢的觀察）。然後暫時維持這種速度。
    </p>
    <p>
     ＊ 當你感到比較平靜，或是有點疲倦，你可以放緩腳步，同時更加放鬆身心。那些以這種方式加深定力的人，他們可以行走一小時或更長久，卻感覺只有一分鐘。他們覺得輕飄飄的，彷彿走在雲端，最後，人將充滿法喜！
    </p>
    <p>
     ＊ 然而，還有一件事必須注意，當你感覺非常放鬆時，保持你的心對腳步的敏銳覺知力，對所升起的覺受試著經由感官意識的覺知（sense）;或第六感的直覺（feel）試著去感覺隨之生起的覺受：壓力，推與拉的力量，輕或重，以及腳底與地面的接觸。
    </p>
    <p>
     ＊ 為幫助初學者得到更清楚的認識，老師們設計一種方法，將每個步伐分解為二到六個步驟。雖然，三個步驟對大部分的人就足夠了，但只有當禪修者程度夠時，這些步驟可以逐漸的增加。
    </p>
    <p>
     ＊ 在一個密集禪修或正式禪修訓練時，標準程序的經行是一小時，它分為三段，剛開始二十分鐘是第一段經行，接下來二十分鐘是第二段經行，剩餘二十分鐘是第三段經行，總共一小時（快走，中走，慢走等三段）。
    </p>
    <p>
     ＊ 這背後的原理，是透過放慢動作以及更透徹的觀察，讓心慢慢地有更加專注的覺知。最適當的行走速度，就是最能激發正念的那個種類。
    </p>
    <p>
     ＊ 以下是六種經行的不同階段
    </p>
    <p>
     1. 右／左
    </p>
    <p>
     2. 提起，落地
    </p>
    <p>
     3. 提起，推進，落地
    </p>
    <p>
     4. 舉起（腳跟），提高，推進，落地
    </p>
    <p>
     5. 舉起，提高，推進，放低（放下），落地
    </p>
    <p>
     6. 舉起，提高，推進，放低，著地（踐踏），落地（壓迫）
    </p>
    <h2>
     <a id="_Toc389407362" name="_Toc389407362">
     </a>
     <a id="_Toc389407848" name="_Toc389407848">
      （請參考
     </a>
     附圖A有關各種經行階段）
    </h2>
    <p class="rtecenter">
     <br clear="all"/>
     <img height="781" src="/assets/wps19B1.tmp.jpg" width="452"/>
    </p>
    <p>
     ＊ 每一段落的步行，如果仔細觀察，你將體會到隨之而起的身體覺受或力量。你可以實際經驗它，當你步行時，好像有一股壓力，推力，或堅實感的擴散。
    </p>
    <p>
     ＊ 說得更完整一些，每次在行禪前的起心動念，以及停止，轉身的意向，皆必需以正念關照著。
    </p>
    <p>
     ＊ 如果你能做到這些，你可以真正達到一個階段，你完全忘掉自我，只剩下對觀察目標的持續覺知，如水波式的流轉，變化。這時，你已開始一種內觀智慧的旅程，一條瞭解自我本質與本來面目的修行道路。痛苦的根源問題，我們因無明而與實相產生的所有衝突，終於得到解決。
    </p>
    <h2>
     <a id="_Toc389407363" name="_Toc389407363">
     </a>
     <a id="_Toc389407849" name="_Toc389407849">
      靜坐（或坐禪）
     </a>
    </h2>
    <p>
     經行的原則，同樣可以運用在靜坐。但是，基本觀察對象或所緣境並不相同。這些是什麼原則呢？
    </p>
    <p>
     正念觀照的三個步驟的原則
    </p>
    <p>
     1. 保持正念
    </p>
    <p>
     2. 專注的跟隨或注意所觀照的對象
    </p>
    <p>
     3. 以不經思惟，超越觀念的方式察看觀照對象的本質
    </p>
    <p>
     在此，&ldquo;本質&rdquo;是指覺受的變化過程，它構成我們所觀照的事物。
    </p>
    <p>
     當你在經行，你專心跟隨自己的腳步，並觀察構成腳步的覺受變化過程。靜坐時，你利用呼吸時腹部起落的覺受。然而，有些人則利用鼻尖呼吸的覺受。
    </p>
    <p>
     ＊ 通常，禪修者是盤腿而坐，背脊挺直，眼睛閉起。那些膝蓋僵硬者，可以坐在椅子上面。請勿靠背，因為這種姿勢對保持覺知沒有幫助。然而，如果你打算徹底放鬆入睡，這種姿勢卻很有效果，那麼你乾脆躺下來吧。
    </p>
    <h2>
     <a id="_Toc389407364" name="_Toc389407364">
     </a>
     <a id="_Toc389407850" name="_Toc389407850">
      （請參考
     </a>
     附圖B有關各種靜坐姿勢）
    </h2>
    <p class="rtecenter">
     <br clear="all"/>
     <img height="881" src="/assets/wps19B2.tmp.jpg" width="529"/>
    </p>
    <p>
     ＊ 正常的呼吸，同時正念地把注意力放在腹部起落所升起身體覺受的流轉，變化。
    </p>
    <p>
     ＊ 隨同每個起落的動作，心裡說&ldquo;升起（起）&rdquo;與&ldquo;降落（落）&rdquo;。（有的人翻譯成&ldquo;起&rdquo;， &ldquo;伏&rdquo;）
    </p>
    <p>
     ＊ 為幫助初學者感受每個動作，你可以將手輕放在這個部位，直到你已經熟悉這個觀照對象。
    </p>
    <p>
     ＊ 當你的心開始轉移到其他東西，譬如，意念、聲音、癢，諸如此類；一旦你覺察到這種現象，立刻喚回自己的覺知，並且在心裡標記：&ldquo;思惟&rdquo;、&ldquo;聽見&rdquo;，等等。然後，再回到原先觀照的對象。
    </p>
    <p>
     ＊ 你在這種過程中，將發現心是非常難以捉摸與掌握不住的。但是，你至少開始更瞭解自己，並且加以對治。
    </p>
    <p>
     ＊ 經過修練，你的心將減少散亂，並且停留在升起與降落的動作。接下來，你可以開始做全面性的觀察。剛開始，你只能認知升起與降落的動作，如果你努力修練，將注意到更多東西。這些動作，不時有很大的改變，它或長或短，或快或慢，或平順，抽搐的震動，諸如此類。即使是升起的動作中，都有各式各樣的覺受在升起與消失（或生滅），最終，它只是心念與所觀照對象的持續流轉，變化過程而已。
    </p>
    <p>
     ＊ 最後，通常是疼痛讓你放棄坐姿。如果疼痛不嚴重，不要理睬它。但是，如果痛感很明顯，並且拉走你的注意力，那麼，你必須視它為觀照的主要對象。
    </p>
    <p>
     ＊ 這項目的，是用它來訓練正念（在這種情況下，同時也修練耐心）。正念觀照的三個原則在此也要經得起考驗。你首先必須以正念觀察痛感，接下來觀察一段時間，不要被它煩擾，如果你能做到，你將深入觀察痛的本質。不論它是僵硬，熱，還是麻木，它也可能是拉扯，扭曲，或是刺痛，這些感覺的種類超過你的想像，它也非常有趣。
    </p>
    <p>
     其次，你開始發現痛的過程，它如何升起，改變，分裂而消失（滅），透過對痛的觀察，你對自己的本質，將有更深的了解。痛感是因人而異，當你無法再忍受下去，就可以起坐了。
    </p>
    <p>
     （參考附圖C的流程表）
    </p>
    <h2 class="rtecenter">
     <img height="783" src="/assets/wps19B3.tmp.jpg" width="456"/>
     <br clear="all"/>
     <a id="_Toc389407365" name="_Toc389407365">
     </a>
     <a id="_Toc389407851" name="_Toc389407851">
      觀照每日的行動
     </a>
    </h2>
    <p class="rtecenter">
     <img height="264" src="/assets/wps19B4.tmp.jpg" style="line-height: 20.8px;" width="246"/>
    </p>
    <p>
     首先需要學習的事情之一，就是正念本身。我們讀過也聽過，現在要透過直接經驗來了解它。這不僅是知道一件事，而是以一種清晰穩定的心來了解它。如此，你就不會有錯。同時，你不能有任何的執著、憤怒、痴、昏沉、掉舉、疑惑、嫉妒，諸如此類。一旦你能界定正念，並不難喚起，這只是意志上的問題。能夠隨時保持正念是多麼美好的事情！但是，在你能夠做到之前，你必須清楚辨認保持正念與失去正念的狀態，接下來，你需要繼續不斷的修練。
    </p>
    <p>
     從一種角度，保持正念好比一趟旅程。你騎著腳踏車，走在顛簸的路上，並橫越奔騰的河流。你需要注意路況，保持腳踏車的平衡，並且努力踩踏。你需要經歷不少考驗，才能駕輕就熟。同樣地，在人生或禪修中，你需要有經驗來應對所遭遇的各種情況與事物。當你遇見特別困難的事時，你可能陷入困境一段時間，直到學會克服它。痛就是一個例子，它也是一種人生中無法逃避的特性。
    </p>
    <p>
     一旦你能夠了解正念的意義，接下來就是維護正念，及持續的正念是什麼情況，那麼你就可以盡己所能地不斷覺知自己所有的行動。從你醒來的一刻開始，你正念地察覺睜開眼睛。同樣地，當你起床時，梳洗，吃，喝等，直到一日結束，你再度上床入睡，你持續地保持覺知。
    </p>
    <p>
     譬如，當你吃東西時，你必須對每個步驟都保持正念。首先，吃東西的動機（心意），然後看見食物，將手伸出，舀取食物，送入口中，張開嘴巴，咀嚼，咬，吞，以及其他所有步驟。在密集禪修中，你可以放慢動作，幫助自己盡量保持覺知。事實上，人對周遭的環境可能不太注意。最後，當你經行或靜坐時，剩下的只是一連串流轉變化的過程。
    </p>
    <p>
     然而，我們在家或工作時，無法如此專注的修練正念。通常，人只能保持一般程度的專注力。只有當你有空時，你的正念才可能恢復到正式修練時的那種專注力。
    </p>
    <h1>
     <br clear="all"/>
     <a id="_Toc389407366" name="_Toc389407366">
     </a>
     <a id="_Toc389407852" name="_Toc389407852">
      第四章
     </a>
     觀與止
    </h1>
    <p>
     其次，你必須能夠分辨止與正念。它將決定你修行的方向，不論你是在修止還是在修觀的道路上。
    </p>
    <p>
     大部份的靜坐方法都是強調止，修止是將心專注在一點或一樣事物。因此，止的力量增強後，人可以達到非常安寧的境界，甚至獲得神通。這不正是許多人所希望成就的嗎？難怪大部份人都朝這個方向努力。
    </p>
    <p>
     對佛教徒而言，雖然這個方法能夠將苦惱減輕一段時間，卻無法完全消除一切苦惱。解決這個問題的方法在於&ldquo;內觀&rdquo;，它使我們了解世界的真正本質，超越觀念。簡言之，一切組成這個世界的心理與物質現象過程（PROCESS），其實都是無常，不圓滿，無我的。當我們看見這點，就能與它分離，並皈依不生不滅的境界，這就是涅槃，一種絕對真相的永恆寧靜。人如不覺悟生滅現象的苦相，被執著所主宰，因此解脫是不可能的。
    </p>
    <p>
     為培養內觀，我們主要需要保持正念，止變成次要的東西，是另一項必要的因素。
    </p>
    <p>
     為分別止與正念，列述它們的特性如下：
    </p>
    <p>
     ＊ 止就是把心專注在對象上，你好像緊握住一樣東西不放，又像是凝視電視螢幕無法與它分開。
    </p>
    <p>
     ＊ 然而，正念就像是對螢幕上放映的內容做仔細的觀察。
    </p>
    <p>
     換句話說，止將你的心釘在一個對象上，正念仔細透徹的審察它。如實知見事物的本質，你就培養出內觀的智慧。
    </p>
    <p>
     從這點，我們得到結論，止的發生並非一定需要正念，但是當正念存在時，其間一定有某種程度的止。
    </p>
    <p>
     通常，當我們修止，雖然主要的目標是專注，但是也需要正念的輔助。但是，這裡的正念不像能成就內觀時那樣地透徹。而且它觀照的對象不同，也就是說，修止時觀照所緣祇是一個觀念。
    </p>
    <p class="rtecenter">
     <img height="353" src="/assets/wps19B5.tmp.jpg" style="line-height: 20.8px;" width="392"/>
    </p>
    <p>
     如果你的目標是向內觀察，發現自己真正的本質，那麼，重點一定要放在仔細的觀察上。你就像科學家，對事物做細密的觀察，一旦觀察足夠，你就得到充滿細節的整體畫面。這時，正念已經轉化為內觀智慧。因此，當你內觀時，你將注意力集中在事物上，譬如腹部的升起與降落，坐與接觸，疼痛，思惟，右腳與左腳，諸如此類。不久，你將發現一切（包括這個觀察的心），都只是一種變化過程，它非常迅速的升起（剎那生）然後消逝（剎那滅）。
    </p>
    <p>
     這時，修行人覺悟一切過程都是變化的（無常），它超越個人的控制，它是不圓滿的。在內觀中，這也代表放下對假我的執著，回到原來的本質。
    </p>
    <p>
     &ldquo;我見&rdquo;之消除乃至高之福祉。 －－自說經（巴利文經典的名稱）
    </p>
    <h2>
     <a id="_Toc389407367" name="_Toc389407367">
     </a>
     <a id="_Toc389407853" name="_Toc389407853">
      後續的建議
     </a>
    </h2>
    <p>
     歡迎你來到我最喜愛的世界，這個世界裡空無一人，只有心理與物質剎那不息的變化過程。這是我發現最有意義的事，這是生命最真實的意義！當你真正覺悟這些事情，將不再有空間容納執著、憤怒、幻覺，以及其他負面的品質。當你真切覺察到這些東西，你再也無法容納它們，你活得寧靜有意義，找到內觀的最終旅程，與絕對的真理。
    </p>
    <p>
     遺憾的是，按照這本小冊子的意圖，我只能簡略介紹內觀與基本修練，其後絕對還有更多必須採取的步驟，你最好親近有經驗並能給你適當建議的善知識。當然，你最好參加有資歷的老師指導的完整課程，不論是參加部分的課程或密集閉關。
    </p>
    <p>
     如果你敢用這本小冊的基本知識開始修練，我必須再強調一二件事。
    </p>
    <p>
     首先，這些簡單的教導，只適用那些沒有嚴重心理問題的人士，如果你正在服藥或治療心理方面的問題，我必須進一步強調，這本小冊內容不夠充足，你們需要尋找一位合格的老師。
    </p>
    <p>
     其次，如果一個人的定力逐漸增強，他可能會經歷各種事情，或是喜悅的感覺，看到境界（景象），聽見聲音，甚至感到恐懼。最簡單的方法，就是對它們保持正念，不出一分鐘，它們終會淡去並消逝。如果它們不消失，不要執著或驚恐，如果情況愈來愈嚴重，你就睜開眼睛站起來。如果你靜坐半小時，內心愈來愈不安寧，你也可以站起來。當你被諸多問題或未解決的事件所壓迫，這種情況就會發生。你可以用快走代替靜坐，原則是保持正念。如果你的正念沒有增進，反而降低，其中一定有差錯了。
    </p>
    <p>
     最後一點，但不是份量最輕的一點，請把握機會參加內觀的密集課程或閉關。如果你能參加一個十天禪修，你所得到的進步與瞭解，將勝過你在一年內每天單獨的修練。
    </p>
    <h1>
     <br clear="all"/>
     <a id="_Toc389407368" name="_Toc389407368">
     </a>
     <a id="_Toc389407854" name="_Toc389407854">
      第五章
     </a>
     如流水般的修行道路
    </h1>
    <p>
     我們對水這種元素都相當熟悉，尤其生活在熱帶的人們，即使碰觸到水都使他們感到刺激。水在自然界，純淨的原始形態更令人感到興奮，水元素與宇宙運行的特質，最相似之處，就是它會&ldquo;流動&rdquo;。在本質上，水從未來流到現在然後過去，每個事件就像一個波浪，這些浪頭可能很強大，我們是沉溺還是游泳，將取決於好幾件事。那些沉醉在感官享樂中的人，就像是被洪水襲捲，他們起初可能以為自己很幸福，但是具有智慧與遠見的人，卻持另一種看法。
    </p>
    <p class="rtecenter">
     <img height="258" src="/assets/wps19B6.tmp.jpg" style="line-height: 20.8px;" width="480"/>
    </p>
    <p>
     我們必須保持正念，才能免於沉溺，不至於滅頂，並且努力到達更安全的海岸。如果我們培養出充足的正念，我們就像坐在船中，乘著浪頭，前往涅槃，涅槃被描述為安全島。
    </p>
    <p>
     內觀過程的本身，是由許多流轉過程組合而成的，首先我們保持正念，使自己不至於沉溺，接下來修練變成一趟發現的旅程。我們仔細檢驗自己遭遇的所有事件，我們的心就像一具顯微鏡，看得愈來愈清楚，我們發現長久被誤解的生命奧秘。隨著每個覺悟，我們愈來愈接近每個浪頭破滅與終止的地方，這就是絕對的真相，痛苦的徹底結束。難道這不正是人類生存的最崇高目標？這種美好的智慧不應該被延緩，請跳上正念的船！
    </p>
    <p class="rtecenter">
     <img height="264" src="/assets/wps19B7.tmp.jpg" style="line-height: 20.8px;" width="289"/>
    </p>
    <p>
    </p>
    <p>
     結緣處(Free Distrubution)：
    </p>
    <p>
    </p>
    <p>
     美國、加拿大(USA, Cananda)
    </p>
    <p>
     Houston Meditation Center (「美國休士頓禪修中心」)
    </p>
    <p>
     12989 Bellaire Blvd. Suite 16B
    </p>
    <p>
     Houston, Texas 77072
    </p>
    <p>
     USA
    </p>
    <p>
     E-mail:
     <a>
      hmc281@sbcglobal.net
     </a>
    </p>
    <p>
     台灣
    </p>
    <p>
     A. 70101台南市大學路一號
    </p>
    <p>
     成大醫學院生化所 劉信男 先生
     <a id="_Hlt155872048" name="_Hlt155872048">
     </a>
     <a>
      lsn46@mail.ncku.edu.tw
     </a>
    </p>
    <p>
     B. (助印): 60652嘉義縣中埔鄉同仁村柚仔宅50之6號
    </p>
    <p>
     郵撥：31497093法雨道場;
     <a>
      dhamma.rain@msa.hinet.net
     </a>
    </p>
    <p>
     香港
    </p>
    <p>
     佛哲書舍
    </p>
    <p>
     香港九龍旺角洗衣街 241號地下
    </p>
    <p>
     電話：23918143
    </p>
    <p>
     Buddhist Philosophy Bookshop
    </p>
    <p>
     G/F., 241 Sai Yee Street, Mong Kok, Kowloon, Hong Kong.
    </p>
    <p>
     Tel: 23918143
    </p>
    <p>
     馬來西亞
    </p>
    <p>
     Malacca Buddhasassananuggaha
    </p>
    <p>
     795k Jln Kerjasama Bkt Bruang,
    </p>
    <p>
     Kota Melaka, Melaka State, Malaysia
    </p>
    <p>
     Mr. Ong, Tiow Eng (
     <a>
      tiowengong@yahoo.com
     </a>
     )
    </p>
    <p>
     +6062325346
    </p>
    <p>
     ※※※　本書版權屬十方法界，歡迎複製流傳　※※※
    </p>
    <p>
     ※※※　法義尊貴，請勿商品化流通！　※※※
    </p>
    <p>
     ※※※ 若有意助印，請與各結緣處聯絡 ※※※
    </p>
    <p>
     願我們一起分享法施的功德、
    </p>
    <p>
     願一切眾生受利樂、
    </p>
    <p>
     願正法久住。
    </p>
    <p>
     佛曆　2551年(Jan. '07)
    </p>
    <footer>
    </footer>
    <!-- /.block -->
    <!-- /.region -->
   </baselayout>