---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="相由心生，境由心轉">
<h2 class="rtecenter">作者 Oliver In Houston（ 張貴人）</h2>
<p> </p>
<p><u>背景</u></p>
<p> </p>
<p>在2014年1月，捨棄我禪師舉辦了一個前所未有的禪師訓練營，地點位於義大利阿爾卑斯山腳下。訓練課程不僅包括禪師訓練，也包括如何開設和管理禪修中心當好管理員。這次訓練營只有得到邀請的人才能參加。一開始，禪師從世界各地只邀請了10位他的優秀學生。按計畫訓練營完了後接著是一個不對外公開招生的禪修營。在過去15年間，作者常跟隨禪師參加他的禪修營。幸運的是，作者也在10位受邀優秀學生的名單上。但是這樣十分難得的好機會很多人都想爭取，隨後被批准參加的人數增至50人，他們來自橫跨歐美和亞洲的12個國家。</p>
<p> </p>
<p><u>禪修如何運作</u></p>
<p> </p>
<p>禪修是一種為獲得禪修心法技巧的心靈訓練，就如我們通過身體鍛煉獲得各種運動技巧。它是一種緣起過程，用於獲得培養正念和定力的技巧。正念和定力是內心的善法，會使你超越常人感官的覺知（會改變腦波和腦的狀態）。禪修會改變我們對生命的體驗，它是遵循大自然緣起法則的結果。再者，禪修是運用我們的心識作為有力的工具，去探索內心世界/心的本質，以契入生命現象的根本。心識既不是你的也不是我的，它本是來自大自然，法界的本然。最終，禪修讓我們學習到如何運用自然的力量（法的力量<a id="_ednref1" name="_ednref1"></a><a href="#_edn1">[i]</a>）去發現自然實相。不要低估自然的力量，我們可以用來圓滿波羅蜜、戒行，培育止禪、神通和如實知見的智慧。</p>
<p> </p>
<p>我們的心，又叫識，在禪修中起著至關重要的作用。觀照的心的變化流轉可以比作流水 。它由水流及水性所組成，流水中有水流淌漾，會呈現不同的狀態，或者慢速緩和，或者快速激蕩，或者處於這兩種流動狀態之間。在禪修中，能觀的心的整體就像流水，心識就像水流，而心所就是水性，水性係由水流變化而來。以心觀心，修習四念處的心念處的時候，重點在於如何觀察心所伴隨心識的變化而發展。</p>
<p> </p>
<p><u>禪修原理</u><u> </u><u>-</u><u>能緣所緣關係</u>：<u>相由心生</u></p>
<p> </p>
<p>為了懂得禪修原理，可參閱《念處經》，其中的一段經文清楚地說明了禪修的構架：</p>
<p>“比丘於身（受、心、法）隨觀身（受、心、法）而住，精勤，正知，念住，調伏世間之貪、憂。”</p>
<p> </p>
<p>經上每一個字、每一句話皆含深意，皆可體証。觀禪實質上就是觀照身心現象或者五取蘊。為了更簡明一些，我們可以把禪修架構歸結為三個面向：</p>
<p> </p>
<p><strong>所緣</strong>-<strong>身心現象</strong><strong> </strong>是禪修觀照的對象。對初學者來說，主要所緣通常是坐禪中的腹部起伏，或者行禪中的身體覺受，也可以是放慢的日常活動（走路、吃飯、清掃、洗漱等）。任何內在干擾或外來的分心、都可成為次要所緣。對有經驗的禪修者，任何自然覺知到的目標都可以是禪修所緣，可以是名法，也可以是色法。</p>
<p> </p>
<p><strong>能緣或能觀之心</strong><strong> </strong><strong>- </strong>熱忱/精勤/精進根、正念和伴隨的定力、都是能觀之心的心所。對日常活動的正知明覺，正是從觀照的心生起的洞察力，是屬於智慧。</p>
<p> </p>
<p><strong>應用</strong>-<strong>境由心轉</strong><strong> </strong>通過在行住坐臥中禪修我們達到心的淨化，由此帶來幸福（健康長壽），獲得解脫諸結的快樂，並且讓我們能平靜地面對和克服生活中的各種挑戰。</p>
<p> </p>
<p>禪修者應該選擇自然的現象作為觀照的所緣，但選定的所緣本身並無了別覺知，而是通過心識的認知功能了知所緣。再者，所緣的性質會決定禪修的方向，動態的所緣如腹部起伏會導向觀禪，而靜態的所緣如遍處禪所用的泥土圓盤則導向止禪。</p>
<p> </p>
<p>禪修的原理是什麼？簡單地說，即<u>相由心生</u>。基本的禪修原理是基於禪修中的能知之心和所知之境的緣起關係。觀照一個禪修所緣所直接經驗到的境界，只是反映了觀照的心的狀態。這種能所、主客関係，被稱作測不准原理，是量子物理中的一個有名的理論。這意味著培養正念和定力所獲得禪修心法的善巧，會決定觀察所緣境的結果（境由心轉）。就緣起過程而言，正念是因，覺知所緣境是最終的結果。因此，禪修者應培養正念的善巧，使了別覺知（Awareness) 敏銳以獲得智慧。</p>
<p> </p>
<p><u>禪修心法技巧比經驗更重要</u></p>
<p> </p>
<p>在任何較長的禪修營，一對一定期小參提供了學習禪修的最佳方式。禪修者應該按照如下過程報告觀照身心過程的結果：</p>
<p> </p>
<p>1.                  <u>觀照的所緣</u> - 是腹部起伏作為主要所緣，或者在當下變得最明顯的其他所緣。</p>
<p>2.                  <u>修習正念和定力的技巧</u> - 也就是你如何觀照禪修所緣？你是否從所緣生起的刹那到消失都連續而精准地觀照？是否採用標記？</p>
<p>3.                  <u>禪修經驗</u> - 簡要報告觀照禪修所緣的直接經驗。觀照的時候所緣發生了什麼情況？它是否一直在刹那刹那不斷變化？它的流轉、生滅是否像演戲一樣？什麼是最重要的經驗需要報告？整個禪修過程只是思維訓練嗎？</p>
<p> </p>
<p>基於學生的報告，一個好禅師應該給予學生有用的、值得珍惜的點撥，釐清學生修行方向。隨著時間的進展和不斷修習，學生應該回來再度小參，給禪師報告禪修進展。就這樣，通過學生老師之間的互動，通過團隊的協作，會促成學生進步並沿清淨之道奮進。</p>
<p> </p>
<p>請記住上述禪修原理！記住修行經驗只是反映學生的內心狀態。換句話說，內心正念和定力的訓練所獲得的善巧會決定你所經歷、所看見的所緣境的相狀。如果你已經把握內心訓練善巧，深度禪修經驗會自然而然隨著用功而出現。最為重要的是禪修者要學會正確的禪修心法，獲得善巧，而不是過份強調經驗本身。</p>
<p> </p>
<p><u>諸根</u><u>-</u><u>善心所</u></p>
<p>和體能訓練相比，禪修是心靈的訓練，是用於培養高層次的心智。隨著這種善巧的心智訓練的進展，你將能輕鬆地使五根/五力銳利并使之得到調控、平衡。</p>
<p> </p>
<p>什麼是心的狀態或者心所？它是能觀之心的品質或組成要素，可以是善或不善。一個善心所如正念可以促生觀力，而輕安心所可以促生定力。不善心所包括五蓋和貪嗔癡三毒等等。</p>
<p> </p>
<p><strong>心的五根</strong><strong>/</strong><strong>五力是</strong>：</p>
<p> </p>
<p>1.       信根 - 是激發你在禪修中精進的信心或淨信。</p>
<p>2.       勤根（精進根）- 它使禪修所緣顯現動態和使禪修所緣呈現流轉。在內觀禪修中的精進努力被稱為四正勤。</p>
<p>3.       念根 - 四念處禪修中的持續不斷的觀照力，智慧從念處而生。</p>
<p>4.       定根 - 寂止的力量，它聚焦所有心智的力量穿透無明的面紗。這被稱為正定，有近行定和安止定兩種。</p>
<p>5.       慧根 - 又叫正見或慧，由直接洞悉法的真實本質的禪修經驗產生。</p>
<p> </p>
<p><strong>何為正念</strong>？它是完全地活在當下，是時時刻刻都在觀照覺知正在發生的事情。從另外一個角度看，正念也是日常生活中觀照的一種正確心態，涉及身內及周圍呈現的自然所緣。禪修的正確態度有“四不原則”，它們是：</p>
<p><strong> </strong></p>
<p class="rtecenter"><strong>不期待</strong></p>
<p class="rtecenter"><strong>不評判</strong></p>
<p class="rtecenter"><strong>不抱怨</strong></p>
<p class="rtecenter"><strong>不比較</strong></p>
<p> </p>
<p><u>不期待</u><u> </u>- 你在禪修中期待什麼發生嗎？實際這是貪，盼望隨後會出現什麼。未來尚未發生，你決定不了；過去的事已經過去；只有當下才能把握住。</p>
<p> </p>
<p><u>不判斷</u> - 生活中，我們總是在做判斷，這是內心固有的不良習性。我們忙於說一個事情是好是壞，令人舒服還是不舒服。判斷反映的正是貪嗔癡三毒的無明。<u>完全的接納</u>和“<u>如其本然那樣</u>”才是培育觀智所需的正確態度。</p>
<p> </p>
<p>不抱怨 - 抱怨是嗔，是不接受當下所發生的事情。你想避免疼痛嗎？你抱怨旁邊的人的禪修習慣嗎？貪求好經驗和排斥不好的经验都是培育觀智的障礙。</p>
<p> </p>
<p>不比較 - 禪修不是競賽或對抗賽，和別人或和自己比較是一種不善的心態。</p>
<p> </p>
<p>班迪達尊者簡單地定義正念為觀力。當正念有力且伴有很強的定力，一切都會流轉——流轉伴隨有流轉，如同大波浪中無數小波浪的油水分離、水乳交融的遷流，一切源於有定力的正念。正念的發展過程可以簡化成下列方式：</p>
<p> </p>
<p><u>開始階段</u>，觀照的正念弱只伴有一點點定力。</p>
<p><u>中間階段</u>，正念連續伴隨近行定，能夠跟隨所緣——觀智的初階。</p>
<p><u>最後階段</u>，以伴有深定的強力的正念觀照所緣，能看清所緣的真實本質。</p>
<p> </p>
<p>定的巴利詞是Samadhi，就是“寂止”。之所以叫“定”，是因為它寂止，而且遠離五蓋和諸煩惱。沒有正念的定稱作邪定，比如一個神偷去非法打開保險櫃，以深度的定力凝神傾聽轉動保險鎖的磕磕聲。有正念的定力稱為正定，正定不離正念。在佛教中，正定起到輔助正念培育觀智的重要作用。</p>
<p> </p>
<p><strong>以五禪支解析定</strong></p>
<p> </p>
<p><u>尋</u> - 是第一個禪支 (Initial Application)，它將心精准地瞄準、導向目標。你必須作意所緣，尋是心念注意所緣。如果你的心經常跑開，要不斷把心帶回到目標上來。尋也有使心立足並安住於目標的作用。</p>
<p> </p>
<p><u>伺</u> - 是第二禪支 (Sustained Application)，通常翻譯為“省察”或“考察”目標。在尋將心帶向目標並穩固立足後，伺接著使心不斷“摩擦”目標，就像蜂鳥在開花的灌木叢上採食，一遍又一遍反復進行。</p>
<p> </p>
<p>當禪定的技巧達到伺禪支的層次，心眼將會“顯現”并直接看見意門所緣的法麈 (mental object)。它就像一個反映真實目標的鏡像，或者像水中月亮的影像。心眼看到意門所緣，意門所緣是法麈，在根麈接觸的刹那呈現于心識。再者，意門所緣是進入心中的一切法的自然呈現，是随观法或者說法念處——也就是觀照一切自然現象——的觀照目標。随观法而觀照意門所緣的一個妙處是，禪修者可以像看雷達螢幕一樣監視自已的心識狀態，也就是通過觀照禪修所緣直接決定自己禪修經驗 。</p>
<p> </p>
<p>當你正念觀照變得更直觀和精確，觀照的心會變得越來越純淨。五蓋——即欲貪、瞋恚、昏沉睡眠、掉舉、疑法——被削弱或消失，心變得水晶般明淨、安寧和祥和，這是有定的正念的善心狀態的展現。這種明淨的狀態是由尋伺二禪支存在引發的結果。這樣叫作離（Viveka），意即遠離，心遠離了五蓋。離不是禪支，只是一個描述心識遠離五蓋狀態的用語。</p>
<p> </p>
<p>隨著正念善巧的培育，定力將會深化，呈現如下階段：觀禪禪相，寂靜之聲<a id="_ednref2" name="_ednref2"></a><a href="#_edn2">[ii]</a>，寂靜覺知沒有念頭，沉入觀定而經歷如落入睡眠般的感覺。各種觀禪禪相可能從想蘊顯現，可以是靜態的內心圖像，如像一條黑色的繩子，或者像演戲一樣動態的圖像，不斷生起和滅去。</p>
<p> </p>
<p>如同騎自行車的時候我們需要控制和平衡，五根/五力的平衡和調控可以通過三種辦法來實現：</p>
<p> </p>
<p><u>1.</u><u>依次直接平衡</u> - 這是為了讓我們對平衡有所瞭解，明白從信到慧的平衡如何運作，如何隨禪修經驗輾轉增上。也就是說，在一種威儀中單獨側重修某一根，運用不斷嘗試的辦法，通過已建立的正念而全部達到平衡。舉例來說， 馬哈希禪法，經行和打坐交替進行，各一小時。這樣有系統地交替姿勢，為的就是平衡行禪中的精進根和坐禪中的定根。</p>
<p> </p>
<p><u>2.</u><u>共生緣關係，同時進行平衡</u> - 這種方法考慮到諸根可以同時存在。只需要知道哪一根起到主導作用。要瞭解這種方法，需要明白五根是在同一心識中同時升起的心所。例如我們修離執(放下執著），所有五根同時一起生起。再詳細一點，培養正念和定力的心智善巧也就是遠離五蓋的技巧，不管你用什麼禪修方法，無論是止還是觀。這讓我們領悟在八正道中為什麼正念、正精進、正定一起被劃歸於定學。</p>
<p> </p>
<p>3. <u>綜合運用兩種平衡過程</u> - 實際上，為了運用這種平衡方法，五根被分為兩對進行平衡。平衡精進根和定根這一對，可以通過放慢的專注的經行來實現，同時在所有階段以訓練念根為中心。隨著念根在此過程中發揮主導作用，信和慧自然會隨之平衡。禪修的心所中精進根是活躍面，而定根是靜止面，如果二者相互平衡，就會產生激蕩流轉的心識狀態，從而穿透無明的面紗。</p>
<p> </p>
<p>禪修是一種動態的緣起過程，調控和平衡諸根的過程更是如此。因此，平衡必須和修行進展同步，做到在放鬆與懈怠、輕鬆與緊張、平靜的柔和與五蓋的僵硬之間調適而遊刃有餘。</p>
<p><strong> </strong></p>
<p><u>三毒、五蓋、煩惱</u></p>
<p> </p>
<p>心不柔軟源自貪嗔癡三毒，是內心不平靜產生的負面能量。不安的心中存在五蓋與擾動，是不善心所。然而這些負面心所可以通過培養五根五力得以克服和治癒。</p>
<p> </p>
<p>五蓋之所以是不善心所，是因為它們障礙正定，阻礙慧觀，禪修時我們會看到它們張牙舞爪。除非達到了最高成就阿羅漢，否則五蓋和煩惱將會繼續存在，而無論是在禪修營還是在日常生活中都是如此。所以學會如何應對它們才是明智之舉。</p>
<p> </p>
<p>五蓋是：</p>
<p>1)        欲貪</p>
<p>2)        瞋恨</p>
<p>3)        昏沉睡眠</p>
<p>4)        掉舉</p>
<p>5)        疑</p>
<p> </p>
<p>欲貪是對感官之樂或所緣的貪愛執著。這種不善心所就像磁場，像催眠，不斷吸引因而把你拖入其中。你會看到這種欲貪狀態的顯著特徵：像一種難以解除的乾渴、饑餓和欲求那般，不斷想要更多，從不滿足。對禪修者的建議通常是要觀照這種不善心識狀態，而不是觀照所緣。放下執著或離執是觀照欲貪的關鍵。</p>
<p> </p>
<p>瞋恨是不能接受某種情況或某種所緣，結果就是內心無法平靜，隨之而來的是焦慮和躁動。當它生起的時候，你可以快速地觀照內心狀態的變化——燃燒、攪動、緊抓。和觀照疼痛時對待痛感一樣，接受的態度至關重要。不接受、不喜歡只是火上澆油。</p>
<p> </p>
<p>昏沉睡眠是指心和心所的沉重無力，是那種懈怠、遲鈍，拖著你而讓你不想有任何活動，進而落入睡眠。心的沉重是一個指針，心變得僵直、懶惰而不想動。通常它是一種朦朧、模糊的狀態，就像相機沒有對焦。</p>
<p> </p>
<p>提起精進力對治這種朦朧、模糊狀態的不善心所，行禪有助於祛除它。增加幾個身上觀照的觸點並快速重複地標記、開眼看光讓心清新、做幾次深呼吸等等，都能用於克服昏沉睡眠蓋。</p>
<p> </p>
<p>散乱、掉擧 - 躁動、分心、不安都是心猿意馬的症狀，這是由於缺乏內在的平靜。這三種狀態的的共同基礎都是內心的緊繃，由此提供了不善心所生起的根基，妄念不斷的思維和攀緣是此不善心所的常見症狀。</p>
<p> </p>
<p>重要的是在不善心所生起的時候迅速覺照並“截斷它”。一旦覺察到它們生起的症候，即刻正念標記觀照這個所緣（妄念不斷的思維和攀緣）。這種不停的思維會由於這種正念的作用立即停止。這是覺照和觀察的自然結果。一切生起的必將滅去！你會發現妄念紛紛思維和攀緣只是“紙老虎”，是毫無意義的內心對話，在覺知和正念的雷達螢幕上退卻。</p>
<p> </p>
<p>法疑類似站在十字路口的困惑——不知該走哪條路。困惑導致焦躁的思緒和不知怎麼辦。你甚至可能抱怨所修的方法‘沒有用’，或者老師‘不夠好’。但實際是自己內在的問題，卻常常歸咎於他人。</p>
<p> </p>
<p>解決這個難題在於培育信根，當然不是盲目的信心。在禪修中，信心意味著充分信任佛陀的教導、善知識和老師的指導以及自己禪修體會。</p>
<p> </p>
<p>總之，上述的三毒、五蓋和煩惱都是負面和不善心所構成，可以認為是“黑暗的軍團”，是苦的根本原因。從另外一個角度看，他們是滋生病弱的溫床，所以需要糾正。它們也可能變得瘋狂，需要馴服和駕馭。</p>
<p> </p>
<p><u>放下和捨離</u></p>
<p> </p>
<p>放下執著和保持正念是襌俢心法兩種不同的善巧。學會放下，才會全然保持正念，活在當下，自由自在，八風吹不動。</p>
<p> </p>
<p>引用捨棄我禪師在禪師訓練營的最後一晚的開示：</p>
<p><em> </em></p>
<p><em>“</em><em>內</em><em>觀是全然直接的經驗，</em><em>內</em><em>觀中沒有思考的空間，只有好的經驗和壞的經驗。通常人們總是喜歡有更多的好經驗，這叫作貪；排斥壞的經驗，這叫作瞋。禪修者需要學會平等地對待所有經驗而不是在那裏評判。觀照的心必須保持穩固，不要對觀照的所緣起反應。修習正念意味著培養平靜的心，離貪離瞋，建立強大的定力調伏散亂的心</em><em>”</em><em> </em><em>。</em></p>
<p><em> </em></p>
<p>再者，<em>“</em><em>放下</em><em>——</em><em>正念禪修正是學會放下執取、根本改變</em><em>內</em><em>心執著的習性。固有的</em><em>內</em><em>心執取的習性會渴求更多的好經驗，排斥不好的經驗。</em><em>內</em><em>心執取的習性植根於癡</em><em>——</em><em>不知道當下發生的事。學會放下這些壞習慣，必然就要空掉那半瓶髒水，然後裝滿淨水。傾聽身心的聲音，與之溝通，讓心自然地去完成自己的工作，學會利用自然的力量。</em><em>”</em></p>
<p> </p>
<p><u>執取</u> - 源自內心渴愛對感官刺激的反應，正是你的心希望如此。執取不僅是渴愛更多，也包括瞋毒對苦受和相應所緣的排斥。</p>
<p> </p>
<p>放下 - 放下執取或無執正是執取的反面，無貪無瞋。智慧是癡或無明的反面。讓它自然且自動發生，無為而為，接納自然的實相，如其本然那樣！在打坐時，以“無為而為”的方式，只是觀察和看著所緣“正在發生什麼”，觀照的過程真的很簡單，但人們把它弄得太複雜。我們有著固有的習性——執著。</p>
<p> </p>
<p>當你修習放下時，在行禪中，慢步經行變得自動進行，像大洋裏潛流湧起的波浪，經行會變得如此之慢，如蝸牛漫步。自動行禪修到精妙之時，會出現“靜止的流水”這樣的奇妙經歷，如阿姜查的著名教導那般。用佛教名相來解釋，自動經行源於風大突出特性“移動與推動”。</p>
<p> </p>
<p>不過，小心，法友們！修習時用佛法和思維法義來解釋自己的修行和內觀經驗，也是一種執取，會導致落入散亂的陷阱。作者本人有深刻教訓，付出了好些年的代價，直到2014年9月在如來禪修中心（TMC）的禪修營才被著名的荼贊那尊者（Thuzanna Sayadaw) “喚醒”。放下不僅是學會放下執取的過程，也包含配合捨離的善巧——捨離較粗的名法以便修行更上一層樓。例如， 培育放下的善巧以捨離大腦思維、分析、計畫，以進階到用第六識“直覺”的純然覺知 （直觀）。就如倒掉桶裏的髒水裝上新鮮乾淨的水。這正是“過河舍舟楫”的古諺語的意思。就是說禪修中你須暫時放下所學的知識和過去的經驗，只是傾聽當下身心的信號與之溝通，這樣便成為觀禪的上層禪修心法。</p>
<p> </p>
<p>再次強調，放下和捨離促成正念和定力同時生起，在這方面是心智培育的最高善巧。無論是內觀修行中培育有定力的正念，還是在止禪方法中培育有正念的定力，我們用功總是要放下和捨離。以這種心法禪修，我們可以遠離五蓋和三毒，從而進入深定並以清明的覺知洞見諸法實相。</p>
<p> </p>
<p><u>觀智</u> - 在新發現之旅的路上</p>
<p> </p>
<p>2014年1月24日</p>
<p>在從義大利禪修後回家第一天的日常修行中，作者第一次經歷了意識中斷 (black out), 下面是和禪師通訊的電子郵件:</p>
<p><em>&gt; </em><em>發件人</em><em>: <a href="https://web.archive.org/web/20221208072256/mailto:okc281@gmail.com">okc281@gmail.com</a></em></p>
<p><em>&gt;</em><em>主題</em><em>: </em><em>更高的觀智</em></p>
<p><em>&gt; </em><em>日期：星期一，</em><em>2014</em><em>年</em><em>1</em><em>月</em><em>27</em><em>日</em><em> </em><em>14:31:17 -0600</em></p>
<p><em>&gt; </em><em>收件人</em><em>: gooseair</em></p>
<p><em>&gt; </em></p>
<p><em>&gt; </em><em>敬愛的禪師</em><em> </em><em>：</em></p>
<p><em>&gt; </em></p>
<p><em>&gt; </em><em>我在這裏向禪師您報告從義大利回家之後常規修行的第一天早晨體驗名色分別智的新經驗。這次禪修經驗是我個人修行的發現之旅的一個重要里程碑，我在此向禪師報告希望得到確認。</em></p>
<p><em>&gt; </em></p>
<p><em>&gt; </em><em>日常修行的第一天早晨坐禪的時候心比較粗糙，運用培養正念和定力的心智善巧，克服最初的雜念和中間出現的昏沉花了好些時間。在昏沉消退之後，法所緣的流轉突然翻卷了幾次進入黑暗之中。身體的張壓覺受</em><a id="_ednref3" name="_ednref3"></a><a href="#_edn3"><em>[iii]</em></a><em>如閃電般自然粉碎，之後呈現意識中斷無覺知的間歇，接著恢復覺知；隨即想觀察剛才張壓覺受的所緣。還未能</em><em>查</em><em>看所緣，身體張壓覺受的又一次粉碎在身體的另一處發生，又進入無覺知狀態。我的經歷是這樣一種模式：</em></p>
<p><em> </em></p>
<p><em>[</em><em>作意</em><em>- </em><em>短暫意識中斷</em><em>- </em><em>張壓覺受粉碎</em><em>- </em><em>長的意識中斷</em><em>-</em><em> </em><em>了別覺知</em><em>]..</em><em>....</em></p>
<p><em> </em></p>
<p><em>上述括弧裏五種不同名色變化過程，一組接一組地快速重複發生，持續超過</em><em>15</em><em>分鐘時間，如同無數小波浪組成大波浪的生滅流轉，過程中又有過程</em><em> </em><em>(</em><em>一組法生另一組法）。</em></p>
<p><em> </em></p>
<p><em>&gt; </em><em>到了坐禪結束的時候，我認識到剛才發生的情況、是我</em><em>內</em><em>觀禪修中在更高觀智層次的新發現，對嗎？非常感恩禪師的教導，讓學生在禪修營和日常生活中獲益良多。</em></p>
<p><em>&gt; </em></p>
<p><em>&gt; </em><em>以慈心，</em></p>
<p><em>&gt; </em></p>
<p><em>&gt; </em><em>奧利弗</em><em> </em><em>( Oliver)</em></p>
<p><em>&gt; </em><em>發自</em><em>iPad Air</em></p>
<p> </p>
<p>在2014年2月17日的電子郵件中，禪師確認了我的意識中斷的經驗，實際上比第一觀智 - 名色分辨智深很多。</p>
<p> </p>
<p><em>親愛的奧利弗：抱歉這麼晚才回復，我在葡萄牙教禪，把你的信完全忘了。你確實取得了很好觀智的進展。意識的中斷</em><em> </em><em>(black out) </em><em>在較深的</em><em>內</em><em>觀層次經常發生。不要太急於斷定這是不生不滅的無為法。任何新的觀智階次、都可以看作是在新的層次的第一觀智</em><em>——</em><em>名色分辨智。如果意識中斷發生，就讓其反復發生，就會更清楚它們到底是什麼。不要企求也不要厭惡它們。有自信心和好奇心在當下所發生的事件中進行更深入探索，會促使你進步。</em></p>
<p><em> </em></p>
<p><em>以慈心，</em></p>
<p><em>Sujiva</em><em>（捨棄我）</em></p>
<p> </p>
<p>在2014年9月TMC禪修營期間，荼贊那尊者再次確認了上述內觀體驗，是第四觀智以上的高階觀智，是屬於對心識的正知明覺，亦即對心識的清晰覺知。幾個刹那的心識中斷是因為觀照的心沉入了啟動的有分心流。而且此高階觀智亦蘊含下列四種觀智。</p>
<p> </p>
<p><u>第一觀智</u><u> </u><u>- </u><u>名色分辨智</u></p>
<p> </p>
<p>就像廚師切菜，揮動的刀和正在被切開的菜是兩個不同事件。同樣地，獲得第一觀智的時候，你會體驗到觀照的心（名）和被觀照而粉碎的張壓感（色）是兩個事件。由此我們懂得：觀照的心通過覺知而知道被觀照的所緣（腹部起伏）所發生的情況，這兩件事成對出現，僅此而已。從一個刹那到下一刹那，能緣所緣成對發生。</p>
<p> </p>
<p>老實說，在過去的修行中，由於無明產生的蓋障，你只能體會到能緣所緣是同一件事。現在你在清淨之道上遠離了蓋障，有新發現，見到二者是分開的兩件事。第一階觀智開始讓你看到你的修行有了進步，你開始見到一切自然現象都是處在分離、消散之中，顯示刹那刹那的無常。</p>
<p> </p>
<p><u>第二觀智</u><u> </u><u>- </u><u>緣攝受智</u><u> </u></p>
<p> </p>
<p>因為有想動的作意（心意的念頭），才有緊隨的抬腳、彎曲、伸展等動作發生。 你會清楚偵知能緣與所緣的關係，亦即緣起過程中的因果關係。此有故彼有，就如點火，先有火花才有火焰。特定順序的緣起過程就如在空氣中燃燒的燭焰，不斷地一個過程替換另一個過程。作意- 行動- 覺知，關聯的法如此按順序發生，從一個刹那到下一個刹那，從一個過程到下一個過程，不斷進行。</p>
<p> </p>
<p>在過去，你會想“我是”作者，我在行走。如果正念綿綿不斷，功夫成片，你會偵知在行走過程中的每個細微的移動前，都有心念中的作意想要推動，在行走的過程中沒有作者或主宰，由此無我的智慧開始顯現。是作意想走，而心念中的作意來自於心行。在佛法來看，實際是心識使行走發生。第二觀智可用作檢驗正念在觀力方面是否達到功夫成片。</p>
<p> </p>
<p><u>第三觀智</u><u> </u><u>- </u><u>遍知三共相</u></p>
<p><strong> </strong></p>
<p>在這個階次，所有的名色法都在流轉，這是事物的本來面目。觀照的心流和所緣的流轉相隨而行，或是油水分離地流轉中有流轉，或是水乳交融地流轉伴隨流轉。隨著正念和定力的提升，流轉速度會更快更湍急，變成浪潮，最後激濺成閃亮的水珠。在此階段無常的本質變得顯著。連續相（相續密集）破碎，變成不連續的剎那生滅，一個刹那接一個刹那，不斷發生。在過去，無常性被連續相掩蓋，由於無明而誤以為恒常。</p>
<p> </p>
<p><u>第四觀智</u><u> </u><u>- </u><u>生滅隨觀智</u></p>
<p> </p>
<p>隨著遍知無常的觀智成熟，會見到一切法都在生滅。最後，流轉中的一切都會在生起的刹那滅去，消失在黑暗之中。這種對實相的審察遍知，實際涵蓋了對日常生活方面的認知。如果你禪修中觀照所緣的技巧已經很嫺熟，觀照的善巧就自然會延伸到日常活動中，涉及身業、語業、意業。於是你將看到，日常活動皆由名色或五蘊構成，體會到“法就是一種生活方式”，成就“法住智”。 這也被稱為“正知明覺”或者“近入流者”——祗是名稱不同但法義相同。</p>
<p> </p>
<p><u>結束語</u><u> </u>- 禪修老師資格</p>
<p> </p>
<p>在這次禪修老師訓練營裏，捨棄我禪師以下面這段話結束了他的開示:</p>
<p><em> </em></p>
<p><em>“</em><em>在過去，至少要證了初果而開悟的聖者才有資格作禪修老師。但在當代，有這樣素質的老師是難於找到的。今天，你至少獲得正知明覺的四階觀智，即近入流者，才開始有資格教禪修。</em><em>”</em></p>
<p><strong> </strong></p>
<p><strong>備註</strong><strong> </strong><strong>- </strong>休斯頓的奧利弗 (Oliver ) 精進觀禪已愈15年，是捨棄我禪師的優秀學生之一，參加過在美國、歐洲、亞洲的很多禪修營，善於引導他人打好禪修基礎以便進行富有成效的禪修。他長期以來在德州玉佛寺英語組作禪修演講，是休斯頓禪修中心（HMC）的主持人。他發表了數篇有關內觀禪修的文章，並不斷推動人們依法投入實際的修行。如果要獲取更多資訊，請到訪休斯頓禪修中心網頁：<u><a href="https://web.archive.org/web/20221208072256/http://www.houstonmeditationc.com/">www.houstonmeditationc.com</a> </u><u>，或者聯繫奧利弗</u> <a href="https://web.archive.org/web/20221208072256/mailto:hmc281@sbcglobal.net" style="color:#000000"><u>hmc281@sbcglobal.net</u></a> 。</p>
<p> </p>
<p>（湯華俊協助翻譯整理)，</p>
<hr/><div>
<p><a href="#_ednref1">[i]</a> 法和自然可以是同義詞，作者說自然的力量，表示這不是可以執著是你的或我的力量。法對應的巴利詞Dhamma的意思可以指佛陀的教法、自然现象和法尔如是的自然实相（或者说究竟实相）。</p>
</div>
<div>
<p><a href="#_ednref2">[ii]</a> 寂静之声是指在深定的寂静和安宁中听到自然之声，极为敏锐，超越感觉器官。</p>
</div>
<div>
<p><a href="#_ednref3">[iii]</a> 這裡的張壓覺受是指微細的身體覺受，表明有障礙阻礙身體內部能量的自由流動。與之相反的舒適放鬆的覺受表明身體內能量能夠自由流動，使禪修者善攝六根。不善心所總是引起緊張僵直，使心無寧靜；與之相反，善心所總是與柔和平靜相應，如五根五力平衡的狀態。</p>
</div>
</BaseLayout>
