---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
   <BaseLayout pageTitle="禪修心路歷程">
    <p class="rtecenter">
     緣起法則- 什麼樣的學生就會遇到什麼樣的老師
    </p>
    <p class="rteright">
     張貴人口述
    </p>
    <p class="rteright">
     吳上奎整理
    </p>
    <h2>
     前言
    </h2>
    <p>
     幾年前開始對外演講，宣揚禪修的好處利益，諸如身體健康、更年青、修心養性。才發現一般大眾對於自己的實修心路歷程更感興趣，想知道如何開始起而行、如何碰到好禪師等因緣。因此埋下了撰寫此文的動機，希望這篇文章有益於傳播修行的風氣。
    </p>
    <h2>
     摸索階段
    </h2>
    <p>
     筆者在45歲時，在美國因裁員失去工科博士的研究工作，轉行經商的事業已經穩定，生活無虞，於是開始想追求一份宗教信仰，希望能作為未來心靈上的依托。而在美國，基督教是最普遍的，那時經朋友介紹，一位基督教教會長老為我們全家四口，在每個星期天單獨開設了查經班，前後經歷兩三年的時間，針對聖經內容作研讀，畢竟要升起信仰，首先就要對教義作深入了解，那時我經過一段時間的研讀，感覺一切都已經準備好了，內心已開，就如同聖經所說待牧的羔羊，等待親身見證就可接受洗禮，但沒想到，卻是遲遲都等不到那一次親身的見證時刻。
    </p>
    <p>
     在一次偶然機會，探訪工専學生時代的一位學弟，陳清洲先生，他是台塑公司在美國的五位副總之一，家住紐澤西，在他家的書架上，見到一本書由台灣屏東一位中醫生所寫的書，內容是介紹一些基本佛法並結合氣功教學，書中介照了三種簡單的氣功保健功法，勾起了我的興趣，當時就跟學弟要了這本書，並從中擇一最簡單的方法試行，該功法名為鋼瓶氣，就是在早起空腹時，吸氣時將肛門及喉部緊閉後、自然的將空氣吸入灌進胸腹之間，在氣壓到頂時將其維持住，使胸腹之間就如同鋼瓶一般氣壓升高，藉此在胸腹之間形成氣場(注1)，呼氣吸氣時各作一次，每日20分鐘。我在嘗試一個多月後，全身氣場形成，並會發熱出汗，休息幾分鐘後就接續打坐，將形成的氣場收入歸一，於是從此由氣功保健無形中就已轉向禪坐，自然的養成每天早上醒來打坐一小時的習慣，從此不再練習氣功保健。如此練習三年之中，打坐大約一個小時並可以用氣將腿痛自動打通。
    </p>
    <h2>
     功法自然轉入禪修心法
    </h2>
    <p>
     鋼瓶氣的功法前後作了2 -3 年左右時間，，心理開始好奇其他人不知如何努力修行，於是開始詢問有打坐經驗的善知識，這位善知識只教導一句話，打坐時將注意力放在鼻子人中，觀察出入息空氣冷熱的變化。例如吸氣時觀察空氣冷的變化，呼氣時觀察空氣微熱的變化。我就深信不疑如法練習，其中曾體驗到身體消失，如同入定一般。在這個階段只是有定力沒有觀力，所以不清楚出定入定的過程，其實這個方法就是佛陀在菩提樹下成正覺所修的法門、先教導培養定力、後修觀的安般念(注2)，只是當時未知罷了。是後來入了佛門，才知到當時無意中，已經從調身健康的打坐功法走向了調心的禪修心法。前後歷經五年的閉門造車，就更想出去看看大家都是如何修行。在某次偶然機會、遇到玉佛寺的老會友顏憲欽，他介紹兩週後玉佛寺有舉辦三天的禪修講座，邀請TMC禪師達瑪毗亞（Dharmapia) 蒞臨指導（注3），於是好奇地前往參加，在講座開示中，許多禪修術語以及許多巴利文法義，聽的我一頭霧水，惟當時對『正念』一詞，雖未解其意卻覺如雷貫耳印象深刻。回家經過寺廟大殿時無意間看到初級佛學班開課的廣告，於是報名參加了玉佛寺在每週三晚上的初級佛學班，為期三個月，課程中系統化&ZeroWidthSpace;&ZeroWidthSpace;的介紹佛教時空的演化與各教派教義的差別。除了上課外，我每天另外花八個小時在圖書館中藉書研讀，探討佛法、因為有禪坐五年的基礎，専攻禪修入門書籍及相關法義參考書，在此過程中深深覺得、南傳法門實用、容易派上用場解決日常生活中的煩惱，認定佛陀親自教導的法門絕對不會錯，因而選擇了南傳法門、一門深入，一法見萬法。
    </p>
    <h2>
     修行導入佛門
    </h2>
    <p>
     1998年5月份初級佛學班結束時、剛好接上玉佛寺在一次三天假日舉辦禪三，由寺裡的淨海法師指導，淨海法師本身不是禪師，但深入研究南傳方法，那時我依據安般念第二步驟；隨息的方法自行用功，記得最後一天報告心得，我即可以因為定力改變身體的自律神經系統，呼吸次數從正常人的每分鐘10次降為只有一次，脈搏從正常人的每分鐘70次下降到每分鐘只有30次，當時大家對於我的心得報告印象深刻，覺得前所未有，後續就開始有許多善知識來向我介紹各種實修法門，那時主要的有三種，一是瑪哈希的觀腹部上下，二是葛印卡的掃描全身覺受，三是藏傳修行法門。當時我基於三個原因選擇了瑪哈希的方法，一是因為瑪哈希的方法有兩三百年的悠久傳統，培養過許多的開悟者，二是教導的禪師都是正統訓練出身的出家眾，從瑪哈希到烏班迪達到捨棄我禪師，都出版過許多著作，三是全世界有數百萬人在依此修行並得成就。這就是我從安般念定禪轉入瑪哈希觀禪的轉捩點，也因此皈依佛法入門當正信佛教徒，當時因緣殊勝，被邀請參加寺內的佛法研討班及禪修班，保持每日清早打坐行禪2小時之外，持續研讀經論每天8小時、共8年之久，一直到實修體驗佛法超越了聞思所得的理論知識。自此之後不再研讀經論，而只看大禪師實修體驗而得的Dharma Talk (注4).
    </p>
    <p>
     由於定力因素所以容易專注深入經藏，主要選擇研讀實修方面的書。在佛教中，比較清楚介紹實修方法的有三個系統，一是南傳，二是藏傳，三是北傳禪宗，但禪宗幾百萬人努力可能只有一人悟道，實為困難，而南傳方法簡單且實用，是佛陀親傳，所以就選此一門深入，後來連續七八年的時間都在研讀佛典，從講述禪修方法的的清淨道論，修行體證的阿毘達摩論、到四部阿含是我主要的研讀方向，即所謂一經兩論，並陸續參加了讀經班，佛學思想史等等研討班，從南傳北傳藏傳，將佛教演進作系統化的整體研討，並且持續打坐及行禪，但也算在接觸正式禪師教導之前，作了調身與調心的前行、準備工作。
    </p>
    <p>
     介紹我馬哈希禪修法門的是一位己去世的陳美蘭師姐，記得當時玉佛寺有一批精進會員，四處探訪各式的實修法門，並於各地參加禪修營，希望能將方法帶回玉佛寺。曾有會員們參加由答馬匹亞禪師所指導的TMC禪修營，在禪修營結束後，禪師仍繼續跟大家進行每週一次的電話小參，即每週各自在家用功，週末再到&ZeroWidthSpace;&ZeroWidthSpace;玉佛寺心得分享並跟禪師進行約10分鐘電話小參。我那時尚未參加過禪修營，雖有許多體驗但不知如何小參，電話中我想詳述自身經驗並結合一些理論來報告，&ZeroWidthSpace;&ZeroWidthSpace;但每每講到一半就被禪師打斷，因為禪師表示必須要教導我正確的小參方式與內容，再加上語言的隔閡，所以第一次電話小參就花了一個多小時。在經過幾個月的訓練後，我終於在觀腹部的起伏中體驗到四大，現在回想起來，我當時是觀到地大軟硬的特性，軟時像柔軟如蛇腰，硬時有時如同鋼片般的堅硬，跟禪師報告後，禪師即表示可以畢業不用再電話小參了。我當時是玉佛寺禪修班第一個也是唯一一個體驗到四大的學生，於是依此繼續用功。
    </p>
    <h2>
     遇見好禪師因緣
    </h2>
    <p>
     在結束答馬匹亞禪師電話小參的1998年秋天，玉佛寺準備慶祝十週年慶，想舉辦前所未有的七日禪修，並想邀請國際性著名的禪師來教導。人選方面，玉佛寺曾有出家眾四處參訪時，知道捨棄我尊者（Sujiva) 很有名，且玉佛寺弘法組的組長與處長對於捨棄我尊者所著：『智慧禪實修手冊』非常讚賞，於是決定就邀請捨棄我尊者來指導。但多方寫信邀請後皆未獲回應，那時陳美蘭師姐擔任弘法組組長，對於我在修行體驗與佛學英文的程度非常肯定，於是決定將邀請尊者的事情交予我負責。
    </p>
    <p>
     接到此一重大任務後，我誠懇的寫了一封三頁長信，鉅細靡遺的述說邀請的緣起與誠摯的盼望，期待尊者能夠來指導此次七日的禪修，因為尊者在馬哈希系統中極負盛名，長期在馬來西亞教學，在能夠以中文母語指導禪修的禪師中，尊者必定是第一人選。捨棄我尊者當時正在規劃要將禪修推廣到歐洲，並已前往瑞士開展，所以待尊者返回馬來西亞讀到信件，並與其學生助手商量後，決定拒絕此一次禪修的邀請，但回信中，理由是較為婉轉：『國際禪師啟程往美國教導禪修，至少需指導三十天以上的課程，才是較為適當，七天實在過於短暫，尚請見諒』。我當時接到回覆，心理想，三十天當然也沒有問題，不過在玉佛寺閉山門舉辦七天禪修已是前所未有，要延長到三十天是絕無可能的事情，於是我再寫信邀請：『我們可以安排七天&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;的禪修，剩下的時間安排佛法開示或課程研討，將行程規劃滿三十天』，此時尊者第二次婉轉拒絕：『如果研討課程，那麼可以選擇阿毘達摩論，並在我啟程之前，你們必須研讀完成作為基礎』，當時我接到回信後，心想當然沒有問題，恰巧我已經研讀過阿毘達摩，若將禪修以煮菜做比喻，則清淨道論講述做菜的方法，阿毘達摩論則係統性剖析菜餚的味道。於是我回信：『為了準備禪師來教導，我們已有開研討班，由我與另一位師姐帶領，課程是尊者的著作：『智慧禪實修手冊』，並也有研討阿毘達摩論，相信在禪師來之前我們已經做好該有的前行準備』。於是禪師看到我的信件，心想依照佛陀的規定，信眾提出邀情三次則不能拒絕，就答應了此次邀請。並在來到休士頓後，特別就是要來看看Oliver是哪位，可以如此這樣鍥而不捨不屈不撓。
    </p>
    <p>
     禪師來到美國休士頓的第一天，我們帶他到美國太空總署參觀，禪師在門口就向同行師姐打聽我的背景，並在當時就邀請我參加明年(1999)，在義大利舉辦的三十日私人國際禪修營，名額只有五位，即禪師在自己修行時會帶領五位學生，而我就是美國唯一受邀的一位。霎時我聽到三十日的禪修有點嚇到，心想我連玉佛寺的七日禪修都還沒有開始，只有參加過三日禪的經驗，又要跑到義大利這麼遠的地方，心理是著充滿猶豫，但當時禪師跟我說，若你來參加三十日禪，我保證你可以在結束時『體驗到色無常』，我聽到後就非常心動，依據讀經論的經驗， 『體驗到色無常』這個詞彙對我而言有無比的吸引力，於是就毅然報名了此次禪修，但因為時間的關係，只參加了21天。在禪修結束後，就寫了一篇文章：『觀色無常』。
    </p>
    <p>
     當時這篇文章原本投稿玉佛寺，但因宗派之見未獲刊登，於是轉投美佛會訊，並蒙刊載，幾年下來此篇文章也影響了許多人，我本身在十年後回顧，覺得確實此篇文章可作為初學者很好的參考，這樣的細微的觀察色法確實是經典之作。原來當年尊者在一看到我的時候，就已經知道我在此次禪修營後可以完成的目標，並在禪修營開始時就隱然提示需要努力的方向，恰巧我也有此慧根，禪師提示後我就會知道該如何做，當時禪修的第一支香，一坐下來全身的色法就非常豐富的在變化，禪師就指導只要專注在最明顯的一點即可，於是每二至三天的小參，就依據禪師的指導，從一個點色法的變化、流轉、生滅，定力自然地將它擴展到全身。記得在禪修兩週後禪師跟我說：『喔！你已經到了門前了』。聽完這句話，我就開始落入期待，我將『體驗到色無常』了，但如此期待著，就是落入了貪瞋痴的貪心，結果最後一周的禪修直到結束，我的進度就停頓在那裡。心法就是如此奧妙，想抓取就抓不到，放下不去抓取反而自然的出現。後來禪修營結束後，失望地搭機返美，當飛機經過阿爾卑斯山脈，我剛好睡醒，就在此時色法在全身的變化非常純熟約一小時，在那一刻，我就體驗到色無常了。
    </p>
    <h2>
     正規觀禪訓練
    </h2>
    <p>
     自此次因緣以後，除了每天自行用功，打坐行禪三至四個小時以外，我每年固定會參加兩次禪師舉辦的國際禪修營，每次三周到一個月。禪師教學足跡遍布歐洲與世界各地，前後十年，我跟著禪師去過義大利、瑞士、匈牙利、索馬尼亞，最遠則到過澳洲兩次，期&ZeroWidthSpace;&ZeroWidthSpace;間也有邀請禪師來到美國教學，並在玉佛寺的協助下，歷經特殊的過程，極難得的為禪師在美國取得五年的宗教簽證。每次想到我能夠接受這樣的一位禪師親身指導，真是非常慶幸有這樣的福報，並令人感到非常的榮耀。畢竟禪師在全球講中文的華人圈，說屬於最優秀的禪師絕對當之無愧，即使在以英文教禪的老師當中，也是聲名遠播，被形容為初升之朝日，耀眼光芒。
    </p>
    <p>
     捨棄我禪師的教法非常的活潑與多采多姿，他同時擁有很多不同的天份，而且他教導的學生有人開悟，舉例來說，在教學生坐禪時，他的心識常沉浸於禪定之中，超越時空、貫穿陰陽，在前世今生數百年之間觀察他個人的因果緣起關係，如同俗稱先知一般，知過去亦能測未來，如果覺知需要幫助的學員，像是學員身體孱弱、生病等各種情況，他就散發慈悲心來幫助他。且不論各種修行法門，從修觀修定或修禪宗，甚至學員各種不同的個性，禪師都能信手拈來因材施教，都有不同方法給予指導，甚至許多遇到瓶頸已久的學員，都能在禪師的帶領下豁然開朗，繼續向前邁進。
    </p>
    <p>
     禪師講法開示的時候，會將心識與大自然結合．由大自然法界透過他的身體來講真實法，不需任何準備卻可以滔滔不絕，深入淺出且獨樹一格，每個學生在聽時都感覺到禪師是完全針對自己的修行需要在講解，能在開示之中不斷的被點醒並有所體悟，所以他的開示廣受歡迎，甚至很多人即使時間關係無法趕上禪修，也都特別要趕來聽禪師的開示。
    </p>
    <p>
     另外在與禪師小參的時候，以我個人的經驗，禪師會在第一次的小參，就將此次禪修的重點、方向，以及此次禪修將完成的成果、隠約地、在有意無意之間加以點橃、提示，然後學生就依此努力修行，這樣下次小參時學生就可以報告努力的成果，禪師則再給予進一步的指導。禪師舉辦禪修營時永遠都是客滿，且因為禪師本身希望每次不要教導太多的學生，大約二十至三十位是理想的人數，他可以很好的照顧到每個學員。當然，禪師舉辦的私人禪修營無疑更為殊勝，每次只收四到五位學生，禪師在自己修行之餘給予接近一對一的指導，無疑私人禪修營當然是進步的更多更快，並在禪修期間，會跟禪師如同朋友一般聊天，而在聊天之中，聽到禪師有意無意的談話，總會讓人若有所悟，如同醒過來一般。
    </p>
    <p>
     近幾年捨棄我禪師因為年事漸高，從2014年在義大利舉辦禪師訓練營後，已開始準備退休並將教禪的責任慢慢放下，這兩年有安排私人假期，例如前往美國，中國大陸等，有時並會順帶指導禪修，禪師喜歡去看高山、喜歡看風景，在能量豐沛的大自然中，禪師常說大自然就是他的老家。看來禪師會再從事教禪的時間已較有限，大家若有機會一定要好好把握。他是我一生之中遇到的第一個好禪師。
    </p>
    <p>
     從2010年後由於年齡關係不再參加國外的襌修營，轉向到加州TMC的禪修中心，偶然一次，遇到生命中第二位重要的禪師，蘇善那尊者（Thuzanna) ，他與捨棄我禪師是師兄弟，同為烏班迪達尊者的髙材生，並且也是很有名氣的禪師。他的小參跟捨棄我禪師類似但方式卻略有不同，他在聽完報告後，會先用巴利文的法義點撥/提示，再用英文講解一次，簡簡單單一句話卻能將整個問題的核心點出，而聽完之後，我就會知道該如何努力，下次小參的時就可以作成果報告，從蘇善那禪師處所得到的收穫可說與&ZeroWidthSpace;&ZeroWidthSpace;捨棄我禪師不相上下，每年九月時我都會很固定前往加州參加一個月的禪修，自2010持續下來也參加了五年。
    </p>
    <p>
     加州TMC是目前美國教具規模的禪修中心，依據財報每年約有30萬美金的收入，1/3來自禪修營，2/3來自信眾捐獻。 TMC每年舉辦4-5次的禪修，依據慣例，每次禪修營會有一位主要禪師與兩位年輕助手，由三位禪師輪流給予學員&ZeroWidthSpace;&ZeroWidthSpace;小參指導，個人體驗是如此小參因為較沒有持續性，且兩位年輕助手經驗較不豐富，所以指導效果有限，但每年九月的禪修營則較為特殊，由蘇善那一位禪師從頭帶領至尾，這樣就有持續性，我每次就會收穫豐富，所以我僅固定參加九月份的禪修營。其他TMC亦有舉辦由如烏班迪達大禪師帶領的禪修營，但本身因緣不足從未參加過，不過大禪師所舉辦的禪修營，動輒有一百多人參與，每次學員能分配到的時間較為有限。所以我較傾向參加蘇善那，他可以花在每個學生上的時間較長。以上講到，蘇善那就是我生命中遇到的第二位重要禪師。
    </p>
    <h2>
     禪者個人心性
    </h2>
    <p>
     談到個人修行進步的快或慢，除了老師的原因之外，另外最大因素就是學生本身的心性，一般所謂的心/心識、它不是你的心識或是我的心識、它本來自大自然法界的有分心識，包括了性格與根器。在這裡介紹另外一位法師的因緣，前文提到介紹我馬哈希禪法，與我最熟悉的法友，陳美蘭師姐，她十多年前回台灣參訪台南開元寺時，認識一位護法法師，他來自尼泊爾，當時在台南開元寺教授佛學課程，法師定禪基礎不錯，年紀很輕，聰明且具有很高的語言天份，曾將一套四部阿含由巴利文翻譯成英文，是世界少數能很好的將巴利文經典翻譯成英文的法師之一，法師並精通悉檀文，悉檀文是當時佛陀時代所使用的文字，目前全世界精通悉檀文的只剩下三位，所以法師也算是佛教界國寶級的人物。
    </p>
    <p>
     法師表示，當每個人的姓名使用十年以上，他的業力就會成形，然後法師就可以依據你的名字，無論是中文或英文(注5)，翻譯成悉檀文，從美如畫的悉檀文就可以看到每個人的五種命格：分別是信根、慧根、慈悲、財運、健康，當時陳美蘭師姐將法師邀請到休士頓，護法法師替我算時，當場嚇了一跳，因為我這五項命格都非常好，最重要的是，信根與慧根都很好，一般而言，信根強則慧根弱，容易盲從，而慧根強則信根弱，容易多疑，但我這兩個都非常好且非常平衡，所以他對於我特別印象深刻，關於這方面，從歷來在接受禪師指導時，深信不疑地努力練習，這是信根強，而從禪師稍稍點撥中我就能了解禪師深意，這是慧根強，所以進步就會很快。所以修行的快慢，老師是一個條件，個人的心性是一個條件，其他再加上禪修中心的資源硬體、護法義工、氣候飲食等共同因緣，就形成修行速度快慢的成因。
    </p>
    <p>
     另外引用其他兩位禪師對作者個人心性的看法，捨棄我禪師講述我的心性，他說修行都是心的問題，而我心的本質跟其他人很不一樣，我的心性如同電腦軟體程序，會按部就班的將資料輸入，然後系統就會將結果輸出．修行時接受禪師的指點，我就會按部就班的努力，就如同將資料輸入，然後修行就會取得成果，就算輸入一次不行，一次次努力後也一定可以成功。而蘇善那禪師，因為五年來與他接觸只有禪修期間，小參時會單獨接觸，原本有想邀請禪師到休士頓菩提中心教禪，但同樣是宗派之見未能成行，所以也沒有建立進一步的私人關係，也未能了解他對我個人的看法，一直到今年我的女兒與我一同參加禪修，從女兒口中才了解他對於我個人的評語，他說我是一位心力非常強大且充滿正能量的人，意即非常契而不捨，一旦決定就會不畏困難努力直到成功，從讀書、工作到自己經商、禪修都是如此，也因此在各方面都取得不錯的成績。
    </p>
    <h2>
     結論
    </h2>
    <p>
     禪修的過程、走在清淨道上、或在古仙人道上，它本身就是緣起、緣㓕地因果關係，依循緣起法的自然法則運作。修行觀禪、首先觀察所緣境不斷變化的本質(the nature)、再進而依序觀察所有自然現像如何升起、如何消失的緣起過程（the process)。什麼樣的學生就會遇到什麼樣的老師，反之亦然，什麼樣的老師就會遇到什麼樣的學生，都是緣起法則的運作。禪修不論是止禪或觀禪、無論是頓根或利根，禪者自身的心性及禪師素質扮演了兩項最重要的因素。觀禪或是智慧禪，簡單的說、即是身心靈合一、大自然法則的展現。尊循佛陀的教導、法隨法行、成為正信的佛弟子，實踐聞思修證的基本教義。親身體證解行並重的內觀智慧、正知明覺的法住智、解決日常生活的煩惱。觀禪最終目的，學會使用大自然的力量，證得三明六通、圓滿戒定慧三學。
    </p>
    <p>
     致謝- 拜現代科技之賜，台北的吳上奎師兄與休士頓的Oliver兩岸相隔，得以免費視訊，囗述整理這篇文章。無限感謝吳師兄的文筆及Flying Fingers打字技術、在短短的兩星期之內，完成此文。
    </p>
    <h2>
     註解
    </h2>
    <p>
     1) 氣場：東方人所謂的氣、其實就是色法中微細的覺受、為四大所的色聚及能量的組合，它由四種因素生成，即有分意識帶來的業、上意識、營養的養份、及時節的冷熱。觀禪中的身念處以四大的身體覺受為所緣，心眼及覺知（awareness) 可看到/觀到名色法及五蘊，而開展身受心法的四念處。
    </p>
    <p>
     2）安般念：第一步驟、數息：由一數到十培養定力，待定力加深，可保持數息念頭不間斷，即放棄數息，進行第二步驟，隨息：將注意力跟隨息的變化，待定力加深，能觀的心與所緣的變化可以同步，則進入第三步驟：止息，即進入安止定，隨後三個步驟都是觀禪的領域。
    </p>
    <p>
     3）TMC為班迪達禪師系統在美國San Jose 的馬哈希禪修中心。
    </p>
    <p>
     4）實修多年之後才體會到經論所說的每一句話、皆可親身體驗。原來所謂的經論、就是佛陀及其正弟子實修的論述、而指出努力的方向，讓佛弟子法隨法行，依聞思修方式，證得戒定彗三學。
    </p>
    <p>
     5）當時護法法師算的是我的英文名字：Oliver，這個英文名字是我考上預官化學兵第一期，自己取的名字，當時台灣化學兵預官名額只有十位，這是很光榮的事情。那時我們預官學校校長有邀請美國軍官的太太來幫我們開英文課，上課時要先選一個英文名字，我那時就覺得Oliver張叫起來很順口，就選了Oliver，來美國後才發現Oliver是老派美國人愛用的名字，年輕一代已很少人用，來美國後久而久之，大家都直接稱呼我Mr. Oliver，就好像變成我的姓氏一般了。
    </p>
    <footer>
    </footer>
    <!-- /.block -->
    <!-- /.region -->
   </baselayout>