---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "正念的練習與應用",
  description: "",
  image: null,
  canonicalURL: "/web/20231130010450/http://www.houstonmeditationc.com/?q=zh-hant/node/56",
};
---
<BaseLayout
  title="正念的練習與應用" description="" canonicalURL="/web/20231130010450/http://www.houstonmeditationc.com/?q=zh-hant/node/56"
>
  
<h1 class="page-title">正念的練習與應用</h1> <div class="region region-content">
<div class="block block-system" id="block-system-main">
<div class="content">
<span class="rdf-meta element-hidden" content="正念的練習與應用" property="dc:title"></span><span class="rdf-meta element-hidden" content="0" datatype="xsd:integer" property="sioc:num_replies"></span>
<div class="content">
<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter" dir="ltr"><strong>禪修心法的技巧</strong></p>
<p class="rtecenter"> </p>
<p class="rtecenter" dir="ltr">英文作者：張貴人/Oliver</p>
<p class="rtecenter" dir="ltr">中譯 - 吳上奎</p>
<p> </p>
<p dir="ltr">正念或念<u>住</u>，它不是正確的念頭，而是種禪修心法的技巧，也是觀禪的中心。那麼、正念的真正含義是什麼呢？正念一詞出自於2500年前佛陀的教導，並由當時的語言巴利文SATI 翻譯而來。雖然平時大家對於提起正念一詞都是朗朗上口，但聞思所得的理論知識跟實修親證畢竟完全不同，如同單純看書學不會游泳，一般人也難以跟色盲的人說明種種顏色有甚麼不同，佛法之難傳就在於只有透過親身練習，研究並實踐，我們才能真正瞭解正念，也才能應用於生活之中。</p>
<p> </p>
<p dir="ltr">常常當我們自謂具有正念的時候，其實是對於自己實際的內心狀態，並未真正的觀察與了解，若我們真正具有正念，我們將觀察到內心其實是如此的散亂掉舉與心猿意馬，所以空談無義，口頭上的正念其實僅只於表面說說，就像是身口意變成三套，這樣表面上的正念無法應用於生活之中。</p>
<p> </p>
<p dir="ltr"><strong>正念的定義</strong></p>
<p dir="ltr">當能觀之心清楚，清淨、柔軟，我們將遠離於五蓋，沒有貪瞋痴，此意識狀態我們即稱為正念的善心所。換句話說，一個提起正念的禪觀者，於日常生活中當下全然覺知一切，觀察心識的變遷，如同觀看場景迅速更迭的舞台默劇，清清楚楚了了分明，具體而言，正念的基礎定義就是『明覺』一詞 （Clear Awareness)，全然覺知當下 (註1）。</p>
<p> </p>
<p dir="ltr">正念的善心所具有下列三種特質：</p>
<ol><li dir="ltr">
<p dir="ltr">清楚/澄徹：正念的觀禪如同純淨的水，所有觀察對象將變得透徹且生動明晰，並能夠深入細微的自性流轉，伴隨明覺的洞察力。此處的相反詞是妄想、遲鈍與懷疑，如同昏暗且烏雲密佈的天氣。</p>
</li>
<li dir="ltr">
<p dir="ltr">清淨：清淨之心是寧靜的，面對掉舉的劇烈攪動亦能平靜以對，帶有定力的功能。此處的相反詞是慌亂，是由瞋心支配的不善心所。如果我們正念專注使心寧靜如同平靜的湖水，那麼將可以體會到強大的喜樂與寧靜，並進入長時間的安止定。</p>
</li>
<li dir="ltr">
<p dir="ltr">柔軟：正念的第三個特質是如同棉絮與流水般柔軟，此處相反詞是緊張與僵硬，來自於三毒與五蓋。正念柔軟的特性將使我們對於所緣境的觀察變得更加敏銳。</p>
</li>
</ol><p> </p>
<p dir="ltr"><strong>正念的練習</strong></p>
<p dir="ltr">在修習的過程中，正念是用來提昇敏銳覺知/洞察力的技巧，進而調伏散亂的心，讓心識發揮它本具無限的功能，而為己所用。在多數狀況，我們的內心並未住於當下，但起心動念其實至關重要，它決定了觀禪的結果，相由心生，境為心轉。通常我們在回憶過去與期盼未來花了過多的時間，取而代之的，必須將重心放在<strong>四不的準則</strong>，這是加強正念訓練的核心指導技巧，具有正面的效果與幫助，所謂四不基本準則即是：</p>
<p> </p>
<ol><li dir="ltr">
<p dir="ltr"><u>不期待</u> - 只專注於禪修的當下，過去的已成定局，未來的尚未發生，流連於過去與期盼未來都將無濟於事，只有當下才是我們所能夠把握的。</p>
</li>
<li dir="ltr">
<p dir="ltr"><u>不評論</u> - 無分別地平等對待所有的現象，不論好壞全然接納，如實觀察，專注在明覺所縁的目標，別為煩惱之心火上加油。不評論將會帶來直觀的禪修體驗，使內心深入探索各種無限的可能，此種正確的禪修方法，最終將使我們觀察到事物的實相。</p>
</li>
<li dir="ltr">
<p dir="ltr"><u>不抱怨</u> - 抱怨是瞋，是不接受當下所發生的事情。你想避免疼痛嗎？你抱怨旁邊的人的禪修習慣嗎？貪求好經驗和排斥不好的經驗都是培育觀智的障礙。</p>
</li>
<li dir="ltr">
<p dir="ltr"><u>不比較</u> - 禪修不是競賽或對抗賽，和別人或和自己比較都是不善巧的心態。</p>
</li>
</ol><p> </p>
<p dir="ltr">班迪達尊者簡單地定義正念為觀力，當正念有力且伴有很強的定力，一切現象都會流轉 , 流轉中伴隨流轉，如同大波浪中無數小波浪的油水分離、水乳交融的<u>正念的練習與應用</u>遷流，一切源於有定力的正念。</p>
<p> </p>
<p dir="ltr">正念的發展過程可以簡化成下列方式：</p>
<p> </p>
<p dir="ltr">                         <strong>覺照</strong><strong>- (</strong><strong>能所</strong><strong>)</strong><strong>跟隨</strong><strong> - </strong><strong>禪觀</strong></p>
<p> </p>
<p dir="ltr">正念的力量首先來自於將心念作意投向所緣境 （註2a），以此引發正念與明覺，當正念與明覺隨之繼續培育成長，此能觀之心將持續流轉，明晰且無間斷的跟隨所緣，並能清楚區分能知之心與所緣之境，然後我們或可確認毗婆奢那的禪觀已具有正知明覺，超越既有的概念，如同潛水員深入水底，如實觀察自性的本來面目。</p>
<p> </p>
<p dir="ltr">正念是止觀雙運、由定力與觀力相輔相成的寧靜心識狀態，更具體來說，內觀禪的中心就是在坐禪、行禪與日常隨觀中皆提起正念，正念的禪修將提昇專注力，並自然的使心識集中且具有正念，即使是修習定禪也必須培養正念以調伏五蓋，並依此獲得安止定或三昧，而此具有正念的定力我們即稱之為正定。由觀禪的念住所培養的定力，我們可形容為帶有定力的正念，所以不論是從定禪或者觀禪入手，只是止/觀先後順序的不同而終點是一樣的。</p>
<p> </p>
<p dir="ltr">培養正念是內觀智慧禪的中心，其核心價值，是以正確的心態或運用四不基本凖則來明覺觀察所緣，修禪的善巧在於：<u>有什麼 </u><u>(</u><u>現象發生）就觀什麼</u>，無論是色法的身體行動或者名法的心/意/念現象，每當查覺到名色法正在運作或消失，那就是當下的禪修所緣。正念僅是純然的觀察禪修的所緣，其訓練的技巧，就是以正確的心態來明覺所觀察的所緣，這純然的觀察是由下列三種善巧所組成：</p>
<p dir="ltr">- 首先提昇明覺的洞察力，查覺到名色法以作為當下的禪修所緣，</p>
<p dir="ltr">- 自然的提起正念，以具有正念的正確心態來觀察所緣，</p>
<p dir="ltr">- 以具有正念所伴隨升起的定力來穿透所緣，除去無明的面紗。</p>
<p> </p>
<p dir="ltr">當你善用上述正念的三個技巧，即是在培養與平衡五根五力的善心識 (註2b)，依據大念處經記載，此善心識可以破除因五蓋與無明所升起的不善心所，可以超越憂悲苦惱。</p>
<p> </p>
<p dir="ltr">如何覺知貪瞋痴三毒或五蓋的煩惱障呢？</p>
<p dir="ltr">- 當我們渴望擁有更多好的經驗，且多多益善，或尋覓未擁有的，那就是貪。</p>
<p dir="ltr">- 對現況或正在發生的現象厭惡、拒絕且不接受，那就是瞋。</p>
<p dir="ltr">- 對現況混鈍不明、不清楚當下正在發生的剎那生㓕，那就是癡。</p>
<p> </p>
<p dir="ltr">只有明覺之心才會遠離貪瞋癡，明覺來自於正念的訓練，修習時若我們感覺疲倦，代表方法上已發生錯誤，亦即在練習中沒有保持正念，每當查覺到自己已經失去正念，這種明覺洞察力本身其實就是提起正念，此時可以重複檢視自己禪修心態是否正確。</p>
<p> </p>
<p dir="ltr"><strong>放下執著</strong></p>
<p dir="ltr">放下執著是指捨離執取，而非指捨棄資產或者財富。心非常微妙，要抓就抓不到、不抓它自己就會出現，抓或執取便是貪瞋痴三毒的根源，放下的禪修技巧用於捨離三毒與五蓋。相較於正念，放下執著是更高層次的內觀技巧，學會放下執著，才能脫離纏縛而覺知當下，自由自在，八風吹不動。</p>
<p> </p>
<p dir="ltr">在此引用尊者慈濟瓦禪師 (Bhante Sujiva) 於2014年義大利禪師訓練營中的開示：</p>
<p dir="ltr">『內觀是全然直接的經驗，沒有思考的空間，只有經驗的好壞不同。通常人們渴求更多好的經驗，這是貪；厭惡壞的經驗，這是瞋。禪修者需學習平等對待所有經驗而不評判。觀照之心必須保持平穩，心不為境轉，勿隨所緣起心動念、而為外境帶著走。修習正念即是培養止寂之心，建立強大的定力調伏散亂，於貪瞋束縛中得到解脫』</p>
<p> </p>
<p dir="ltr">放下執著，修習正念以捨離固有的不良習氣。固有的不良習氣總渴求更多的好經驗與厭惡壞的經驗，其根植於愚癡，蒙蔽心眼，使我們未能覺知當下。學會放下這些不良習慣，空掉我們那半瓶髒水而重新注入純淨的水，學會傾聽，學會與身心交流，利用自然的力量，讓來自大自然的心識自然運作。</p>
<p> </p>
<p dir="ltr">執取的反面即是放下與捨離．無貪亦無瞋，而愚癡與無明的反面即是智慧。全然的接受一切吧，就讓事物自然而然的發生，所謂"無為而為"，觀照的過程是如此的單純，在坐禪時，就只是單純的觀照所緣當下的變化，別沿襲了固有的貪、瞋不良習性，而將單純的事情複雜化。</p>
<p> </p>
<p dir="ltr"><strong>執取</strong></p>
<p dir="ltr">因為內心渴求感官刺激的反應，所以貪愛升起，但貪愛不僅是渴求更多，也包含了瞋毒對苦受與相關現象的排斥。</p>
<p> </p>
<p dir="ltr">在正念的修習中，計畫、思考與分析同樣是一種執取，會阻礙到觀力與智慧的升起。</p>
<h4 dir="ltr">請謹慎呀，法友們！套用法理的思維來解釋自己的實修與內觀經驗，也是一種執取，會將行者帶入散亂的陷阱之中。作者本身對此即有深刻教訓，並付出了好些年的代價，直到2014年9月在如來禪修中心（TMC）的禪修營才被著名的荼贊那尊者（Thuzanna  Sayadaw)  “喚醒”。</h4>
<p> </p>
<p dir="ltr">若我們在修習時，刻意掃瞄全身使身體特定的覺受升起，而作為觀察的所緣，真正來說也是一種執著，因為這樣的所緣其實是因為心念作意讓它發生，而不是自然的依緣起法則升起。在高階禪觀層次，禪修者應捨棄這種禪觀的方式，如同捨棄標示禪修所緣的初學技巧，轉而練習放下執著、並讓覺受自然的升起而觀其如何變化的本質，應如實的觀察其本來的面目。</p>
<p> </p>
<p dir="ltr">同樣的，為了各式各樣的目的，用意念導引能量流轉或者『有為法』氣功也是一種執著，若形容執著是以貪與瞋助長無明，那麼反過來說，放下執著即是在熄滅煩惱。</p>
<p> </p>
<p dir="ltr">我們有三種方式可以克服對貪瞋癡三毒的無明執著：</p>
<p dir="ltr">1.<u>相互對治</u></p>
<p dir="ltr">善心與不善心所不能同時存在，經由觀力來培養五根五力的善心識，或者經由修習定力的五禪支，我們都可以依次克服五蓋所產生的不善心識。</p>
<p dir="ltr">2.<u>石頭壓草</u></p>
<p dir="ltr">當我們的心識處於寧靜明覺，煩惱將被壓抑，在這裡是指我們依據觀禪或者禪定的力量來抑制煩惱的升起，如同將墊腳石壓在野草的上面，一旦墊腳石移除，那麼野草就會繼續恢復生長。</p>
<p dir="ltr">3.<u>斬草除根</u></p>
<p dir="ltr"><u>毗婆</u>奢那的目的並非要壓抑或停止我們的念頭發生，而是當念頭升起時必須清楚明白，這即是禪修的練習。禪修者若對於心/意/念的觀禪目標抗拒則落入瞋，相反的，我們應該明覺觀察念頭的生滅過程與活動，煩惱心來自於覺照心識的起心動念，於六根門產生五蘊的執取與所有的身心活動。俗話說，在那裡跌倒就在那裏爬起，如同馬哈希尊者對於信眾所開示：<u>煩惱在那裡升起，</u><u> </u><u>就在那裡用功克服。</u>換句話說：保持正念善攝六根，即是消除煩惱的唯一道路。</p>
<p dir="ltr"><br/><strong>正念的運用</strong> <strong>- </strong><strong>正知明覺</strong></p>
<p dir="ltr">正知一詞由巴利文的Sampajana翻譯而來，意同清楚的覺知或者明覺，並常與正念一詞相提並論，正知明覺為生滅隨觀的第四觀智以上。 簡單來說，心為前導，即是在平日身語意等一切行為之前，清楚的覺知其背後的動機。所以基本上，正知的練習即是在日常生活中修習正念、知行合一的學以致用，不僅展現身口意合一的正語善行，而且自然地可以克服日常生活中的憂悲苦惱。</p>
<p> </p>
<p dir="ltr">如果正念的力量已足夠使心識克服五蓋或者抑制三毒，此時心識於禪觀中將維持寧靜的狀態，在此種狀態下，覺照/觀察力就可以自然的擴展到日常生活之中，並觀察到身語意其實皆是由名、色法或五蘊所組成，我們將了解到『法』才是正確的生活方式。此種觀智即稱為『法住智』，『具足正知』或『預流者』，三種不同的名詞具有相同的意義，即是我們的觀智已達到了知行合一的解行並重。</p>
<p> </p>
<p dir="ltr">在如實且用心的修習下，正知具有四種正念禪修的技巧，此處簡單介紹如下：</p>
<p> </p>
<p dir="ltr">1.善意的動機</p>
<p dir="ltr">若正念的功夫已經成片，綿密持續，在行禪中，我們將可自然覺知到每一小幅度的腳步之前，都先有一個『去推』的念頭，這是『走』的動機以及『想去推』的心意念頭，此為來自行蘊驅策的主動行為。如同火炬之前先有火花，即在每一小幅度的腳步中，內心裏似乎都有一個細微的聲音重複說著，"推、推、推"，這個例子對轉念做了最好的說明：我們可以清楚的分辨能/所的差別，分辨緣起過程中的原因與結果，所謂此有故彼有，這是確認是否達到第二觀智的條件，即是確認正念是否持續而不間斷。</p>
<p> </p>
<p dir="ltr">2.如理作意</p>
<p dir="ltr">在合宜時機及埸所的適當言行，是由明理作意於所緣而產生的副產品。我們以心為前導 （註3），經由內在的身心現象轉為遵循外在現實的道德規範，不僅『<u>轉念</u>』而已且付諸 行動，<strong>所謂境為心轉</strong>，持戒善語正行，我們通過日常的行為模式，使身邊周遭的一切關係發生改變、和諧。</p>
<p> </p>
<p dir="ltr">3.業處清明(正念於目標)<br/>
工作業處就是禪修所緣的身心現象在身內運作的範圍，同時也表示洞察力明覺敏銳的程度。每當觀智成熟、身心現象的名色法自然地擴展到全身，從身上任何一點進去、所觀的名色法都是一樣，一法見萬法。<br/>
具有正定的正知，在此階段觀禪的所緣將由一境性的一點擴展到全身，所謂從一境性的念住觀禪所緣。在此純熟的觀禪下，全身彷彿變為半透明的能量波浪流轉，而明覺的範圍亦將自然擴展，遍及坐禪與行禪每一微小動作之中，如同牽一髮而動全身，無論在坐禪或行禪，敏銳的覺知力自然能查覺名色法運轉於全身，此明覺並將自然地延伸到日常生活每一個身口意之中。</p>
<p> </p>
<p dir="ltr">4.透徹、解行並重的智慧</p>
<p dir="ltr">在正知明覺層次，解行並重的內觀智慧於日常生活行住作臥四威儀中，實証身口意的名色法實相如下：</p>
<p dir="ltr">                                   ......［動機 - 行為 - 覺知］......</p>
<p> </p>
<p dir="ltr">舉例而言，將手臂每次伸展和彎曲的移動作細部分割，像是被拆解粉碎，無常相從這個剎那生滅到下一個剎那，不只是伸展和彎曲，當我們拆看身體的每一個動作，剎那間，先有動機去驅動動作；再剎那間，覺知下一個將進行的動作，這是如實的實現佛法的生活方式，萬物自然的無常相在此變得如此清晰，所謂斷相續，就是所有事物是一個接一個剎那生滅，打破有常的相續觀念，如同過往經驗，無常就是被相續性的觀念所掩蓋，所以稱為無明的"有常"。此階段的觀智稱為審查遍知智，可以在日常生活方面輕易的體現出解行並重的智慧。</p>
<p> </p>
<p dir="ltr">一個剎那是佛法裏最小的時間單位，是任何現象本質剎那生、住、滅的過程所需時間，我們可以想像此過程的緣起法性、如同燭火在空氣中閃爍，不斷的經歷一個個的剎那生滅，從一組法象到下一組法象，從一個剎那到下一個剎那，從一個過程到下一個過程，如同大波浪的生滅是由無數小波浪的生滅組成，再到下一個大波浪的生滅過程，同樣的，在以正念觀察此過程的修習之中，無我的本質是如此明顯，破相聚密集，無明表相是我、我的人在做這些動作，但觀禪實相是心意的心念促成這些動作發生 ，而且心意是無數剎那心識在意門升起的心路歷程，一代一代色法的法聚持續的在六根門生起而產生這些動作。</p>
<p> </p>
<p dir="ltr">向來我們因為錯誤的認知與無明，將察覺動機、行為、與覺知等等名色法都當作糾合為一團的單一事件。在知行合一正知這個階段，日常行為中的明覺與洞察力，超越了一般人眼耳鼻舌身的五種感官覺知，脫胎換骨似的體証美好生活經驗，正念禪修或者毗婆奢那的目的，就是為了根本且永久性的轉變我們的五官覺受與認知經驗，此觀智稱為法住智，簡單意指我們在生活中一切經驗的全然革新。</p>
<p> </p>
<p dir="ltr"><strong>結論</strong></p>
<p dir="ltr">觀禪修習正念主要目的在提昇明覺敏銳的洞察力，依循前者為因後者為果的自然緣起法則，法隨法行，增長如法而活的內觀智慧，運用於曰常生活中止息煩惱，持戒善語正行。</p>
<p dir="ltr">在過去15年間，修習正念已經成為心理學、神經科學以及醫學上的主流。科學研究已成功發現，修習正念的心智訓練可以改變大腦的功能與結構，並對心理，大腦以及整個身體有積極的影響。目前全世界超過600家醫院成立正念診所來治療身體緊繃、壓力、心理緊張等相關疾病。並將修習正念的基礎心智技巧廣為宣導，用於放鬆緊張、降低壓力及緩和心理疾病等等。</p>
<p> </p>
<p dir="ltr">現代科學已證實了歷史悠久的正念與禪觀的修習力量，這對醫生及禪修者而言，是如此重要且令人振奮的消息。緬甸比丘Eindaka禪師曾在主持休士頓一日禪的開示中，分享了他個人第一次參加緬甸仰光馬哈希禪修中心49日密集禪修的經驗。他在每天清晨4點起床並於晚上10點就寢，在這清醒期間不間斷且如實正念的修行，專注於坐，走或日常活動的所有動作行為，在後來某一天的午餐時，經由每一次手臂的彎屈與伸展，而第一次體驗了無常相，這時他因親嚐法味、不禁喜極而泣。這就是『依法而住』最真實的體現。</p>
<p> </p>
<p dir="ltr">2500年前佛陀所教導的四念處，不僅是符合科學更是超越了科學。在最後，修習正念禪修的目的，即是經由體證大自然的法界實相並學會使用其力量 ，如以下的偈子所言：</p>
<p> </p>
<p dir="ltr"><u>自然實相法</u></p>
<p dir="ltr"><strong>諸相非相、萬事萬物本無物</strong></p>
<p dir="ltr"><strong>僅是遷流變化的過程，法爾如是</strong></p>
<p><br/>
 </p>
<p dir="ltr"><u>註解</u></p>
<p dir="ltr">1）當下 - 首先需了解"剎那"定義為 一個生、住、滅的時間，是佛法上最小的時間單位，例如眨眼之間、 千萬個心識剎那已經發生。當下則為所有事情/現象正在發生、剎那生、剎那滅的傾刻，學會放下執著、才能觀到當下。</p>
<p> </p>
<p dir="ltr">2a）作意所緣 - 將注意力投向所緣、也是初發心/尋禪支的運作，注意力的作意是種心念或念頭，每當發現散亂的心遠離所緣境，將心拉回所緣的作意心念，  "追"及"瞄準" 為禪師們喜歡採用的比喻。</p>
<p> </p>
<p dir="ltr">2b） 五根/五力 - 跟隨善心識同時升起的五種美心所：信、精進、正念、正定、智慧。以正念為中心，如何開發及平衡五根/五力，對治貪慎痴三毒及五蓋煩惱障，其細節請參考Oliver 所寫的文章 - 禪師訓練營心得報告： 相由心生，境為心轉，刊登在美佛慧訉、2015年五月第一五六期。或到休士頓禪修中心的網站  <a href="https://web.archive.org/web/20231130010450/http://www.houstonmeditationc.com/" style="text-decoration:none;"><u>www.houstonmeditationc.com</u></a> 禪修資源參考資料。</p>
<p> </p>
<p dir="ltr">3）心為前導 - 此詞源自增一阿含經，意指所有身心現象的名色法實相、無常剎那的緣生緣滅、而且名法先發生後再有色法的動作。例如，先有心意念的動機，伸手挾菜的動作才會出現，而且心意及動作成對地剎那升起及消失。這就是觀禪第二觀智的緣起関係。另外最好例子、伸手打人的中途、由於轉念而停止打人的動作。當持續性的正念、綿綿密密且功夫成片，便可實証緣起法性的第二觀智。因為時空只是相對的概念，在實相中並不存在，如過去只是未來的當下，而未來即過去的當下。故成熟的第二觀智便可體證時空互換、貫穿陰陽，知道過去未來的先知，而且開始學會如何使用大自然法界的力量。</p>
<p> </p>
<p dir="ltr">4）辨別名色的第一觀智：所有身心現象的名色法實相，名色法有別的在不同時間發生、而且成對地剎那升起及消失。例如、色法的動作之後、接著心識惟一作用的覺知發生，即名法的能觀心識及所觀境的色法動作有別，當正念的觀力達到能所相隨，或以續發心的伺禪支為主的定力，皆會升起辨別名色的最初基本觀智。 第一觀智以上所有高階觀智皆具有辨別名色的觀智，只是深淺程度上的差別而已。</p>
<p> </p>
<p dir="ltr">5）生滅隨觀的第四觀智 - 結合上述的第一及第二觀智，所有名色、五藴皆具三法印、緣生緣滅的緣起法性，便是正知明覺的法住智、 預流者。所有名色、五藴等自然現象皆在六根門升起，皆具三法印法性、剎那無常變化，無我大自然法則運作，內心永遠不滿足行苦的逼迫性，以及十二因緣的緣起法性生滅過程。曰常生活中的身口意三行，諸如穿個衣服、洗個碗、倒個垃圾、說句話，正知明覺的法住智完全根本改變了平常的生活體驗，進而善攝六根，煩惱在那裡升起， 就在那裏用功， 斬草除根的消除煩惱。</p>
<p> </p>
<p dir="ltr">6）大自然法界的力量 - 偶爾私下跟禪師對話，禪師如此提示："觀禪最終目的只是學會如何使用大自然法界的力量"。禪師已經在暗示：萬事萬物的根本在於心識，它不是你的心識、也不是我的心識、它本來自大自然法界的心識 （意指六根門的意根有分心識），無所不在，無所不知，別小看大自然的力量，它是無窮無遠地。體証三明六通的圓滿戒定慧三學，表示已經學會使用大自然法界的力量，圓滿波羅蜜戒行、神通的定力、如實知見的觀慧。</p>
<p dir="ltr">禪修心法的技巧</p>
<p> </p>
<p dir="ltr">英文作者：張貴人/Oliver</p>
<p dir="ltr">中譯 - 吳上奎</p>
<p> </p>
<p dir="ltr">正念或念住，它不是正確的念頭，而是種禪修心法的技巧，也是觀禪的中心。那麼、正念的真正含義是什麼呢？正念一詞出自於2500年前佛陀的教導，並由當時的語言巴利文SATI 翻譯而來。雖然平時大家對於提起正念一詞都是朗朗上口，但聞思所得的理論知識跟實修親證畢竟完全不同，如同單純看書學不會游泳，一般人也難以跟色盲的人說明種種顏色有甚麼不同，佛法之難傳就在於只有透過親身練習，研究並實踐，我們才能真正瞭解正念，也才能應用於生活之中。</p>
<p> </p>
<p dir="ltr">常常當我們自謂具有正念的時候，其實是對於自己實際的內心狀態，並未真正的觀察與了解，若我們真正具有正念，我們將觀察到內心其實是如此的散亂掉舉與心猿意馬，所以空談無義，口頭上的正念其實僅只於表面說說，就像是身口意變成三套，這樣表面上的正念無法應用於生活之中。</p>
<p> </p>
<p dir="ltr">正念的定義</p>
<p dir="ltr">當能觀之心清楚，清淨、柔軟，我們將遠離於五蓋，沒有貪瞋痴，此意識狀態我們即稱為正念的善心所。換句話說，一個提起正念的禪觀者，於日常生活中當下全然覺知一切，觀察心識的變遷，如同觀看場景迅速更迭的舞台默劇，清清楚楚了了分明，具體而言，正念的基礎定義就是『明覺』一詞 （Clear Awareness)，全然覺知當下 (註1）。</p>
<p> </p>
<p dir="ltr">正念的善心所具有下列三種特質：</p>
<ol style="list-style-type:decimal"><li dir="ltr">
<p dir="ltr">清楚/澄徹：正念的觀禪如同純淨的水，所有觀察對象將變得透徹且生動明晰，並能夠深入細微的自性流轉，伴隨明覺的洞察力。此處的相反詞是妄想、遲鈍與懷疑，如同昏暗且烏雲密佈的天氣。</p>
</li>
<li dir="ltr">
<p dir="ltr">清淨：清淨之心是寧靜的，面對掉舉的劇烈攪動亦能平靜以對，帶有定力的功能。此處的相反詞是慌亂，是由瞋心支配的不善心所。如果我們正念專注使心寧靜如同平靜的湖水，那麼將可以體會到強大的喜樂與寧靜，並進入長時間的安止定。</p>
</li>
<li dir="ltr">
<p dir="ltr">柔軟：正念的第三個特質是如同棉絮與流水般柔軟，此處相反詞是緊張與僵硬，來自於三毒與五蓋。正念柔軟的特性將使我們對於所緣境的觀察變得更加敏銳。</p>
</li>
</ol><p> </p>
<p dir="ltr">正念的練習</p>
<p dir="ltr">在修習的過程中，正念是用來提昇敏銳覺知/洞察力的技巧，進而調伏散亂的心，讓心識發揮它本具無限的功能，而為己所用。在多數狀況，我們的內心並未住於當下，但起心動念其實至關重要，它決定了觀禪的結果，相由心生，境為心轉。通常我們在回憶過去與期盼未來花了過多的時間，取而代之的，必須將重心放在四不的準則，這是加強正念訓練的核心指導技巧，具有正面的效果與幫助，所謂四不基本準則即是：</p>
<p> </p>
<ol style="list-style-type:decimal"><li dir="ltr">
<p dir="ltr">不期待 - 只專注於禪修的當下，過去的已成定局，未來的尚未發生，流連於過去與期盼未來都將無濟於事，只有當下才是我們所能夠把握的。</p>
</li>
<li dir="ltr">
<p dir="ltr">不評論 - 無分別地平等對待所有的現象，不論好壞全然接納，如實觀察，專注在明覺所縁的目標，別為煩惱之心火上加油。不評論將會帶來直觀的禪修體驗，使內心深入探索各種無限的可能，此種正確的禪修方法，最終將使我們觀察到事物的實相。</p>
</li>
<li dir="ltr">
<p dir="ltr">不抱怨 - 抱怨是瞋，是不接受當下所發生的事情。你想避免疼痛嗎？你抱怨旁邊的人的禪修習慣嗎？貪求好經驗和排斥不好的經驗都是培育觀智的障礙。</p>
</li>
<li dir="ltr">
<p dir="ltr">不比較 - 禪修不是競賽或對抗賽，和別人或和自己比較都是不善巧的心態。</p>
</li>
</ol><p> </p>
<p dir="ltr">班迪達尊者簡單地定義正念為觀力，當正念有力且伴有很強的定力，一切現象都會流轉 , 流轉中伴隨流轉，如同大波浪中無數小波浪的油水分離、水乳交融的正念的練習與應用遷流，一切源於有定力的正念。</p>
<p> </p>
<p dir="ltr">正念的發展過程可以簡化成下列方式：</p>
<p> </p>
<p dir="ltr">                         覺照- (能所)跟隨 - 禪觀</p>
<p> </p>
<p dir="ltr">正念的力量首先來自於將心念作意投向所緣境 （註2a），以此引發正念與明覺，當正念與明覺隨之繼續培育成長，此能觀之心將持續流轉，明晰且無間斷的跟隨所緣，並能清楚區分能知之心與所緣之境，然後我們或可確認毗婆奢那的禪觀已具有正知明覺，超越既有的概念，如同潛水員深入水底，如實觀察自性的本來面目。</p>
<p> </p>
<p dir="ltr">正念是止觀雙運、由定力與觀力相輔相成的寧靜心識狀態，更具體來說，內觀禪的中心就是在坐禪、行禪與日常隨觀中皆提起正念，正念的禪修將提昇專注力，並自然的使心識集中且具有正念，即使是修習定禪也必須培養正念以調伏五蓋，並依此獲得安止定或三昧，而此具有正念的定力我們即稱之為正定。由觀禪的念住所培養的定力，我們可形容為帶有定力的正念，所以不論是從定禪或者觀禪入手，只是止/觀先後順序的不同而終點是一樣的。</p>
<p> </p>
<p dir="ltr">培養正念是內觀智慧禪的中心，其核心價值，是以正確的心態或運用四不基本凖則來明覺觀察所緣，修禪的善巧在於：有什麼 (現象發生）就觀什麼，無論是色法的身體行動或者名法的心/意/念現象，每當查覺到名色法正在運作或消失，那就是當下的禪修所緣。正念僅是純然的觀察禪修的所緣，其訓練的技巧，就是以正確的心態來明覺所觀察的所緣，這純然的觀察是由下列三種善巧所組成：</p>
<p dir="ltr">- 首先提昇明覺的洞察力，查覺到名色法以作為當下的禪修所緣，</p>
<p dir="ltr">- 自然的提起正念，以具有正念的正確心態來觀察所緣，</p>
<p dir="ltr">- 以具有正念所伴隨升起的定力來穿透所緣，除去無明的面紗。</p>
<p> </p>
<p dir="ltr">當你善用上述正念的三個技巧，即是在培養與平衡五根五力的善心識 (註2b)，依據大念處經記載，此善心識可以破除因五蓋與無明所升起的不善心所，可以超越憂悲苦惱。</p>
<p> </p>
<p dir="ltr">如何覺知貪瞋痴三毒或五蓋的煩惱障呢？</p>
<p dir="ltr">- 當我們渴望擁有更多好的經驗，且多多益善，或尋覓未擁有的，那就是貪。</p>
<p dir="ltr">- 對現況或正在發生的現象厭惡、拒絕且不接受，那就是瞋。</p>
<p dir="ltr">- 對現況混鈍不明、不清楚當下正在發生的剎那生㓕，那就是癡。</p>
<p> </p>
<p dir="ltr">只有明覺之心才會遠離貪瞋癡，明覺來自於正念的訓練，修習時若我們感覺疲倦，代表方法上已發生錯誤，亦即在練習中沒有保持正念，每當查覺到自己已經失去正念，這種明覺洞察力本身其實就是提起正念，此時可以重複檢視自己禪修心態是否正確。</p>
<p> </p>
<p dir="ltr">放下執著</p>
<p dir="ltr">放下執著是指捨離執取，而非指捨棄資產或者財富。心非常微妙，要抓就抓不到、不抓它自己就會出現，抓或執取便是貪瞋痴三毒的根源，放下的禪修技巧用於捨離三毒與五蓋。相較於正念，放下執著是更高層次的內觀技巧，學會放下執著，才能脫離纏縛而覺知當下，自由自在，八風吹不動。</p>
<p> </p>
<p dir="ltr">在此引用尊者慈濟瓦禪師 (Bhante Sujiva) 於2014年義大利禪師訓練營中的開示：</p>
<p dir="ltr">『內觀是全然直接的經驗，沒有思考的空間，只有經驗的好壞不同。通常人們渴求更多好的經驗，這是貪；厭惡壞的經驗，這是瞋。禪修者需學習平等對待所有經驗而不評判。觀照之心必須保持平穩，心不為境轉，勿隨所緣起心動念、而為外境帶著走。修習正念即是培養止寂之心，建立強大的定力調伏散亂，於貪瞋束縛中得到解脫』</p>
<p> </p>
<p dir="ltr">放下執著，修習正念以捨離固有的不良習氣。固有的不良習氣總渴求更多的好經驗與厭惡壞的經驗，其根植於愚癡，蒙蔽心眼，使我們未能覺知當下。學會放下這些不良習慣，空掉我們那半瓶髒水而重新注入純淨的水，學會傾聽，學會與身心交流，利用自然的力量，讓來自大自然的心識自然運作。</p>
<p> </p>
<p dir="ltr">執取的反面即是放下與捨離．無貪亦無瞋，而愚癡與無明的反面即是智慧。全然的接受一切吧，就讓事物自然而然的發生，所謂"無為而為"，觀照的過程是如此的單純，在坐禪時，就只是單純的觀照所緣當下的變化，別沿襲了固有的貪、瞋不良習性，而將單純的事情複雜化。</p>
<p> </p>
<p dir="ltr">執取</p>
<p dir="ltr">因為內心渴求感官刺激的反應，所以貪愛升起，但貪愛不僅是渴求更多，也包含了瞋毒對苦受與相關現象的排斥。</p>
<p> </p>
<p dir="ltr">在正念的修習中，計畫、思考與分析同樣是一種執取，會阻礙到觀力與智慧的升起。</p>
<h4 dir="ltr">請謹慎呀，法友們！套用法理的思維來解釋自己的實修與內觀經驗，也是一種執取，會將行者帶入散亂的陷阱之中。作者本身對此即有深刻教訓，並付出了好些年的代價，直到2014年9月在如來禪修中心（TMC）的禪修營才被著名的荼贊那尊者（Thuzanna  Sayadaw)  “喚醒”。</h4>
<p> </p>
<p dir="ltr">若我們在修習時，刻意掃瞄全身使身體特定的覺受升起，而作為觀察的所緣，真正來說也是一種執著，因為這樣的所緣其實是因為心念作意讓它發生，而不是自然的依緣起法則升起。在高階禪觀層次，禪修者應捨棄這種禪觀的方式，如同捨棄標示禪修所緣的初學技巧，轉而練習放下執著、並讓覺受自然的升起而觀其如何變化的本質，應如實的觀察其本來的面目。</p>
<p> </p>
<p dir="ltr">同樣的，為了各式各樣的目的，用意念導引能量流轉或者『有為法』氣功也是一種執著，若形容執著是以貪與瞋助長無明，那麼反過來說，放下執著即是在熄滅煩惱。</p>
<p> </p>
<p dir="ltr">我們有三種方式可以克服對貪瞋癡三毒的無明執著：</p>
<p dir="ltr">1.相互對治</p>
<p dir="ltr">善心與不善心所不能同時存在，經由觀力來培養五根五力的善心識，或者經由修習定力的五禪支，我們都可以依次克服五蓋所產生的不善心識。</p>
<p dir="ltr">2.石頭壓草</p>
<p dir="ltr">當我們的心識處於寧靜明覺，煩惱將被壓抑，在這裡是指我們依據觀禪或者禪定的力量來抑制煩惱的升起，如同將墊腳石壓在野草的上面，一旦墊腳石移除，那麼野草就會繼續恢復生長。</p>
<p dir="ltr">3.斬草除根</p>
<p dir="ltr">毗婆奢那的目的並非要壓抑或停止我們的念頭發生，而是當念頭升起時必須清楚明白，這即是禪修的練習。禪修者若對於心/意/念的觀禪目標抗拒則落入瞋，相反的，我們應該明覺觀察念頭的生滅過程與活動，煩惱心來自於覺照心識的起心動念，於六根門產生五蘊的執取與所有的身心活動。俗話說，在那裡跌倒就在那裏爬起，如同馬哈希尊者對於信眾所開示：煩惱在那裡升起， 就在那裡用功克服。換句話說：保持正念善攝六根，即是消除煩惱的唯一道路。</p>
<p dir="ltr"><br/>
正念的運用 - 正知明覺</p>
<p dir="ltr">正知一詞由巴利文的Sampajana翻譯而來，意同清楚的覺知或者明覺，並常與正念一詞相提並論，正知明覺為生滅隨觀的第四觀智以上。 簡單來說，心為前導，即是在平日身語意等一切行為之前，清楚的覺知其背後的動機。所以基本上，正知的練習即是在日常生活中修習正念、知行合一的學以致用，不僅展現身口意合一的正語善行，而且自然地可以克服日常生活中的憂悲苦惱。</p>
<p> </p>
<p dir="ltr">如果正念的力量已足夠使心識克服五蓋或者抑制三毒，此時心識於禪觀中將維持寧靜的狀態，在此種狀態下，覺照/觀察力就可以自然的擴展到日常生活之中，並觀察到身語意其實皆是由名、色法或五蘊所組成，我們將了解到『法』才是正確的生活方式。此種觀智即稱為『法住智』，『具足正知』或『預流者』，三種不同的名詞具有相同的意義，即是我們的觀智已達到了知行合一的解行並重。</p>
<p> </p>
<p dir="ltr">在如實且用心的修習下，正知具有四種正念禪修的技巧，此處簡單介紹如下：</p>
<p> </p>
<p dir="ltr">1.善意的動機</p>
<p dir="ltr">若正念的功夫已經成片，綿密持續，在行禪中，我們將可自然覺知到每一小幅度的腳步之前，都先有一個『去推』的念頭，這是『走』的動機以及『想去推』的心意念頭，此為來自行蘊驅策的主動行為。如同火炬之前先有火花，即在每一小幅度的腳步中，內心裏似乎都有一個細微的聲音重複說著，"推、推、推"，這個例子對轉念做了最好的說明：我們可以清楚的分辨能/所的差別，分辨緣起過程中的原因與結果，所謂此有故彼有，這是確認是否達到第二觀智的條件，即是確認正念是否持續而不間斷。</p>
<p> </p>
<p dir="ltr">2.如理作意</p>
<p dir="ltr">在合宜時機及埸所的適當言行，是由明理作意於所緣而產生的副產品。我們以心為前導 （註3），經由內在的身心現象轉為遵循外在現實的道德規範，不僅『轉念』而已且付諸 行動，所謂境為心轉，持戒善語正行，我們通過日常的行為模式，使身邊周遭的一切關係發生改變、和諧。</p>
<p> </p>
<p dir="ltr">3.業處清明(正念於目標)<br/>
工作業處就是禪修所緣的身心現象在身內運作的範圍，同時也表示洞察力明覺敏銳的程度。每當觀智成熟、身心現象的名色法自然地擴展到全身，從身上任何一點進去、所觀的名色法都是一樣，一法見萬法。<br/>
具有正定的正知，在此階段觀禪的所緣將由一境性的一點擴展到全身，所謂從一境性的念住觀禪所緣。在此純熟的觀禪下，全身彷彿變為半透明的能量波浪流轉，而明覺的範圍亦將自然擴展，遍及坐禪與行禪每一微小動作之中，如同牽一髮而動全身，無論在坐禪或行禪，敏銳的覺知力自然能查覺名色法運轉於全身，此明覺並將自然地延伸到日常生活每一個身口意之中。</p>
<p> </p>
<p dir="ltr">4.透徹、解行並重的智慧</p>
<p dir="ltr">在正知明覺層次，解行並重的內觀智慧於日常生活行住作臥四威儀中，實証身口意的名色法實相如下：</p>
<p dir="ltr">                                   ......［動機 - 行為 - 覺知］......</p>
<p> </p>
<p dir="ltr">舉例而言，將手臂每次伸展和彎曲的移動作細部分割，像是被拆解粉碎，無常相從這個剎那生滅到下一個剎那，不只是伸展和彎曲，當我們拆看身體的每一個動作，剎那間，先有動機去驅動動作；再剎那間，覺知下一個將進行的動作，這是如實的實現佛法的生活方式，萬物自然的無常相在此變得如此清晰，所謂斷相續，就是所有事物是一個接一個剎那生滅，打破有常的相續觀念，如同過往經驗，無常就是被相續性的觀念所掩蓋，所以稱為無明的"有常"。此階段的觀智稱為審查遍知智，可以在日常生活方面輕易的體現出解行並重的智慧。</p>
<p> </p>
<p dir="ltr">一個剎那是佛法裏最小的時間單位，是任何現象本質剎那生、住、滅的過程所需時間，我們可以想像此過程的緣起法性、如同燭火在空氣中閃爍，不斷的經歷一個個的剎那生滅，從一組法象到下一組法象，從一個剎那到下一個剎那，從一個過程到下一個過程，如同大波浪的生滅是由無數小波浪的生滅組成，再到下一個大波浪的生滅過程，同樣的，在以正念觀察此過程的修習之中，無我的本質是如此明顯，破相聚密集，無明表相是我、我的人在做這些動作，但觀禪實相是心意的心念促成這些動作發生 ，而且心意是無數剎那心識在意門升起的心路歷程，一代一代色法的法聚持續的在六根門生起而產生這些動作。</p>
<p> </p>
<p dir="ltr">向來我們因為錯誤的認知與無明，將察覺動機、行為、與覺知等等名色法都當作糾合為一團的單一事件。在知行合一正知這個階段，日常行為中的明覺與洞察力，超越了一般人眼耳鼻舌身的五種感官覺知，脫胎換骨似的體証美好生活經驗，正念禪修或者毗婆奢那的目的，就是為了根本且永久性的轉變我們的五官覺受與認知經驗，此觀智稱為法住智，簡單意指我們在生活中一切經驗的全然革新。</p>
<p> </p>
<p dir="ltr">結論</p>
<p dir="ltr">觀禪修習正念主要目的在提昇明覺敏銳的洞察力，依循前者為因後者為果的自然緣起法則，法隨法行，增長如法而活的內觀智慧，運用於曰常生活中止息煩惱，持戒善語正行。</p>
<p dir="ltr">在過去15年間，修習正念已經成為心理學、神經科學以及醫學上的主流。科學研究已成功發現，修習正念的心智訓練可以改變大腦的功能與結構，並對心理，大腦以及整個身體有積極的影響。目前全世界超過600家醫院成立正念診所來治療身體緊繃、壓力、心理緊張等相關疾病。並將修習正念的基礎心智技巧廣為宣導，用於放鬆緊張、降低壓力及緩和心理疾病等等。</p>
<p> </p>
<p dir="ltr">現代科學已證實了歷史悠久的正念與禪觀的修習力量，這對醫生及禪修者而言，是如此重要且令人振奮的消息。緬甸比丘Eindaka禪師曾在主持休士頓一日禪的開示中，分享了他個人第一次參加緬甸仰光馬哈希禪修中心49日密集禪修的經驗。他在每天清晨4點起床並於晚上10點就寢，在這清醒期間不間斷且如實正念的修行，專注於坐，走或日常活動的所有動作行為，在後來某一天的午餐時，經由每一次手臂的彎屈與伸展，而第一次體驗了無常相，這時他因親嚐法味、不禁喜極而泣。這就是『依法而住』最真實的體現。</p>
<p> </p>
<p dir="ltr">2500年前佛陀所教導的四念處，不僅是符合科學更是超越了科學。在最後，修習正念禪修的目的，即是經由體證大自然的法界實相並學會使用其力量 ，如以下的偈子所言：</p>
<p> </p>
<p dir="ltr">自然實相法</p>
<p dir="ltr">諸相非相、萬事萬物本無物</p>
<p dir="ltr">僅是遷流變化的過程，法爾如是</p>
<p><br/>
 </p>
<p dir="ltr">註解</p>
<p dir="ltr">1）當下 - 首先需了解"剎那"定義為 一個生、住、滅的時間，是佛法上最小的時間單位，例如眨眼之間、 千萬個心識剎那已經發生。當下則為所有事情/現象正在發生、剎那生、剎那滅的傾刻，學會放下執著、才能觀到當下。</p>
<p> </p>
<p dir="ltr">2a）作意所緣 - 將注意力投向所緣、也是初發心/尋禪支的運作，注意力的作意是種心念或念頭，每當發現散亂的心遠離所緣境，將心拉回所緣的作意心念，  "追"及"瞄準" 為禪師們喜歡採用的比喻。</p>
<p> </p>
<p dir="ltr">2b） 五根/五力 - 跟隨善心識同時升起的五種美心所：信、精進、正念、正定、智慧。以正念為中心，如何開發及平衡五根/五力，對治貪慎痴三毒及五蓋煩惱障，其細節請參考Oliver 所寫的文章 - 禪師訓練營心得報告： 相由心生，境為心轉，刊登在美佛慧訉、2015年五月第一五六期。或到休士頓禪修中心的網站  <a href="https://web.archive.org/web/20231130010450/http://www.houstonmeditationc.com/">www.houstonmeditationc.com</a> 禪修資源參考資料。</p>
<p> </p>
<p dir="ltr">3）心為前導 - 此詞源自增一阿含經，意指所有身心現象的名色法實相、無常剎那的緣生緣滅、而且名法先發生後再有色法的動作。例如，先有心意念的動機，伸手挾菜的動作才會出現，而且心意及動作成對地剎那升起及消失。這就是觀禪第二觀智的緣起関係。另外最好例子、伸手打人的中途、由於轉念而停止打人的動作。當持續性的正念、綿綿密密且功夫成片，便可實証緣起法性的第二觀智。因為時空只是相對的概念，在實相中並不存在，如過去只是未來的當下，而未來即過去的當下。故成熟的第二觀智便可體證時空互換、貫穿陰陽，知道過去未來的先知，而且開始學會如何使用大自然法界的力量。</p>
<p> </p>
<p dir="ltr">4）辨別名色的第一觀智：所有身心現象的名色法實相，名色法有別的在不同時間發生、而且成對地剎那升起及消失。例如、色法的動作之後、接著心識惟一作用的覺知發生，即名法的能觀心識及所觀境的色法動作有別，當正念的觀力達到能所相隨，或以續發心的伺禪支為主的定力，皆會升起辨別名色的最初基本觀智。 第一觀智以上所有高階觀智皆具有辨別名色的觀智，只是深淺程度上的差別而已。</p>
<p> </p>
<p dir="ltr">5）生滅隨觀的第四觀智 - 結合上述的第一及第二觀智，所有名色、五藴皆具三法印、緣生緣滅的緣起法性，便是正知明覺的法住智、 預流者。所有名色、五藴等自然現象皆在六根門升起，皆具三法印法性、剎那無常變化，無我大自然法則運作，內心永遠不滿足行苦的逼迫性，以及十二因緣的緣起法性生滅過程。曰常生活中的身口意三行，諸如穿個衣服、洗個碗、倒個垃圾、說句話，正知明覺的法住智完全根本改變了平常的生活體驗，進而善攝六根，煩惱在那裡升起， 就在那裏用功， 斬草除根的消除煩惱。</p>
<p> </p>
<p dir="ltr">6）大自然法界的力量 - 偶爾私下跟禪師對話，禪師如此提示："觀禪最終目的只是學會如何使用大自然法界的力量"。禪師已經在暗示：萬事萬物的根本在於心識，它不是你的心識、也不是我的心識、它本來自大自然法界的心識 （意指六根門的意根有分心識），無所不在，無所不知，別小看大自然的力量，它是無窮無遠地。體証三明六通的圓滿戒定慧三學，表示已經學會使用大自然法界的力量，圓滿波羅蜜戒行、神通的定力、如實知見的觀慧。</p>
</div></div></div> </div>
<footer>
</footer>
</div>
</div> <!-- /.block -->
</div>
<!-- /.region -->

</BaseLayout>
