---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="正知/明覺 正念的運用、依法而住">
<p>
           英文作者: 張貴人/Oliver
           <br/>
           中譯：吳上奎
          </p>
<p>
           佛教是一個實用性的宗教，要我們在生活上實際奉行，學佛不是拿來辯論高下、或僅是一門純研究的學問。想成為正信的佛弟子，需依佛陀的教導，法隨法行、聞思修証、實踐戒定慧三學，解決日常生活的壓力/煩惱，依法而行。
          </p>
<p>
           2004年十月在休士頓市「菩提中心」的禪修期間尊者慈濟瓦（Bhante Sujiva）禪師對「正知」作了開示：『於日常生活中培養明覺』。禪師亦曾在2005年三月於休士頓玉佛寺的佛光法苑期刊中，依據「經」「論」開示同樣的主題。基於禪修、佛法實修與一位修行學生的觀點，這篇文章將嘗試探討一個根本議題：如何將佛法的禪修練習轉向應用於日常生活之中？
          </p>
<p>
           簡單來說，「正知」是一種「覺知」的狀態，意指你的心識敏銳到足以在日常生活中，覺察驅策身、口、意實際行動前的動機與想法。當對動機與想法的覺知能力愈強，則對於在日常生活中解除煩惱、鍛練正行、正語與智慧的能力愈有幫助。
          </p>
<p>
           正知常跟正念相提並論 （註1），都是明覺之意、全然覺知當下 （萬事萬物正在發生的剎那生滅實相）。但兩者的差別在哪裡？提起正念是種襌修心法的技巧、也是觀襌的中心，修習正念主要目的在於提昇敏銳覺知洞察力；而正知為修習正念過程中所得的內觀智慧，所建立起來的覺知洞察力可運用於日常生活之中，心為前導，舉凡身口意三行之前的起心動念、轉念，了然覺知當下，不只心不為境轉，而且付諸行動的境為心轉，依法而住的日常生活，消除煩惱，全面改變生命的體驗。
          </p>
<p>
           「佛陀」只教導一件事--苦與苦的止息 （註2）。只有煩惱的止息才能帶來內心的真實平靜與善心所。所謂法 （註3），就是宇宙的自然法則，此法則即是我們身心的作用，他圍繞著我們，並透過我們周遭的一切來展現，藉由學習親證此變易流轉不息與剎那生滅的法，我們就能活在每一個剎那當下，可以開悟成就並達到真實之樂。
          </p>
<p>
           為什麼要禪修？我們怎麼能夠不禪修呢？我們是如此頻繁的發現自己陷入煩惱的洪流，陷入情緒挫折、貪蓋、五欲與負面想法的無明暴風雨中，當我們無法改變事物的自然演變，那我們是否亦無法維持身心的平衡與和諧？在我們有能力滅苦之前(苦諦)，我們首先必須能夠分辨出苦的根源（集諦）。問題是我們大部分人並未觀照內心世界的運作，我們只是將其視為理所當然。但若我們日後想要成為一位更好的人、更加快樂且頭腦更加清晰，那麼探究內在本質的修行，就是最優先且重要的終生課題。
          </p>
<p>
           每個人都是不同且各自獨立的個體。但若我們深入探討，將發現在各自獨立的表相下，身心現象流轉變異的方式卻是相仿的，無論你多麼特別，錯綜複雜的身心系統卻具有相同的運作方式。我們都有著相同的經驗，所謂外六處如同村外烽火賊到處流竄，經由五根門形成法塵的紅塵滾滾(註4)，我們的內心對應著外在的感官刺激。依據內心習氣（或「業力」註5）反映著各自的個性、態度與觀點，再轉化為顯露於外的身、口、意與社交行為舉止。
          </p>
<p>
           正知明覺 - 正念的運用
           <br/>
           正知一詞由巴利文的Sampajana翻譯而來，意同清楚的覺知或者明覺，並常與正念一詞相提並論，正知明覺為生滅隨觀的第四觀智以上。 簡單來說，心為前導，即是在平日身語意等一切行為之前，清楚的覺知其背後的動機。所以基本上，正知的練習即是在日常生活中修習正念、知行合一的學以致用，不僅展現身口意合一的正語善行，而且自然地可以克服日常生活中的憂悲苦惱。
          </p>
<p>
           如果正念的力量已足夠使心識克服五蓋或者抑制三毒，此時心識於禪觀中將維持寧靜的狀態，在此種狀態下，覺照/觀察力就可以自然的擴展到日常生活之中，並觀察到身語意其實皆是由名、色法或五蘊所組成，我們將了解到『法』才是正確的生活方式。此種觀智即稱為『法住智』，『具足正知』或『預流者』，三種不同的名詞具有相同的意義，即是我們的觀智已達到了知行合一的解行並重。
          </p>
<p>
           在如實且用心的修習下，正知具有四種正念禪修的技巧，此處簡單介紹如下：
          </p>
<p>
           1.善意的動機
           <br/>
           若正念的功夫已經成片，綿密持續，在行禪中，我們將可自然覺知到每一小幅度的腳步之前，都先有一個『去推』的念頭，這是『走』的動機以及『想去推』的心意念頭，此為來自行蘊驅策的主動行為。如同火炬之前先有火花，即在每一小幅度的腳步中，內心裡似乎都有一個細微的聲音重複說著，"推、推、推"，這個例子對轉念做了最好的說明：我們可以清楚的分辨能/所的差別，分辨緣起過程中的原因與結果，所謂此有故彼有，這是確認是否達到第二觀智的條件，即是確認正念是否持續而不間斷。
          </p>
<p>
           2.如理作意
           <br/>
           在合宜時機及埸所的適當言行，是由明理作意於所緣而產生的副產品。我們以心為前導 ，經由內在的身心現象轉為遵循外在現實的道德規範，不僅『轉念』而已且付諸行動，所謂境為心轉，持戒善語正行，我們通過日常的行為模式，使身邊周遭的一切關係發生改變、和諧。
          </p>
<p>
           3.業處清明(正念於目標) 工作業處就是禪修所緣的身心現象在身內運作的範圍，同時也表示洞察力明覺敏銳的程度。每當觀智成熟、身心現象的名色法自然地擴展到全身，從身上任何一點進去、所觀的名色法都是一樣，一法見萬法。 具有正定的正知，在此階段觀禪的所緣將由一境性的一點擴展到全身，所謂從一境性的念住觀禪所緣。在此純熟的觀禪下，全身彷彿變為半透明的能量波浪流轉，而明覺的範圍亦將自然擴展，遍及坐禪與行禪每一微小動作之中，如同牽一髮而動全身，無論在坐禪或行禪，敏銳的覺知力自然能察覺名色法運轉於全身，此明覺並將自然地延伸到日常生活每一個身口意之中。
          </p>
<p>
           4.透徹、解行並重的智慧
           <br/>
           在正知明覺層次，解行並重的內觀智慧於日常生活行住作臥四威儀中，實証身口意的名色法實相如下：
           <br/>
           ......［動機 - 行為 - 覺知］......
          </p>
<p>
           舉例而言，將手臂每次伸展和彎曲的移動作細部分割，像是被拆解開來般，無常的從這個剎那生滅到下一個剎那，不只是伸展和彎曲，當我們拆看身體的每一個動作，剎那間，先有心意的動機去驅動動作；再剎那間，覺知下一個將進行的動作，這是如實的實現佛法的生活方式，萬物自然的無常相在此變得如此清晰，所謂斷相續，就是所有事物是一個接一個剎那生滅，打破有常的相續觀念，如同過往經驗，無常就是被相續性的觀念所掩蓋，所以稱為無明的"有常"。此階段的觀智稱為審察遍知智，可以在日常生活方面輕易的體現出解行並重的智慧。
           <br/>
           一個剎那是佛法裡最小的時間單位，是任何現象本質剎那生、住、滅的過程所需時間，我們可以想像此過程的緣起法性、如同燭火在空氣中閃爍，不斷的經歷一個個的剎那生滅，從一組法相到下一組法相，從一個剎那到下一個剎那，從一個過程到下一個過程，如同大波浪的生滅是由無數小波浪的生滅組成，再到下一個大波浪的生滅過程，同樣的，在以正念觀察此過程的修習之中，無我的本質是如此明顯，破相聚密集，無明表相是我、我的人在做這些動作，但觀禪實相是心意的心念促成這些動作發生 ，而且心意是無數剎那心識在意門升起的心路歷程，一代一代色法的法聚持續的在六根門生起而產生這些動作。
          </p>
<p>
           向來我們因為錯誤的認知與無明，將察覺動機、行為、與覺知等等名色法都當作糾合為一團的單一事件。在知行合一正知這個階段，日常行為中的明覺與洞察力，超越了一般人眼耳鼻舌身的五種感官覺知，脫胎換骨似的體証美好生活經驗，正念禪修或者毗婆奢那的目的，就是為了根本且永久性的轉變我們的五官覺受與認知經驗，此觀智稱為依法而活的法住智，簡單意指我們在生活中一切經驗的全然革新。
          </p>
<p>
           緬甸比丘Eindaka禪師曾在主持休士頓一日禪的開示中，分享了他個人第一次參加緬甸仰光馬哈希禪修中心49日密集禪修的經驗。他在每天清晨4點起床並於晚上10點就寢，在這清醒期間不間斷且如實正念的修行，專注於坐，走或日常活動的所有動作行為，在後來某一天的午餐時，經由每一次手臂的彎屈與伸展，而第一次體驗了無常相，這時他因親嚐法味、不禁喜極而泣。這就是『依法而住』最真實的體現。
          </p>
<p>
           科學驗證
           <br/>
           在過去15年間，修習正念的觀禪已經成為心理學、神經科學以及醫學上的主流。科學研究已成功發現，修習正念的心智訓練可以改變大腦的功能與結構，並對心理，大腦以及整個身體有積極的影響。目前全世界超過600家醫院成立正念診所來治療身體緊繃、壓力、心理緊張等相關疾病。並將修習正念的基礎心智技巧廣為宣導，用於放鬆緊張、降低壓力及緩和心理疾病等等。
          </p>
<p>
           現代科學已證實了歷史悠久的正念與禪觀的修習力量，這對醫生及禪修者而言，是如此重要且令人振奮的消息。依據現代科學的研究，調心的禪修心法過程會影響大腦結構，且若連續努力十年，則大腦結構會出現永久性的改變。再從佛法上來說，記得尊者慈濟瓦禪師某次在與筆者小參時說到：「Oliver你經過大約十年禪觀的努力，已慢慢能將正知明覺運用於生活之中，這時心念的改變將開始對周遭產生影響，使業力結構發生善的變化。」這是一個令人驚喜的巧合，科學的研究與尊者開示的時間長短居然不謀而合，所以十年努力的禪修過程就如同更新電腦的韌體 (silicon chip)，軟體功能自然的硬體化，使硬體設備的線路運算功能發生永久性的改變，此時觀智將自然的應用於行禪、坐禪甚至一切日常生活之中，如同禪師所言，善攝於所緣，守護六根，境隨心轉，一切的善心所將自然的展現。
           <br/>
           做個比喻，修心養性的一般人、從未受過心靈禪修訓練，不活在當下，通常事後檢討後悔，希望下次不再發生，即一般所謂的馬後炮。 一如在遇到煩惱時，我們的反應不外乎拔高音量，情況嚴重還可能伸手打人，若事後對不適當的行為深刻檢討，我們大約有20%的機會可以修正而轉念成功，不起惡念。而見法開悟、悟而後修的聖者，自由自在，八風吹不動的機會，可高達80%，剩下的20%為潛伏煩惱所縛。在這兩者之間法住智的正知明覺，全然覺知當下的起心動念、轉念，則有50-60% 的機會，心不為境轉，而成就境為心轉，持戒善語正行, 所以正知明覺對生活的影響可見一般。
          </p>
<p>
           結論
           <br/>
           一個得法眼淨的聖人，先到法住智、再到見法開悟的入流果，走在清淨道上，建立正知明覺的內觀智慧，變成相當重要的里程碑，在2014 年義大利禪師訓練營裡，慈濟瓦禪師以下面這段話結束了他的開示:
           <br/>
           “在過去，至少要證了初果而開悟的聖者才有資格作禪修老師。但在當代，有這樣素質的老師是難於找到的。今天，你則需至少獲得正知明覺的四階觀智，即近入流者，才開始有資格教禪修。”
          </p>
<p>
           培養「正知」打開了通往「毗婆舍那」之門，毗婆舍那 （Vipassana) 為巴利文，意表「內明」或「智慧」，更精確來說為「一體多面的如實知見」，此三個不同的名詞都具有相同的意義。依據「清淨道論」所述，「法住智」、「依法而住」與「小須陀洹」只是名相不同，但是在描述相同的觀智階段，經由直接經驗與第一手的知識，我們超越思考，而以正知的襌觀，親證身心變化的過程，親證了法的實相，我們不再對抗，而學習以寧靜、愉悅、及謙遜的心去接受與跟隨實相流轉，進而放下自我與放下執著。
          </p>
<p>
           最後，不論是日常修習或在禪修營中，禪修的本質就是一種調節身心的緩慢過程，此過程如同等待水果成熟，仰賴耐心與努力來收穫最終的利益果實。事實上，我們從內在到外在都經由六根完成觸與行，所以如何守護六根門就變成禪修中最重要的課題，在日常生活我們的感官開始變得敏銳，心意柔軟開放，無形中帶來的利益開始顯而易見且真實發生。在這階段，內觀智己逐漸接近「正知」，並藉由持續實踐 "法即生活" 來抵達具足正知的重要里程碑，我們更可確定此生將達到初果。在此心靈覺醒的過程中，就只是純然直觀(註6)覺知，無所得亦無所依，走在當下、放下，與通往解脫（免於輪迴）的阿含道、古仙人道上。以清靜的心，回歸大自然。
          </p>
<p>
           註解：
           <br/>
           •     正念/正知 - 參考Oliver 所寫的文章 - 正念的修習及應用，刊登在3/2016 美佛慧訊、第xxx 期，或到休士頓禪修中心的網站
           <a href="https://web.archive.org/web/20240301181634/http://www.houstonmeditationc.com/">
            www.houstonmeditationc.com
           </a>
           禪修資源參考資料。
           <br/>
           •    苦- 簡而言之、為貪嗔癡三毒及五蓋的煩惱障。按佛法最高教義的苦/集/滅/道四聖諦; A）苦諦 - 苦為心性的變化本質，含 a)苦苦 - 即一般所謂的身痛心苦等八大苦聚。b)變化苦 – 樂及苦的心受在實相法裡為一不二，都具剎那生滅共相，所謂喜歡或不喜歡，只是心行造做的表相。c) 行苦 - 生滅有為法逼迫性的苦相，實証行苦而發出離心。B）集諦 - 苦集即生起煩惱的因緣，執取及我見為兩大根源。C) 滅諦 - 苦的熄滅、不生不滅的湼槃。D) 道諦 - 苦滅的方法/清淨道，世間有為法的 Vipassana, 出世間無為法的八正道。
           <br/>
           •    法 - 具有多種意涵，簡單來說含三種基本意義： a)佛陀的教法 - 聞思修證、體現戒定慧三學。b)身/心/靈法界等自然現象。c)如實知/見自然實相法的真理。在佛陀教法的應用中，實修的佛法代表觀察自然現象的內明實踐。法、禪、道、佛皆是同義不同文。
           <br/>
           •     法麈 - 發生在意門的所緣境（mental object ) ，或心識所認知的對象/自然現象，易而言之、所有在內心深處升起的名法（心理現象），也是修法念處的所緣。當定力的正念超越伺禪支、自然升起的心眼、當肉眼閉起來可以用心眼看見/觀察法麈，在觀禪中很有效做為觀察名色法的禪修技巧。
           <br/>
           •     業力 –簡單依據起心動念的心路歷程來說：就是當法麈與意門接觸後，先升起異熟心識，再依緣起法則形成心行造作，此主動式的行藴就是業力，而在有分心識或意門升起的異熟心識，此被動式的行蘊即是業能，一般人為無明所蓋、看不到業及業力的深層心識現象，並不表示其不存在。
           <br/>
           •     直觀：當能觀的心識具足正念與正定(一般指近行定以上)，此時依離五蓋，超越欲界心識一般人的五種感官覺知，超越概念、不落入思維，純以第六感的直覺去覺察禪相變化。
          </p>
<p>
</p>
<footer>
</footer>
<!-- /.block -->
<!-- /.region -->
</BaseLayout>
