---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "9/19 to 9/28/2016 內觀禪修，由尊者蘇濟瓦禪師指導",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout
  title="9/19 to 9/28/2016 內觀禪修，由尊者蘇濟瓦禪師指導" description=""
>
  
<p>
<img alt="" height="253" src="https://web.archive.org/web/20170709185025im_/http://www.centrodharmayoga.it/Portals/0/Meditazione/sujiva.jpg" width="338"/>
</p>
<p>
<span id="result_box" lang="zh-TW" xml:lang="zh-TW">
<span title="尊者苏济瓦禅师将于 9/19/2016 至 9/28/2016期间在美国加州Ben Lemond 的Quake Center
">
             尊者蘇濟瓦禪師將於 9/19/2016 至 9/28/2016期間在美國加州Ben Lemond 的Quake Center
            </span>
<br/>
<span title="带领一期密集禅修。
">
             帶領一期密集禪修。
            </span>
<br/>
<span title="由于住宿的限制，最多只能容纳25-30名禅修者，现在报名尚未开始，但是如果您有兴趣，
">
             由於住宿的限制，最多只能容納25-30名禪修者，現在報名尚未開始，但是如果您有興趣，
            </span>
<br/>
<span title="请在您的日历上注明并电邮给Hank （ hankchangfw@yahoo.com）
">
             請在您的日曆上註明並電郵給Hank （
            </span>
</span>
<a href="https://web.archive.org/web/20170709185025/mailto:mahabodhisocietyusa@gmail.com" target="_blank">
            mahabodhisocietyusa@gmail.com
           </a>
<span lang="zh-TW" xml:lang="zh-TW">
<span title="请在您的日历上注明并电邮给Hank （ hankchangfw@yahoo.com）
">
             ）
            </span>
<br/>
<span title="费用为捐助，估计会是每天$55-$60左右。

 ">
             費用為捐助，估計會是每天$55-$60左右。
            </span>
</span>
<br/>
</p>
<div>
<img alt="" height="378" src="https://web.archive.org/web/20170709185025im_/http://www.quakercenter.org/wp-content/uploads/2010/01/lodge.jpg" width="567"/>
</div>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
