---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
   <BaseLayout pageTitle="關於我們">
    <div class="region region-content">
     <div class="block block-system" id="block-system-main">
      <div class="content">
       <span class="rdf-meta element-hidden" content="關於我們" property="dc:title">
       </span>
       <span class="rdf-meta element-hidden" content="0" datatype="xsd:integer" property="sioc:num_replies">
       </span>
       <div class="content">
        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
         <div class="field-items">
          <div class="field-item even" property="content:encoded">
           <h1>
            <strong>
             宗旨
            </strong>
           </h1>
           <p>
            <strong>
             休斯頓禪修中心（HMC）是一個非營利組織,致力於推動人們對禪修的瞭解和修行實踐。它的目的是為新學與老參提供教學與指導，以及分享有益的資源。從2005年成立以來，在幫助人們深入瞭解禪修以及如何運用到日常生活方面，休斯頓禪修中心扮演著關鍵的角色。
            </strong>
           </p>
           <p>
            <strong>
             不管您是什麼宗教背景或世界觀，我們都歡迎，只要是您真正有興趣學習這個頗有價值的心智訓練技能，中心都很高興有機會協助您。鼓舞和激勵初學者建立堅固的基礎以便禪修能有成就，正是中心的目標。對老參們而言，我們一樣提供實用、有效的建議以及學習上的協助，以期達到進一步提高和深化您的修行。
            </strong>
           </p>
           <p>
            <strong>
             無論初學或老參、年輕人或年長者、東方人或西方人，我們都邀請您來探索並啟程加入一趟「嶄新發現之旅」。
            </strong>
           </p>
           <p>
            <strong>
             這是一個值得進行的旅程。
            </strong>
           </p>
           <p>
            &nbsp;
           </p>
           <h2>
            <strong>
             <u>
              <strong>
               「休士頓禪修中心」聯絡資訊
              </strong>
             </u>
            </strong>
           </h2>
           <p>
            <strong>
             <strong>
              若您對本網站有何建議（例如文章、演講等等），請寄電子郵件，與下列區域代表聯絡
             </strong>
            </strong>
           </p>
           <p>
            <strong>
             <strong>
              <img alt="" src="/web/20240301175805im_/http://www.houstonmeditationc.com/sites/default/files/contact_new_gb.png" style="height:347px; width:410px"/>
             </strong>
            </strong>
           </p>
          </div>
         </div>
        </div>
       </div>
       <footer>
       </footer>
      </div>
     </div>
     <!-- /.block -->
    </div>
    <!-- /.region -->
   </baselayout>