---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "如何修習毘婆舍那內觀",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout
  title="如何修習毘婆舍那內觀" description=""
>
  
<h1 class="rtecenter">
           如何修習毘婆舍那內觀
          </h1>
<p class="rtecenter">
           班迪達尊者 公元2014年6月18日
          </p>
<p class="rtecenter">
           譯自：
           <a href="https://web.archive.org/web/20240301182803/http://www.lionsroar.com/how-to-practice-vipassana-insight-meditation/">
            http://www.lionsroar.com/how-to-practice-vipassana-insight-meditation/
           </a>
</p>
<p class="rtecenter">
           中譯 v1.0 9/26/2016
          </p>
<p>
           毘婆舍那, 也稱內觀智慧禪，是一項通過對覺受的連續緊密的關照最終體證究竟實相的一種修行方法。這個方法被認為是佛陀本人親自傳授的禪修方法，儘管這項修習的具體形式會有不同，它仍然是佛教各派禪修傳承的基礎。
          </p>
<p>
           毘婆舍那是斯里蘭卡和東南亞佛教最主要的禪修方法。二十世紀初，緬甸尊貴的馬哈希西亞多推動了這項古老的禪修方法的複興。 1982年他圓寂後，曾跟隨馬哈希西亞多修行多年的班迪達西亞多被選為教授師。班迪達尊者是當今世界毘婆舍那禪修最出名的導師之一，對西方的許多毘婆舍那老師有重大影響，例如內觀禪修會(IMS)的Sharon Salzberg和Joseph Goldstein。他也是緬甸仰光班迪達禪修中心的創始人和住持。
          </p>
<p>
           1. 何處適合禪修
           <br/>
           佛陀建議森林的樹下或者安靜的地方最適合禪修
          </p>
<p>
           2. 禪修者的坐姿應如何？
           <br/>
           他（佛陀）提到禪修這應該雙腿交叉，安靜平和地坐著。
          </p>
<p>
           3. 背部有傷病的人應該怎麼坐呢？
           <br/>
           如果盤腿坐太困難的話，可以選用其他坐姿。有背傷的人坐椅子上是完全可以接受的。坐的時候背部挺直，和地面成合適的角度，但是不要太僵硬。
          </p>
<p>
           4. 為何需要坐直？
           <br/>
           這個原因不難明白，彎著或者扭曲的背部不要多久就會帶來疼痛。而且，不用支撐而努力地挺直而坐會給禪修帶來精力。
          </p>
<p>
           5. 為什麼選擇姿勢這麼重要？
           <br/>
           為了讓心寧靜，我們必須保證我們的身體安寧。所以選擇一個可以長久保持舒適的姿勢就很重要了。
          </p>
<p>
           6. 坐下後應該做什麼？
           <br/>
           閉上你的眼睛。將注意力集中於腹部。正常地呼吸，不要強迫，既不減緩也不要加速（呼吸），只是自然地呼吸。
          </p>
<p>
           7. 當息入和息出的時候會覺知到什麼？
           <br/>
           當你吸氣，腹部升起和呼氣，腹部落下時會覺知到某些感受。
          </p>
<p>
           8. 你應該如何令對目標的瞄準更銳利？
           <br/>
           通過在每個過程中自始至終都全神貫注，你可以令對目標的瞄準更銳利。在（腹部）升起過程的所有感受一開始出現就要覺知，然後在上升過程的中間和結尾都保持穩定的覺知。接著覺知腹部下降過程中從開始到中程到結束的各種感受。
           <br/>
           儘管我們對上升和下降的描述有開始，中間和結束的分類，但這只是為了顯示你的覺知應當連續並且徹底。我們並不想要你將這些過程分成三個階段。你對每一個從開始到結束的動作的覺知應當是一個完整的過程，是一個整體。不要對這些感受用過於專注的心去緊盯，尤其不要試圖去發現腹部運動是怎麼開始和結束的。
          </p>
<p>
           9 為什麼禪修的過程中精進和精確的瞄準是一樣重要的
           <br/>
           具有精進和精確的瞄準是非常重要的，因為這樣做心才能夠直接和有力地與感受相遇
          </p>
<p>
           10。幫助準確和精密的（瞄準）有什麼方法？
           <br/>
           一個可以有幫助的方法是在心裡給給覺知的對像一個輕柔的標記，通過柔軟和無聲地在心裡說出這個詞來給這個感受命名，例如“升起，升起。。。”，“落下，落下。。。”
          </p>
<p>
           11 如果分心了怎麼辦
           <br/>
           關照心！要覺知你正在想什麼。
          </p>
<p>
           12. 如何使對思考的覺知變得清晰？
           <br/>
           用一個詞“思考”來無聲地標記這個念頭，然後回到升起和落下
          </p>
<p>
           13 有可能一直都完美地專注於腹部的升起和落下嗎？
           <br/>
           即使非常努力也沒有人能夠永遠專注於腹部的升起和落下。其他對像不可避免地會出現而且變得顯著。因此禪修的範圍應該包括我們所有的經驗：看到的，聽到的，聞到的，嚐到的，感覺到的，以及心理的對象例如想像到的視覺圖像，和情緒等等。當這其中的任何一個出現的時候你應將覺知直接聚焦其上，默默的用一個詞去輕柔地標記它。
          </p>
<p>
           14 在坐禪的時候應該遵循什麼樣的基本原則？如果有另外的對象阻止你的覺知並引開對升起和落下的注意力時，你應該怎麼做？
           <br/>
           在坐禪的時候如果其他對象強烈地干擾你的覺知並將其引離腹部的升起和落下，這個對象必須被清楚的標記。例如在你禪修的時候一個很響的聲音出現，你應該有意識地在其剛升起的時候就將你的注意力盡快地引導到那個聲音。對這個聲音應該作為一個直接的經驗來覺知。並且用一個柔軟的內在的詞簡潔的將其標記為“聽，聽”。當這個聲音消逝不再是最顯著的時候回到升起和落下。這個是坐禪的時候應該遵守的最基本的原則。
          </p>
<p>
           15 用文字標記的時候什麼是最好的方法？
           <br/>
           不需要用複雜的語言。一個簡單的詞彙是最好的。對於眼耳舌根，我們簡單地說：“看見，看見。。。”或者“聽，聽。。”或者“嘗，嘗。。。”。
          </p>
<p>
           16 如何標記身體感受？
           <br/>
           對於身體的感受我們可以選擇一些更有描述性的詞彙，例如“溫暖”，“壓力”，“堅硬”或者“移動”。
          </p>
<p>
           17. 如何標記心理對象？
           <br/>
           心理對像看起來種類繁多，但是實際上它們可以分為幾個很清楚的類別，例如：“思考”，“想像”，“回憶”，“計劃”和“畫面（即內心的圖像）”。
          </p>
<p>
           18. 標記的目的是什麼？
           <br/>
           通過運用標記的技巧，你的目標不是變得伶牙俐齒。標記幫助我們清楚地了解我們的經驗的真實性質，同時又不會陷入其中，同時培育心靈的力量和專注的能力。
          </p>
<p>
           19. 在禪修中我們找尋什麼樣的覺知呢？
           <br/>
           我們找尋對於身和心的深入，清晰和精確的覺知。這種直接的覺知讓我們看到生活的真相，以及身心過程的真實面貌是什麼樣的。
          </p>
<p>
           20. 禪坐一小時後，我們的禪修就結束了麼？
           <br/>
           禪修不一定在打坐一小時後就結束，它可以在當天剩下的時間裡持續下去。
          </p>
<p>
           21. 坐禪後應如何起立？
           <br/>
           當你從禪坐中起身，你應當仔細地覺知，從睜眼的念頭開始(就覺知）“想要，想要，睜開，睜開”。感覺這個想要的心理事件，感知眼睛睜開的感覺。繼續小心和精確地用全部的觀察力來覺知這整個姿態變化的過程，直到你站起來然後開始經行。
          </p>
<p>
           22 除了坐和行，還有什麼一天之內都要覺知的？
           <br/>
           一天內你應該覺知並且在心裡標記其它一切活動，例如伸展，彎曲手臂，拿勺子，穿衣服，刷牙，關門，開門，閉眼，進食等等。應當清楚地覺知這一切活動，並在心裡柔軟地加以標記。
          </p>
<p>
           23。一天中有什麼時候可以放鬆正念的麼？
           <br/>
           除了熟睡的那幾個小時，在醒覺的時段裡你應該盡力維持連續的正念。
          </p>
<p>
           24. 看起來一天之中維持連續的正念是個很繁重的任務。
           <br/>
           這不是個繁重的任務，不過就是做和走，簡單地觀察發生的事情。
          </p>
<p>
           25. 在閉關時的時間安排是怎麼樣的？
           <br/>
           閉關的時候，通常坐禪和行禪交替進行，兩者的時間長短差不多。
          </p>
<p>
           26. 行禪應該多久？
           <br/>
           標準的時段是一小時，四十五分鐘也可以。
          </p>
<p>
           27. 正式行禪的時候，應該選擇多長的行禪路徑？
           <br/>
           選擇二十步左右的，然後慢慢地來回走動。
          </p>
<p>
           28. 在日常生活中行禪有益麼？
           <br/>
           是的，在坐禪前進行短期的例如十分鐘左右的正式行禪對收斂心神有幫助。而且在行禪中開發出的覺知在我們一天中各處移動軀體時對我們都會有用。
          </p>
<p>
           29. 行禪開發出什麼精神品質呢？
           <br/>
           行禪開發覺知的平衡和精確，也有助於提高定力的持久。
          </p>
<p>
           30. 修行人可能在經行的時候得到深刻的法的體驗麼？
           <br/>
           你可以在經行的時候得到深刻的法的體驗，甚至有可能開悟！
          </p>
<p>
           31. 如果坐禪前不行禪，有什麼劣勢麼？
           <br/>
           修行人如果坐禪前不行禪，就像一輛電池老舊的汽車，在坐禪的時候開動正念的引擎會有困難。
          </p>
<p>
           32. 行禪時我們應該注意哪些過程？
           <br/>
           行禪時注意走的過程。
          </p>
<p>
           33. 快速走的時候，應該標記什麼？應該將覺知放在何處？
           <br/>
           如果你移動的很快，就在心裡標識腿的移動，“左，右，左，右”，覺知跟隨腿部區域的實際感受。
          </p>
<p>
           34. 當移動減緩時，我們應該標記什麼？
           <br/>
           如果你移動減緩了，標記每隻腳的抬起，移動和放下。
          </p>
<p>
           35. 不管慢走或快走，心應該放在何處？
           <br/>
           兩種情況你都必須努力留心走的感受
          </p>
<p>
           36. 在走到行禪道盡頭時應該怎麼做？
           <br/>
           注意當你在盡頭停下時哪些過程發生了，當你停下不動的時候，當你轉身的時候以及當你重新邁步前行的時候。
          </p>
<p>
           37. 應該注視自己的腳嗎？
           <br/>
           除非地上有障礙物，不然不要注視你的腳。在你努力覺知感受的時候在頭腦裡存留腳的影像是無益的。你應該專注於感受本身，而這些是沒有影像的。
          </p>
<p>
           38. 如果專注於行走的感受會發現什麼呢？
           <br/>
           對於很多人，當他們能全然地，純粹地覺知物理對象例如輕，麻，冷，暖等等的時候，會有極其驚人的發現。
          </p>
<p>
           39. 行禪時一般如何標記呢？
           <br/>
           通常我們將其分成三個階段：抬腳，移動和落腳。
          </p>
<p>
           40. 我們如何才能讓覺知變得精確？
           <br/>
           為了維持精確的覺知，我們可以將動作分離，在每個動作的開始在心裡做一個輕柔的標記，並且確保我們的覺知清楚有力地跟隨著這個動作直到其結束。有個非常重要的小地方是（腳）落下的時候應當在腳開始向下移動的那一瞬間就應該開始標記。
          </p>
<p>
           41.概念法的知識在禪修時重要么？
           <br/>
           我們來看看“抬腳”，我們知道這是一個概念法的名稱，但是在禪修的時候穿透這個概念法，了解整個“抬腳”的過程中的真實法是非常重要的。這個過程包括想要抬腳和繼續的意願，還有其中的很多感受。
          </p>
<p>
           42. 如果覺知抬腳的精進力太強或者太弱會怎麼樣？
           <br/>
           如果我們覺知抬腳的精進力太強，它會超過感受，如果太弱，則不及。
           <br/>
<br/>
           43. 如果精進達到平衡，會發生什麼？
           <br/>
           心裡（對目標）精準和精確的的瞄準會幫助平衡我們的精進。如果我們的精進平衡而且瞄準精準，則正念會牢牢地建立在覺知的對像上。
          </p>
<p>
           44. 培育定力需要什麼心所？
           <br/>
           只有在精進，精確（正思維），正念這三種心所都俱足的時候定力才會被培育出來。
          </p>
<p>
           45. 什麼是定力？
           <br/>
           定力是心的穩定：集中註意力於一點上。特性是讓心不會散亂。
          </p>
<p>
           46. 當我們越來越接近地觀察抬“腳”的過程我們會看到什麼？
           <br/>
           當我們越來越接近地觀察抬“腳”的過程，我們會像看到一排螞蟻穿過馬路一樣，遠看是靜止的，但是靠近時則是閃爍和振動著。
          </p>
<p>
           47. 如果我們進一步接近，我們會看到什麼？
           <br/>
           進一步接近，這條線會分解成單一的螞蟻，我們會意識到早先的“線”只是幻覺。我們現在能夠準確地認識到這個螞蟻線其實是一個個的螞蟻。
          </p>
<p>
           48. 內觀是什麼？
           <br/>
           內觀是一種心所。例如當我們從頭至尾精確地註意著抬（腳）的過程，稱為“內觀”的心所或者感知意識接近被觀察的對象。 “內觀”越接近，抬的過程的實相則顯現的越清楚。
          </p>
<p>
           49. 內觀的進階是什麼？
           <br/>
           關於人類心靈的一個驚人的事實是：當內觀通過毘婆舍那（即內觀禪修）升起並得到強化後，關於存在的實相的某些特定方面會以一定的順序逐步展現。這個順序稱為內觀進階。
          </p>
<p>
           50. 禪修者通常經歷的第一個內觀經驗是什麼？
           <br/>
           禪修者不是通過推理而是直覺地了解到一個過程例如抬（腳）是名法和色法成對出現組合而成的。生理的感受是色法，和名法的覺知不同但是聯繫在一起。
          </p>
<p>
           51. 在經典的內觀進階中第二個內觀經驗是什麼？
           <br/>
           我們開始看到物理感受和名法的連續升起，並且開始注意到名色法的緣起性。我們帶著新鮮感和緊迫感看到名法引導色法，是我們試圖抬腳的作意開始了移動的身體感受，我們也看到色法會導致名法，例如當灼熱的生理感受會讓我們產生想要去樹蔭下行禪的願望。對於因果的內觀經驗可以有很多不同的形式。但是當其升起時，我們的生活會看起來變得比從前簡單很多。我們的生活無非是一條心理及物理的因果鏈。這是經典的內觀進階中第二個內觀經驗
          </p>
<p>
           52. 下一個層次的內觀經驗是什麼？
           <br/>
           當我們開發出定力後，我們會看到抬（腳）的過程中的種種現像都是無常和非我的，以驚人的速度一個接一個的出現和消失。這是下一個層次的內觀，是關於存在的下一個層面：定力具足的覺知開始能夠直接的看。在當下發生的現象背後沒有什麼“人”，現象按照因果法則作為一個空的過程升起和消失。移動和堅實則是幻象，如同一部電影。對於普通的感知來說它看起來充滿了各種角色和物件，有著一個世界的外相。但是如果我們放慢電影的播放，我們會看到其實它是由一幀幀的獨立的，靜止的膠片構成的。
          </p>
<p>
           本篇訪談最初登載於 nibbana.com
          </p>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
