---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "觸緣受與斷煩惱 馬哈希尊者 《緣起法講記》摘譯",
  description: "",
  image: null,
  canonicalURL: null,
};
---
<BaseLayout
  title="觸緣受與斷煩惱 馬哈希尊者 《緣起法講記》摘譯" description=""
>
  
<h1 class="rtecenter">
<span class="short_text" id="result_box" lang="zh-TW" xml:lang="zh-TW">
<span title="触缘受与断烦恼">
             觸緣受與斷煩惱
            </span>
</span>
</h1>
<h1 class="rtecenter">
           馬哈希尊者 《緣起法講記》摘譯
          </h1>
<p class="rtecenter">
           烏耶蒙 譯
          </p>
<p class="rtecenter">
           比庫 巴沙拉 編輯
          </p>
<p class="rtecenter">
           中譯 - 宋潤泉
           <br/>
           校對 - 休士頓禪修中心
          </p>
<p class="rtecenter">
           Version 1.4 July 2017
          </p>
<p class="rtecenter">
           Version 1.3 May 2017
          </p>
<p class="rtecenter">
           Version 1.2 March 2017
          </p>
<p class="rtecenter">
</p>
<h3 class="rtecenter">
           版權聲明
          </h3>
<p>
<br/>
           一，本書版權屬休士頓禪修中心所有，只要不擅加增刪，歡迎任何單位或個人複製，翻印及流通，無需徵得本中心同意。
           <br/>
<br/>
           二，不得以本書內容與版面設計進行任何商業牟利之行為。
           <br/>
<br/>
           三，希望獲得本書印刷版的出版消息及其他佛法信息者，請訪問本中心網站（http://
           <a href="https://web.archive.org/web/20240301182924/http://www.houstonmeditationc.com/">
            www.houstonmeditationc.com
           </a>
           ）。
           <br/>
<br/>
           四，歡迎助印或印行本書，亦歡迎捐助本中心各項弘法活動，請聯繫本中心地址或電郵。
           <br/>
<br/>
           休士頓禪修中心謹啟
          </p>
<p>
           聯繫方式
           <br/>
<br/>
           網站：
           <a href="https://web.archive.org/web/20240301182924/http://www.houstonmeditationc.com/">
            http://www.houstonmeditationc.com
           </a>
<br/>
<br/>
           地址：7560哈文車道，休斯敦，TX77036，USA
           <br/>
<br/>
           電郵：
           <a href="https://web.archive.org/web/20240301182924/mailto:hmc281@sbcglobal.net">
            hmc281@sbcglobal.net
           </a>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<h2>
           目錄
          </h2>
<p>
<a href="#_Toc487359703">
            觸緣受
           </a>
</p>
<p>
<a href="#_Toc487359704">
            意門(manodvāra)和識蘊(vinnāṇa)的關聯
           </a>
</p>
<p>
<a href="#_Toc487359705">
            摘要重述
           </a>
</p>
<p>
<a href="#_Toc487359706">
            受緣愛
           </a>
</p>
<p>
<a href="#_Toc487359707">
            六種貪愛（taṇhā）
           </a>
</p>
<p>
<a href="#_Toc487359708">
            貪愛和輪迴
           </a>
</p>
<p>
<a href="#_Toc487359709">
            貪愛的止息
           </a>
</p>
<p>
<a href="#_Toc487359710">
            摩訶提沙長老的故事
           </a>
</p>
<p>
<a href="#_Toc487359711">
            鸚鵡的故事
           </a>
</p>
<p>
<a href="#_Toc487359712">
            觀察和苦滅
           </a>
</p>
<p>
<a href="#_Toc487359713">
            從根處切斷
           </a>
</p>
<p>
<a href="#_Toc487359714">
            煩惱和沒有正念
           </a>
</p>
<p>
<a href="#_Toc487359715">
            念頭和觸感
           </a>
</p>
<p>
<a href="#_Toc487359716">
            三種貪愛
           </a>
</p>
<p>
<a href="#_Toc487359717">
            愛緣取
           </a>
</p>
<p>
<a href="#_Toc487359718">
            對感官所緣的執取（欲取）
           </a>
</p>
<p>
<a href="#_Toc487359719">
            感官欲樂的基礎
           </a>
</p>
<p>
<a href="#_Toc487359720">
            見取(diṭṭhupādāna)
           </a>
</p>
<p>
<a href="#_Toc487359721">
            十種錯見
           </a>
</p>
<p>
<a href="#_Toc487359722">
            十種正見
           </a>
</p>
<p>
<a href="#_Toc487359723">
            戒禁取（對錯誤修行方法的執取）
           </a>
</p>
<p>
<a href="#_Toc487359724">
            考拉剎帝利的故事
           </a>
</p>
<p>
<a href="#_Toc487359725">
            其他戒禁取的修法
           </a>
</p>
<p>
<a href="#_Toc487359726">
            我見取（對靈魂信仰的執取）（attavādupādāna）
           </a>
</p>
<h1>
<a id="_Toc487359703" name="_Toc487359703">
</a>
           觸緣受
          </h1>
<h2>
<a id="_Toc487359704" name="_Toc487359704">
</a>
           意門(manodvāra)和識蘊(vinnāṇa)的關聯
          </h2>
<p>
           那個去想、去構思、去認知的意識（manovinnāṇa）根源於心和法所緣，這種構成意識基礎的心就是有分心（bhavaṅga citta），從我們入胎的時候就有，按照業它不停地發生。它是覺知和認知的基礎。當我們睡著或者心在想事情時，我們內心的生命流全是有分心在維持。當有分心面對所緣時，它就變得活躍，作意和認知從這裡生起。因此我們的思考和了知是基於有分心的基礎之上的。確實，即使作意和認知消失時，有分心也在那裡，但只有當有分心強有力時，才會引發心所（心理事件）。
          </p>
<p>
           有時我們不能思考，因為處於昏沉無力狀態，不管如何努力還是不能，這是由於有分心無力的緣故。因此，有分心本身起不了多少作用，只有當它接觸新的感官所緣時，才變得活躍。因而，它被稱為有分波動（bhavanga-calana），（譯註：即活躍的有分心或者有分斷（bhavanga-upaccheda），即有分心流被截斷。）緊跟著最後一個有分心，作意和認知生起。根據註釋書說，轉向心(Āvajjana)也可看作是心理活動的基礎。轉向心形成心路過程中第一個階段，它作為省察所緣的心而生起。如果它警覺銳利，它會正念覺察所有的基本的實相和所緣。
          </p>
<p>
           優秀的作家會為了作品完美而檢視重要的素材，優秀的演講家則為了演講的完美挑選恰當的詞彙。轉向心更進一步的作用是，它根據相應的好或壞的所緣導向好或壞的異熟心識，我們知道動機和覺知從轉向心這裡升起後，審查和認知就開始了。（譯註：因而，經典裡說："mananja心是基礎"應該理解為轉向心是心路過程的基礎。）
          </p>
<p>
           和心理活動同樣重要的是法所緣。當我們一思考，法所緣就生起。如果沒有法所緣，心理活動是不可能生起的。因而，我們有時希望去思考但不得不放棄思考，因為思考時我們無法憶起實相或所緣。因而，心理活動依靠於有分心、轉向心和法所緣三者的和合。
          </p>
<p>
           根據註釋書說，心臟是所有心理事件的物質基礎 （譯註：即心所依處）。然而，據報道當今西方的醫生做試驗，將病人的心臟拿走，換上好的心臟，儘管手術沒成功，但是被移植的心臟仍維持了好幾天。這則新聞也許會令人懷疑心臟在人類精神生命裡的作用。
          </p>
<p>
           這個問題引起了兩種解釋。儘管心臟被移走，但它的潛能可能還沒有完全耗盡，有分心仍然在原來的位置起作用，如同蜥蜴的尾巴被切斷之後仍可以動。另外，當被移植的新的心臟從身體獲得血液，有分心可能再次變得活躍，如同被嫁接的新組織那樣有了新的感知能力。或者，按照《阿毗達摩》中《發趣論》來回答，意識（心）的心所依處可以簡單描述如下：生理器官是心的物質基礎。這裡沒有特別指出是哪一個器官或身體的哪一部分。因而，根據經典，我們可以認為身體的某一部分是心的物質基礎，可能是心臟的某一部分或者是頭腦的某一部分。那些不希望心在心臟的人也許可以把頭腦當做心所依處。
          </p>
<p>
           我們在這裡必須提到《阿毗達摩》中關於心的進化與蜘蛛網的類比。蜘蛛為了捕捉飛蟲而結網，它出生後幾天就會本能地結網，相比之下，一個小孩甚至到一歲了還不能為自己做任何事情。蜘蛛坐在網中間等待，吃完自投羅網的生物，然後回家。同樣地，有分心或意識以心臟為居所，心臟泵出的血液沿著血管流遍全身猶如蜘蛛網一樣。因而，眼門中的視覺影像觸發了居於心中的有分心，沿心路過程傳遞下去使眼識升起。然後有分心回到它原來的位置上。上述同樣的情形適應於聽、聞等心路過程及相應的根門。
          </p>
<p>
           所以很明確地可以看出，有分心和它的基本活動：想和了別覺知形成了我們心理活動的主要部分。當色塵出現時，以眼根為基礎的眼識生起，接著意識以此為所緣。耳識、鼻識、舌識等同樣如此，以耳根、鼻根、舌根等作為基礎。至於身識，它的範圍極為廣泛，依照身體的尺寸大小遍佈全身。
          </p>
<p>
           當外塵不明顯時，由想和了別覺知構成的意識就成了心理活動的主導。有時，我們過分迷失在妄想裡而對所有外塵失去了正念覺知。全神貫注於一件重要的事情時甚至會使我們失眠，然後我們被一個接一個不斷生起的念頭所控制，這些念頭由有分心、轉向心、法塵和合緣生。對於禪修者而言，如果每個念頭生起的剎那當下，即刻加以觀照，那麼這些念頭生起後，會如碎片般滅去。
          </p>
<p>
           每個心理事件依賴於心、心所緣和識蘊三者和合而生。接著引發心理畫面，這些畫面，不論真實或不真實，存在或不存在，無論何時我們思考或想要做些什麼時它們就呈現出來。讀過《本生經》故事的人會熟知這個現象。讀這些故事時心裡就會出現帶有緬甸信仰和傳統特色的城市和國王的畫面，這遠離了歷史事實，因為《本生經》這些故事發生在印度，所描敘的人物和地點必定是符合印度文化和生活方式。現代小說描繪種種畫面，如城鎮、村莊、男人、女人、罪犯等等，讀者讀時知道這些全純屬虛構，是假想的，然而閱讀時，這些畫面如真的那樣呈現，令他升起高興，悲傷和其他動人的故事會引發的種種情緒。所有這些歸因於"觸"到心理畫面。
          </p>
<p>
</p>
<p>
           佛陀在《梵網經》中說："基於生動形象的想像力，這些教導和信仰變得清晰真實"。簡而言之，當我們說話、寫作、堅持一個信念、或思考，或者只是讓心自在地溜躂會兒時，生動形象的想像是必備的因緣條件。
          </p>
<p>
           想像導致感受產生。愉悅的想像導致愉悅的感受，比如，回想我們過去的富足或展望未來的豐盛時，愉悅的感受生起。另一方面，不愉悅的想像會導致我們不開心，想起過去的苦難會喚起不愉快的記憶，同樣地，預測未來可能的困境會讓不愉悅的感受生起。這種不愉悅的事件的起因也許純粹只是想像造成的，比如人們剛剛哀悼完一位親戚的死亡，沒想到不久後獲得消息說他還活著。
          </p>
<p>
           非愉悅非不愉悅的想像的畫面導致中捨（upekkha）的感受生起，所以我們即不喜也不悲。我們以為（中捨）是根本沒有感受，而註釋書中以鹿子的足跡來類比中捨感受，這就指明了它的微細的自然特性。當一隻鹿跑過一塊大石頭時，鹿沒有留下腳印，因此（本來連貫的）足跡中斷了，但是如果石頭前後兩側發現了腳印，我們則可以推斷鹿從石頭上跑過了。同樣地，禪修者精勤覺知愉悅或不愉悅的感受，他只是覺知看、聽等，而中捨感受生起時他沒有注意到。然後，他再次覺知到愉悅或不愉悅的感受，他會總結：當他覺知普通心理事件時，他體會到了中捨的感受。
          </p>
<p>
           因而佛陀說："緣於意門的有分心和法所緣，意識（manovinnāṇa）生起；心、法所緣、意識三者和合，觸生起；緣於觸，受生起。"
          </p>
<p>
           這純粹是一個因果關係的過程，沒有自我，也沒有造物主。法所緣包括五根所緣和概念法。因此意識（manovinnāṇa）涉及到六個根門相對應的所緣，不論是真實的還是想像的。每一個所緣都導致觸，觸又導致受。
          </p>
<p>
           對於普通人來說，這些心理事件是和"我""自我"緊密粘合在一起的。這種"我"的概念只是一種錯覺，與緣起法無關。正念的禪修者經由體驗認識到這點。他觀察每個心理事件，追溯到起因，因此覺察到有分心、轉向心和法所緣。因而他體驗到每個心理事件只是互為因果的關係，沒有自我、創造主，或者偶然性。
          </p>
<p>
           他也知道心理活動導向觸的生起，而觸導向受的生起。這些知識不是源於書本，而是來自親身體驗。他跟隨著觀察每個心理事件。當他在禪修時，如果他的心跑回家了，他就將注意力導向遊走的心，看到觀察的心和所緣(即家裡房屋的畫面)這兩者的接觸。同樣地，當關於大金塔(Shwedagon pagoda)或國外的妄念升起時，他觀察並跟隨讓他分心的妄念，這種與和法所緣的接觸稱之為（根塵識三事和合的）觸（phassa）。
          </p>
<p>
           禪修者同樣清晰地知道：緣於觸，感受生起。禪修時，當他碰巧想起某些愉悅的事情時，他感到高興；而想到某件令人悲痛的事情時，他感到難過；再想到某些滑稽的事情時，他差點笑了出聲來。因而，他知道感受只不過是觸的結果。如果禪修者每個剎那當下覺照名法色法的生起，這樣得到的觀禪體會將比最初的感受要更深些。由於他培育了定力（(samadhi)，他會發覺他所觀照的每個所緣和覺知所緣的心都在滅去。因此，他獲得了清晰的觀智：所有心理事件如想、受等等都具有無常、不圓滿（譯註：即苦-生滅引起的逼迫性）、不可靠、無人、無實質性的共性，這種觀智也就是對緣起法的親身實踐和體驗。
          </p>
<h2>
<a id="_Toc487359705" name="_Toc487359705">
</a>
           摘要重述
          </h2>
<p>
           在開示的第一部分我們已經解釋了觸緣受的因果關係鏈，總結一下上面所說的：
          </p>
<p>
           無明是對四聖諦的無知，普通人看不到感官所緣的無常和不真實，他們想、說話、行動都是為了獲得今生或來世的幸福，這些身語意三方面的行為有些是善的，有些是不善的，它們都稱之為"行"（sankhara）。
          </p>
<p>
           行蘊產生新有。臨終的人會見到一些過去所造的業的景象和來生的畫面，這些會在他心裡留下印記，成為他未來生的心的所緣。如果沒有特別的所緣作為結生心，接著就重複前生的死亡心作為所緣。
          </p>
<p>
           當眼睛和色塵接觸時，有分心在看的那刻變得活躍起來，接著，在轉向心的一個剎那後，眼識緣色和眼根生起。這是基於"行"的心理活動的一部分 。我們看到的、聽到的等等也許是愉悅的或不愉悅的。與之相關聯的眼識、耳識的特性則源於我們過去的所作所為，也就是過去的善業或不善業。
          </p>
<p>
           六塵導致六識產生。最後一識包含在心理活動中，包括思考、想像、決意等等，它依賴於有分心、意門轉向心，心所依處和心理畫面。這個意識（manovinnāṇa）的心流包含七個速行心（javana）和兩個彼所緣心（tadārammaṇa）。彼所緣心是善業或惡業的結果，但速行心不是，它從有分心升起，是行所產生的，在《阿毗達摩》裡面稱之為基於行的識（vinnāṇa）。
          </p>
<p>
           伴隨著識的生起，名色現象生起 （心所（cetasika）和色法（rupa））。因而識導向名色的生起（識緣名色），接著導向六根和六觸的生起。觸意味著識、塵、根三者的和合，它導致受（vedanā）的產生，可以是樂受，苦受或非苦非樂受。最後一種感受稱之為捨受，給我們的印象像是沒有任何感受，但是《阿毗達摩》裡說，事實上它是一種微細的愉悅感受，意味著只是沒有痛。
          </p>
<p>
</p>
<h1>
<a id="_Toc487359706" name="_Toc487359706">
</a>
           受緣愛
          </h1>
<p>
           由於愉悅或不愉悅的感受，貪愛（taṇhā）生起。貪愛意味著無止盡的貪求或渴望。它貪求它所沒有的感官所緣，或者已經有了卻仍然貪求更多，它從不知足。對於所有可以滿足它的感官所緣，它貪得無厭。
          </p>
<p>
           因此一位天神說，天神像餓鬼渴望著食物一樣，總是渴望著各種各樣的感官快樂，餓鬼是因為缺乏飲食而貪，而天神儘管沉溺於各種感官欲樂之中，卻總是在渴求著，這聽起來似乎不可相信。三十三天的天神的壽命是成萬上億年，比夜摩天、樂化天等其他天的天神壽命要長，然而，雖然他們有無止盡的驚人的長壽來享樂，天神們還是從來沒有滿意過，因為他們貪得無厭。
          </p>
<p>
           人類同樣貪。貧窮的人盡其能力地尋求感官欲樂，當然，由於貧窮他們從來沒有滿足過他們的慾望，但是富人高官、上流顯達同樣貪得無厭，這是歸因於貪的本性。喂的越多就越飢渴，因而在富人中比在窮人中更糟糕，在富裕國家中生活比在貧困國家中壓力更大。
          </p>
<h2>
<br/>
<a id="_Toc487359707" name="_Toc487359707">
</a>
           六種貪愛（taṇhā）
          </h2>
<p>
           貪愛從來不會厭倦於看到愉悅的所緣，它喜歡有吸引力的男人或女人，它尋找甜美的聲音，它渴求好的氣味，和好吃好喝的，它渴求感官接觸，這真是喜愛感官欲樂的人最糟糕的一種貪了。貪同樣意味著對於法所緣的貪愛，這是指我們只能從心理上知道，而不是通過眼耳等生理器官獲取的。根據經典，它包括五種淨色（pasāda-rūpa）、四微細色如水界（apo）等、心所、以及和形狀、品質、名稱等有關的概念法。
          </p>
<p>
           人們貪愛著好的淨色（pasāda-rūpa），因為他們想要看得更清楚，聽得更明白，或者擁有敏銳的觸覺。他們尋求水元素（apo），以便保持嘴唇、喉嚨、皮膚濕潤。他們對自己或異性的性別感到喜悅，因而他們貪愛男子氣概和女人味。他們想要長壽，想要行動敏捷，這種慾望表明他們渴求色身的活力（jīvita）和輕快（Kāyalahutā）等。他們想要快樂、良好的記憶力和卓越的智力，表明他們對敏銳心力的貪求。無論貪愛自己或異性的生理相貌，還是貪愛讚美或名聲，都是貪求概念法。
          </p>
<p>
           六種所緣就有六種貪，這六種貪也許只是貪愛感官欲樂，也可以和對存在（永生）的貪愛即有愛（bhavataṇhā）有關，也可以和無有愛（vibhavataṇhā）有關，無有愛的斷滅邪見認為沒有來生使得某些人過度貪著感官欲樂。與六種所緣相關的六種貪，每種有欲愛、有愛、無有愛三種，也就是18種。每一種貪也許有內部所緣和外部所緣，這得出36種貪，而每個貪可分為現在、過去或未來，這樣就得出108種貪。但所有的這些貪可以概括為三種：欲愛，有愛，無有愛。
          </p>
<p>
           那些不得不忍受不愉悅的感官所緣的人們渴望接觸愉悅的所緣，那些經受痛苦的人們尋求遠離痛苦，簡而言之，根據註釋書上所說，苦難中的人們尋求幸福。人們尋求遠離痛苦、貧窮、不愉悅的所緣和感受，沒有苦就是幸福。我們尋求擺脫對不愉悅的念頭的執念和與衣食住行有關的焦慮。但是，一個人一旦生存的基本物質條件得到滿足之後，他往往就傾向於發展其它的貪心。註釋書裡說"富有的人想要增長他的財富。"因為貪的本性就是不知足。我們希望不斷重複地享受生命中的好事物；我們希望增長我們擁有的東西。我們擁有的越多越想得到更多，生活的品質越高則想再提高的慾望也更大。貪從不會有止盡的那一天，它由受蘊提供養料而長久地延續下去。
          </p>
<p>
           關於伴隨著中捨感受的貪，註釋書解釋說中捨感受是愉悅的，因為它的穩定和微妙。當我們接觸普通平淡的外塵時，愉悅和不愉悅的感受都不是很明顯，但是中捨的感受是美好微妙的，它帶著淡淡的愉悅，因而使得我們貪求更明顯的愉悅，它使我們不滿足於普通的外塵，激發我們對更好的食物、衣服、感官接觸和生活條件的貪求欲。
          </p>
<p>
           總而言之，愉悅的外塵引發了對更好的所緣的貪愛和執著，不愉悅的所緣引發了去除這些所緣的慾望，當所緣導致非愉悅非不愉悅的中捨感受時我們仍然不滿足於我們已有的，而貪求更好的。這都表明感受如何導致貪愛的生起。
          </p>
<h2>
<a id="_Toc487359708" name="_Toc487359708">
</a>
           貪愛和輪迴
          </h2>
<p>
           當看、聽等等的同時隨著識的生起，就會生起名色、六處、觸、受。對於還沒有從煩惱中解脫出來的凡夫，感受（vedanā）導向貪(taṇhā)，接著依次貪導向取（upādāna），取導向業有（Kammabhāva）（生起善業或不善業），在有適當的條件時，業有導致再次出生，和接下來的老、病、死以及所有其他身心的痛苦。這就是感受如何導向輪迴苦。
          </p>
<p>
           隨著識的生起，沒有人能夠阻擋得了名色、六處、觸和受的生起。佛陀和阿羅漢們接觸到外塵時也會有愉悅、不愉悅或中捨的感受生起，這是根塵接觸的自然結果，色身疼痛時他們感覺到疼痛，但是心理上不苦，他們也不會因為愉悅的感受而快樂。因而他們脫離了貪愛和執著。他們不貪求快樂和幸福，同時因為他們不造作業，他們去除掉了再生、名色和其他導致苦的因。完全解脫煩惱的阿羅漢就是這樣止息了苦。因此，"在聖道上，根於樂受苦受的貪愛完全滅盡，那麼取就完全滅盡。"
          </p>
<p>
           愉悅或者不愉悅的感受，對於非阿羅漢來說，會引發他們對好的事物的貪著，而對於阿羅漢來說，則毫無作用，這也許聽起來難以置信，但最誘人的外塵在他們那裡都已經失去了誘惑力，他們對快樂已經沒有了欲求。他們已經完全地從貪愛和執著中解脫出來，也就是說完全地根除了業果（有），再生，以及與之相隨的苦。"因而，取滅盡，則再生的因（有）滅；有滅，則生滅；生滅，則老、死、憂、悲、惱等滅。"
          </p>
<h2>
<a id="_Toc487359709" name="_Toc487359709">
</a>
           貪愛的止息
          </h2>
<p>
           簡而言之，阿羅漢道完全根除貪愛，導致了苦的熄滅，但並不意味著幸福消失或者某個人消失，這只不過是名色過程的停止，而名色過程是苦的根源。
          </p>
<p>
           阿羅漢果位意味著完全徹底地斷除了貪愛，阿那含果位意味著滅除了欲界貪，不再生、老、死於欲界，須陀洹果位確保滅盡了導向惡道的貪愛，以及不超過七次再生，因而他脫離了惡道的苦和在欲界受苦不超過七次。所以毫無疑問，緣起法的修習會減弱貪從而減少苦。
          </p>
<p>
           同樣地，毗婆捨那觀智確保貪愛的剎那滅去。六塵引發樂受或苦受，如果缺乏毗婆捨那觀智，最終會導致貪愛和與貪愛相伴隨的苦。
          </p>
<p>
           而對於那些持續保持正念培育了觀智的禪修者來說，他只看到所有現象的剎那生滅、無常、苦、無我。同樣他能立即看到樂受苦受的生滅，因而他不會對生起的感受感到歡喜，他也不貪求其它的感受，所以他脫離了所有的貪愛。
          </p>
<p>
           聖道對貪愛的滅除不同於毗婆捨那對貪愛臨時性的滅除，聖道對貪愛的滅除是永久的，它涉及到每一個感官所緣，而毗婆捨那滅除貪愛既不是永久的，也不廣泛，它只在觀察的那一刻和只在所觀察的那個所緣滅除貪愛，因而，它被稱之為"彼分涅槃"(tadaṅga nibbuti)，剎那的或部分地滅除煩惱。修習正念的禪修者一直在覺知看、聽等，這種純然覺知的狀態不會讓貪愛有機會生起，結果取、業有、生等也不會生起，換句話說，隨著貪的止息，輪迴部分地中斷了，這就稱之為彼分涅槃。
          </p>
<h2>
<a id="_Toc487359710" name="_Toc487359710">
</a>
           摩訶提沙長老的故事
          </h2>
<p>
           下面的故事講述斯里蘭卡的摩訶提沙長老如何通過修習奢摩他和毗婆捨那戰勝貪愛的。一天清早他離開森林修行處，去房宿城托缽，路上遇到一位女人，那女人剛和丈夫吵完架離開家，她一看到提沙長老，就生起貪慾，接著就帶著誘惑地大聲笑起來。提沙長老一看到她，就注意到她的牙齒，由於他一直在修白骨觀，這個女人的整個身軀看起來就是一堆白骨，他專注在這個心裡的影像上而獲得禪定，接著，心在正定的狀態下繼續觀察這個影像，他證得了阿羅漢果位。
          </p>
<p>
           提沙長老繼續托缽，路上遇到那女人的丈夫，她丈夫問提沙長老是否看到一位女人經過，長老回答說他確實看一堆東西走過，但是他不知道是男人還是女人。他所注意到的是一架骨骼經過他身邊，事實上他看到的是那女人的牙齒，但是禪觀的修習將看到的女人的身體轉為一架骨骼的影像，因而，當他的感官接觸到那女人時，內心沒有生起貪或其他的煩惱。接著，基於禪定的心修習毗婆捨那，他脫離了煩惱，證得了阿羅漢果。
          </p>
<p>
           這則故事也許會讓非禪修者生起疑惑，為什麼看到一個人的牙齒可以生起一架骨骼的畫面。沒有經過禪修訓練的人是無法瞭解心的訓練能達到如何的境界。基於長時間的禪修訓練，打好穩固的基礎，才能做到這點，很淺的沒有經過訓練的定力是不能產生心理畫面的。觀想是想蘊的功能，重複的觀察強化了想蘊，有助於創造任何畫面。《大念處經》的註釋書裡有這麼一則故事說，甚至一隻鸚鵡也天生具有這種功能。
          </p>
<h2>
<a id="_Toc487359711" name="_Toc487359711">
</a>
           鸚鵡的故事
          </h2>
<p>
           一位舞者供養比丘尼們房舍臥具，離開時留下了一隻聰明的鸚鵡，這只鸚鵡被沙彌尼們照料著，還給它取名為"佛護"。這寺院的住持想，這隻鳥生活在修行人當中，如果讓它觀察些什麼，會很殊勝。於是她就教它觀察骨骼。
          </p>
<p>
           一天清早這只鸚鵡被一隻老鷹抓走，天開始亮起來，年輕的尼眾們大聲叫起來，老鷹害怕了，於是放了這只鸚鵡。寺院住持問這只鸚鵡當它被老鷹抓走時，在觀察什麼，鸚鵡回答說："那刻我想到的是一架骨骼被抓走，我想知道它將在哪裡被拆散。"住持說："修得好！觀照將會幫助你脫離輪迴。"一件事物如果被反覆地觀察長期以後就會變得固定。既然鸚鵡都能觀想骨骼，人類沒有理由不能同樣地觀察。這只鸚鵡觀察自己和他人為骨骼。由於這觀照，當它被老鷹抓走時，沒有恐懼、生氣或擔心。
          </p>
<p>
           因此，念處禪修幫助人們超越悲傷和焦慮，導向心苦和身苦的止息，值得稱頌。但是許多人不能如故事裡的那只鸚鵡那樣聰明，他們對佛法沒有興趣，不修習佛法。禪修者應該下定決心，修習毗婆捨那，超過那只鸚鵡。
          </p>
<p>
           如果摩訶提沙長老沒有將對他笑的女人觀察為一架骨骼，也許他會生起貪慾，在這荒僻的森林裡淪落為慾望的受害者。即使他在那時沒有生起性慾，而印入腦海的女人的迷人形象已為他在別的時間生起慾望提供了可能。然而，幸虧他在毗婆捨那禪修中觀察骨骼，使得他克服了煩惱，脫離輪迴獲得了最終的解脫。
          </p>
<h2>
<a id="_Toc487359712" name="_Toc487359712">
</a>
           觀察和苦滅
          </h2>
<p>
           因而，隨著因感受(vedanā)而生的貪愛(taṇhā)滅，則取(upādāna)滅；取滅，則所有的貪愛的果都滅去。觀察無常、苦、無我確保貪愛、取、有、生等的部分止息。毗婆捨那的目標是煩惱的完全滅除和和所有苦的止息。因此，對於那些尋求究竟解脫的每個人來說，應該把它當做頭等大事來關注。如果不禪修，看時聽時根塵相觸的每個當下的樂受苦受，就必然會導向愛、有、再生等。
          </p>
<p>
</p>
<p>
           由於前生的無明（avijjā）和行（saṅkhāra），在每個看的當下，識都參與其中。看生起時，識(vinnāṇa)、名色（nāma rūpa）、（六）處（āyatana）、觸（phassa）、受（vedanā）伴隨著生起。根據它們的因果關係，經典裡把這些法單獨分開，但是事實上它們不是一個接著一個單獨生起的。緣於行，識產生，而與它相關的名色、處、觸、受一起相隨生起。所有這些法是緣於過去的業行而生起的，它們被稱為果報的輪轉（vipāka-vaṭṭa）。煩惱的輪轉即無明、貪愛、執取會產生業的輪轉也就是業有和行。這會導致果報的輪轉：識、名色、觸、受。這將會再次導向煩惱的輪轉。
          </p>
<p>
           在看的當下，識、名色、處、觸、受這五個果生起，這對大多數人來說，只不過是看而已。事實上，看是識、名色、處、觸、受的產物。其他的身心現象如聽、聞等都是如此。
          </p>
<p>
           看，包括識和作意（manasikāra）、思（cetanā）等，加上眼根，組合成名色。它也包括四處，也就是，眼淨色、色塵、眼識、法處（dhammāyatana）。接觸色塵的是觸（phassa），所緣引發的愉悅或不愉悅是感受（vedanā）。因而，在每個看的當下，五個果聯合生起。其他的現象如聽、聞等都是如此。
          </p>
<p>
</p>
<h2>
<a id="_Toc487359713" name="_Toc487359713">
</a>
           從根處切斷
          </h2>
<p>
           五個身心結果或身心現象無止盡地一個接一個發生，組合成我們稱之為"人"、"天神"或"眾生"的東西，這些約定俗成的稱呼，事實上是五個名色元素的集合體而已，沒有堅固的、整體的和永久的生命，唯一的實相是名法色法的生起滅去。對於有正念的禪修者來說，這個觀智意味著熄滅貪愛、執取、業有、再生、苦這條凡夫從受而來的因果鏈。
          </p>
<p>
           這就是通過根除一個關鍵環節來終止生命之輪（緣起）（paṭiccasamuppāda），也就是緣於受（vedanā）的貪愛(taṇhā)。為了阻止緣於受的貪愛生起，禪修者在看的每一個當下應該關注從六根門頭生起的每個現象。這些感官接觸中最明顯的是身體的觸覺，它涉及到四大，初學者必須這樣開始觀照。
          </p>
<p>
           這個方法與佛陀在《大念處經》裡的教導是一致的："（禪修者）行走時知道在行走。"他怎麼知道的？他通過在心理標記"走，走"知道的。當他站立、躺下、彎曲他的手臂，或者做別的事情時，他同樣也以正念來練習。如果沒有肢體的動作或移動可以來標記時，他把他的注意力轉向觀察腹部升降。他也觀察任何生起的念頭、或心理活動和任何感受。簡而言之，他必須正念觀察在六根門生起的所有身心現象。隨著定力的發展，這種正念導向無常、苦、無我的觀智，有了這種觀智貪愛就無法生起。隨著貪愛的熄滅，也就止息了執取、再生，以及與之相隨的苦。這就是通過消除其根本原因，也就是貪愛來終止輪迴的方法，
          </p>
<p>
           今天，科技創造出許多機器，如果我們不懂操作機器的方法，我們就不能發動或者停止機器運轉，而那些知道方法的人通過操控主要開關就能操作機器。同樣地，緣起法裡描述說輪迴的關鍵是貪愛，緣於受的貪愛。但是唯有當感受加上兩種隨眠煩惱（anusaya ）：相續隨眠煩惱（santananusaya）和所緣隨眠煩惱（ārammaṇanusaya ）時，它才導向貪愛。阿羅漢沒有了隨眠煩惱，儘管他們有感受，但貪愛已止息。止息了貪愛，就沒有了新業，舊業也被中和，這樣般涅槃後就不受後有。
          </p>
<p>
           但是凡夫有潛伏的煩惱，這並不意味著不善的慾望潛伏在某處不外顯，而只是說它們有可能在某種特定環境下生起。因而，巴利文santananusaya kilesa(相續隨眠煩惱)就是指這種傾向。當人們沒有觀察名法色法時，這種潛伏的煩惱也許就變成貪嗔癡和其他惡行，就屈服於常樂我的幻覺。如果人們沒有修毗婆捨那觀禪，也許就會因接觸感官所緣而生起煩惱，這種煩惱稱之為arammananusaya kilesa (所緣隨眠煩惱)。
          </p>
<h2>
<a id="_Toc487359714" name="_Toc487359714">
</a>
           煩惱和沒有正念
          </h2>
<p>
           當人們回想起看過的或者聽過的人或物時，貪或嗔可能會生起，這就是第二種隨眠煩惱的顯示。我們腦海裡保留的那些影像是永久的、可愛的或可憎的人或物。因而，回憶起這些畫面時就可能會生起貪嗔癡。
          </p>
<p>
           貪慾（lobha）是貪愛（taṇhā）的另一個名稱，它因樂受而生起，但是也有可能因苦受生起，因為當苦受生起時我們渴望獲得樂受而生起貪慾。無明也會使得滿足、粘著和渴愛生起。因而，貪嗔癡導致感受生起，接著感受導致貪愛的生起，與貪愛相隨的輪迴苦就生起。唯有單純地覺知看、聽等，才可排除對愉悅感受的貪愛粘著。沒有禪修訓練，貪愛就佔據我們的心，導致當下的苦和來生的苦。
          </p>
<p>
           在《孔雀本生經》裡，菩薩曾經是一隻孔雀，常常在早上起來後和晚上睡覺前唱誦偈頌，如此過了700年都沒有落入獵人設置的陷阱。後來，獵人弄來一隻雌孔雀作為誘餌來誘惑它，這只孔雀忘了念誦偈頌，結果就掉進陷阱裡去了。在波羅奈斯城，有一位豎琴師叫Guttila，他愛上了一位女孩，但是被奚落和拒絕了。晚上他來到那女孩住的房屋前，彈起他的豎琴，唱起非常甜美的歌。那女孩被這音樂迷惑了，盲目地衝出門，絆倒跌落摔死了。在《孔雀本生經》裡，是女性的聲音，而在這個故事裡，是男性的聲音，導致受難死亡。
          </p>
<p>
           我們聽到的是無常的，沒有人否定這點。我們所聽到的一切事物都是立即消失的，然而我們享受著歌曲和音樂，因為它們表面上看起來是相續的。如果我們注意每一個聲音，標記"聽到，聽到"，那麼我們就會觀察到它們的無常，因而不可能由樂受變成貪愛，也就沒有了取和它導致的苦。
          </p>
<p>
           禪修者很少體驗到聞，但是顯然他仍必須觀察它，不讓貪愛因聞生起。
          </p>
<p>
           進食時保持正念特別重要。一個沒有正念的人吃到好吃的食物時非常高興，他喜歡上了這種樂受，未來還會繼續貪愛它。這種對好的食物和飲料的貪著具有強大的力量，它可能導致來生以劣質的食物來維持生命。因而，《愚賢經》裡說，那些貪著好吃的食物的樂受而作惡行的人，會再生為動物，以吃草、樹葉或人類的排泄物為生。
          </p>
<p>
           吃劣質的食物同樣也會導致貪著好的食物。因而，對禪修者來說，觀照一切身口意是必須的，當他吃東西時，他應覺知手和嘴巴的每個動作和每一個感覺。通過正念禪修，他覺知到他的動作、感覺、感受的滅去。以這種方法，他獲得關於一切事物的無常的特性的觀智，這將導向貪愛和與它相隨的苦的止息。
          </p>
<h2>
<a id="_Toc487359715" name="_Toc487359715">
</a>
           念頭和觸感
          </h2>
<p>
           觸覺遍佈全身，思惟遍及所有時刻，除了睡覺外。因此，大部分時候念頭和觸感是毗婆捨那禪修的所緣。當禪修者沒有別的所緣可觀察時，他可以觀察觸感。
          </p>
<p>
           即使在念頭是令人感到不愉悅和討厭的時候，他也需要觀察念頭。初學者常常被這些念頭干擾分心，但隨著他修行的進步和定力的培育這些念頭通常就消失了。有些禪修者不時會有些關于思惟法義的念頭冒出來，他們也應該覺知這些念頭，即刻觀照這些剛生起的念頭可以確保觀智進入無常和苦滅的階次。
          </p>
<p>
           在這裡，也許有人想知道這裡對毗婆捨那禪修的描述和緣起法有什麼關聯。經典裡指出在因果鏈上果緣於相關的因而生，我想要說明如何消除由於這些因果而導致的苦。 所以我們必須在有關的地方講述禪修。因而，當緣起法說到："無明導致行的生起，行的生起導致再生"，我們必須指明去除無明的方法。同樣如此，從識等到最後苦生起的鏈接中，我們必須強調去掉感受和貪愛之間的鏈接，因為它就是苦的主要原因。
          </p>
<h2>
<a id="_Toc487359716" name="_Toc487359716">
</a>
           三種貪愛
          </h2>
<p>
           當根門接觸外塵，感受生起時，如果沒有正確地觀察，它就會導向三種貪愛中的一種，也就是欲愛（貪著感官欲樂)、有愛（貪著存有)和無有愛（貪著不存有)
          </p>
<p>
           第一種貪愛是欲愛（kāmataṇhā）是專注在感官所緣上，它是欲界眾生最普遍的貪。
          </p>
<p>
           第二種貪愛是有愛（bhavataṇhā），與常見緊密相聯，它假定有一個永恆的生命，和有一個不會毀壞的自我，儘管物質的色身份解了，那個自我還在。在佛教徒中，這種信仰不深，而在非佛教徒中很多人堅定地持有這種觀點，這是他們通往解脫的最主要的障礙。他們對"有"的貪愛，從他們關於永恆自我的幻覺和對感官樂受的貪愛中表現得很明顯。
          </p>
<p>
           第三種貪愛是非有愛（vibhavataṇhā），是從斷見（uccheda-diṭṭhi）而生。這種信仰不存在於佛教徒中，如果誰持有這種信仰，誰就不是真正的佛教徒。貪愛著不存有，意味著希望生命之流在死後自動停止，基於唯物主義的對樂受的貪愛也自動停止。
          </p>
<p>
           以上三種貪愛中任何一種的生起，都是因為沒有通過觀察感受而領悟到無常、苦、無我的實相。因此，在貪愛以及它的後續的再生、苦等結果出現之前，禪修者應該觀察每一個現象，盡可能如實觀照。
          </p>
<h1>
<a id="_Toc487359717" name="_Toc487359717">
</a>
           愛緣取
          </h1>
<p>
           緣於貪愛，取生起。巴利文upādāna（取）由"upa"-非常的、緊張的、極端的和"adana"-抓住、取兩個部分復合組成的，意味著緊緊地抓住，或者非常強烈的貪愛。取分為四種：（1）對感官所緣的執取（欲取），（2）對錯誤見解的執取（見取），（3）對不恰當的、非聖道修行方法的執取，錯誤地把那些當作拯救之道（戒禁取），（4）對自我或我見的執取（我見取）
          </p>
<h2>
<a id="_Toc487359718" name="_Toc487359718">
</a>
           對感官所緣的執取（欲取）
          </h2>
<p>
           外塵刺激感官慾望的生起，這對所有還沒有斷貪的有情眾生都是如此。這些外塵有五種：色，聲，香，味，觸。
          </p>
<p>
           色塵是指那些令人愉悅的和吸引人眼球的所緣，它或許天生漂亮，或許是在觀看者眼裡看起來漂亮。在男人、女人、和消費品那裡總可以那裡找到令人愉悅的色塵，不管是真的漂亮還是看起來漂亮。是女性的身體外表吸引了男性，反之亦然。男人和女人都貪求衣服、珠寶、汽車等。不僅僅是形狀或顏色刺激人們的貪慾，男人和女人相互吸引不僅僅是膚色而是被整個異性的色身所吸引。那些供消費的商品引起人們的貪慾也是一樣的道理。就好像動物的叫聲有助於獵人追蹤和找到獵物一樣，形狀或顏色僅僅幫助我們導向和識別所貪求的目標。
          </p>
<p>
           男人和女人的聲音、歌曲或音樂等是聲塵作為感官欲樂的所緣的典型例子。有些聲音確實甜美，而有些聲音只是我們聽起來甜美。同樣地，當我們聽到某一個聲音而感到愉悅時，不只是那個聲音吸引了我們，而是整個事物或那個發出聲音的那個眾生成為我們粘著的焦點。
          </p>
<p>
           作為感官欲樂所緣的香塵包含了各種氣味：香味、香粉、香精。男人和女人樂於塗擦這些散發著氣味的物質在他們的身體上。不僅僅是這氣味而是散發著氣味的整個身體會吸引人。
          </p>
<p>
           當我們吃食物和喝飲料時，我們就有了基於食物和飲料的感官欲樂。這種好的或令人愉悅的味道也許時真實的或者只是表面上的。而對豬、狗和其他動物而言，垃圾、廢料、污穢物都是好味道。有些人非常喜歡苦味或辣味，有些人喜歡麻醉品和酒精飲料。他們的愉悅是表面而不真實的，因為正常的普通人沒有這些癖好。吃的樂感並不限制於食物，它延伸到準備食物的過程和做食物的那個人。顯然，一個男人喜愛妻子為他煮的食物，儘管她的廚藝也許一般。
          </p>
<p>
           另外一個感官欲樂就是身體的觸感。軟而光滑的被子、舒適的衣服、冷季時的溫暖、熱季時的情涼、異性的身體等，所有這些接觸到的所緣，都引發貪愛，不僅僅是對觸感的貪愛，也有著對這有生命或沒有生命的所緣對象的整體的貪愛。觸感只是導向對整個個體的貪著。
          </p>
<h3>
<a id="_Toc487359719" name="_Toc487359719">
</a>
           感官欲樂的基礎
          </h3>
<p>
           有生命或者沒有生命的各種所緣形成了感官欲樂的來源，如金銀珠寶、米、牲口、家禽、車、房屋、土地、隨從等。人們每天工作，就為了獲得這些感官欲樂的來源。他們尋求這些東西去換取的食物和好的衣服，去看電影等等。
          </p>
<p>
           貪愛（taṇhā）常常導向對外塵的強烈的渴愛（kāmupādāna）。一個人剛開始吸煙時，他對自己的新習慣感到高興，但是習慣形成後他就沉迷於它了。因而，我們過度地喜歡某些特定的所緣時，如果我們得不到它們，我們會感到挫敗和不平靜。這樣貪愛導向執取（upādāna）（愛緣取）。
          </p>
<p>
           沒有貪愛，執取不能形成。外國的音樂和歌曲不吸引緬甸人，所以在緬甸人中不流行。緬甸人不吃狗肉，他們見了狗肉感到噁心，所以對狗肉不會有執取。
          </p>
<h2>
<a id="_Toc487359720" name="_Toc487359720">
</a>
           見取(diṭṭhupādāna)
          </h2>
<p>
           另外一種執取是見取，也就是執著於錯誤的見解，包括除了第三種、第四種取之外的所有的錯誤的見解。因而，每一種錯誤的信仰都可看作見取，下面將詳細地闡述人們牢牢抓取的十種錯見。
          </p>
<h3>
<a id="_Toc487359721" name="_Toc487359721">
</a>
           十種錯見
          </h3>
<p>
           第一種見取是認為佈施不是善行，只是浪費錢。這種見解否認了善行的果報和價值，這種見解毫無根據。佈施的行為使得佈施者歡喜，它使得受施者身體和精神上獲益，它甚至可以挽救一個快要餓死的生命。佈施者是受人歡迎而且非常令人尊敬的，他死後可上升到天界。多疑者很難相信這死後的回報，但是這些超自然的業果在阿羅漢和其他有神通的聖者們的視野裡能看到，這些神通之一就是以天眼去看，天眼能夠看到佈施者在天界繁榮興盛而做惡行的無佈施者在惡道受苦。沒有獲得神通但培育了相當的定力禪修者甚至也可能看到這樣的情景。有些人也許會把這些情景當做想像力虛構出來的而擯棄，但是關於這些看到佈施往生天界的案例的描述相當一致，因而增加了此事的可信度。
          </p>
<p>
           第二種錯見是否認慷慨佈施（大規模的佈施）的業果。
          </p>
<p>
           第三種錯見是否認小的佈施善行，如向來客提供食物、新年送人禮物等等。這種觀點本質上和第二種是一樣的，指的是曾經在古印度流行的規模上較小的佈施，後來被異教徒認為無用而廢除了。
          </p>
<p>
           第四種錯見就是否認善行或惡行的業果。那些有神通的人能證明一個人在今生所造業的果報和超自然的果報的存在。但是那些過度喜歡感官欲樂的人不喜歡控制他們的慾望，他們不贊成這些道德價值觀，認為這些妨礙他們追求物質進步。因此他們提出許多立論來合理化他們對因果業力法則的反對。追根溯源，他們之所以這樣做是因為他們對感官欲樂的過度貪愛。
          </p>
<p>
           第五和第六種錯見是否認敬重、尊重、支持父母。我們應該感恩我們的父母因為在我們年幼的時候他們愛護照顧了我們。但是持有錯誤見解的人會認為：一個男人和他的妻子通過一次性交而偶然有了孩子，然後他們基於某種責任感養大了孩子，因而孩子沒有理由要感恩父母，照顧好父母不是善行，而對父母不好也不是惡行。這種觀點是可怕的，持有這種觀點的人他們的孩子也不會尊敬他們。
          </p>
<p>
           第七種錯見是否認除了人類和動物之外其他眾生的存在，也拒絕相信動物來生可能為人的觀點。
          </p>
<p>
           第八種錯見是否認人類將再生於天堂或畜生界或地獄。它鼓吹人死亡後就完全斷滅的觀點。
          </p>
<p>
           第九種錯見是否認可以通過化生（Opapātika）再生。換句話說，它否認天界、梵天、餓鬼、阿修羅道等眾生的存在，這些眾生不需要進入子宮懷孕，出生時就已經成熟了。這種觀點是站不住腳的，因為來自全世界的報道說遇到過善的或惡的精神生命體；有一些靈媒和巫醫能夠招來精神生命體；修觀者有時能夠看到天神、梵天等。
          </p>
<p>
           最後一種錯見是認為沒有苦行者或婆羅門可以談論此世界和其他不可見世界並且可以做的和自己的教導一致。這種觀點暗示沒有人能夠基於他真實的超常的經驗自主地談論此世界和他方世界，他的教導是基於猜想和推斷，是錯誤和邪惡的。
          </p>
<p>
           今天這種觀點被反宗教者支持附和。他們拒絕相信佛和阿羅漢的存在，拒絕相信佛和阿羅漢經由他們自己的努力而如實了知世界。但是這種觀點的潛在邏輯可以被同樣的推理擊敗：我們可以拒絕這種觀點，因為接受這種觀點的人對此世界和他世界同樣也不能如實了知。
          </p>
<p>
           佛法基於非凡的洞察力（觀智），它鼓勵基於實踐的調查研究，也因此得到了許多科學證據的證明。
          </p>
<p>
           在佛陀時代，宣揚印度式不可知論的人叫阿逸多，他沒有任何證據地攻擊所有的宗教，因而阿羅漢和佛陀必定也是他指責的目標。
          </p>
<h3>
<a id="_Toc487359722" name="_Toc487359722">
</a>
           十種正見
          </h3>
<p>
           前面所提到的十種錯誤的見解概括為否認業力法則。否認業也就是否認通過佈施、善待父母和其他善行的累積所獲得的利益，同樣也否認成為阿羅漢或佛陀的潛在可能性。同樣地，下面提到的十種正見是基於對業力或有關道德行為的果報的信仰。
          </p>
<p>
           第一種正見是佈施是有益的。佈施者至少會獲得受施者的稱讚和尊重，以及在困難時獲得幫助。佈施者臨終時安寧並且臨終業相甚佳，死後投生善趣如天界或人界，這好的投生也許最終導向聖道和涅槃。佈施是邁向成佛、獨覺佛或阿羅漢的道路上的菩薩和其他行者在開始他們的旅程時通常會做的善行。
          </p>
<p>
           對有些人來說，佈施的業果同樣顯現在物質財富的豐盛上。有些人和別人做同樣的工作，比如生意、種植等，但是他們的收穫和別人不同。有人致富而別人卻沒有進展。有人沒有努力工作就獲得成功而別人儘管辛苦工作還是不成功。其他的因素都相同，財富上的不同無疑源於前生的佈施與否。
          </p>
<p>
           第二種和第三種正見：相信業果法則的人，無論是大的佈施還是小的佈施如招待來客、贈送禮物等，對它們的業果效能，都已毫無疑問。
          </p>
<p>
           這三種正見源於對業力法則或有關道德行為的果報的深信不疑。一個人的命運是基於自己的善業或惡業，這是不可否認的事實。一個人依照他父母師長的指導，將有人望,會得到他人的幫助而獲得成就，成年之後成為一位成功的紳士。同樣地，由於上一生的善業，一個人出生於好的家庭，擁有健康、財富、莊嚴的外貌和真誠的朋友。不好的惡業導致不好的果報如多病、貧窮、醜陋等，這是大家同樣都知道的。
          </p>
<p>
           第四種正見是相信業力法則，這也暗含著（第五和第六種正見，中譯注）:我們認識到了對父母的深深的感恩之情。父母自懷孕起就開始仔細照顧孩子，母親特別地照料著她的健康、食物、行動等，這都是為了她子宮內的孩子。如果她是一位好的佛教徒，她會守布薩日和憶念佛法僧，希望在精神上影響她的孩子。孩子出生後，父母必須滿足他的物質需要和教育他，當他到了一定的年紀他們必須給予他經濟上的支持以便他開始他自己的人生。基於這些原因，尊敬和照顧我們的父母是我們不可推卸的責任；這種符合業力法則的行為會使得我們獲益無邊。至少尊敬父母的人將會被他的孩子尊敬，而對自己父母不善的人很可能被他的孩子鄙視。
          </p>
<p>
           第七，第八和第九種正見是關於此世界、他方世界和通過化生而成的眾生如天神等的正見。這些正見也意味著相信業力法則，也就是根據各自的業，在死後可能從畜生界或天界來到人界，或者相反。一定程度上這個業力法則能被證明，但是觀察者得有神通力或觀智或者理智思考的能力。
          </p>
<p>
           通過修習奢摩他（止禪），禪修者可以獲得回憶起過去世的能力，他有天眼（dibbacakkhu）能夠瞥見一個人臨死時到新生的身體外形。修習毗婆捨那者也可獲得這種神通力。
          </p>
<p>
           那些不能修奢摩他或毗婆捨那的人得依靠他們的理性的力量。各地都有人能回憶起他們的前生，在佛教文獻裡被稱為"往世智"（jātissaranāṇa），他們描述自己的過去生為人、畜生、精靈或鬼。理性的人可以看出這些記載清晰地顯示存在著死後從這個世界到另一個世界（或反向）的轉換，以及化生的過程。
          </p>
<p>
           在這裡我們希望講述一下智者對來生的思維方式。假設有兩個人：一個人接受業力法則和關於來生的信念，而另外一個人不接受因此不行善業例如佈施、持戒等，也不避免造惡和控制他的慾望，因而，他沒有值得他人尊敬和欽佩的美德。如果與他的信念相反，業力法則和來生是真實的，那麼他死後必定立即投生到惡道，在那裡輪迴受苦無數生。
          </p>
<p>
           另一方面，一個相信業和來生的人將止惡行善，即使沒有業或來生，他將會因他的好品性受人讚揚並聲名遠播。當他回憶起他的善行時他會感到高興。作為一個好公民，他將會過著平和的生活。就在今生因著他對業的信仰，善業會自然增長，如果來生是真實的存在，那麼他也確保有幸福的來生。所以無論現在或將來發生什麼，接受關於來生的觀點都會對我們有利，那麼當然接受才是合理的。這是絕對可靠的思維方式，佛陀在中部《無疑經》裡提到過。
          </p>
<p>
           第十種正見是相信佛陀、阿羅漢或聖者們的存在。聖者們宣說關於此世界和彼世界的至高無上的真理，他們擁有的聖潔的品質讓人們相信他們的教導-這種信念也是相信業果的前提。阿羅漢和佛的成就部分基於他們的圓滿的波羅蜜，而波羅蜜本質上和業沒有什麼不同，波羅蜜的培育是一種學習，如同小孩子需要學習許多東西以便成為受過良好教育的人，菩薩同樣必須尋求知識和訓練自己，以便達成他的目標。
          </p>
<p>
           一些父母和長輩帶孩子們去看電影和戲劇，而有的人則帶他們的孩子去寺院，這樣孩子會培養出不同的習慣，有的孩子就培養了壞的習慣，滋長了對感官欲樂的貪愛，而有的孩子則獲得了好的習慣去追求人生中更高的層面。好的習慣和好的培育可以稱之為波羅蜜。有些孩子們自發地傾向於宗教生活，有些男人和女人對毗婆捨那禪修有巨大的熱情和能量。這種小孩對宗教信仰的不尋常的興趣或者成年人對心靈生活的不尋常的熱愛是源於前生的波羅蜜而來的。
          </p>
<p>
           悉達多王子成為佛陀是經歷了多生多劫極其漫長不斷地逐漸積累和圓滿波羅蜜，如佈施、持戒、出離等。這不是一生就容易達成的事，是這些不斷累積的善業潛能或波羅蜜幫助他增強決心，使得他能夠離開家庭和豪華的皇宮生活尋求解脫。今天，一些人談論他們對（世俗）生活沒有幻想，但是卻很難放棄所有財富而出家，更不用說菩薩那卓越的的出離心。
          </p>
<p>
           為了開發智慧，菩薩也在前世培育了其他波羅蜜，例如精進，忍辱等等。果報就是在他的最後一生他能觀察思惟，自證生命的本來面目和緣起法等。佛陀是因他的善業潛能（波羅蜜）引導他獲得最終的解脫，同樣地，獨覺佛和阿羅漢們也是他們的波羅蜜引導他們獲得解脫的。因而，對業的信仰使得修行至阿羅漢、獨覺佛或佛陀成為可能。一個人接受了這種信仰就對佛陀和其他聖者們的出世間的智慧沒有懷疑。
          </p>
<p>
           簡而言之，見取總的來說就是拒絕業力法則。在佛陀時代，甚至在一百年以前，它沒有廣泛地流傳，但是現在這種邪見開始流行，歸因於那些以科學知識的名義批評業的教義的書。按照經典裡說，邪見通常是根植於貪愛，隨著人類對物質生活的渴愛日漸增長，對業的懷疑可能成為主流思潮，善良的人們需要為了保護自己和邪見做鬥爭了。
          </p>
<p>
           除了拒絕相信業之外，見取也意味著強烈地執著所有錯誤的見解，如我見、斷滅見等。只有戒禁取和我見取這兩種邪見沒有包括在見取裡。
          </p>
<h2>
<br/>
<a id="_Toc487359723" name="_Toc487359723">
</a>
           戒禁取（對錯誤修行方法的執取）
          </h2>
<p>
           戒禁取是對錯誤修行方法的執取，那樣不會導向苦的止息。它認同牛、狗、和其他動物的生活習慣，認為這樣的方式可以導向苦的止息。佛陀時代有些禁慾的苦行者創立這種教義。他們象動物一樣生活：裸體，四肢觸地地吃喝拉撒和爬行，露睡地面。他們相信如此生活有助於淨化所有的惡業和阻止新業，從而確保在死後會止息苦和獲得永恆的幸福。
          </p>
<p>
           作為一名佛教徒，這種信仰聽起來不可理喻，但是有些人的偏好非常地離奇，他們的觀念和傾向不同於他人。佛陀時代有兩名苦行者，一位名叫富樓那，他像一頭牛一樣生活，另一位叫色尼亞，他像狗一樣地生活。他們來到佛陀那裡，向佛陀請教他們的修行方式的益處。佛陀勉強地回答了他們，但是他強調他的觀點：完全按照牛或狗的方式來生活的苦行者死後將再生為牛或狗；這樣修行不會導向天堂；持有錯誤的見解的人很可能墮落地獄或畜生道。接著佛陀繼續講到：（1）有害的修行方法將結惡果，（2）有益的修行方法將導向善果，（3）有害的修行和有益的修行的混合和（4）聖道的修習導向善惡業的完全的止息。
          </p>
<p>
           聽到佛陀的這些教導後，富樓那就皈依了佛陀成為佛弟子，色尼亞也加入了僧團，通過修習佛法獲得了阿羅漢果位。
          </p>
<h3>
<a id="_Toc487359724" name="_Toc487359724">
</a>
           考拉剎帝利的故事
          </h3>
<p>
           佛陀時代有一個人名叫考拉剎帝利，他像一條狗一樣地生活著。一天佛陀從他身邊經過，當時跟隨佛陀的是一位離車族比丘，名叫善星。善星看見這位苦行者四足著地行走，不用手而直接從地上咬食。這位苦行者的生活方式給善星留下深刻的印象，認為那是一位聖者，不只於此，更有可能是一位少欲的阿羅漢的形象。事實上，這位苦行者的生活方式是戒禁取見者的方式，將會使他落入四惡道。有著高尚的理想和願望的人，會對此感到厭惡。然而善星比丘的低級品味和慾望導致他被這位苦行者吸引。當時並不像現在有許多人偏愛那些和佛陀的教法矛盾的錯誤的見解和錯誤的修行方法，這位離車族比丘是個例外，這可能是他（們）前生錯誤的貪執留下的習氣。
          </p>
<p>
           佛陀看到了善星比丘的想法，說："你把這位苦行者當作一位阿羅漢！我想知道為什麼你對被稱之為佛弟子不感到羞愧？"這位比丘卻指責佛陀妒忌苦行者的阿羅漢果位。當有人說出了邪師的真相時，愚癡的人當然反駁。佛陀解釋他的目的是想要去除這位比丘的無益的錯覺，接著佛陀預言七天後這位苦行者會死於消化不良，墮落於最低級的阿修羅道；他的屍體將會被扔棄於某一墓地；如果這位比丘去那裡問屍體目前他投生何處時，這屍體會說明。
          </p>
<p>
           佛陀說出這個預言是為了恢復善星比丘對佛陀的信心。通過修習奢摩他，善星比丘獲得了禪那和天眼通，以他的天眼他看見過天神們，他希望聽到他們的聲音所以他問佛陀獲得天耳通的方法，但是佛陀拒絕了他的要求，因為他有惡業，他可能還會因為不能獲得天耳通責怪佛陀。儘管如此，他還是對佛陀失去了信心，因為他想是因為妒忌使得佛陀拒絕了他的請求。因而佛陀預言苦行者的命運以挽救他的信心。
          </p>
<p>
           善星比丘將佛陀的預言告訴了這位苦行者，警告他不要暴飲暴食。苦行者禁食了六天，第七天他再也禁止不住誘惑了，他狼吞虎嚥地吃下居士供養的食物，就在那天晚上死於消化不良。
          </p>
<p>
           他的苦行同伴把他的屍體拖運到不是佛陀所預言的墓地之外的任意墓地。當他們到達之後發現那裡正是他們想避開的地方因為那裡剛好有某種草如佛陀預言的那樣。他們試圖將屍體拖走，但是草繩卻斷了，他們無論怎樣努力想移走都無效，於是他們不得不將屍體就埋在那裡了。
          </p>
<p>
           善星比丘聽到了這些消息後，仍然希望佛陀的預言的後半部分是不真實的。他去到那個墓地，敲打屍體問他現居何處，這屍體站起來說他在Kalakamjika阿修羅道，說完即倒地。Kalakamjika是阿修羅道最低級的地方。阿修羅是一種餓鬼，它有巨大的身體卻嘴巴極小，不方便喝水和吃東西。
          </p>
<p>
           根據註釋書說，是佛陀的神通力使得死屍被阿修羅餓鬼控制。倘若某些巫師有能力使得屍體站起來，那麼不用懷疑佛陀通過神通使得苦行者的死屍復活。
          </p>
<p>
           善星比丘垂頭喪氣地回來，不得不承認佛陀的預言全部都是真的。即使如此，他仍然對佛陀沒有完全的信心。後來他離開了僧團，甚至誹謗佛陀。
          </p>
<h3>
<a id="_Toc487359725" name="_Toc487359725">
</a>
           其他戒禁取的修法
          </h3>
<p>
           除了牛和狗的生活方式外，還有其他的戒禁取的修法。有的人模仿大象、馬等，換句話說，他們崇拜動物。註釋書裡提到君王崇拜，可能是指在緬甸人們崇拜各式各樣的守護神。緬甸人崇拜守護神的動機不是為了希望從輪迴裡解脫出來，它根源於希望獲得此時此地的物質利益。因而它不屬於戒禁取的範疇，但它是一種因信仰帶來的執取，崇拜守護神使得有些人用動物做獻祭。
          </p>
<p>
           還有火崇拜、山崇拜、月亮崇拜、太陽崇拜、精靈崇拜等等。如果所崇拜的對象是為了獲得幸福或死後精神解脫，那麼它就是戒禁取。簡而言之，所有的練習離開了四聖諦和八正道就可以列為戒禁，把它們當做解脫的方法而執著，就是戒禁取。
          </p>
<p>
           通過觀察名法色法獲得了至少須陀洹果的禪修者非常清楚導向涅槃的正確道路是什麼，所以他遠離戒禁取。他從經驗上知道唯一的滅苦之道是通過觀察名色法和修習八正道。
          </p>
<p>
           就好比說，如果你從經驗上知道怎樣從這個禪修中心走到大金塔，你就不會被任何指錯路的人所誤導。同樣地，證得須陀洹果的禪修者知道了到達涅槃的正確方法，他就不會相信對上帝的信仰、守護神崇拜或苦行等信仰和修習方法，就不會誤以為它們是解脫的方法。
          </p>
<p>
           那些不知道正確道路的人難免受到這些錯誤觀念的影響。他們也許從無知的父母、老師或朋友那裡獲得這些邪見；或者由於他們缺乏基本的知識；或者被那些鼓吹不正確的信仰和修法的書籍所誤導。凡夫不清楚通向涅槃的正確道路，因而在他輪迴的路上不得不面對許多老師和修行方法。如果他不幸遇到一位錯誤的老師或修行方法，他就要受很多的苦。因而，苦行者的修行方法只會導致艱難和痛苦，而犧牲動物來獻祭無疑會導向惡道。
          </p>
<p>
           相信色界四禪（rūpa-jhāna）或無色界四定（arūpajhāna）是完全的解脫,同樣也是因戒禁取帶來的執取。簡而言之，即使在這個世界上達到道德上的完美或獲得禪那，儘管值得稱讚，如果它離開了毗婆捨那聖道而將其當做完全的解脫，也是導向戒禁取。相應部《水鳥經》提到隱士烏達卡，他通過禪那進入無色界，就宣稱說他已經根除了苦因，滅盡了苦。有另外一位叫阿拉若的隱士也有這種錯覺。他們的這種妄念或執取會引發善業使他們來生出生在無色界。
          </p>
<p>
           因此佛陀在對鶴梵天開示時說："我看見欲界、色界、無色界三界內固有的生、老、病、死等危險。我看見那些尋求涅槃的人仍然和存有繫縛在一起，因此我不贊成任何一種存有 （生命現象）。我已經脫離了對存有的所有貪著。"
          </p>
<p>
           像兩位隱士，那些不知道佛陀的教導的人永遠不可能達到他們的目的地。儘管他們尋求永恆的幸福，他們在遵循著戒禁取的錯誤的道路行走，始終困陷在輪迴的苦海裡。因而我們需要一再反覆強調佛陀指明的在正道上的正精進的重要性。
          </p>
<h2>
<a id="_Toc487359726" name="_Toc487359726">
</a>
           我見取（對靈魂信仰的執取）（attavādupādāna）
          </h2>
<p>
           我見取是復合詞"我見"（attavada）和"取"(upadana)組合成的。Attavada意味著相信靈魂實體，我見取（attavādupādāna）是對每個人是一個活著的靈魂這種觀點的執取。
          </p>
<p>
           對我見的執取有兩種：普通的執取和深層的執取。普通的執取在無知的佛教徒中普遍存在，並不妨礙在聖道上的進步。這種信仰並不根深蒂固，因為佛教徒接受佛陀的教導，否認永恆的靈魂存在，承認名法色法是每個活著的個體的唯一的實相。理解能力強的佛教徒對這種執取還要更少些，因為他們知道看、聽等僅僅包含了感覺器官（眼、耳等）和與之相應的所緣（色、聲等）及與之相應的識的三者和合。
          </p>
<p>
           但是大多數人沒有完全地脫離我見，甚至修習毗婆捨那者有時也會落入我見，它可能吸引那些沒有達到聖道的人。
          </p>
<p>
           事實上，那些教導我見的人描述自我是五蘊的主人，是一個獨立的實體，擁有自由的意志和自我決斷的力，有一次，佛陀在與一位雲遊的苦行者薩查卡的對話中質疑了這種有關靈魂的見解，佛陀問道："你說這物質身體是你的自我，你能夠一直保持它的良好狀態，避免任何不愉悅的事情發生嗎？"薩查卡不得不回答說不能。佛陀進一步地向他提問，引導他得出答案：事實上他並沒有能力控制五蘊中任何一蘊。
          </p>
<p>
           因此古代的佛教導師們翻譯"rupam anatta"（色無我）為"物質身體是不受控制的"等。事實上，這是在否認"我是主人"或者將"我"作為可掌控的實體的錯誤的見解。每個凡夫都持有這種見解，相信人有自由意志。這種錯見唯有通過毗婆捨那禪修才能完全克服掉。
          </p>
<p>
           持我見的邪師還說"我"永恆地存在於這個物質身體，換句話說，這意味著整個輪迴中一直存在著人格的同一性。
          </p>
<p>
           他們還說"我"是所有行動的主體，因而他們把它等同於行蘊（saṅkhārakkhandha）了，是這個錯覺構建了"我看、我聽等"錯誤的信念。
          </p>
<p>
           他們也說"我"是活生生的能感覺的實體；是"我"在高興或不高興，換句話說，他們用描述受蘊（vedanā）的話描述"我"或靈魂。
          </p>
<p>
           因而，儘管持我見者堅持"我"與五蘊無關，他們卻認為"我"是這個身體的主人，永久地居住在這個身體裡面，有主觀能動性和知覺：所以事實上他們把它等同於五蘊。我見根植於蘊，一個人唯有通過禪修覺察蘊的真實特性才有可能完全脫離我見。
          </p>
<p>
           在四個取裡面，第一個執取（欲取）是從貪愛（taṇhā）發展而來的。其他三種取的差異只是它們所貪愛的目標不同而已，它們基本點是相同的：都與信仰見解相關，也就是相信自我，相信八正道之外的其他修行方法的效果，和除了這兩個見取之外其他任何錯誤的信仰見解。所有錯誤的信仰見解的生起都與貪愛相關。人們執取一種信仰見解是因為他們喜歡它。因而毫無疑問所有四種執取都是根植於貪愛，因而佛陀教導說："緣於愛，取升起"。
          </p>
<p>
<br/>
           實際上，貪愛是因，執取是果。貪愛感官欲樂、我見、或與聖道不相關的修行方法或其他錯誤的見解是因，這些貪愛發展出對聲色的執取、我見等等這些果。
          </p>
</div>
</div>
</div>
</div>
<footer>
</footer>
</div>
</div>
<!-- /.block -->
<!-- /.region -->

</BaseLayout>
