---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageProps = {
  title: "HMC 的翻譯工作進展",
  description: "",
  image: null,
  canonicalURL: "/web/20190328165220/http://www.houstonmeditationc.com/?q=zh-hant/node/75",
};
---
<BaseLayout
  title="HMC 的翻譯工作進展" description="" canonicalURL="/web/20190328165220/http://www.houstonmeditationc.com/?q=zh-hant/node/75"
>
  
<h1 class="page-title">HMC 的翻譯工作進展</h1> <div class="region region-content">
<div class="block block-system" id="block-system-main">
<div class="content">
<span class="rdf-meta element-hidden" content="HMC 的翻譯工作進展" property="dc:title"></span><span class="rdf-meta element-hidden" content="0" datatype="xsd:integer" property="sioc:num_replies"></span>
<div class="content">
<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>2014年一月份Bhante Sujiva 在意大利北部森林中舉辦了一場空前未有國際性的禪師訓練營，在最後一晚的禪修開示中、特別提到了和觀禪實修具有密切關係的一些經典論藏。 HMC 深受啟發，之後陸續完成了五部由大禪師開示的和實修有關的經典論藏的翻譯工作，包括馬哈希尊者開示的《俱戒經》，《摩羅伽子經》，和兩本較長的著作：馬哈希尊者的《緣起法》和Bhante Sujiva 所寫的Abhidharma。</p>
</div></div></div> </div>
<footer>
</footer>
</div>
</div> <!-- /.block -->
</div>
<!-- /.region -->

</BaseLayout>
