---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
   <BaseLayout pageTitle="再次叮嚀">
    <p>
     如果你已成功地將前面入門指南和建議付諸實踐，那麼你就真正地走在禪修路上了。至此，你應該已經有了固定的禪修時刻表和練習禪修的處所，甚至開始發現到你的世界起了某些微妙的變化。這些親證的經驗會給你持續用功的動力，因為你對禪修價值的信心正在增長。
    </p>
    <p>
     如果你仍然依著入門的資料用功，恭喜你，如之前所言，這不是賽跑或比賽，慢慢來，打好基礎，不斷修持。如果你持續用功，會看到自己付出的努力是值得的。
    </p>
    <p>
     無論你進展到什麼程度，現在我們極力推薦你去參加密集禪修或共修班。如果時間有限就從短期禪修開始，例如有週末禪修營可以參加。如果你有更多時間，參加至少十天的禪修營是非常好的選擇。
    </p>
    <p>
     一旦你的修行習慣已穩固地養成，就讓它帶領你往前走。當你修行生命開始覺醒，新的視角和個人的轉變也會在你&lsquo;新發現之旅&rsquo;中展開！
    </p>
    <footer>
    </footer>
    <!-- /.block -->
    <!-- /.region -->
   </baselayout>