---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
   <BaseLayout pageTitle="Sujiva 禪師指導觀禪‧禪十 9/17 - 27/2020">
    <div>
     9/17 - 27/2020
    </div>
    <p>
     九月中，寒熱相宜，Sujiva禪師將從歐洲飛來，蒞臨灣區指導觀禪。
     <br/>
     觀禪是悉達多‧喬達摩（Siddhartha Gotama）所傳授，千百年來，經由佛弟子輾轉相傳。這是一個修心過程，培育、集中、磨銳正念，成為具穿透性而純淨的智慧。通常止禪也用做這種修行的助緣，止禪是以概念為定的所緣，為觀禪構築一穩定而清淨的基礎。相對而論，觀禪的所緣是名／色的過程，此過程是可以直接觀察並體驗的自然現象流動，體現三共相，也就是無常、苦、無我。
     <br/>
     <br/>
     _______________________________________
     <br/>
     <br/>
     <strong>
      慈濟瓦禪師（Bhante Sujiva）
     </strong>
     為馬來西亞華裔，不但指導禪修，同時兼為作家和詩人。1975年獲頒馬來西亞大學農業科學系優異學士學位，旋即在南傳上座部出家，獻身於四念處智慧禪的教授。早年在修習過程裡，曾受教於中、馬、泰、緬多位止禪、觀禪的師父，包括知名的緬甸班迪達大師（Sayadaw U Pandita）。
     <br/>
     <br/>
     禪師自 1982年起駐錫馬來西亞哥打丁宜（Kota Tinggi） 山林中，在鄰近新加坡邊界的一座老橡膠園中創立「寂樂禪修苑」（Santisukharama Hermitage），邀請馬哈希禪法的老師前來指導閉關禪修，教授正念觀禪。
     <br/>
     <br/>
     禪師通曉六國語言，除能說寫流利的英文、馬來文外，巴利文、中文（國語、廣東話）、緬文、泰文等也都非常流暢。他酷愛森林和大自然，對文學、繪畫、攝影也極有天份。1995年起他開始在世界各地教學，計指導過澳洲、紐西蘭、香港、義大利、瑞士、德國、捷克、美國、巴西等地一萬名以上的學生，1999年也曾在美國教授阿毗達摩。2005年起常駐義大利指導禪修。
     <br/>
     <br/>
     禪師的止禪、觀禪和中國禪宗的教學風格均非常多元而靈活，善用止禪、觀禪和中國禪宗方法，適應每一位學生的獨特需求，無論指導新學或老參都極富經驗，深受學生愛戴。開示時，禪師往往進入禪修狀態，由內心直說法義，無須思考與預先準備，許多禪修者參加禪師指導的禪修營，除為禪修訓練之外，主要就是為了聆聽開示而來。
     <br/>
     <br/>
     禪師的著作有《智慧之樹‧不返之流：觀禪的修行與進程》（The Tree of Wisdom, the River of No Return: the Practice and Development on Insight Meditation）、《慈心禪：帶來平靜、喜悅和定力》（Meditation on Loving Kindness and Other Sublime States）、《修觀初階》（The First Step to Insight Meditation）、 《修觀法要》（Essentials of Insight Meditation Practice: a Pragmatic Approach to Vipassana）、《出家人直說趣事》（Funny Monk's Tales） 等；禪詩作品則有：心之聲（The Voices from the Heart）、走動的鳶尾蘭（Walking Iris）、林之風（Wind in the Forest） 等。
     <br/>
     <br/>
     ________________________________________________________________________
     <br/>
    </p>
    <h2>
     禪十
    </h2>
    <table>
     <tbody>
      <tr>
       <td colspan="1" rowspan="1">
        <strong>
         時間：
        </strong>
       </td>
       <td colspan="1" rowspan="1">
        2020年 9月17日 （週四）〜 9月27日（週日 12:00PM)
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
       </td>
       <td colspan="1" rowspan="1">
        9月17日 下午 1:00 ~ 3:00 報到入住
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
        <strong>
         地點：
        </strong>
       </td>
       <td colspan="1" rowspan="1">
        <a href="https://web.archive.org/web/20200923221953/https://www.campharmon.org/about" rel="nofollow" target="_blank">
         Camp Harmon
        </a>
        , 16403 CA-9, Boulder Creek, CA
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
        <strong>
         注意事項：
        </strong>
       </td>
       <td colspan="1" rowspan="1">
        1. 全程優先錄取
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
       </td>
       <td colspan="1" rowspan="1">
        2. 每日從 4:30 am 至 9:00 pm 坐禪與行禪交替
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
       </td>
       <td colspan="1" rowspan="1">
        3. 禪修期間請止語，師父可為願意受八關齋戒者授戒
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
       </td>
       <td colspan="1" rowspan="1">
        4. 小參報告當下身心經驗，勿談法義及私人問題
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
       </td>
       <td colspan="1" rowspan="1">
        5. 請自備座墊、蓋毯、食具、臥具及其他私人用品
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
       </td>
       <td colspan="1" rowspan="1">
        6. 其餘規則將於報名後通知
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
        <strong>
         費用：
        </strong>
       </td>
       <td colspan="1" rowspan="1">
        $610 （只涵蓋學員自身的費用。禪師的費用皆由美國菩提學會負擔，歡迎大家隨喜贊助。）
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
        <strong>
         報名：
        </strong>
       </td>
       <td colspan="1" rowspan="1">
        請填寫報名表:
        <a href="https://web.archive.org/web/20200923221953/https://docs.google.com/forms/d/e/1FAIpQLSe_3ZWb6O5IBQqtlmOokoSuNyKapJ-IC5EeY2QDhz86y9qaYQ/viewform?usp=pp_url" rel="nofollow" target="_blank">
         shorturl.at/ptvRX
        </a>
        （額滿為止）
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
        <strong>
         聯絡人：
        </strong>
       </td>
       <td colspan="1" rowspan="1">
        Hillary Chen email:
        <a href="https://web.archive.org/web/20200923221953/mailto:bhante.sujiva.mbs@gmail.com?subject=2020-retreat" rel="nofollow" target="_blank">
         bhante.sujiva.mbs@gmail.com
        </a>
        , cell#:
        <a dir="ltr" href="https://web.archive.org/web/20200923221953/tel:(609)864-4054" target="_blank">
         （609）864-4054
        </a>
       </td>
      </tr>
      <tr>
       <td colspan="1" rowspan="1">
        <strong>
         截止期限：
        </strong>
       </td>
       <td colspan="1" rowspan="1">
        2020年5月31日
       </td>
      </tr>
     </tbody>
    </table>
    <footer>
    </footer>
    <!-- /.block -->
    <!-- /.region -->
   </baselayout>