---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
const base = import.meta.env.BASE_URL + (
    import.meta.env.BASE_URL.endsWith('/') ? '' : '/');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <base href={base} />
  </head>
  <body>
    <Header />
    <main class="main-content">
        <h1>{pageTitle}</h1>
    	<slot />
    </main>
    <Footer />
  </body>
</html>
